Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gballet, @MariusVanDerWijden, @lightclient, @fjl, @zsfelfoldi, @holiman, @rjl493456442, @jwasinger, @s1na, @karalabe

p2p: add test for dialing with DNS hostname
  p2p/dial.go
  p2p/dial_test.go
  p2p/peer_test.go
Owners: @fjl, @zsfelfoldi

p2p: bump log level
  p2p/dial.go
Owners: @fjl, @zsfelfoldi

Catch panics on cosmos out of gas in estimateGas
  eth/gasestimator/gasestimator.go
Owners: @holiman, @rjl493456442

docs: Modify the method names
  metrics/meter.go
Owners: @holiman

recover devnet by increasing timeout (#760)
  params/config.go
Owners: @fjl, @holiman, @karalabe, @gballet, @rjl493456442, @zsfelfoldi

docs: Modify the document
  build/ci-notes.md
Owners: none

cmd/XDC: fix double metrics collect process issue
  cmd/XDC/main.go
Owners: none

metrics: added NewCounterForced (#17919)
  metrics/counter.go
Owners: @holiman

metrics/influxdb: add a timeout to the InfluxDB HTTP client (#19250)
  metrics/influxdb/influxdb.go
Owners: @holiman

core, metrics, p2p: expose various counter metrics for grafana (#19692)
  core/blockchain.go
  core/headerchain.go
  go.mod
  go.sum
  metrics/cpu.go
  metrics/cpu_syscall.go
  metrics/cpu_windows.go
  metrics/metrics.go
  p2p/server.go
Owners: @holiman, @rjl493456442, @fjl, @zsfelfoldi

internal/debug: start pprof server by new function StartPProf (#16532)
  internal/debug/flags.go
Owners: none

cmd/utils: allow for multiple influxdb flags (#18520)
  cmd/XDC/main.go
  cmd/utils/flags.go
  cmd/utils/flags_test.go
  metrics/config.go
Owners: @holiman

core: more detailed metrics for block processing (#18119)
  core/blockchain.go
Owners: @holiman, @rjl493456442

metrics: add force option for metric system (#17667)
  metrics/ewma.go
  metrics/meter.go
Owners: @holiman

metrics: change links in README.md to https (#20182)
  metrics/README.md
Owners: @holiman

metrics: remove redundant type specifiers (#19090)
  metrics/metrics.go
  metrics/opentsdb.go
Owners: @holiman

metrics: export to InfluxDB (#16979)
  cmd/XDC/main.go
  cmd/utils/flags.go
  metrics/config.go
  metrics/influxdb/influxdb.go
Owners: @holiman

metrics: gather and export threads and goroutines (#19725)
  metrics/metrics.go
Owners: @holiman

metrics/prometheus: added prometheus metrics (#17077)
  metrics/exp/exp.go
  metrics/prometheus/collector.go
  metrics/prometheus/prometheus.go
Owners: @holiman

core: split out detailed trie access metrics from insertion time (#19316)
  cmd/XDC/main.go
  cmd/utils/flags.go
  cmd/utils/flags_legacy.go
  core/blockchain.go
  core/state/state_object.go
  core/state/statedb.go
  metrics/metrics.go
Owners: @holiman, @rjl493456442

metrics: fix expensive metrics flag processing (#19327)
  metrics/metrics.go
Owners: @holiman

metrics: add missing calls to Ticker.Stop in tests (#20866)
  metrics/meter_test.go
  metrics/sample_test.go
Owners: @holiman

metrics: remove uneeded syntax (#21921)
  metrics/cpu_syscall.go
  metrics/gauge_float64_test.go
Owners: @holiman

metrics/influxdb: support V2 (#23194)
  cmd/XDC/chaincmd.go
  cmd/XDC/config.go
  cmd/XDC/main.go
  cmd/utils/flags.go
  go.mod
  go.sum
  metrics/config.go
  metrics/influxdb/influxdbv2.go
Owners: @holiman

rpc: swap out timer metrics to histograms (#25044)
  rpc/handler.go
  rpc/metrics.go
Owners: @fjl, @holiman

metrics: add go:build lines (#23468)
  metrics/cpu_disabled.go
  metrics/cputime_nop.go
  metrics/runtime_cgo.go
  metrics/runtime_gccpufraction.go
  metrics/runtime_no_cgo.go
  metrics/runtime_no_gccpufraction.go
  metrics/syslog.go
Owners: @holiman

metrics/prometheus: define TYPE once, add tests (#21068)
  metrics/prometheus/collector.go
  metrics/prometheus/collector_test.go
Owners: @holiman

metrics: not compare float numbers directly (#20219)
  metrics/doc.go
  metrics/ewma_test.go
  metrics/sample_test.go
Owners: @holiman

metrics/influxdb: replace time.Tick with time.NewTicker (#24783)
  metrics/influxdb/influxdbv2.go
Owners: @holiman

metrics/exp: allow configuring metrics HTTP server on separate endpoint (#21290)
  internal/debug/flags.go
  metrics/exp/exp.go
Owners: @holiman

metrics: fix issues reported by staticcheck (#20365)
  metrics/librato/librato.go
  metrics/registry_test.go
  metrics/timer.go
Owners: @holiman

metrics: make flawed test less flawed (#20818)
  metrics/timer_test.go
Owners: @holiman

metrics: add handler performance metrics (#22581)
  metrics/histogram.go
Owners: @holiman

metrics: make meter updates lock-free (#21446)
  metrics/ewma.go
  metrics/meter.go
  metrics/meter_test.go
Owners: @holiman

metrics: use golang.org/x/sys/unix to support Solaris (#22584)
  metrics/cpu_syscall.go
Owners: @holiman

metrics/influxdb: temp solution to present counter meaningfully (#24811)
  metrics/influxdb/influxdb.go
Owners: @holiman

metrics: fix compilation for GOOS=js (#23449)
  metrics/cpu_disabled.go
  metrics/cpu_enabled.go
  metrics/cputime_nop.go
  metrics/cputime_unix.go
  metrics/runtime_cgo.go
  metrics/runtime_no_cgo.go
Owners: @holiman

cmd/XDC: dump config for metrics (#22083)
  cmd/XDC/config.go
Owners: none

metrics: disable CPU stats (gosigar) on iOS (#20816)
  metrics/cpu_disabled.go
  metrics/cpu_enabled.go
Owners: @holiman

metrics: zero temp variable in updateMeter (#21470)
  metrics/meter.go
  metrics/meter_test.go
Owners: @holiman

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet/             @gballet
accounts/scwallet/              @gballet
accounts/abi/                   @gballet @MariusVanDerWijden
beacon/engine/                  @MariusVanDerWijden @lightclient @fjl
beacon/light/                   @zsfelfoldi
beacon/merkle/                  @zsfelfoldi 
beacon/types/                   @zsfelfoldi @fjl
beacon/params/                  @zsfelfoldi @fjl
cmd/clef/                       @holiman
cmd/evm/                        @holiman @MariusVanDerWijden @lightclient
core/state/                     @rjl493456442 @holiman
crypto/                         @gballet @jwasinger @holiman @fjl
core/                           @holiman @rjl493456442
eth/                            @holiman @rjl493456442
eth/catalyst/                   @MariusVanDerWijden @lightclient @fjl @jwasinger
eth/tracers/                    @s1na
ethclient/                      @fjl
ethdb/                          @rjl493456442
event/                          @fjl
trie/                           @rjl493456442
triedb/                         @rjl493456442
core/tracing/                   @s1na
graphql/                        @s1na
internal/ethapi/                @fjl @s1na @lightclient
internal/era/                   @lightclient
metrics/                        @holiman
miner/                          @MariusVanDerWijden @holiman @fjl @rjl493456442
node/                           @fjl
p2p/                            @fjl @zsfelfoldi
rlp/                            @fjl
params/                         @fjl @holiman @karalabe @gballet @rjl493456442 @zsfelfoldi
rpc/                            @fjl @holiman
signer/                         @holiman
