Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gballet, @MariusVanDerWijden, @lightclient, @fjl, @zsfelfoldi, @holiman, @rjl493456442, @jwasinger, @s1na, @karalabe

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet/             @gballet
accounts/scwallet/              @gballet
accounts/abi/                   @gballet @MariusVanDerWijden
beacon/engine/                  @MariusVanDerWijden @lightclient @fjl
beacon/light/                   @zsfelfoldi
beacon/merkle/                  @zsfelfoldi 
beacon/types/                   @zsfelfoldi @fjl
beacon/params/                  @zsfelfoldi @fjl
cmd/clef/                       @holiman
cmd/evm/                        @holiman @MariusVanDerWijden @lightclient
core/state/                     @rjl493456442 @holiman
crypto/                         @gballet @jwasinger @holiman @fjl
core/                           @holiman @rjl493456442
eth/                            @holiman @rjl493456442
eth/catalyst/                   @MariusVanDerWijden @lightclient @fjl @jwasinger
eth/tracers/                    @s1na
ethclient/                      @fjl
ethdb/                          @rjl493456442
event/                          @fjl
trie/                           @rjl493456442
triedb/                         @rjl493456442
core/tracing/                   @s1na
graphql/                        @s1na
internal/ethapi/                @fjl @s1na @lightclient
internal/era/                   @lightclient
metrics/                        @holiman
miner/                          @MariusVanDerWijden @holiman @fjl @rjl493456442
node/                           @fjl
p2p/                            @fjl @zsfelfoldi
rlp/                            @fjl
params/                         @fjl @holiman @karalabe @gballet @rjl493456442 @zsfelfoldi
rpc/                            @fjl @holiman
signer/                         @holiman

core/filtermaps: improved head indexing
  core/filtermaps/filtermaps.go
  core/filtermaps/indexer.go
Owners: @holiman, @rjl493456442

core/filtermaps: use rawdb.ReadRawReceipts
  core/filtermaps/filtermaps.go
  core/filtermaps/indexer.go
Owners: @holiman, @rjl493456442

typo
  docs/developers/evm-tracing/built-in-tracers.md
Owners: none

docs: add field description for the from/to address
  docs/developers/evm-tracing/built-in-tracers.md
Owners: none

docs: rewrite the diffmode
  docs/developers/evm-tracing/built-in-tracers.md
Owners: none

feat: add stun server list
  p2p/nat/nat_stun.go
  p2p/nat/nat_stun_test.go
  p2p/nat/nat_test.go
Owners: @fjl, @zsfelfoldi

beacon/engine, eth/catalyst, miner: add `GetInclusionListV1`
  beacon/engine/types.go
  eth/catalyst/api.go
  miner/inclusion_list_building.go
Owners: @MariusVanDerWijden, @lightclient, @fjl, @jwasinger, @holiman, @rjl493456442

eth/catalyst: cache recently generated inclusion lists
  eth/catalyst/api.go
  eth/catalyst/queue.go
Owners: @MariusVanDerWijden, @lightclient, @fjl, @jwasinger

miner: add an unit test for building an inclusion list
  miner/inclusion_list_building_test.go
Owners: @MariusVanDerWijden, @holiman, @fjl, @rjl493456442

beacon/engine: add `INVALID_INCLUSION_LIST` to payload status
  beacon/engine/errors.go
Owners: @MariusVanDerWijden, @lightclient, @fjl

beacon/engine, miner: add helpers for the conversion between txs and inclusion list
  beacon/engine/types.go
  miner/inclusion_list_building.go
Owners: @MariusVanDerWijden, @lightclient, @fjl, @holiman, @rjl493456442

eth/catalyst: add `engine_newPayloadV5`
  eth/catalyst/api.go
  eth/catalyst/api_test.go
  eth/catalyst/simulated_beacon.go
Owners: @MariusVanDerWijden, @lightclient, @fjl, @jwasinger

eth/catalyst: verify if a block satisfies the inclusion list constraints
  eth/catalyst/api.go
Owners: @MariusVanDerWijden, @lightclient, @fjl, @jwasinger

eth/catalyst: add an unit test for verifying new payload against inclusion list
  eth/catalyst/api_test.go
Owners: @MariusVanDerWijden, @lightclient, @fjl, @jwasinger

miner: add `inclusionList` to `Miner.generateParams`
  miner/worker.go
Owners: @MariusVanDerWijden, @holiman, @fjl, @rjl493456442

miner: add `inclusionList` to `Miner.environment`
  miner/worker.go
Owners: @MariusVanDerWijden, @holiman, @fjl, @rjl493456442

miner: include inclusion list transactions when building a payload
  miner/worker.go
Owners: @MariusVanDerWijden, @holiman, @fjl, @rjl493456442

miner: add a public method to notify the inclusion list to payload
  miner/payload_building.go
Owners: @MariusVanDerWijden, @holiman, @fjl, @rjl493456442

eth/catalyst: add `peak` method to `payloadQueue` to return `Miner.Payload`
  eth/catalyst/queue.go
Owners: @MariusVanDerWijden, @lightclient, @fjl, @jwasinger

beacon/engine, eth/catalyst: add `engine_updatePayloadWithInclusionListV1`
  beacon/engine/types.go
  eth/catalyst/api.go
Owners: @MariusVanDerWijden, @lightclient, @fjl, @jwasinger

eth/catalyst: add an unit test for updating payload with inclusion list
  eth/catalyst/api_test.go
Owners: @MariusVanDerWijden, @lightclient, @fjl, @jwasinger

eth/catalyst: unify inclusion list unit tests
  eth/catalyst/api_test.go
Owners: @MariusVanDerWijden, @lightclient, @fjl, @jwasinger

eth/catalyst: rely on CL whether to enforce IL constraints or not
  eth/catalyst/api.go
Owners: @MariusVanDerWijden, @lightclient, @fjl, @jwasinger

feat(prompt/prompter.go):add test case for prompter.go
  console/prompt/prompter_test.go
Owners: none

docs: rm the deprecated --metrics.expensive flag (#30910)
  docs/fundamentals/config-files.md
  docs/monitoring/metrics.md
Owners: none

core/vm: rm dynamic gas calculators for core reading ops
  core/vm/eips.go
  core/vm/operations_acl.go
Owners: @holiman, @rjl493456442

core/vm: revert changes to extcodecopy in verkle
  core/vm/eips.go
Owners: @holiman, @rjl493456442

triedb/pathdb: implement flat state iterator in pathdb
  triedb/pathdb/database.go
  triedb/pathdb/holdable_iterator.go
  triedb/pathdb/holdable_iterator_test.go
  triedb/pathdb/iterator.go
  triedb/pathdb/iterator_binary.go
  triedb/pathdb/iterator_fast.go
  triedb/pathdb/iterator_test.go
  triedb/pathdb/reader.go
  triedb/pathdb/states.go
  triedb/pathdb/states_test.go
Owners: @rjl493456442

triedb/pathdb: polish code, improve code comment
  triedb/pathdb/database.go
  triedb/pathdb/iterator.go
  triedb/pathdb/iterator_binary.go
  triedb/pathdb/iterator_fast.go
  triedb/pathdb/iterator_test.go
Owners: @rjl493456442

core/vm: simplify 7702 enabler
  core/vm/eips.go
Owners: @holiman, @rjl493456442

eth/protocols/eth: prevent hanging dispatch
  eth/protocols/eth/dispatcher.go
Owners: @holiman, @rjl493456442

Update README.md
  README.md
Owners: none

trie/pathdb: state iterator (snapshot integration pt 4) (#30654)
  triedb/pathdb/database.go
  triedb/pathdb/holdable_iterator.go
  triedb/pathdb/holdable_iterator_test.go
  triedb/pathdb/iterator.go
  triedb/pathdb/iterator_binary.go
  triedb/pathdb/iterator_fast.go
  triedb/pathdb/iterator_test.go
  triedb/pathdb/reader.go
  triedb/pathdb/states.go
  triedb/pathdb/states_test.go
Owners: @rjl493456442

Update docs/developers/evm-tracing/built-in-tracers.md
  docs/developers/evm-tracing/built-in-tracers.md
Owners: none

tracer: clarify prestateTracer diff mode behavior (#30912)
  docs/developers/evm-tracing/built-in-tracers.md
Owners: none

handle all threades that created by S1na and make code more readable and clear
  eth/tracers/api_test.go
Owners: @s1na

core/vm, go.mod: update uint256 and use faster method to write to memory (#30868)
  core/vm/memory.go
  go.mod
  go.sum
Owners: @holiman, @rjl493456442

accounts/abi/bind: make it possible to wait for tx hash (#30079)
  accounts/abi/bind/util.go
Owners: @gballet, @MariusVanDerWijden

eth/tracers/logger: support tracing system calls
  eth/tracers/logger/logger.go
Owners: @s1na

eth/tracers/logger: also fix md logger
  eth/tracers/logger/logger.go
Owners: @s1na
