Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @zelig, @nonsense, @janos, @justelad, @gluk256

p2p/discover, p2p/enode: rework endpoint proof handling, packet logging
  p2p/discover/node.go
  p2p/discover/table.go
  p2p/discover/table_test.go
  p2p/discover/udp.go
  p2p/discover/udp_test.go
  p2p/enode/nodedb.go
  p2p/enode/nodedb_test.go
Owners: @fjl, @zsfelfoldi

p2p/protocols: synchronize reporter run goroutine with db close
  p2p/protocols/reporter.go
Owners: @zelig, @nonsense, @janos, @justelad

p2p/protocols: fix rare data race in Peer.Handshake() (#18951)
  p2p/protocols/protocol.go
Owners: @zelig, @nonsense, @janos, @justelad

p2p/discover: make livenessChecks uint
  p2p/discover/node.go
Owners: @fjl, @zsfelfoldi

p2p/discover: fix tests
  p2p/discover/table.go
  p2p/discover/table_test.go
  p2p/discover/table_util_test.go
  p2p/discover/udp_test.go
Owners: @fjl, @zsfelfoldi

p2p/protocols: fix possible metrics loss in AccountingMetrics (#18956)
  p2p/protocols/reporter.go
Owners: @zelig, @nonsense, @janos, @justelad

swarm/network/stream: remove 'stream' cap check from RequestFromPeers
  swarm/network/stream/delivery.go
Owners: none

p2p/discover: really fix tests
  p2p/discover/udp_test.go
Owners: @fjl, @zsfelfoldi

swarm/network/stream: remove stream cap from tests
  swarm/network/stream/delivery_test.go
Owners: none

p2p/discover: fix leveldb iterator crash in tests
  p2p/discover/table_test.go
  p2p/discover/udp_test.go
Owners: @fjl, @zsfelfoldi

p2p/discover, p2p/enode: rework endpoint proof handling, packet logging (#18963)
  p2p/discover/node.go
  p2p/discover/table.go
  p2p/discover/table_test.go
  p2p/discover/table_util_test.go
  p2p/discover/udp.go
  p2p/discover/udp_test.go
  p2p/enode/nodedb.go
  p2p/enode/nodedb_test.go
Owners: @fjl, @zsfelfoldi

params: new CHTs (#18577)
  params/config.go
Owners: none

params, swarm/version: Geth v1.9.0 unstable, Swarm v0.3.11-unstable
  params/version.go
  swarm/version/version.go
Owners: none

core, cmd/puppeth: implement constantinople fix, disable EIP-1283 (#18486)
  cmd/puppeth/genesis.go
  cmd/puppeth/module_dashboard.go
  cmd/puppeth/wizard_genesis.go
  core/genesis.go
  core/vm/gas_table.go
  core/vm/logger_json.go
  params/config.go
  tests/init.go
  tests/rlp_test_util.go
  tests/state_test.go
Owners: @karalabe, @holiman

travis, appveyor: bump to Go 1.11.5 (#18947)
  .travis.yml
  appveyor.yml
Owners: none

build: tweak debian source package build/upload options (#18962)
  build/ci.go
Owners: none

p2p/discover, p2p/enode: rework endpoint proof handling, packet logging (#18963)
  p2p/discover/node.go
  p2p/discover/table.go
  p2p/discover/table_test.go
  p2p/discover/table_util_test.go
  p2p/discover/udp.go
  p2p/discover/udp_test.go
  p2p/enode/nodedb.go
  p2p/enode/nodedb_test.go
Owners: @fjl, @zsfelfoldi

params: new CHTs (#18577)
  params/config.go
Owners: none

swarm/network/stream: added RPC call to request subscription info
  swarm/network/stream/common_test.go
  swarm/network/stream/stream.go
  swarm/network/stream/streamer_test.go
Owners: none

swarm: PR fixes
  swarm/network/stream/streamer_test.go
Owners: none

swarm/network/stream: PR comments
  swarm/network/stream/common_test.go
  swarm/network/stream/stream.go
  swarm/network/stream/streamer_test.go
Owners: none

Changed the property type required by signData from bytes to interface{}
  cmd/clef/audit.log
  cmd/clef/main.go
  signer/core/api.go
  signer/core/auditlog.go
  signer/core/signed_data.go
  signer/core/signed_data_test.go
Owners: @karalabe, @holiman

Drafted first version of EIP-712, including tests
  cmd/clef/audit.log
  cmd/clef/main.go
  signer/core/api_test.go
  signer/core/signed_data.go
  signer/core/signed_data_test.go
Owners: @karalabe, @holiman

Drafted recursive encodeData
  cmd/clef/audit.log
  signer/core/api.go
  signer/core/api_layout.md
  signer/core/signed_data.go
Owners: @karalabe, @holiman

Working on TypedData
  cmd/clef/audit.log
  signer/core/api.go
  signer/core/apiv2.goz
  signer/core/auditlog.go
Owners: @karalabe, @holiman

Updated the extapi changelog and addded indications in the README
  cmd/clef/README.md
  cmd/clef/extapi_changelog.md
Owners: none

Brought legal warning back after temporarily disabling it for development
  cmd/clef/main.go
  signer/core/api_layout.md
  signer/rules/rules_test.go
Owners: @karalabe, @holiman

Fixed bugs in 'data/typed' signs
  cmd/clef/audit.log
  signer/core/api.go
  signer/core/auditlog.go
  signer/core/signed_data.go
  signer/core/signed_data_test.go
Owners: @karalabe, @holiman

Changed the version of the external API
  cmd/clef/main.go
Owners: none

Written basic content type functions
  signer/core/api.go
Owners: @karalabe, @holiman

Ran goimports and gofmt
  cmd/clef/audit.log
  signer/core/abihelper.go
  signer/core/abihelper_test.go
  signer/core/cliui.go
  signer/core/signed_data.go
  signer/core/types.go
Owners: @karalabe, @holiman

Solved stringified address encoding issue
  accounts/accounts.go
  cmd/clef/audit.log
  signer/core/signed_data.go
  signer/core/signed_data_test.go
Owners: @karalabe, @holiman

Drafted text/validator and and rewritten []byte as hexutil.Bytes
  cmd/clef/audit.log
  signer/core/signed_data.go
Owners: @karalabe, @holiman

Named functions and defined a basic EIP191 content type list
  cmd/clef/main.go
  signer/core/api.go
  signer/core/api_test.go
  signer/core/auditlog.go
Owners: @karalabe, @holiman

Changed method to signTypedData
  cmd/clef/audit.log
  signer/core/api.go
  signer/core/api_layout.md
  signer/core/apiv2.go
  signer/core/auditlog.go
Owners: @karalabe, @holiman

Added tests for 0x45
  signer/core/api.go
  signer/core/api_test.go
Owners: @karalabe, @holiman

Polished docstrings, ran goimports and swapped fmt.Errorf with errors.New where possible
  signer/core/api_test.go
  signer/core/signed_data.go
Owners: @karalabe, @holiman

Solved the auditlog issue
  cmd/clef/audit.log
  interfaces.go
  signer/core/api.go
  signer/core/apiv2.go
  signer/core/apiv2.goz
  signer/core/auditlog.go
Owners: @karalabe, @holiman

Added ecRecover method in the clef api
  signer/core/api.go
  signer/core/auditlog.go
Owners: @karalabe, @holiman

Temporarily switched to using common.Address in tests
  signer/core/signed_data.go
  signer/core/signed_data_test.go
Owners: @karalabe, @holiman

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @zelig @nonsense @janos @justelad
p2p/protocols                   @zelig @nonsense @janos @justelad
p2p/testing                     @zelig @nonsense @janos @justelad
whisper/                        @gballet @gluk256
