Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @zelig, @nonsense, @janos, @justelad, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @zelig @nonsense @janos @justelad
p2p/protocols                   @zelig @nonsense @janos @justelad
p2p/testing                     @zelig @nonsense @janos @justelad
whisper/                        @gballet @gluk256

cmd/swarm/swarm-smoke: renamed track-timeout and track-chunks
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

p2p, swarm: fix node up races by granular locking (#18976)
  p2p/simulations/connect.go
  p2p/simulations/events.go
  p2p/simulations/http_test.go
  p2p/simulations/mocker_test.go
  p2p/simulations/network.go
  p2p/simulations/network_test.go
  swarm/network/simulation/node.go
  swarm/network/simulation/node_test.go
  swarm/network/simulation/service.go
  swarm/network/simulation/simulation_test.go
  swarm/network/simulations/overlay_test.go
  swarm/state/dbstore.go
Owners: @zelig, @nonsense, @janos, @justelad

vendor: update bigcache
  vendor/github.com/allegro/bigcache/bigcache.go
  vendor/github.com/allegro/bigcache/entry_not_found_error.go
  vendor/github.com/allegro/bigcache/queue/bytes_queue.go
  vendor/github.com/allegro/bigcache/shard.go
  vendor/vendor.json
Owners: none

travis: inject the PPA server SSH public key
  .travis.yml
Owners: none

internal/build: accept any host key for SFTP
  internal/build/util.go
Owners: none

travis.yml: add launchpad SSH public key (#19115)
  .travis.yml
Owners: none

build: explicitly force .xz compression (old debuild picks gzip)
  build/ci.go
Owners: none

build: explicitly force .xz compression (old debuild picks gzip) (#19118)
  build/ci.go
Owners: none

swarm: Even less self
  swarm/swarm.go
Owners: none

swarm: Reinstate Pss Protocol add call through swarm service
  swarm/swarm.go
Owners: none

Add debug mode
  docker/tomochain/entrypoint.sh
Owners: none

Update entrypoint.sh
  docker/tomochain/entrypoint.sh
Owners: none

Update entrypoint.sh
  docker/tomochain/entrypoint.sh
Owners: none

Update entrypoint.sh
  docker/tomochain/entrypoint.sh
Owners: none

cmd/swarm/swarm-smoke: Trigger chunk debug on timeout (#19101)
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

signer/core: remove unused function (#19099)
  signer/core/validation_test.go
Owners: @karalabe, @holiman

core/vm: update annotation (#19050)
  core/vm/evm.go
Owners: @karalabe, @holiman

core: remove unused function (#19097)
  core/blockchain_test.go
Owners: @karalabe, @holiman

node: prefer nil slices over zero-length slices (#19083)
  node/config.go
  node/node.go
Owners: none

metrics: remove redundant type specifiers (#19090)
  metrics/metrics.go
  metrics/opentsdb.go
Owners: none

crypto/ecies: remove unused function (#19096)
  crypto/ecies/ecies_test.go
Owners: none

Explore how to loop over collections
  _config.yml
  _layouts/sidebar.html
Owners: none

swarm/storage/mock/explorer: add tests
  swarm/storage/mock/explorer/explorer_test.go
  swarm/storage/mock/explorer/headers_test.go
Owners: none

swarm/storage/mock/explorer: add swagger api definition
  swarm/storage/mock/explorer/swagger.yaml
Owners: none

eth/*: remove redundant parentheses
  eth/downloader/downloader.go
Owners: @karalabe

eth: extract check for tracing transaction in block file
  eth/api_tracer.go
Owners: @karalabe

eth: remove redundant parentheses (#19108)
  eth/downloader/downloader.go
Owners: @karalabe

core: remove redundant parentheses
  core/blockchain.go
  core/blockchain_test.go
Owners: @karalabe, @holiman

swarm: Reinstate Pss Protocol add call through swarm service (#19117)
  swarm/swarm.go
Owners: none

core/vm: remove unused constants
  core/vm/gas.go
Owners: @karalabe, @holiman

contracts/ens: update public resolver solidity code
  contracts/ens/contract/PublicResolver.sol
Owners: none

core: refactor block header validation tests to use test tables
  core/block_validator_test.go
Owners: @karalabe, @holiman

ewasm precompiles pass rinkeby sync
  core/vm/contracts.go
  core/vm/contracts_test.go
  core/vm/ewasm_precompile_ecadd.go
  core/vm/ewasm_precompile_ecmul.go
  core/vm/ewasm_precompile_ecpairing.go
  core/vm/ewasm_precompile_expmod.go
  core/vm/ewasm_precompile_ripemd160.go
  core/vm/ewasm_precompile_ripemd160hash.go
Owners: @karalabe, @holiman

accounts, core, internal, node: Add support for smartcard wallets
  accounts/hd.go
  accounts/scwallet/apdu.go
  accounts/scwallet/hub.go
  accounts/scwallet/securechannel.go
  accounts/scwallet/wallet.go
  internal/ethapi/api.go
  internal/web3ext/web3ext.go
  node/config.go
  vendor/github.com/ebfe/scard/LICENSE
  vendor/github.com/ebfe/scard/README.md
  vendor/github.com/ebfe/scard/scard.go
  vendor/github.com/ebfe/scard/scard_darwin.go
  vendor/github.com/ebfe/scard/scard_unix.go
  vendor/github.com/ebfe/scard/scard_windows.go
  vendor/github.com/ebfe/scard/zconst.go
  vendor/github.com/tyler-smith/go-bip39/LICENSE
  vendor/github.com/tyler-smith/go-bip39/README.md
  vendor/github.com/tyler-smith/go-bip39/bip39.go
  vendor/github.com/tyler-smith/go-bip39/coverage.txt
  vendor/github.com/tyler-smith/go-bip39/wordlist.go
  vendor/vendor.json
Owners: none

vendor: pull in missing go-echd library
  vendor/github.com/wsddn/go-ecdh/LICENSE
  vendor/github.com/wsddn/go-ecdh/Readme.md
  vendor/github.com/wsddn/go-ecdh/curve25519.go
  vendor/github.com/wsddn/go-ecdh/ecdh.go
  vendor/github.com/wsddn/go-ecdh/elliptic.go
Owners: none

accounts, internal: Changes in response to review
  accounts/hd.go
  accounts/scwallet/apdu.go
  accounts/scwallet/hub.go
  accounts/scwallet/securechannel.go
  accounts/scwallet/wallet.go
  internal/ethapi/api.go
Owners: none

accounts/scwallet, console: user friendly card opening
  accounts/scwallet/wallet.go
  console/bridge.go
Owners: none

accounts, console: frendly card errors, support pin unblock
  accounts/scwallet/apdu.go
  accounts/scwallet/hub.go
  accounts/scwallet/securechannel.go
  accounts/scwallet/wallet.go
  accounts/sort.go
  console/bridge.go
Owners: none

accounts/scwallet: fix crypto API change
  accounts/scwallet/wallet.go
Owners: none

accounts/scwallet: ordered wallets, tighter events, derivation logs
  accounts/scwallet/hub.go
  accounts/scwallet/wallet.go
Owners: none
