Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @rjl493456442, @kurkomisi, @zsfelfoldi, @ligi, @fjl, @zelig, @janos, @justelad, @gluk256

refactor: test field is now a member of the gethrpc struct
  cmd/geth/les_test.go
Owners: none

WaitSynced but still not working
  cmd/geth/les_test.go
Owners: none

Simplify common cmd line switches
  cmd/geth/les_test.go
Owners: none

Full test written, but not working
  cmd/geth/les_test.go
Owners: none

It's an error to pass in a non-nil value as result to an RPC call
  rpc/client.go
  rpc/client_test.go
Owners: @fjl, @holiman

remove unwanted comments
  consensus/bor/snapshot.go
Owners: @karalabe

p2p: clean up Server.run comments
  p2p/server.go
Owners: @fjl, @zsfelfoldi

p2p: fix maxDialedConns for maxpeers < dialRatio
  p2p/server.go
Owners: @fjl, @zsfelfoldi

p2p: fix RemovePeer to disconnect the peer again
  p2p/server.go
  p2p/server_test.go
Owners: @fjl, @zsfelfoldi

p2p: remove "Connection set up" log message
  p2p/server.go
Owners: @fjl, @zsfelfoldi

p2p: clean up connection logging
  p2p/dial.go
  p2p/server.go
Owners: @fjl, @zsfelfoldi

README.md: update evm usage example (#20635)
  README.md
Owners: none

p2p: document that RemovePeer blocks
  p2p/server.go
Owners: @fjl, @zsfelfoldi

graphql: tabs -> spaces
  graphql/schema.go
Owners: @gballet

graphql: add transaction signature values (#20623)
  graphql/graphql.go
  graphql/schema.go
Owners: @gballet

Update Command-Line-Options.md
  docs/_interface/Command-Line-Options.md
Owners: none

Update FAQ.md
  docs/_interface/FAQ.md
Owners: none

Update Command-Line-Options.md
  docs/_interface/Command-Line-Options.md
Owners: none

[DOCS] add note about unicode BOM in password files (#20598)
  docs/_interface/FAQ.md
Owners: none

eth: remove DNS URLs
  eth/config.go
  eth/discovery.go
  eth/gen_config.go
Owners: @karalabe, @holiman, @rjl493456442

cmd/utils: configure DNS names for testnets
  cmd/utils/flags.go
  params/bootnodes.go
Owners: none

accounts,cmd,internal,mobile,signer abstract KeyStore as an interface
  accounts/abi/bind/auth.go
  accounts/keystore/account_cache_test.go
  accounts/keystore/db_keystore.go
  accounts/keystore/fs_keystore.go
  accounts/keystore/fs_keystore_test.go
  accounts/keystore/keystore.go
  accounts/keystore/wallet.go
  accounts/manager.go
  cmd/faucet/faucet.go
  cmd/geth/accountcmd.go
  cmd/geth/main.go
  cmd/utils/flags.go
  internal/ethapi/api.go
  mobile/accounts.go
  signer/core/api.go
  signer/core/uiapi.go
Owners: @gballet, @karalabe, @ligi, @holiman

Rephrase error message and omit test case covered elsewhere
  rpc/client.go
  rpc/client_test.go
Owners: @fjl, @holiman

Log disconnect reason when light server is not synced
  les/server_handler.go
Owners: @zsfelfoldi, @rjl493456442

fix log for retry
  consensus/bor/rest.go
Owners: @karalabe

Update eips.go
  core/vm/eips.go
Owners: @karalabe, @holiman, @rjl493456442

accounts/keystore, finish db backed keystore
  accounts/keystore/db_keystore.go
  accounts/keystore/db_passphrase.go
  accounts/keystore/db_wallet.go
  accounts/keystore/key.go
  accounts/keystore/passphrase_util.go
  cmd/clef/dbutil/dbutil.go
Owners: @holiman

rpc: add error when call result parameter is not addressable (#20638)
  rpc/client.go
  rpc/client_test.go
Owners: @fjl, @holiman

signer: add bytes32 as valid primitive (#20609)
  signer/core/signed_data.go
Owners: @holiman

cmd/geth retesteth: add eth_getBlockByHash (#20621)
  cmd/geth/retesteth.go
Owners: none

accounts/abi/bind/backends/simulated Used blockNumber for querying old states
  accounts/abi/bind/backends/simulated.go
Owners: @gballet

Rewording log message
  les/server_handler.go
Owners: @zsfelfoldi, @rjl493456442

common/mclock: rename Chan() to C() and fix bug in Reset
  common/mclock/mclock.go
  common/mclock/simclock.go
  common/mclock/simclock_test.go
Owners: none

core, eth: implement eth/65 transaction fetcher
  core/tx_pool.go
  eth/downloader/peer.go
  eth/fetcher/block_fetcher.go
  eth/fetcher/block_fetcher_test.go
  eth/fetcher/metrics.go
  eth/fetcher/tx_fetcher.go
  eth/fetcher/tx_fetcher_test.go
  eth/handler.go
  eth/handler_test.go
  eth/helper_test.go
  eth/peer.go
  eth/protocol.go
  eth/protocol_test.go
  eth/sync.go
  eth/sync_test.go
Owners: @karalabe, @holiman, @rjl493456442

Add a miner and make light server sync from it first
  cmd/geth/les_test.go
Owners: none

Update les/server_handler.go
  les/server_handler.go
Owners: @zsfelfoldi, @rjl493456442

Clean up
  cmd/geth/les_test.go
Owners: none

Error message length <= 40
  les/server_handler.go
Owners: @zsfelfoldi, @rjl493456442

common/mclock: add NewTimer and Timer.Reset (#20634)
  common/mclock/mclock.go
  common/mclock/simclock.go
  common/mclock/simclock_test.go
Owners: none

les: log disconnect reason when light server is not synced (#20643)
  les/server_handler.go
Owners: @zsfelfoldi, @rjl493456442

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet
cmd/clef                        @holiman
cmd/puppeth                     @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
dashboard/                      @kurkomisi
eth/                            @karalabe @holiman @rjl493456442
graphql/                        @gballet
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
mobile/                         @karalabe @ligi
p2p/                            @fjl @zsfelfoldi
rpc/                            @fjl @holiman
p2p/simulations                 @zelig @janos @justelad
p2p/protocols                   @zelig @janos @justelad
p2p/testing                     @zelig @janos @justelad
signer/                         @holiman
whisper/                        @gballet @gluk256
