Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @rjl493456442, @kurkomisi, @zsfelfoldi, @ligi, @fjl, @zelig, @janos, @justelad, @gluk256

p2p/discover: fix lint
  p2p/discover/node.go
  p2p/discover/v5_encoding.go
  p2p/discover/v5_encoding_test.go
  p2p/discover/v5_udp.go
Owners: @fjl, @zsfelfoldi

p2p/discover: bump v5 RPC timeout
  p2p/discover/v5_udp.go
Owners: @fjl, @zsfelfoldi

p2p/enode: remove key storage
  p2p/enode/nodedb.go
  p2p/enode/nodedb_test.go
Owners: @fjl, @zsfelfoldi

p2p/enode: fix panic in expireNodes when v5 keys are in database
  p2p/enode/nodedb.go
  p2p/enode/nodedb_test.go
Owners: @fjl, @zsfelfoldi

p2p/discover: fix comment on encode
  p2p/discover/v5_encoding.go
Owners: @fjl, @zsfelfoldi

p2p/discover: add some more code comments
  p2p/discover/v5_encoding.go
  p2p/discover/v5_udp.go
Owners: @fjl, @zsfelfoldi

accounts/keystore, finish db_keystore_test
  accounts/keystore/db_keystore_test.go
  accounts/keystore/keystore.go
  accounts/keystore/testdata/db_keystore_test.yaml
Owners: none

fixed a typo in graphql service
  graphql/service.go
Owners: @gballet

cleaned up comment in http.go
  rpc/http.go
Owners: @fjl, @holiman

fixed a typo in graphql service
  graphql/service.go
Owners: @gballet

fixed typos in my own changes
  node/api.go
  node/node.go
Owners: none

Changes from review
  docs/_getting-started/creating-private-network-puppeth.md
Owners: none

graphql, node, rpc: fix typos in comments (#20824)
  graphql/service.go
  node/node.go
  rpc/endpoints.go
  rpc/http.go
  rpc/subscription.go
Owners: @gballet, @fjl, @holiman

eth: improve shutdown synchronization (#20695)
  core/blockchain.go
  eth/backend.go
  eth/bloombits.go
  eth/handler.go
  eth/helper_test.go
  eth/protocol_test.go
  eth/sync.go
  eth/sync_test.go
Owners: @karalabe, @holiman, @rjl493456442

Update dev mode tutorial to include connecting to Remix
  docs/_getting-started/dev-mode.md
Owners: none

core/vm: make intpool push inlineable, unexpose callcontext
  core/vm/eips.go
  core/vm/instructions.go
  core/vm/instructions_test.go
  core/vm/interpreter.go
  core/vm/intpool.go
  core/vm/jump_table.go
Owners: @karalabe, @holiman, @rjl493456442

eth/filters: fix typo on unindexedLogs function's comment
  eth/filters/filter.go
Owners: @karalabe, @holiman, @rjl493456442

les: fix dead lock
  les/peer.go
Owners: @zsfelfoldi, @rjl493456442

les: fix dead lock (#20828)
  les/peer.go
Owners: @zsfelfoldi, @rjl493456442

eth/filters: fix typo on unindexedLogs function's comment (#20827)
  eth/filters/filter.go
Owners: @karalabe, @holiman, @rjl493456442

Enable RPC Endpoint.
  rpc/server.go
Owners: @fjl, @holiman

metrics: disable CPU stats (gosigar) on Darwing when nocgo is passed.
  metrics/cpu_disabled.go
  metrics/cpu_enabled.go
Owners: none

Distingiush between build stages
  .travis.yml
Owners: none

metrics: enable CPU stats (gosigar) on arm64.
  metrics/cpu_enabled.go
Owners: none

Allow cocoapod deploy to fail
  .travis.yml
Owners: none

some docs
  node/node.go
  node/rpcstack.go
  rpc/websocket.go
Owners: @fjl, @holiman

core: bump txpool tx max size to 128KB
  core/tx_pool.go
Owners: @karalabe, @holiman, @rjl493456442

graphql works with new http server setup (#7)
  graphql/service.go
  node/rpcstack.go
Owners: @gballet

Matches the startup process of websocket server to that of http server for consistency (#8)
  cmd/geth/retesteth.go
  graphql/service.go
  node/node.go
  rpc/endpoints.go
  rpc/websocket.go
Owners: @gballet, @fjl, @holiman

using rpc.CheckTimeouts instead of duplicate timeout check
  cmd/geth/retesteth.go
  graphql/service.go
Owners: @gballet

Tests for handling websocket and http requests on the same server (#6)
  node/node_test.go
  node/rpcstack_test.go
Owners: none

fixed incorrect call to register apis from whitelist in clef/main.go
  cmd/clef/main.go
Owners: @holiman

added error check
  node/node.go
Owners: none

ecies: Fix reps calculation
  crypto/ecies/ecies.go
Owners: none

fixed import issue
  node/node_test.go
  node/rpcstack_test.go
Owners: none

removed some unnecessary whitespace
  node/node.go
Owners: none

removed some todos and fixed comment according to martins suggestion
  cmd/clef/main.go
  cmd/geth/retesteth.go
  node/rpcstack.go
Owners: @holiman

core/state/snapshot: fix review concerns
  core/state/snapshot/account.go
  core/state/snapshot/conversion.go
Owners: @karalabe, @holiman, @rjl493456442

fixed using a port thats already in use for a test
  node/node_test.go
Owners: none

snapshotter/tests: verify snapdb post-state against trie (#20812)
  core/blockchain.go
  core/state/snapshot/conversion.go
  tests/block_test_util.go
Owners: @karalabe, @holiman, @rjl493456442

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet
cmd/clef                        @holiman
cmd/puppeth                     @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
dashboard/                      @kurkomisi
eth/                            @karalabe @holiman @rjl493456442
graphql/                        @gballet
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
mobile/                         @karalabe @ligi
p2p/                            @fjl @zsfelfoldi
rpc/                            @fjl @holiman
p2p/simulations                 @zelig @janos @justelad
p2p/protocols                   @zelig @janos @justelad
p2p/testing                     @zelig @janos @justelad
signer/                         @holiman
whisper/                        @gballet @gluk256
