Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @zelig, @nonsense, @janos, @justelad, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @zelig @nonsense @janos @justelad
p2p/protocols                   @zelig @nonsense @janos @justelad
p2p/testing                     @zelig @nonsense @janos @justelad
whisper/                        @gballet @gluk256

accounts/scwallet: rebase and update
  accounts/scwallet/wallet.go
  console/bridge.go
Owners: none

Fix a couple typos that got created during the `SignData` merge
  accounts/accounts.go
  accounts/keystore/wallet.go
Owners: none

common/compiler: added vyper compiler bindings
  common/compiler/helpers.go
  common/compiler/test.v.py
  common/compiler/test_bad.v.py
  common/compiler/vyper.go
  common/compiler/vyper_test.go
Owners: none

common/compiler: vyper compiler binding support
  common/compiler/solidity.go
  common/compiler/solidity_test.go
Owners: none

cmd/abigen: added vyper support in abigen
  cmd/abigen/main.go
Owners: none

contracts/ens: update public resolver, update go bindings
  contracts/ens/contract/AbstractENS.sol
  contracts/ens/contract/ENS.sol
  contracts/ens/contract/FIFSRegistrar.sol
  contracts/ens/contract/PublicResolver.sol
  contracts/ens/contract/ens.go
  contracts/ens/contract/fifsregistrar.go
  contracts/ens/contract/publicresolver.go
  contracts/ens/ens.go
Owners: none

core/state: revert StateDB receiver name using <self>
  core/state/dump.go
  core/state/state_object.go
  core/state/statedb.go
Owners: @karalabe, @holiman

crypto: fix build when CGO_ENABLED=0
  crypto/signature_cgo.go
  crypto/signature_nocgo.go
Owners: none

accounts/abi: fix error message
  accounts/abi/abi.go
Owners: @gballet

update build
  contracts/ens/contract/ens.go
  contracts/ens/contract/fifsregistrar.go
  contracts/ens/contract/publicresolver.go
  contracts/ens/ens.go
Owners: none

signer/core: handle JSON unmarshal error
  signer/core/abihelper.go
Owners: @karalabe, @holiman

accounts: fix typos from the `SignData` merge (#19119)
  accounts/accounts.go
  accounts/keystore/wallet.go
Owners: none

accounts/abi: fix error message format (#19122)
  accounts/abi/abi.go
Owners: @gballet

signer/core: handle JSON unmarshal error (#19123)
  signer/core/abihelper.go
Owners: @karalabe, @holiman

cmd, core, params: add support for Goerli
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  core/genesis.go
  core/genesis_alloc.go
  params/bootnodes.go
  params/config.go
Owners: @karalabe, @holiman

build: use SFTP for launchpad uploads (#19037)
  .travis.yml
  build/ci-notes.md
  build/ci.go
  build/dput-launchpad.cf
Owners: none

common/fdlimit: cap on MacOS file limits, fixes #18994 (#19035)
  cmd/utils/flags.go
  common/fdlimit/fdlimit_freebsd.go
  common/fdlimit/fdlimit_test.go
  common/fdlimit/fdlimit_unix.go
  common/fdlimit/fdlimit_windows.go
Owners: none

.travis.yml: fix upload destination (#19043)
  .travis.yml
  build/ci.go
Owners: none

build: avoid dput and upload with sftp directly (#19067)
  build/ci.go
  build/dput-launchpad.cf
  internal/build/util.go
Owners: none

common/fdlimit: fix windows build (#19068)
  common/fdlimit/fdlimit_windows.go
Owners: none

vendor: pull in upstream syscall fixes for non-linux/arm64
  vendor/golang.org/x/sys/cpu/cpu_linux_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_other_arm64.go
  vendor/vendor.json
Owners: none

trie: fix error in node decoding (#19111)
  trie/encoding.go
  trie/trie_test.go
Owners: none

vendor: update bigcache
  vendor/github.com/allegro/bigcache/bigcache.go
  vendor/github.com/allegro/bigcache/entry_not_found_error.go
  vendor/github.com/allegro/bigcache/queue/bytes_queue.go
  vendor/github.com/allegro/bigcache/shard.go
  vendor/vendor.json
Owners: none

travis.yml: add launchpad SSH public key (#19115)
  .travis.yml
Owners: none

build: explicitly force .xz compression (old debuild picks gzip) (#19118)
  build/ci.go
Owners: none

Use more sophisticated link and title includes
  _includes/link.html
  _includes/title.html
  _layouts/sidebar.html
Owners: none

core/state: fix state iterator
  core/state/statedb.go
Owners: @karalabe, @holiman

swarm/storage/mock/explorer: not-zero test values for invalid addr and key
  swarm/storage/mock/explorer/explorer_test.go
Owners: none

rpc: skip websocket origin check if there is no origin header
  rpc/websocket.go
Owners: none

rpc: fixup change to not verify websocket origin
  rpc/websocket.go
Owners: none

rpc: fixup change to not verify websocket origin (#19128)
  rpc/websocket.go
Owners: none

Nice title and sidebar for all docs
  _config.yml
  _layouts/sidebar.html
Owners: none

swarm/storage/mock/explorer: test wildcard cors origin
  swarm/storage/mock/explorer/headers_test.go
Owners: none

swarm/network/stream: fix a goroutine leak in Registry
  swarm/network/stream/stream.go
Owners: none

Move docs to their collection folder
  _config.yml
  docs/_developers/Active-go-ethereum-projects.md
  docs/_developers/Go-bindings-to-Ethereum-contracts.md
  docs/_developers/Libraries-and-Inproc-Ethereum-Nodes.md
  docs/_developers/other-documents.md
  docs/_how-to/Contract-Tutorial.md
  docs/_how-to/Managing-your-accounts.md
  docs/_how-to/Mining.md
  docs/_install-and-build/Building-Ethereum.md
  docs/_install-and-build/Developers-Guide.md
  docs/_interface/Command-Line-Options.md
  docs/_interface/JavaScript-Console.md
  docs/_interface/Management-APIs.md
  docs/_support/FAQ.md
  docs/_support/Issue-handling-workflow.md
Owners: none

eth, node: use APPDATA env to support cygwin/msys correctly (#17786)
  cmd/clef/main.go
  eth/config.go
  node/defaults.go
Owners: @karalabe

accounts/abi/bind/backend: fix style of #19026
  accounts/abi/bind/backends/simulated.go
  accounts/abi/bind/backends/simulated_test.go
Owners: @gballet

crypto: fix build when CGO_ENABLED=0 (#19121)
  crypto/signature_cgo.go
  crypto/signature_nocgo.go
Owners: none

core: remove redundant parentheses (#19106)
  core/blockchain.go
  core/blockchain_test.go
Owners: @karalabe, @holiman

p2p/discover: make maximum packet size a constant (#19061)
  p2p/discover/udp.go
Owners: @fjl, @zsfelfoldi
