Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @zelig, @nonsense, @janos, @justelad, @gluk256

swarm/storage: fix mockNetFetcher data races (#18462)
  swarm/storage/netstore_test.go
Owners: none

swarm/network: fix data race in TestNetworkID test (#18460)
  swarm/network/networkid_test.go
Owners: none

cmd/swarm/swarm-snapshot: swarm snapshot generator (#18453)
  cmd/swarm/swarm-snapshot/create.go
  cmd/swarm/swarm-snapshot/create_test.go
  cmd/swarm/swarm-snapshot/main.go
  cmd/swarm/swarm-snapshot/run_test.go
  swarm/network/kademlia.go
  swarm/network/simulations/discovery/discovery_test.go
Owners: none

swarm/network: rewrite of peer suggestion engine, fix skipped tests (#18404)
  swarm/network/kademlia.go
  swarm/network/kademlia_test.go
  swarm/network/simulations/discovery/discovery_test.go
Owners: none

swarm/network: fix data race warning on TestBzzHandshakeLightNode (#18459)
  swarm/network/protocol.go
  swarm/network/protocol_test.go
Owners: none

create new func penalties for hard fork
  common/constants.go
  consensus/XDPoS/XDPoS.go
  contracts/utils.go
  core/blockchain.go
  eth/backend.go
  internal/ethapi/api.go
  trie/node.go
Owners: @karalabe, @holiman

cmd/swarm/swarm-snapshot: disable tests on windows (#18478)
  cmd/swarm/swarm-snapshot/create_test.go
Owners: none

cmd/swarm/swarm-smoke: use ResettingTimer instead of Counters for times (#18479)
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

p2p/simulations: fix data race on swarm/network/simulations (#18464)
  p2p/simulations/network.go
Owners: @zelig, @nonsense, @janos, @justelad

swarm: bootnode-mode, new bootnodes and no p2p package discovery (#18498)
  cmd/swarm/bootnodes.go
  cmd/swarm/config.go
  cmd/swarm/flags.go
  cmd/swarm/main.go
  cmd/swarm/run_test.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_speed.go
  p2p/protocols/protocol.go
  swarm/api/config.go
  swarm/network/kademlia.go
  swarm/network/protocol.go
  swarm/network/stream/delivery.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/stream.go
  swarm/storage/pyramid.go
  swarm/swarm.go
Owners: @zelig, @nonsense, @janos, @justelad

Upload speed (#18442)
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_speed.go
Owners: none

cmd/swarm: use resetting timer to measure fetch time (#18474)
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

swarm: fix a data race on startTime (#18511)
  swarm/swarm.go
Owners: none

p2p/testing, swarm: remove unused testing.T in protocol tester (#18500)
  p2p/protocols/protocol_test.go
  p2p/testing/protocoltester.go
  swarm/network/protocol_test.go
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/lightnode_test.go
  swarm/network/stream/streamer_test.go
Owners: @zelig, @nonsense, @janos, @justelad

swarm/version: commit version added (#18510)
  cmd/swarm/main.go
  swarm/network/kademlia.go
  swarm/version/version.go
Owners: none

swarm/storage: Get all chunk references for a given file (#19002)
  swarm/storage/filestore.go
  swarm/storage/filestore_test.go
Owners: none

cmd/swarm: hashes command (#19008)
  cmd/swarm/explore.go
  cmd/swarm/main.go
  swarm/storage/filestore.go
  swarm/storage/filestore_test.go
Owners: none

swarm: fix flaky delivery tests (#18971)
  swarm/network/stream/delivery.go
  swarm/network/stream/delivery_test.go
Owners: none

swarm/network: Remove extra random peer, connect test sanity, comments (#18964)
  swarm/network/hive_test.go
Owners: none

cmd/swarm/swarm-smoke: sliding window test (#18967)
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_speed.go
  cmd/swarm/swarm-smoke/util.go
Owners: none

cmd/swarm/swarm-smoke: remove wrong metrics (#18970)
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_speed.go
  cmd/swarm/swarm-smoke/util.go
Owners: none

cmd/swarm/swarm-smoke: refactor generateEndpoints (#19006)
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_speed.go
  cmd/swarm/swarm-smoke/util.go
Owners: none

swarm: Debug API and HasChunks() API endpoint (#18980)
  cmd/swarm/main.go
  swarm/api/inspector.go
  swarm/api/testapi.go
  swarm/network/stream/common_test.go
  swarm/storage/common_test.go
  swarm/storage/ldbstore.go
  swarm/storage/localstore.go
  swarm/storage/localstore_test.go
  swarm/storage/memstore.go
  swarm/storage/netstore.go
  swarm/storage/types.go
  swarm/swarm.go
Owners: none

swarm/pss: Remove pss service leak in test (#18992)
  swarm/pss/forwarding_test.go
  swarm/pss/pss_test.go
Owners: none

swarm/storage/localstore: new localstore package (#19015)
  swarm/storage/localstore/doc.go
  swarm/storage/localstore/gc.go
  swarm/storage/localstore/gc_test.go
  swarm/storage/localstore/index_test.go
  swarm/storage/localstore/localstore.go
  swarm/storage/localstore/localstore_test.go
  swarm/storage/localstore/mode_get.go
  swarm/storage/localstore/mode_get_test.go
  swarm/storage/localstore/mode_put.go
  swarm/storage/localstore/mode_put_test.go
  swarm/storage/localstore/mode_set.go
  swarm/storage/localstore/mode_set_test.go
  swarm/storage/localstore/retrieval_index_test.go
  swarm/storage/localstore/subscription_pull.go
  swarm/storage/localstore/subscription_pull_test.go
  swarm/storage/localstore/subscription_push.go
  swarm/storage/localstore/subscription_push_test.go
Owners: none

swarm/storage: fix test timeout with -race by increasing mget timeout
  swarm/network/simulations/discovery/discovery_test.go
  swarm/storage/common_test.go
Owners: none

swarm/network, swarm/storage: Preserve opentracing contexts (#19022)
  swarm/network/fetcher.go
  swarm/network/fetcher_test.go
  swarm/network/stream/delivery.go
  swarm/network/stream/messages.go
  swarm/network/stream/peer.go
  swarm/network/stream/stream.go
  swarm/storage/chunker.go
  swarm/storage/feed/testutil.go
  swarm/storage/netstore.go
  swarm/storage/netstore_test.go
Owners: none

swarm/network: fix data race in fetcher_test.go (#18469)
  swarm/network/fetcher.go
  swarm/network/fetcher_test.go
Owners: none

swarm/pss: transition to whisper v6 (#19023)
  swarm/pss/client/client_test.go
  swarm/pss/forwarding_test.go
  swarm/pss/notify/notify_test.go
  swarm/pss/pss.go
  swarm/pss/pss_test.go
  swarm/pss/types.go
Owners: none

swarm: GetPeerSubscriptions RPC (#18972)
  swarm/network/stream/stream.go
  swarm/network/stream/streamer_test.go
  swarm/network/stream/testing/snapshot_4.json
Owners: none

swarm/network: refactor simulation tests bootstrap (#18975)
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/streamer_test.go
  swarm/network/stream/syncer_test.go
  swarm/network/stream/testing/snapshot_4.json
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
Owners: none

swarm/docker: add global-store and split docker images (#19038)
  swarm/docker/Dockerfile
Owners: none

swarm/pss: mutex lifecycle fixed (#19045)
  swarm/pss/protocol.go
Owners: none

swarm/storage: fix HashExplore concurrency bug ethersphere#1211 (#19028)
  swarm/storage/filestore.go
Owners: none

cmd/swarm/global-store: global store cmd (#19014)
  cmd/swarm/config.go
  cmd/swarm/flags.go
  cmd/swarm/global-store/global_store.go
  cmd/swarm/global-store/global_store_test.go
  cmd/swarm/global-store/main.go
  cmd/swarm/global-store/run_test.go
  cmd/swarm/main.go
  swarm/api/config.go
Owners: none

swarm: fix uptime gauge update goroutine leak by introducing cleanup functions (#19040)
  swarm/swarm.go
Owners: none

swarm: CI race detector test adjustments (#19017)
  swarm/network/networkid_test.go
  swarm/network/simulations/overlay_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/storage/common_test.go
  swarm/storage/ldbstore_test.go
  swarm/storage/memstore_test.go
Owners: none

swarm/storage: fix influxdb gc metrics report (#19102)
  swarm/storage/ldbstore.go
Owners: none

swarm/network: Saturation check for healthy networks (#19071)
  swarm/network/kademlia.go
  swarm/network/kademlia_test.go
  swarm/network/simulation/kademlia.go
  swarm/network/simulations/discovery/discovery_test.go
Owners: none

swarm/storage/netstore: add fetcher cancellation on shutdown (#19049)
  swarm/network/stream/delivery_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/storage/netstore.go
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @zelig @nonsense @janos @justelad
p2p/protocols                   @zelig @nonsense @janos @justelad
p2p/testing                     @zelig @nonsense @janos @justelad
whisper/                        @gballet @gluk256
