Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @rjl493456442, @kurkomisi, @zsfelfoldi, @ligi, @fjl, @zelig, @janos, @justelad, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet
cmd/clef                        @holiman
cmd/puppeth                     @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
dashboard/                      @kurkomisi
eth/                            @karalabe @holiman @rjl493456442
graphql/                        @gballet
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
mobile/                         @karalabe @ligi
p2p/                            @fjl @zsfelfoldi
rpc/                            @fjl @holiman
p2p/simulations                 @zelig @janos @justelad
p2p/protocols                   @zelig @janos @justelad
p2p/testing                     @zelig @janos @justelad
signer/                         @holiman
whisper/                        @gballet @gluk256

p2p: new dial scheduler (#20592)
  p2p/dial.go
  p2p/dial_test.go
  p2p/peer_test.go
  p2p/server.go
  p2p/server_test.go
  p2p/simulations/adapters/inproc.go
  p2p/util.go
  p2p/util_test.go
Owners: @fjl, @zsfelfoldi, @zelig, @janos, @justelad

common, eth, p2p, rpc: add 1 buffer to fix goroutine leak in tests
  common/mclock/simclock_test.go
  eth/handler_test.go
  p2p/server_test.go
  rpc/client_test.go
Owners: @karalabe, @holiman, @rjl493456442, @fjl, @zsfelfoldi

Check peers properly
  cmd/geth/les_test.go
Owners: none

addPeer waits only for add event, because we're adding a peer to the prio client
  cmd/geth/les_test.go
Owners: none

cmd/geth: enable DNS discovery by default (#20660)
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  eth/backend.go
  eth/config.go
  eth/discovery.go
  eth/gen_config.go
  node/node.go
  node/service.go
  node/service_test.go
  params/bootnodes.go
Owners: @karalabe, @holiman, @rjl493456442

cmd/faucet: add Rlock to protect f.reqs in apiHandler
  cmd/faucet/faucet.go
Owners: none

test.Fatal() can only be used in test goroutine instead of its child
  core/blockchain_test.go
Owners: @karalabe, @holiman, @rjl493456442

core: ensure state exists for prefetcher (#20627)
  core/blockchain.go
Owners: @karalabe, @holiman, @rjl493456442

cmd/faucet: make a locked copy of f.reqs
  cmd/faucet/faucet.go
Owners: none

build: Change references to COPYING file
  build/ci.go
Owners: none

Rename COPYING to COPYING.txt
  COPYING.txt
Owners: none

check bor chain id for commit span and state
  consensus/bor/bor.go
  consensus/bor/clerk.go
Owners: @karalabe

cmd/faucet: protect f.reqs with Rlock to prevent data race (#20669)
  cmd/faucet/faucet.go
Owners: none

Add GetCurrentProposer API call :construction:
  consensus/bor/api.go
Owners: @karalabe

core, light: add NoLock func to avoid double lock
  core/blockchain.go
  light/lightchain.go
Owners: @karalabe, @holiman, @rjl493456442, @zsfelfoldi

core/types: add From() helper function for Transaction
  core/types/transaction.go
Owners: @karalabe, @holiman, @rjl493456442

eth: don't enforce minimum broadcast, fix broadcast test
  eth/handler.go
  eth/handler_test.go
Owners: @karalabe, @holiman, @rjl493456442

p2p: remove MeteredPeerEvent
  p2p/metrics.go
  p2p/peer.go
  p2p/rlpx.go
  p2p/server.go
Owners: @fjl, @zsfelfoldi

cmd/ethkey: speed up test by using weaker scrypt parameters
  cmd/ethkey/generate.go
  cmd/ethkey/message_test.go
Owners: none

travis, appveyor, build: bump builder Go to 1.13.8
  .travis.yml
  appveyor.yml
  build/checksums.txt
Owners: none

p2p: remove MeteredPeerEvent (#20679)
  p2p/metrics.go
  p2p/peer.go
  p2p/rlpx.go
  p2p/server.go
Owners: @fjl, @zsfelfoldi

cmd/ethkey: speed up test by using weaker scrypt parameters (#20680)
  cmd/ethkey/generate.go
  cmd/ethkey/message_test.go
Owners: none

p2p/dnsdisc: re-check tree root when leaf resolution fails
  p2p/dnsdisc/client_test.go
  p2p/dnsdisc/sync.go
Owners: @fjl, @zsfelfoldi

Expose API methods
  consensus/bor/api.go
  internal/web3ext/web3ext.go
Owners: @karalabe

p2p/dnsdisc: re-check tree root when leaf resolution fails (#20682)
  p2p/dnsdisc/client_test.go
  p2p/dnsdisc/sync.go
Owners: @fjl, @zsfelfoldi

[DOCS] Update DNS Discovery Setup Guide with geth usage instructions
  docs/_developers/dns-discovery-setup.md
Owners: none

[DOCS] Fix typo in last change
  docs/_developers/dns-discovery-setup.md
Owners: none

[DOCS] List -> tree in DNS Discovery Setup Guide
  docs/_developers/dns-discovery-setup.md
Owners: none

fix some erros
  cmd/puppeth/puppeth.go
  cmd/puppeth/wizard.go
Owners: @karalabe

rpc: remove startup error for invalid modules, log it instead
  rpc/endpoints.go
Owners: @fjl, @holiman

all: fix goroutine leaks in unit tests by adding 1-elem channel buffer (#20666)
  common/mclock/simclock_test.go
  eth/handler_test.go
  p2p/server_test.go
  rpc/client_test.go
Owners: @karalabe, @holiman, @rjl493456442, @fjl, @zsfelfoldi

rpc: remove startup error for invalid modules, log it instead (#20684)
  rpc/endpoints.go
Owners: @fjl, @holiman

fix lint
  params/protocol_params.go
Owners: none

params: update CHTs for the v1.9.11 release
  params/config.go
Owners: none

core, eth: add debug_iteratorAccountAt rpc call
  core/state/dump.go
  eth/api.go
Owners: @karalabe, @holiman, @rjl493456442

eth,core: debug_iteratorAccountAt use rpc.BlockNumerOrHash
  core/state/dump.go
  eth/api.go
Owners: @karalabe, @holiman, @rjl493456442

eth: merge debug_iteratorAccountAt into debug_accountRangeAt
  eth/api.go
Owners: @karalabe, @holiman, @rjl493456442

les: add bootstrap nodes as initial discoveries
  les/serverpool.go
Owners: @zsfelfoldi, @rjl493456442

state/dump, eth/tests: fix dump tests + general formatting
  core/state/dump.go
  eth/api_test.go
Owners: @karalabe, @holiman, @rjl493456442

les: add bootstrap nodes as initial discoveries (#20688)
  les/serverpool.go
Owners: @zsfelfoldi, @rjl493456442
