Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @zelig, @nonsense, @janos, @justelad, @gluk256

p2p, swarm: fix node up races by granular locking (#18976)
  p2p/simulations/connect.go
  p2p/simulations/events.go
  p2p/simulations/http_test.go
  p2p/simulations/mocker_test.go
  p2p/simulations/network.go
  p2p/simulations/network_test.go
  swarm/network/simulation/node.go
  swarm/network/simulation/node_test.go
  swarm/network/simulation/service.go
  swarm/network/simulation/simulation_test.go
  swarm/network/simulations/overlay_test.go
  swarm/state/dbstore.go
Owners: @zelig, @nonsense, @janos, @justelad

swarm: fix network/stream data races (#19051)
  p2p/simulations/network.go
  swarm/network/kademlia.go
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/lightnode_test.go
  swarm/network/stream/norace_test.go
  swarm/network/stream/race_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/stream.go
  swarm/network/stream/streamer_test.go
  swarm/network/stream/syncer_test.go
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
  swarm/storage/ldbstore.go
Owners: @zelig, @nonsense, @janos, @justelad

swarm/pss: refactoring (#19110)
  swarm/pss/keystore.go
  swarm/pss/protocol.go
  swarm/pss/pss.go
Owners: none

cmd/swarm/swarm-smoke: Trigger chunk debug on timeout (#19101)
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

contracts/*: golint updates for this or self warning
  contracts/chequebook/api.go
  contracts/chequebook/cheque.go
  contracts/chequebook/contract/chequebook.go
  contracts/ens/contract/ens.go
  contracts/ens/ens.go
  swarm/swarm.go
Owners: none

swarm: Reinstate Pss Protocol add call through swarm service (#19117)
  swarm/swarm.go
Owners: none

p2p/discover: remove unused function
  p2p/discover/table_test.go
  p2p/discover/table_util_test.go
Owners: @fjl, @zsfelfoldi

p2p/enode: use localItemKey for local sequence number
  p2p/enode/nodedb.go
  p2p/enode/nodedb_test.go
Owners: @fjl, @zsfelfoldi

node: require LocalAppData variable
  node/defaults.go
Owners: none

rlp: added pooling of streams using sync
  rlp/decode.go
Owners: none

trie: prefer nil slices over zero-length slices (#19084)
  trie/database.go
  trie/proof.go
  trie/sync.go
  trie/sync_test.go
Owners: none

swarm/network, swamr/network/stream: Kademlia close addr count and depth change chans
  swarm/network/kademlia.go
  swarm/network/stream/stream.go
Owners: none

swarm/network/stream: rename close channel to quit
  swarm/network/stream/stream.go
Owners: none

swarm/storage: increase mget timeout in common_test.go
  swarm/storage/common_test.go
Owners: none

swarm: remove unused vars from TestSnapshotSyncWithServer
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
Owners: none

swarm: move race/norace helpers from stream to testutil
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/syncer_test.go
  swarm/testutil/norace.go
  swarm/testutil/race.go
Owners: none

eth, les, eth/filter: paralellized log search in bloom filter matches
  accounts/abi/bind/backends/simulated.go
  eth/api_backend.go
  eth/backend.go
  eth/bloombits.go
  eth/filters/filter.go
  les/api_backend.go
  les/backend.go
  les/bloombits.go
Owners: @gballet, @karalabe, @zsfelfoldi

les: enforce camel case variable names
  les/peer_test.go
Owners: @zsfelfoldi

swarm/network/stream: fix sync between NewRegistry goroutine and Close method
  swarm/network/stream/stream.go
Owners: none

mutex lock in TransactionByHash and code cleanup
  accounts/abi/bind/backends/simulated.go
  accounts/abi/bind/backends/simulated_test.go
  accounts/abi/bind/base_test.go
Owners: @gballet

swarm/metrics: Send the accounting registry to InfluxDB (#18470)
  metrics/registry.go
  p2p/protocols/accounting.go
  p2p/protocols/reporter_test.go
  swarm/metrics/flags.go
Owners: @zelig, @nonsense, @janos, @justelad

cmd/utils: allow for multiple influxdb tags (#18520)
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/swarm/swarm-smoke/main.go
  cmd/utils/flags.go
  cmd/utils/flags_test.go
  swarm/metrics/flags.go
Owners: none

p2p: change metered connection ip and node id
  p2p/dial.go
  p2p/metrics.go
  p2p/server.go
Owners: @fjl, @zsfelfoldi

change copyright year
  accounts/abi/bind/backends/simulated_test.go
  accounts/abi/bind/base_test.go
Owners: @gballet

p2p: revert node id change, add protocol handshake event
  p2p/metrics.go
  p2p/server.go
Owners: @fjl, @zsfelfoldi

p2p: missing lock
  p2p/metrics.go
Owners: @fjl, @zsfelfoldi

eth: extract check for tracing transaction in block file (#19107)
  eth/api_tracer.go
Owners: @karalabe

p2p/simulations: enforce camel case variable names (#19053)
  p2p/simulations/network_test.go
Owners: @zelig, @nonsense, @janos, @justelad

all: Get Travis to install libpcsclite
  .travis.yml
Owners: none

eth/filters: use shared code to serve filter tasks, fix tests
  accounts/abi/bind/backends/simulated.go
  eth/bloombits.go
  eth/filters/bench_test.go
  eth/filters/filter.go
  eth/filters/filter_system_test.go
  eth/filters/filter_test.go
  les/bloombits.go
Owners: @gballet, @karalabe, @zsfelfoldi

eth/filters: rebase fix
  accounts/abi/bind/backends/simulated.go
  eth/api_backend.go
  eth/filters/filter.go
  eth/filters/filter_system_test.go
Owners: @gballet, @karalabe

core, eth, internal, les, light: consistent error handling
  core/blockchain.go
  eth/api_backend.go
  eth/backend.go
  internal/ethapi/api.go
  internal/ethapi/backend.go
  les/api_backend.go
  les/backend.go
  light/lightchain.go
Owners: @karalabe, @holiman, @zsfelfoldi

swarm/network: Put span ids for sendpriority in context value
  swarm/network/stream/delivery.go
  swarm/network/stream/messages.go
  swarm/network/stream/peer.go
  swarm/network/stream/stream.go
Owners: none

swarm/newtork: WIP Span request span until delivery and put
  swarm/network/stream/delivery.go
  swarm/network/stream/peer.go
Owners: none

swarm/storage: Introduce new trace across single fetcher lifespan
  swarm/storage/filestore_test.go
  swarm/storage/netstore.go
Owners: none

swarm: Add global span store in tracing
  swarm/network/stream/delivery.go
  swarm/network/stream/peer.go
  swarm/network/stream/stream.go
  swarm/swarm.go
  swarm/tracing/tracing.go
Owners: none

swarm/tracing: Elaborate constants comments
  swarm/tracing/tracing.go
Owners: none

swarm/tracing: Add context key constants
  swarm/network/stream/delivery.go
  swarm/tracing/tracing.go
Owners: none

swarm/storage: Remove redundant fix for filestore
  swarm/storage/filestore_test.go
Owners: none

swarm/tracing: Add comments
  swarm/tracing/tracing.go
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @zelig @nonsense @janos @justelad
p2p/protocols                   @zelig @nonsense @janos @justelad
p2p/testing                     @zelig @nonsense @janos @justelad
whisper/                        @gballet @gluk256
