Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @rjl493456442, @kurkomisi, @zsfelfoldi, @ligi, @fjl, @zelig, @janos, @justelad, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet
cmd/clef                        @holiman
cmd/puppeth                     @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
dashboard/                      @kurkomisi
eth/                            @karalabe @holiman @rjl493456442
graphql/                        @gballet
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
mobile/                         @karalabe @ligi
p2p/                            @fjl @zsfelfoldi
rpc/                            @fjl @holiman
p2p/simulations                 @zelig @janos @justelad
p2p/protocols                   @zelig @janos @justelad
p2p/testing                     @zelig @janos @justelad
signer/                         @holiman
whisper/                        @gballet @gluk256

Update cmd/clef/intapi_changelog.md
  cmd/clef/intapi_changelog.md
Owners: @holiman

Update signer/core/uiapi.go
  signer/core/uiapi.go
Owners: @holiman

eth: rename AccountRangeAt to AccountRange
  eth/api.go
Owners: @karalabe, @holiman, @rjl493456442

eth: remove context parameter in storageRangeAt
  eth/api.go
Owners: @karalabe, @holiman, @rjl493456442

cmd, consensus: add option to disable mmap for DAG caches/datasets (#20484)
  cmd/geth/main.go
  cmd/geth/retesteth.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  consensus/ethash/algorithm_test.go
  consensus/ethash/ethash.go
  eth/backend.go
  eth/config.go
Owners: @karalabe, @holiman, @rjl493456442

les: move randselect to utilities package
  les/distributor.go
  les/serverpool.go
  les/utilities/weighted_select.go
  les/utilities/weighted_select_test.go
Owners: @zsfelfoldi, @rjl493456442

les: move execqueue into utilities package
  les/peer.go
  les/utilities/exec_queue.go
  les/utilities/exec_queue_test.go
Owners: @zsfelfoldi, @rjl493456442

les: rename to utils
  les/distributor.go
  les/peer.go
  les/serverpool.go
  les/utils/exec_queue.go
  les/utils/exec_queue_test.go
  les/utils/weighted_select.go
  les/utils/weighted_select_test.go
Owners: @zsfelfoldi, @rjl493456442

cmd/clef: add newaccount command (#20782)
  cmd/clef/intapi_changelog.md
  cmd/clef/main.go
  signer/core/api.go
  signer/core/uiapi.go
Owners: @holiman

eth: add debug_accountRange API (#19645)
  core/state/dump.go
  eth/api.go
  eth/api_test.go
Owners: @karalabe, @holiman, @rjl493456442

travis: allow cocoapods deploy to fail (#20833)
  .travis.yml
Owners: none

whisper/whisperv6: decrease pow requirement in tests (#20815)
  whisper/whisperv6/message_test.go
Owners: @gballet, @gluk256

Remove mention of ports
  docs/_getting-started/dev-mode.md
Owners: none

move http endpoint startup from rpc to node pkg (#9)
  cmd/clef/main.go
  cmd/geth/retesteth.go
  graphql/service.go
  node/endpoints.go
  node/node.go
  rpc/endpoints.go
Owners: @holiman, @gballet, @fjl

crypto/ecies: avoid big integer math in overflow check
  crypto/ecies/ecies.go
Owners: none

removed todos and changed http port in test once again to check travis build
  node/node.go
  node/node_test.go
Owners: none

crypto/ecies: fix build
  crypto/ecies/ecies.go
Owners: none

metrics: improve TestTimerFunc (#20818)
  metrics/timer_test.go
Owners: none

trie: stacktrie -- don't create unnecessary common.Hash objects (#14)
  trie/stacktrie.go
Owners: none

cmd/evm: Rework execution stats
  cmd/evm/runner.go
Owners: none
