Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @zelig, @nonsense, @janos, @justelad, @gluk256

eth: enforce camel case variable names
  eth/tracers/tracers_test.go
Owners: @karalabe

console, internal: enforce camel case variable names
  console/console.go
  internal/jsre/jsre.go
  internal/web3ext/web3ext.go
Owners: none

p2p/discover: make maximum packet size a constant
  p2p/discover/udp.go
Owners: @fjl, @zsfelfoldi

cmd/swarm/swarm-smoke: port
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

cmd/swarm/swarm-smoke: ws not rpc
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

swarm/storage/netstore: add fetcher cancellation on shutdown swarm/network/stream: remove netstore internal wg swarm/network/stream: run individual tests with t.Run
  swarm/network/stream/delivery_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/storage/netstore.go
Owners: none

swarm/storage/netstore: add fetcher cancellation on shutdown (#19049)
  swarm/network/stream/delivery_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/storage/netstore.go
Owners: none

clean all state of block signer
  cmd/utils/flags.go
  trie/hasher.go
  trie/iterator.go
  trie/node.go
  trie/proof.go
  trie/sync.go
  trie/trie.go
  trie/trie_test.go
Owners: none

Implement api eth.getCandidateStatus
  internal/ethapi/api.go
  internal/jsre/deps/bindata.go
  internal/jsre/deps/web3.js
  rpc/types.go
Owners: none

les: revert formatting changes
  les/backend.go
  les/handler.go
  les/server.go
Owners: @zsfelfoldi

swarm/storage/mock/rpc: add comments and newTestStore helper function
  swarm/storage/mock/rpc/rpc.go
  swarm/storage/mock/rpc/rpc_test.go
Owners: none

swarm/storage/mock/mem: add missing comments
  swarm/storage/mock/mem/mem.go
  swarm/storage/mock/mem/mem_test.go
Owners: none

dashboard, p2p: separate active peers from inactive ones
  dashboard/assets.go
  dashboard/assets/components/Network.jsx
  dashboard/assets/index.jsx
  dashboard/assets/package.json
  dashboard/assets/types/content.jsx
  dashboard/assets/yarn.lock
  dashboard/dashboard.go
  dashboard/geoip.go
  dashboard/message.go
  dashboard/peers.go
  dashboard/system.go
  p2p/metrics.go
Owners: @fjl, @zsfelfoldi

dashboard: fix peer UI consistency issue, improve UI
  dashboard/assets/components/Network.jsx
  dashboard/assets/types/content.jsx
  dashboard/assets/webpack.config.prod.js
  dashboard/peers.go
Owners: none

dashboard: add sourcemap
  dashboard/assets.go
  dashboard/dashboard.go
Owners: none

dashboard: replace font awesome lib
  dashboard/assets/common.jsx
  dashboard/assets/components/Header.jsx
  dashboard/assets/components/Network.jsx
  dashboard/assets/components/SideBar.jsx
  dashboard/assets/package.json
  dashboard/assets/yarn.lock
Owners: none

dashboard: fix UI crash bug, separate nodes from the same IP, format source map
  dashboard/assets/components/Network.jsx
  dashboard/assets/fa-only-woff-loader.js
  dashboard/assets/package.json
  dashboard/assets/webpack.config.dev.js
  dashboard/assets/webpack.config.prod.js
  dashboard/assets/yarn.lock
  dashboard/dashboard.go
Owners: none

build: avoid dput and upload with sftp directly
  build/ci.go
  build/dput-launchpad.cf
  internal/build/util.go
Owners: none

console, internal: enforce camel case variable names (#19059)
  console/console.go
  internal/jsre/jsre.go
  internal/web3ext/web3ext.go
Owners: none

eth/tracers: enforce camel case variable names (#19057)
  eth/tracers/tracers_test.go
Owners: @karalabe

swarm/storage/mock: add comments to new types and constants
  swarm/storage/mock/mock.go
Owners: none

swarm/storage/mock/db: implement listings for mock/db global store
  swarm/storage/mock/db/db.go
  swarm/storage/mock/db/db_test.go
Owners: none

common/fdlimit: fix windows build
  common/fdlimit/fdlimit_windows.go
Owners: none

build: avoid dput and upload with sftp directly (#19067)
  build/ci.go
  build/dput-launchpad.cf
  internal/build/util.go
Owners: none

light: enforce camel case variable names (#19054)
  light/odr_util.go
  light/trie.go
Owners: @zsfelfoldi

core: enforce camel case variable names
  core/tx_pool_test.go
Owners: @karalabe, @holiman

swarm/network: early depth check
  swarm/network/kademlia.go
Owners: none

common/fdlimit: fix windows build (#19068)
  common/fdlimit/fdlimit_windows.go
Owners: none

swarm/storage/mock/test: add comments for MockStoreListings
  swarm/storage/mock/test/test.go
Owners: none

swarm/pss: split pss and keystore
  swarm/pss/keystore.go
  swarm/pss/protocol.go
  swarm/pss/pss.go
Owners: none

cmd/swarm/swarm-smoke: added debug output
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

swarm/network: Saturation check for healthy networks (#19071)
  swarm/network/kademlia.go
  swarm/network/kademlia_test.go
  swarm/network/simulation/kademlia.go
  swarm/network/simulations/discovery/discovery_test.go
Owners: none

core: enforce camel case variable names (#19058)
  core/tx_pool_test.go
Owners: @karalabe, @holiman

console: prefer nil slices over zero-length slices
  console/console.go
Owners: none

cmd/*: prefer nil slices over zero-length slices
  cmd/abigen/main.go
  cmd/geth/monitorcmd.go
  cmd/geth/usage.go
  cmd/swarm/access.go
  cmd/swarm/access_test.go
  cmd/swarm/fs.go
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/utils/flags.go
Owners: none

core: prefer nil slices over zero-length slices
  core/blockchain.go
  core/blockchain_test.go
  core/rawdb/accessors_chain.go
  core/state/sync_test.go
  core/tx_pool.go
  core/tx_pool_test.go
  core/types/receipt.go
Owners: @karalabe, @holiman

eth: prefer nil slices over zero-length slices
  eth/downloader/downloader.go
  eth/downloader/queue.go
  eth/fetcher/fetcher.go
  eth/filters/filter_system_test.go
  eth/handler_test.go
Owners: @karalabe

les: prefer nil slices over zero-length slices
  les/handler_test.go
Owners: @zsfelfoldi

mobile: prefer nil slices over zero-length slices
  mobile/p2p.go
Owners: @karalabe

node: prefer nil slices over zero-length slices
  node/config.go
  node/node.go
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @zelig @nonsense @janos @justelad
p2p/protocols                   @zelig @nonsense @janos @justelad
p2p/testing                     @zelig @nonsense @janos @justelad
whisper/                        @gballet @gluk256
