Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @holiman, @zsfelfoldi, @fjl, @lmars, @zelig, @justelad, @jmozah, @holisticode, @nonsense, @nolash, @janos, @nagydani, @jpeletier, @gballet, @gluk256

address PR comments
  cmd/swarm/swarm-smoke/main.go
  metrics/influxdb/influxdb.go
Owners: none

return nil on no error
  cmd/swarm/swarm-smoke/main.go
Owners: none

swarm/storage/localstore: add mock store option for chunk data
  swarm/shed/example_store_test.go
  swarm/shed/index.go
  swarm/shed/index_test.go
  swarm/storage/localstore/accessor_test.go
  swarm/storage/localstore/localstore.go
  swarm/storage/localstore/localstore_test.go
  swarm/storage/localstore/mode_test.go
Owners: none

p2p/simulations: return already connected error from Load function
  p2p/simulations/network.go
Owners: @lmars

p2p/simulations: log warning on snapshot loading disconnection
  p2p/simulations/network.go
Owners: @lmars

swarm/api/http: add resetting timer metrics to requests
  swarm/api/http/middleware.go
Owners: @justelad

swarm/api/http: add resetting timer metrics to requests (#18249)
  swarm/api/http/middleware.go
Owners: @justelad

swarm/storage/localstore: add TestDB_pullIndex
  swarm/storage/localstore/mode_test.go
Owners: none

fix linter errors
  metrics/influxdb/influxdb.go
Owners: none

swarm/pss: variables renamed, comment added
  swarm/pss/pss.go
Owners: @nolash, @zelig, @nonsense

add metrics to upload and sync test
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

address PR comments
  cmd/swarm/swarm-smoke/main.go
  metrics/influxdb/influxdb.go
Owners: none

add feed smoke metrics
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/main.go
Owners: none

measure upload time
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

emit metrics only once
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  metrics/influxdb/influxdb.go
Owners: none

correct metrics flags and add metrics init on smoke run
  cmd/swarm/swarm-smoke/main.go
  swarm/metrics/flags.go
Owners: @nonsense, @holisticode

cmd/swarm-smoke: inline metrics
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/main.go
Owners: none

return nil on no error
  cmd/swarm/swarm-smoke/main.go
Owners: none

fix linter errors
  metrics/influxdb/influxdb.go
Owners: none

added influxdb flags
  cmd/swarm/swarm-smoke/main.go
Owners: none

cmd/swarm/swarm-smoke: timeout flag
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

cmd/swarm: fix wait for reporter
  cmd/swarm/swarm-smoke/main.go
Owners: none

add git commit
  cmd/swarm/swarm-smoke/main.go
Owners: none

cmd/swarm/swarm-smoke: fix metrics collection
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

cmd/swarm: use correct import
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

swarm/storage: measure lazy chunk reader chunk get time
  swarm/storage/chunker.go
Owners: none

swarm/api: log and measure the same value for request time
  swarm/api/http/middleware.go
Owners: @justelad

p2p/protocols: accounting metrics rpc added (#847)
  internal/web3ext/web3ext.go
  p2p/protocols/accounting_api.go
  swarm/swarm.go
Owners: @zelig

added loglines to http get requests
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

p2p/protocols: accounting api documentation added (#847)
  p2p/protocols/accounting_api.go
Owners: @zelig

p2p/protocols: accounting api doc updated (#847)
  p2p/protocols/accounting_api.go
Owners: @zelig

p2p/protocols: accounting api doc update (#847)
  p2p/protocols/accounting_api.go
Owners: @zelig

p2p/protocols: accounting api doc update (#847)
  p2p/protocols/accounting_api.go
Owners: @zelig

swarm/storage/localstore: add TestDB_gcIndex
  swarm/storage/localstore/accessor_test.go
  swarm/storage/localstore/mode.go
  swarm/storage/localstore/mode_test.go
Owners: none

fix goimports
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

swarm/storage/localstore: change how batches are written
  swarm/storage/localstore/accessor.go
  swarm/storage/localstore/localstore.go
  swarm/storage/localstore/mode.go
  swarm/storage/localstore/mode_test.go
Owners: none

added resetting counters
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

swarm/storage/localstore: add updateOnAccess function
  swarm/storage/localstore/mode.go
Owners: none

Fixed foundation balance to 16m.
  cmd/puppeth/wizard_genesis.go
Owners: none

Update wizard_genesis.go
  cmd/puppeth/wizard_genesis.go
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @lmars
p2p/protocols                   @zelig
swarm/api/http                  @justelad
swarm/bmt                       @zelig
swarm/dev                       @lmars
swarm/fuse                      @jmozah @holisticode
swarm/grafana_dashboards        @nonsense
swarm/metrics                   @nonsense @holisticode
swarm/multihash                 @nolash
swarm/network/bitvector         @zelig @janos 
swarm/network/priorityqueue     @zelig @janos 
swarm/network/simulations       @zelig @janos
swarm/network/stream            @janos @zelig @holisticode @justelad
swarm/network/stream/intervals  @janos
swarm/network/stream/testing    @zelig
swarm/pot                       @zelig
swarm/pss                       @nolash @zelig @nonsense
swarm/services                  @zelig
swarm/state                     @justelad
swarm/storage/encryption        @zelig @nagydani
swarm/storage/mock              @janos
swarm/storage/feed              @nolash @jpeletier
swarm/testutil                  @lmars
whisper/                        @gballet @gluk256
