Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @rjl493456442, @kurkomisi, @zsfelfoldi, @ligi, @fjl, @zelig, @janos, @justelad, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet
cmd/clef                        @holiman
cmd/puppeth                     @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
dashboard/                      @kurkomisi
eth/                            @karalabe @holiman @rjl493456442
graphql/                        @gballet
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
mobile/                         @karalabe @ligi
p2p/                            @fjl @zsfelfoldi
rpc/                            @fjl @holiman
p2p/simulations                 @zelig @janos @justelad
p2p/protocols                   @zelig @janos @justelad
p2p/testing                     @zelig @janos @justelad
signer/                         @holiman
whisper/                        @gballet @gluk256

cmd/devp2p: use original TTL for Route53 deletes
  cmd/devp2p/dns_route53.go
  cmd/devp2p/dns_route53_test.go
  cmd/devp2p/dnscmd.go
Owners: none

cmd/devp2p: add missing copyright header
  cmd/devp2p/dns_route53_test.go
Owners: none

cmd/devp2p: use TTL constants in the CloudFlare deployer
  cmd/devp2p/dns_cloudflare.go
Owners: none

cmd/devp2p: lower the Route53 limit
  cmd/devp2p/dns_route53.go
Owners: none

cmd/devp2p: fix lint
  cmd/devp2p/dns_route53.go
Owners: none

p2p: ensure Server.loop is ticking even if discovery hangs
  p2p/server.go
Owners: @fjl, @zsfelfoldi

cmd/geth/retesteth: use canon head instead of keeping alternate count
  cmd/geth/retesteth.go
Owners: none

p2p: ensure Server.loop is ticking even if discovery hangs (#20573)
  p2p/server.go
Owners: @fjl, @zsfelfoldi

cmd/devp2p: submit Route53 changes in batches (#20524)
  cmd/devp2p/dns_cloudflare.go
  cmd/devp2p/dns_route53.go
  cmd/devp2p/dns_route53_test.go
  cmd/devp2p/dnscmd.go
Owners: none

core, light: write chain data in atomic way (#20287)
  core/blockchain.go
  core/headerchain.go
  light/lightchain.go
Owners: @karalabe, @holiman, @rjl493456442, @zsfelfoldi

* trie: utilize callbacks instead of amassing lists in ref/unref (#20529)
  trie/database.go
  trie/trie_test.go
Owners: none

eth: fix comment typo in handler.go
  eth/handler.go
Owners: @karalabe, @holiman, @rjl493456442

Add instructions to install via macports
  docs/_install-and-build/Installing-Geth.md
Owners: none

cmd/clef: add --vault flag
  cmd/clef/main.go
Owners: @holiman

signer/storage abstract aes_gcm related funcs to separate file for db_storage impl
  signer/storage/aes_gcm_storage.go
  signer/storage/aes_gcm_storage_test.go
  signer/storage/aes_gcm_util.go
  signer/storage/aes_gcm_util_test.go
Owners: @holiman

appveyor: bump Go to 1.13.6 on Windows
  appveyor.yml
Owners: none

travis: bump Android builder to Go 1.13.6
  .travis.yml
Owners: none

params: update CHTs for v1.9.10 release
  params/config.go
Owners: none

core: fix chain indexer unit test (#20506)
  core/chain_indexer_test.go
Owners: @karalabe, @holiman, @rjl493456442

params: release Geth v1.9.10
  params/version.go
Owners: none

params: begin Geth v1.9.11 release cycle
  params/version.go
Owners: none

more debug
  consensus/ethash/consensus.go
  consensus/ethash/ethash_test.go
Owners: @karalabe

add cache check
  consensus/ethash/ethash_test.go
Owners: @karalabe

more debugging
  consensus/ethash/consensus.go
  consensus/ethash/ethash_test.go
Owners: @karalabe

more debug
  consensus/ethash/consensus.go
Owners: @karalabe

detailed hashimoto debug
  consensus/ethash/algorithm.go
  consensus/ethash/consensus.go
Owners: @karalabe

log: delete RotatingFileHandler
  log/handler.go
Owners: none

cmd/abidump: add license
  cmd/abidump/main.go
Owners: none

internal/debug: remove unused RotatingFileHandler setup code
  cmd/devp2p/main.go
  cmd/geth/main.go
  internal/debug/flags.go
Owners: none

log, internal/debug: delete RotatingFileHandler (#20586)
  cmd/devp2p/main.go
  cmd/geth/main.go
  internal/debug/flags.go
  log/handler.go
Owners: none

cmd: implement abidump (#19958)
  cmd/abidump/main.go
  signer/fourbyte/abi.go
  signer/fourbyte/validation.go
Owners: @holiman

internal/jsre: fix pretty-printing of floats
  internal/jsre/pretty.go
Owners: none

internal/jsre: fix completion of globals
  internal/jsre/completion.go
  internal/jsre/completion_test.go
Owners: none

console: remove panic on Set
  console/console.go
Owners: none

internal/jsre: move runtime creation back into JSRE and clean up API
  internal/jsre/completion_test.go
  internal/jsre/jsre.go
  internal/jsre/jsre_test.go
Owners: none

console: port to JSRE changes
  console/bridge.go
  console/console.go
Owners: none

console: run initConsole before initWeb3
  console/console.go
Owners: none

foo
  consensus/ethash/algorithm.go
  consensus/ethash/algorithm_test.go
  consensus/ethash/ethash_test.go
Owners: @karalabe

Override the MSTORE OPCODE
  cmd/evm/runner.go
  core/state/state_object.go
  core/vm/instructions.go
  go.mod
  go.sum
Owners: @karalabe, @holiman, @rjl493456442

Override CALL opcode
  cmd/evm/runner.go
  core/state/state_object.go
  core/vm/instructions.go
  go.mod
  go.sum
  tests/ovm_test.go
Owners: @karalabe, @holiman, @rjl493456442
