Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @rjl493456442, @kurkomisi, @zsfelfoldi, @ligi, @fjl, @zelig, @janos, @justelad, @gluk256

core/state/snapshot: initial wip on trie generators
  core/state/snapshot/hextrie_generator.go
  core/state/snapshot/trie_generator_test.go
  trie/appendtrie.go
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot tests: fix testcase panic
  core/state/snapshot/hextrie_generator.go
  core/state/snapshot/iterator_test.go
  core/state/snapshot/trie_generator_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot: better test coverage
  core/state/snapshot/snapshot_test.go
  core/state/snapshot/trie_generator_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot, trie: fix tests after rebase + minor refactor or trie gen
  core/state/snapshot/hextrie_generator.go
  core/state/snapshot/trie_generator_test.go
Owners: @karalabe, @holiman, @rjl493456442

Fix a few bugs in the stack trie (#9)
  core/state/snapshot/trie_generator_test.go
  trie/hashtrie.go
  trie/stacktrie.go
Owners: @karalabe, @holiman, @rjl493456442

trie: stack trie rewrite (#10)
  core/state/snapshot/hextrie_generator.go
  core/state/snapshot/trie_generator_test.go
  trie/stacktrie.go
Owners: @karalabe, @holiman, @rjl493456442

tests: validate snapshot after test
  tests/block_test_util.go
Owners: none

squashmelater: add snaphash verifier function
  cmd/geth/chaincmd.go
  core/state/snapshot/hextrie_generator.go
Owners: @karalabe, @holiman, @rjl493456442

cmd/geth, core: implement poc trie-root-generator command
  cmd/geth/chaincmd.go
  cmd/geth/main.go
  cmd/utils/flags.go
  core/blockchain.go
  core/state/snapshot/account.go
  core/state/snapshot/hextrie_generator.go
  core/state/snapshot/trie_generator_test.go
Owners: @karalabe, @holiman, @rjl493456442

core: simplify atomic store after writeBlockWithState
  core/blockchain.go
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot: avoid double iteration on accounts/storage
  core/state/snapshot/difflayer.go
  core/state/snapshot/snapshot.go
  core/state/statedb.go
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot: use local bloom filters
  core/state/snapshot/difflayer.go
  core/state/snapshot/disklayer.go
  core/state/snapshot/snapshot.go
  core/state/statedb.go
  go.mod
  go.sum
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot: benchmarks for bloom ops
  core/state/snapshot/difflayer_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot: retain cumulative across states
  core/state/snapshot/difflayer.go
  core/state/snapshot/disklayer.go
  core/state/snapshot/snapshot.go
  core/state/statedb.go
Owners: @karalabe, @holiman, @rjl493456442

deps: update bloomfilter
  go.mod
  go.sum
Owners: none

tests: fix tests to use new statedb constructor
  core/state/state_object_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/state: handle no-op account trie updates better
  core/state/state_object.go
  core/state/statedb.go
  core/state/statedb_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot: update bloom filter, remove hashing structs
  core/state/snapshot/difflayer.go
  go.mod
  go.sum
Owners: @karalabe, @holiman, @rjl493456442

core/state: fix rebase problems
  core/state/snapshot/difflayer.go
  core/state/snapshot/difflayer_test.go
  core/state/state_object.go
  core/state/statedb.go
Owners: @karalabe, @holiman, @rjl493456442

core/blockchain: simplify atomic store after writeBlockWithState (#20798)
  core/blockchain.go
Owners: @karalabe, @holiman, @rjl493456442

cmd/devp2p: tweak DNS TTLs
  cmd/devp2p/dnscmd.go
Owners: none

les: remove unused import
  les/api_backend.go
Owners: @zsfelfoldi, @rjl493456442

node, cmd/clef: report actual port used for http rpc (#20789)
  cmd/clef/main.go
  node/node.go
Owners: @holiman

internal/ethapi: remove defaultGasPrice
  internal/ethapi/api.go
Owners: none

eth: add missing eth_getHashrate() method
  eth/api.go
Owners: @karalabe, @holiman, @rjl493456442

internal/ethapi: don't set sender-balance to maxuint, fixes #16999 (#20783)
  eth/api_backend.go
  internal/ethapi/api.go
  les/api_backend.go
Owners: @karalabe, @holiman, @rjl493456442, @zsfelfoldi

core/state/snapshot: faster slim-to-hash method
  core/state/snapshot/account.go
  core/state/snapshot/trie_generator_test.go
  crypto/crypto.go
  trie/committer.go
  trie/hasher.go
Owners: @karalabe, @holiman, @rjl493456442

eth: improve shutdown synchronization
  eth/backend.go
  eth/bloombits.go
  eth/handler.go
  eth/sync.go
Owners: @karalabe, @holiman, @rjl493456442

eth: rewrite sync controller
  eth/handler.go
  eth/helper_test.go
  eth/protocol_test.go
  eth/sync.go
  eth/sync_test.go
Owners: @karalabe, @holiman, @rjl493456442

dirty functional implementation, some tests broken, some commented out
  cmd/geth/retesteth.go
  graphql/service.go
  node/api.go
  node/node.go
  rpc/endpoints.go
  rpc/http.go
  rpc/websocket.go
Owners: @gballet, @fjl, @holiman

added space
  node/node.go
Owners: none

handler stack creation moved from rpc to node pkg
  cmd/geth/retesteth.go
  node/node.go
  rpc/endpoints.go
  rpc/http.go
Owners: @fjl, @holiman

fixed retesteth
  cmd/geth/retesteth.go
Owners: none

fixed some TODOs
  cmd/geth/retesteth.go
  node/node.go
  rpc/endpoints.go
  rpc/http.go
Owners: @fjl, @holiman

moved whitelist generation and api registration into separate method
  node/node.go
Owners: none

les: add checkpoint challenge for light client
  les/client_handler.go
  les/handler_test.go
  les/peer.go
Owners: @zsfelfoldi, @rjl493456442

core/state/snapshot: start fixing disk iterator seek
  common/bytes.go
  common/bytes_test.go
  core/state/snapshot/disklayer_test.go
  core/state/snapshot/iterator.go
Owners: @karalabe, @holiman, @rjl493456442

ethdb, rawdb, leveldb, memorydb: implement iterators with prefix and start
  core/rawdb/table.go
  core/rawdb/table_test.go
  core/state/snapshot/disklayer_test.go
  core/state/snapshot/iterator.go
  core/state/snapshot/wipe.go
  ethdb/dbtest/testsuite.go
  ethdb/iterator.go
  ethdb/leveldb/leveldb.go
  ethdb/memorydb/memorydb.go
Owners: @karalabe, @holiman, @rjl493456442

les, core/state/snapshot: iterator fixes
  core/rawdb/table_test.go
  core/state/snapshot/wipe.go
  les/clientpool.go
  trie/sync_bloom.go
Owners: @karalabe, @holiman, @rjl493456442, @zsfelfoldi

all: remove two iterator methods
  cmd/utils/cmd.go
  core/rawdb/accessors_chain.go
  core/rawdb/accessors_snapshot.go
  core/rawdb/table.go
  core/state/snapshot/disklayer_test.go
  core/state/snapshot/wipe_test.go
  eth/filters/bench_test.go
  ethdb/dbtest/testsuite.go
  ethdb/iterator.go
  ethdb/leveldb/leveldb.go
  ethdb/memorydb/memorydb.go
  les/clientpool.go
Owners: @karalabe, @holiman, @rjl493456442, @zsfelfoldi

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet
cmd/clef                        @holiman
cmd/puppeth                     @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
dashboard/                      @kurkomisi
eth/                            @karalabe @holiman @rjl493456442
graphql/                        @gballet
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
mobile/                         @karalabe @ligi
p2p/                            @fjl @zsfelfoldi
rpc/                            @fjl @holiman
p2p/simulations                 @zelig @janos @justelad
p2p/protocols                   @zelig @janos @justelad
p2p/testing                     @zelig @janos @justelad
signer/                         @holiman
whisper/                        @gballet @gluk256
