Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gballet, @MariusVanDerWijden, @lightclient, @fjl, @zsfelfoldi, @holiman, @rjl493456442, @jwasinger, @s1na, @karalabe

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet/             @gballet
accounts/scwallet/              @gballet
accounts/abi/                   @gballet @MariusVanDerWijden
beacon/engine/                  @MariusVanDerWijden @lightclient @fjl
beacon/light/                   @zsfelfoldi
beacon/merkle/                  @zsfelfoldi 
beacon/types/                   @zsfelfoldi @fjl
beacon/params/                  @zsfelfoldi @fjl
cmd/clef/                       @holiman
cmd/evm/                        @holiman @MariusVanDerWijden @lightclient
core/state/                     @rjl493456442 @holiman
crypto/                         @gballet @jwasinger @holiman @fjl
core/                           @holiman @rjl493456442
eth/                            @holiman @rjl493456442
eth/catalyst/                   @MariusVanDerWijden @lightclient @fjl @jwasinger
eth/tracers/                    @s1na
ethclient/                      @fjl
ethdb/                          @rjl493456442
event/                          @fjl
trie/                           @rjl493456442
triedb/                         @rjl493456442
core/tracing/                   @s1na
graphql/                        @s1na
internal/ethapi/                @fjl @s1na @lightclient
internal/era/                   @lightclient
metrics/                        @holiman
miner/                          @MariusVanDerWijden @holiman @fjl @rjl493456442
node/                           @fjl
p2p/                            @fjl @zsfelfoldi
rlp/                            @fjl
params/                         @fjl @holiman @karalabe @gballet @rjl493456442 @zsfelfoldi
rpc/                            @fjl @holiman
signer/                         @holiman

eth/tracers/logger: fixup
  eth/tracers/logger/logger.go
Owners: @s1na

core: add EIP-2935 support in GenerateChain
  core/chain_makers.go
Owners: @holiman, @rjl493456442

core: add BlockGen.ConsensusLayerRequests
  core/chain_makers.go
Owners: @holiman, @rjl493456442

internal/ethapi/override: fix lint
  internal/ethapi/override/override_test.go
Owners: @fjl, @s1na, @lightclient

feat: `types.HeaderHooks` for RLP overrides (#89)
  core/state/state.libevm.go
  core/state/state.libevm_test.go
  core/state/state_object.libevm_test.go
  core/types/block.go
  core/types/block.libevm.go
  core/types/block.libevm_test.go
  core/types/rlp_backwards_compat.libevm_test.go
  core/types/rlp_payload.libevm.go
  core/types/state_account.libevm_test.go
  core/types/state_account_storage.libevm_test.go
  params/config.libevm.go
Owners: @holiman, @rjl493456442, @fjl, @karalabe, @gballet, @zsfelfoldi

core: fixes for Prague fork in GenerateChain (#30924)
  core/chain_makers.go
Owners: @holiman, @rjl493456442

core/vm: make all opcodes proper type
  core/vm/opcodes.go
Owners: @holiman, @rjl493456442

core/types: serialize EIP-7702 auth signature values as hex
  core/types/gen_authorization.go
  core/types/tx_setcode.go
Owners: @holiman, @rjl493456442

core/types, internal/ethapi: rename requestsRoot -> requestsHash in JSON
  core/types/block.go
  core/types/gen_header_json.go
  internal/ethapi/api.go
Owners: @holiman, @rjl493456442, @fjl, @s1na, @lightclient

internal/ethapi: transfer auth list in ToMessage
  internal/ethapi/transaction_args.go
Owners: @fjl, @s1na, @lightclient

feat: `internalise` command (#90)
  core/types/block.go
  libevm/cmd/internalise/main.go
  rlp/rlpgen/gen.go
  rlp/rlpgen/gen.libevm.go
  rlp/rlpgen/main.go
Owners: @holiman, @rjl493456442, @fjl

cmd/evm: make evm statetest accept non-json files
  cmd/evm/blockrunner.go
  cmd/evm/main.go
  cmd/evm/staterunner.go
Owners: @holiman, @MariusVanDerWijden, @lightclient

core/vm: make all opcodes proper type (#30925)
  core/vm/opcodes.go
Owners: @holiman, @rjl493456442

Adding systemd copy, missed in copy over
  .github/workflows/amoy_deb_profiles.yml
Owners: none

core/types, internal/ethapi: fixes for prague RPC encoding (#30926)
  core/types/block.go
  core/types/gen_authorization.go
  core/types/gen_header_json.go
  core/types/tx_setcode.go
  internal/ethapi/api.go
  internal/ethapi/transaction_args.go
Owners: @holiman, @rjl493456442, @fjl, @s1na, @lightclient

Update eest.go
  cmd/evm/eest.go
Owners: @holiman, @MariusVanDerWijden, @lightclient

Update rules.md
  cmd/clef/rules.md
Owners: @holiman

Update README.md
  cmd/evm/README.md
Owners: @holiman, @MariusVanDerWijden, @lightclient

Update README.md
  README.md
Owners: none
