Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @rjl493456442, @kurkomisi, @zsfelfoldi, @ligi, @fjl, @zelig, @janos, @justelad, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet
cmd/clef                        @holiman
cmd/puppeth                     @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
dashboard/                      @kurkomisi
eth/                            @karalabe @holiman @rjl493456442
graphql/                        @gballet
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
mobile/                         @karalabe @ligi
p2p/                            @fjl @zsfelfoldi
rpc/                            @fjl @holiman
p2p/simulations                 @zelig @janos @justelad
p2p/protocols                   @zelig @janos @justelad
p2p/testing                     @zelig @janos @justelad
signer/                         @holiman
whisper/                        @gballet @gluk256

console: decompress JS libraries during init
  console/console.go
  internal/jsre/jsre.go
Owners: none

console: improve web3ext loader
  console/console.go
Owners: none

Print SSTORE on SSTORE and SLOAD on SLOAD
  core/vm/instructions.go
  tests/ovm_test.go
Owners: @karalabe, @holiman, @rjl493456442

Add mstoreBytes
  core/vm/instructions.go
  tests/ovm_test.go
Owners: @karalabe, @holiman, @rjl493456442

Add call function in test
  core/vm/instructions.go
  tests/ovm_test.go
Owners: @karalabe, @holiman, @rjl493456442

eth/fetcher, eth/handler: differentiate metrics for all/useful broadcasts and announcements
  eth/fetcher/fetcher.go
  eth/fetcher/metrics.go
  eth/handler.go
  eth/metrics.go
Owners: @karalabe, @holiman, @rjl493456442

Only match methodIds on the first 4 bytes of calldata
  core/vm/instructions.go
  tests/ovm_test.go
Owners: @karalabe, @holiman, @rjl493456442

Store state on call to ovmSSTORE
  core/vm/instructions.go
  tests/ovm_test.go
Owners: @karalabe, @holiman, @rjl493456442

Complete an ovmSSTORE and ovmSLOAD roundtrip test
  core/vm/instructions.go
  tests/ovm_test.go
Owners: @karalabe, @holiman, @rjl493456442

eth: fix comment typo in handler.go (#20575)
  eth/handler.go
Owners: @karalabe, @holiman, @rjl493456442

core/vm/runtime: add test for blockhash
  core/vm/runtime/env.go
  core/vm/runtime/runtime_test.go
Owners: @karalabe, @holiman, @rjl493456442

cmd/geth/retesteth: use canon head instead of keeping alternate count (#20572)
  cmd/geth/retesteth.go
Owners: none

Pass OVM tests
  core/state/statedb.go
  core/vm/instructions.go
  core/vm/jump_table.go
Owners: @karalabe, @holiman, @rjl493456442

Pass ovm_test.go
  core/vm/instructions.go
  tests/ovm_test.go
Owners: @karalabe, @holiman, @rjl493456442

Assert against the returned value of the CALL
  core/vm/instructions.go
  tests/ovm_test.go
Owners: @karalabe, @holiman, @rjl493456442

Add optimism genesis file
  etc/boot.key
  etc/optimism.json
Owners: none

Use native SSTORE and SLOAD
  core/vm/instructions.go
Owners: @karalabe, @holiman, @rjl493456442

Revert unnecessary changes
  core/state/statedb.go
  core/vm/instructions.go
  core/vm/jump_table.go
Owners: @karalabe, @holiman, @rjl493456442

Add a README
  OPTIMISM_README.md
  core/vm/instructions.go
Owners: @karalabe, @holiman, @rjl493456442

p2p: new dial scheduler
  p2p/dial.go
  p2p/dial_test.go
  p2p/peer_test.go
  p2p/server.go
  p2p/server_test.go
  p2p/util.go
  p2p/util_test.go
Owners: @fjl, @zsfelfoldi

Add .github
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

p2p/simulations/adapters: adapt to new NodeDialer interface
  p2p/simulations/adapters/inproc.go
Owners: @zelig, @janos, @justelad

p2p: re-add check for self in checkDial
  p2p/dial.go
  p2p/dial_test.go
  p2p/server.go
Owners: @fjl, @zsfelfoldi

p2p: remove peersetCh
  p2p/dial.go
Owners: @fjl, @zsfelfoldi

p2p: allow static dials when discovery is disabled
  p2p/server.go
Owners: @fjl, @zsfelfoldi

console: fix lint
  console/console.go
Owners: none

signer/storage creaate new db_storage and related tests
  go.mod
  go.sum
  signer/storage/db_storage.go
  signer/storage/db_storage_test.go
Owners: @holiman

signer/storage rework db_storage to support postgres sql and potentially other sql databases
  signer/storage/db_storage.go
  signer/storage/db_storage_test.go
Owners: @holiman

signer/storage,cmd/clef rework clef to support db_storage
  cmd/clef/main.go
  go.mod
  go.sum
  signer/storage/db_storage.go
  signer/storage/db_storage_test.go
Owners: @holiman

signer/core add tests to make sure new db keystore works well
  signer/core/api_test.go
  signer/core/signed_data_test.go
Owners: @holiman

cmd/evm: accept --input for disasm command (#20548)
  cmd/evm/disasm.go
Owners: none

console, internal/jsre: use github.com/dop251/goja (#20470)
  cmd/geth/consolecmd_test.go
  console/bridge.go
  console/console.go
  console/console_test.go
  go.mod
  go.sum
  internal/jsre/completion.go
  internal/jsre/completion_test.go
  internal/jsre/jsre.go
  internal/jsre/jsre_test.go
  internal/jsre/pretty.go
Owners: none

internal/build: don't crash in DownloadFile when offline
  internal/build/download.go
Owners: none

retesteth: clean txpool on rewind, default dao support
  cmd/geth/retesteth.go
Owners: none

rpc: reset writeConn when conn is closed on readErr (#20414)
  rpc/client.go
Owners: @fjl, @holiman

rpc: improve module availability check
  rpc/endpoints.go
Owners: @fjl, @holiman

docs/Command-Line-Options.md: --password option
  docs/_interface/Command-Line-Options.md
Owners: none

signer: replace otto with goja
  signer/rules/rules.go
  signer/rules/rules_test.go
Owners: @holiman

docs: update FAQ for BOM issue
  docs/_interface/FAQ.md
Owners: none

go.mod: remove Otto
  go.mod
  go.sum
Owners: none
