Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @zelig, @nonsense, @janos, @justelad, @gluk256

Polished docstrings, ran goimports and swapped fmt.Errorf with errors.New where possible
  signer/core/api_test.go
  signer/core/apiv2.go
  signer/core/signed_data.go
Owners: @karalabe, @holiman

Implementing UnmarshalJSON() for TypedData
  cmd/clef/audit.log
  cmd/clef/main.go
  interfaces.go
  signer/core/api.go
  signer/core/api_layout.md
  signer/core/apiv2.go
  signer/core/auditlog.go
Owners: @karalabe, @holiman

Changed method to signTypedData
  cmd/clef/audit.log
  signer/core/api.go
  signer/core/api_layout.md
  signer/core/apiv2.go
  signer/core/auditlog.go
Owners: @karalabe, @holiman

Solved malformed data panics and also wrote tests
  signer/core/cliui.go
  signer/core/signed_data.go
  signer/core/signed_data_test.go
Owners: @karalabe, @holiman

Fixed rules_test failing test
  signer/rules/rules_test.go
Owners: none

signer: make ui use new message format for signing
  signer/core/api.go
  signer/core/cliui.go
  signer/core/signed_data.go
Owners: @karalabe, @holiman

signer: use golang/x keccak
  signer/core/signed_data.go
Owners: @karalabe, @holiman

Added ecRecover method in the clef api
  signer/core/api.go
  signer/core/auditlog.go
Owners: @karalabe, @holiman

Added pseudo-failing test
  signer/core/signed_data_test.go
Owners: @karalabe, @holiman

Fixed failing test, formatted files
  signer/core/signed_data.go
  signer/core/signed_data_test.go
Owners: @karalabe, @holiman

Added pseudo-failing test
  signer/core/signed_data_test.go
Owners: @karalabe, @holiman

Temporarily switched to using common.Address in tests
  signer/core/signed_data.go
  signer/core/signed_data_test.go
Owners: @karalabe, @holiman

signer: more tests for typed data
  signer/core/signed_data_test.go
Owners: @karalabe, @holiman

Working on TypedData
  cmd/clef/audit.log
  signer/core/api.go
  signer/core/apiv2.goz
  signer/core/auditlog.go
Owners: @karalabe, @holiman

Polished and fixed PR
  accounts/accounts.go
  cmd/clef/audit.log
  signer/core/signed_data.go
Owners: @karalabe, @holiman

Solved malformed data panics and also wrote tests
  signer/core/cliui.go
  signer/core/signed_data.go
  signer/core/signed_data_test.go
Owners: @karalabe, @holiman

Drafted recursive encodeData
  cmd/clef/audit.log
  signer/core/api.go
  signer/core/api_layout.md
  signer/core/signed_data.go
Owners: @karalabe, @holiman

common, consensus, miner: introduce debug_increaseTime RPC method
  common/aclock/aclock.go
  consensus/clique/clique.go
  core/blockchain.go
  internal/ethapi/api.go
  internal/web3ext/web3ext.go
  miner/worker.go
Owners: @karalabe, @holiman

Fixed comments and uintint256 issue
  signer/core/signed_data.go
Owners: @karalabe, @holiman

Implemented latest recommendations
  cmd/clef/README.md
  signer/core/api.go
  signer/core/signed_data.go
  signer/core/signed_data_test.go
Owners: @karalabe, @holiman

clef, signer: address some review concerns
  cmd/clef/README.md
  cmd/clef/extapi_changelog.md
  signer/core/api.go
  signer/core/signed_data.go
  signer/core/signed_data_test.go
Owners: @karalabe, @holiman

Fix typo - closes #18965
  README.md
Owners: none

cmd/swarm: add sliding window tests (v1)
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_speed.go
  cmd/swarm/swarm-smoke/util.go
Owners: none

cmd/swarm/swarm-smoke: sliding window test v2
  cmd/swarm/swarm-smoke/sliding_window.go
Owners: none

cmd/swarm/swarm-smoke: remove unused var
  cmd/swarm/swarm-smoke/main.go
Owners: none

cmd/swarm: fix filesize of uploaded file
  cmd/swarm/swarm-smoke/sliding_window.go
Owners: none

cmd/swarm/swarm-smoke: address more pr comments
  cmd/swarm/swarm-smoke/util.go
Owners: none

cmd/swarm/swarm-smoke: address PR comments
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_speed.go
  cmd/swarm/swarm-smoke/util.go
Owners: none

cmd/swarm/swarm-smoke: more refinements
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/swarm/swarm-smoke/util.go
Owners: none

cmd/swarm/swarm-smoke: remove unused store size cli flag
  cmd/swarm/swarm-smoke/main.go
Owners: none

cmd/swarm/swarm-smoke: fix error handling
  cmd/swarm/swarm-smoke/sliding_window.go
Owners: none

cmd/swarm/swarm-smoke: dont fail hard on timeout for sliding window
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/swarm/swarm-smoke/util.go
Owners: none

Tomochain: adding debug log
  core/state_transition.go
Owners: @karalabe, @holiman

Force trie.Database.Commit() to write everything out in a single batch
  trie/database.go
Owners: none

cmd,eth: 16400 Add an option to stop geth once in sync. WIP for light mode (#17321)
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  eth/downloader/downloader.go
  eth/downloader/events.go
Owners: @karalabe

cmd/swarm/swarm-smoke: sliding window test (#18967)
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_speed.go
  cmd/swarm/swarm-smoke/util.go
Owners: none

swarm/network: Remove extra random peer, connect test sanity, comments (#18964)
  swarm/network/hive_test.go
Owners: none

node/api: fixed rate formatter
  node/api.go
Owners: none

core: log chain reorg/split metrics
  core/blockchain.go
Owners: @karalabe, @holiman

cmd/swarm/swarm-smoke: remove wrong metrics
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_speed.go
  cmd/swarm/swarm-smoke/util.go
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @zelig @nonsense @janos @justelad
p2p/protocols                   @zelig @nonsense @janos @justelad
p2p/testing                     @zelig @nonsense @janos @justelad
whisper/                        @gballet @gluk256
