Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @holiman, @zsfelfoldi, @fjl, @lmars, @zelig, @justelad, @jmozah, @holisticode, @nonsense, @nolash, @janos, @nagydani, @jpeletier, @gballet, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @lmars
p2p/protocols                   @zelig
swarm/api/http                  @justelad
swarm/bmt                       @zelig
swarm/dev                       @lmars
swarm/fuse                      @jmozah @holisticode
swarm/grafana_dashboards        @nonsense
swarm/metrics                   @nonsense @holisticode
swarm/multihash                 @nolash
swarm/network/bitvector         @zelig @janos 
swarm/network/priorityqueue     @zelig @janos 
swarm/network/simulations       @zelig @janos
swarm/network/stream            @janos @zelig @holisticode @justelad
swarm/network/stream/intervals  @janos
swarm/network/stream/testing    @zelig
swarm/pot                       @zelig
swarm/pss                       @nolash @zelig @nonsense
swarm/services                  @zelig
swarm/state                     @justelad
swarm/storage/encryption        @zelig @nagydani
swarm/storage/mock              @janos
swarm/storage/feed              @nolash @jpeletier
swarm/testutil                  @lmars
whisper/                        @gballet @gluk256

swarm/network: Correct ambiguity in compared addresses
  swarm/network/networkid_test.go
Owners: none

added opentracing span injection and extraction over the wire for http requests from swarm-smoke
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  swarm/api/http/middleware.go
Owners: @justelad

swarm/storage/localhost: add DB.gcSize
  swarm/storage/localstore/localstore.go
  swarm/storage/localstore/mode.go
  swarm/storage/localstore/mode_test.go
Owners: none

core, internal, eth, miner, les: Take VM config from BlockChain (#17955)
  core/blockchain.go
  eth/api_backend.go
  internal/ethapi/api.go
  internal/ethapi/backend.go
  les/api_backend.go
  miner/worker.go
Owners: @karalabe, @holiman, @zsfelfoldi

eth: fixed incorrect storage from prestate_tracer
  eth/tracers/internal/tracers/prestate_tracer.js
Owners: @karalabe

cleanup and address PR comments
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

add sync-delay and single configurations to swarm smoke tests
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

add missing rand seed
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

p2p/protocols: fix file is not gofmted
  p2p/protocols/accounting_api.go
Owners: @zelig

fix lint error
  swarm/swarm.go
Owners: none

Add rollback flag command for rollback chain at block hash.
  cmd/XDC/config.go
  cmd/XDC/main.go
  cmd/utils/flags.go
  common/constants.go
  contracts/test.go
  contracts/validator/validator_test.go
  contracts/validatorReader.go
  dashboard/assets.go
Owners: none

Won't grasp txs at checkpoint
  cmd/XDC/config.go
  cmd/XDC/main.go
  cmd/utils/flags.go
  common/constants.go
  contracts/test.go
  contracts/validator/validator_test.go
  contracts/validatorReader.go
  dashboard/assets.go
  miner/worker.go
Owners: none

refactoring code
  miner/worker.go
Owners: none

Using gas from flag
  cmd/XDC/config.go
  common/constants.go
Owners: none

adding debug log
  core/state_transition.go
Owners: @karalabe, @holiman

correct peer on stats
  ethstats/ethstats.go
Owners: none

Change default gasPrice to 0.25 Gwei
  docker/XDCchain/entrypoint.sh
Owners: none

swarm: snapshot load improvement (#18220)
  p2p/simulations/network.go
  swarm/network/hive.go
  swarm/network/simulation/kademlia_test.go
Owners: @lmars

replaced upload from swarm binary by upload from swarm client
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

swarm/storage/localstore: update comments
  swarm/storage/localstore/localstore.go
Owners: none

update smart contract after audit, change to solc 0.4.21
  contracts/blocksigner/contract/blocksigner.go
  contracts/multisigwallet/contract/multisigwallet.go
  contracts/randomize/contract/randomize.go
  contracts/validator/contract/TomoValidator.sol
  contracts/validator/contract/validator.go
Owners: none

moved http client tracer to api/client. added tracing on uploads
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  swarm/api/client/client.go
Owners: none

cmd/swarm/swarm-smoke: metrics for each run (#1049)
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

swarm/storage/localstore: add BenchmarkNew
  swarm/storage/localstore/localstore.go
  swarm/storage/localstore/localstore_test.go
Owners: none

node: warn when using deprecated config/resource files (#18199)
  node/config.go
Owners: none

tests: activate ewasm for tests
  tests/init.go
Owners: none

swarm/storage/localstore: add retrieval tests benchmarks
  swarm/storage/localstore/localstore_test.go
  swarm/storage/localstore/retrieval_index_test.go
Owners: none

eth/tracers: updated assets.go
  eth/tracers/internal/tracers/assets.go
Owners: @karalabe

Swarm http api, shed, pss: fixed ineff got, err assigns in unit tests.
  swarm/api/http/response_test.go
  swarm/shed/index_test.go
Owners: @justelad

Swarm, pss: fixed err ineffs in pss_test.go.
  swarm/pss/pss_test.go
Owners: @nolash, @zelig, @nonsense
