Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @zelig, @nonsense, @janos, @justelad, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @zelig @nonsense @janos @justelad
p2p/protocols                   @zelig @nonsense @janos @justelad
p2p/testing                     @zelig @nonsense @janos @justelad
whisper/                        @gballet @gluk256

trie: prefer nil slices over zero-length slices
  trie/database.go
  trie/proof.go
  trie/sync.go
  trie/sync_test.go
Owners: none

swarm/storage: fix loop bound for database cleanup
  swarm/storage/ldbstore.go
Owners: none

swarm/network: extract no light node local variable to constant
  swarm/network/protocol_test.go
Owners: none

vendor: pull in upstream syscall fixes for non-linux/arm64
  vendor/golang.org/x/sys/cpu/cpu_linux_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_other_arm64.go
  vendor/vendor.json
Owners: none

console: prefer nil slices over zero-length slices (#19076)
  console/console.go
Owners: none

cmd: prefer nil slices over zero-length slices (#19077)
  cmd/abigen/main.go
  cmd/geth/monitorcmd.go
  cmd/geth/usage.go
  cmd/swarm/access.go
  cmd/swarm/access_test.go
  cmd/swarm/fs.go
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/utils/flags.go
Owners: none

whisper: remove redundant type specifiers
  whisper/whisperv5/peer_test.go
Owners: @gballet, @gluk256

metrics: remove redundant type specifiers
  metrics/metrics.go
  metrics/opentsdb.go
Owners: none

les: remove redundant type specifiers
  les/fetcher_test.go
  les/peer_test.go
Owners: @zsfelfoldi

internal/ethapi: remove redundant type specifiers
  internal/ethapi/api.go
Owners: none

crypto/ecies: remove redundant type specifiers
  crypto/ecies/ecies.go
Owners: none

accounts/abi/bind/backends: remove redundant type specifiers
  accounts/abi/bind/backends/simulated.go
Owners: @gballet

crypto/ecies: remove unused function
  crypto/ecies/ecies_test.go
Owners: none

core: remove unused function
  core/blockchain_test.go
Owners: @karalabe, @holiman

p2p/*: remove unused functions
  p2p/discover/table_util_test.go
  p2p/enode/nodedb.go
Owners: @fjl, @zsfelfoldi

signer/core: remove unused function
  signer/core/validation_test.go
Owners: @karalabe, @holiman

swarm/storage: fix influxdb gc metrics report
  swarm/storage/ldbstore.go
Owners: none

swarm/storage: fix influxdb gc metrics report (#19102)
  swarm/storage/ldbstore.go
Owners: none

core/snailchain.go: continue to iteration if ErrPrunedAncestor
  core/blockchain.go
Owners: @karalabe, @holiman

swarm/pss: moved whisper to keystore
  swarm/pss/keystore.go
  swarm/pss/pss.go
Owners: none

swarm/pss: goimports fixed
  swarm/pss/keystore.go
Owners: none

swarm/storage/mock/explorer: initial implementation
  swarm/storage/mock/explorer/explorer.go
Owners: none

swarm/network: Replace remote ip in handshake uaddr
  swarm/network/protocol.go
Owners: none

swarm/network: Logline to see handshake addr
  swarm/network/protocol.go
Owners: none

swarm/network: Add test for enode uaddr rewrite method
  swarm/network/protocol.go
  swarm/network/protocol_test.go
Owners: none

p2p/simulations: fix deadlock in Network.GetRandomDownNode()
  p2p/simulations/network.go
Owners: @zelig, @nonsense, @janos, @justelad

p2p/simulations: ensure method conformity for Network
  p2p/simulations/connect.go
  p2p/simulations/network.go
Owners: @zelig, @nonsense, @janos, @justelad

p2p/simulations: fix deadlock during network shutdown
  p2p/simulations/network.go
Owners: @zelig, @nonsense, @janos, @justelad

swarm/state: simplify if statement in DBStore.Put()
  swarm/state/dbstore.go
Owners: none

p2p/simulations: remove faulty godoc from private function
  p2p/simulations/connect.go
Owners: @zelig, @nonsense, @janos, @justelad

cmd/swarm/global-store: add chunk explorer
  cmd/swarm/global-store/explorer.go
  cmd/swarm/global-store/global_store.go
  cmd/swarm/global-store/main.go
Owners: none

cmd/swarm/global-store: add chunk explorer tests
  cmd/swarm/global-store/explorer_test.go
  cmd/swarm/global-store/global_store_test.go
Owners: none

les: remove redundant parentheses
  les/handler.go
Owners: @zsfelfoldi

cmd/swarm/swarm-smoke: addressed PR comments
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

trie: fix error in node decoding
  trie/encoding.go
  trie/trie_test.go
Owners: none

trie: fix error in node decoding (#19111)
  trie/encoding.go
  trie/trie_test.go
Owners: none

swarm/pss: refactoring (#19110)
  swarm/pss/keystore.go
  swarm/pss/protocol.go
  swarm/pss/pss.go
Owners: none

swarm/network: Remove redundance pointer return from sanitize
  swarm/network/protocol.go
  swarm/network/protocol_test.go
Owners: none

blockchain: more tests for sidechain import, fixes #19105
  core/blockchain.go
  core/blockchain_test.go
Owners: @karalabe, @holiman

swarm/network: Obeying the linting machine
  swarm/network/protocol.go
Owners: none
