Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @zelig, @nonsense, @janos, @justelad, @gluk256

cmd/swarm: cleanup
  cmd/swarm/explore.go
  cmd/swarm/swarm-smoke/chunkExplorer.go
Owners: none

cmd/swarm: explore -> hashes command; remove chunk-explorer in swarm-smoke
  cmd/swarm/explore.go
  cmd/swarm/swarm-smoke/chunkExplorer.go
  cmd/swarm/swarm-smoke/main.go
Owners: none

swarm/storage: GetAllReferences test and fixes
  swarm/storage/filestore.go
Owners: none

cmd/geth, node: minor code style fixes
  cmd/geth/chaincmd.go
  node/node_test.go
Owners: none

swarm/storage: bug fix in GetAllReferences
  swarm/storage/filestore.go
Owners: none

swarm/storage: sorted references for GetAllReferences
  swarm/storage/filestore.go
Owners: none

cmd, console, miner, mobile: proper node Close() termination
  cmd/faucet/faucet.go
  cmd/swarm/main.go
  console/console_test.go
  miner/stress_clique.go
  miner/stress_ethash.go
  mobile/geth.go
  node/node_example_test.go
Owners: @karalabe

cmd/swarm: fixes for hashes command; PR comments
  cmd/swarm/explore.go
  cmd/swarm/main.go
  swarm/storage/filestore.go
  swarm/storage/filestore_test.go
Owners: none

cmd/swarm: remove timeout from wrapCli; revert changes to randomBytes to be uploaded
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_speed.go
  cmd/swarm/swarm-smoke/util.go
  swarm/testutil/file.go
Owners: none

swarm/testutil: fix tests with seed
  cmd/swarm/swarm-smoke/util.go
  swarm/testutil/file.go
Owners: none

light: make LightChain receiver names consistent
  light/lightchain.go
Owners: @zsfelfoldi

cm/geth: set dropFn for copydb, fixes #18525
  cmd/geth/chaincmd.go
Owners: none

Add RawDump to StateDB interface
  core/vm/interface.go
Owners: @karalabe, @holiman

Force stateObject to update storage trie deterministically
  core/state/state_object.go
Owners: @karalabe, @holiman

Make trie.Database.Commit() write out preimages in deterministic order
  trie/database.go
Owners: none

Implement NormalizeLaxDERSignature in secp256k1 package
  crypto/secp256k1/libsecp256k1/contrib/lax_der_parsing.c
  crypto/secp256k1/libsecp256k1/contrib/lax_der_parsing.h
  crypto/secp256k1/secp256.go
Owners: none

core/state: more memory efficient preimage allocation (#16663)
  core/state/statedb.go
  core/state/statedb_test.go
Owners: @karalabe, @holiman

cmd, node, p2p/simulations: fix node account manager leak (#19004)
  cmd/faucet/faucet.go
  cmd/geth/chaincmd.go
  cmd/geth/consolecmd.go
  cmd/geth/main.go
  cmd/swarm/main.go
  console/console_test.go
  miner/stress_clique.go
  miner/stress_ethash.go
  mobile/geth.go
  node/config_test.go
  node/node.go
  node/node_example_test.go
  node/node_test.go
  node/service_test.go
  p2p/simulations/adapters/inproc.go
  p2p/simulations/network.go
Owners: @karalabe, @zelig, @nonsense, @janos, @justelad

mobile: add ability to create transactions for deploying contracts
  mobile/types.go
Owners: @karalabe

mobile: add ability to create transactions for deploying contracts (#16104)
  mobile/types.go
Owners: @karalabe

light: make transaction pool receiver names consistent (#19000)
  light/txpool.go
Owners: @zsfelfoldi

light: make chain receiver names consistent (#18997)
  light/lightchain.go
Owners: @zsfelfoldi

ethapi: default to use eip-155 protected transactions
  internal/ethapi/api.go
Owners: none

contracts/*: golint updates for this or self warning
  contracts/chequebook/api.go
  contracts/chequebook/cheque.go
  contracts/chequebook/contract/chequebook.go
  contracts/ens/contract/ens.go
  contracts/ens/ens.go
  swarm/swarm.go
Owners: none

contracts/chequebook: polishes and naked return removals
  contracts/chequebook/cheque.go
Owners: none

cmd/swarm/swarm-smoke: rename funcs to prefixCmd
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_speed.go
Owners: none

clef: enable chainid flag
  cmd/clef/main.go
Owners: none

swarm/storage: delete unused function parameters in tests
  swarm/storage/common_test.go
  swarm/storage/ldbstore_test.go
  swarm/storage/memstore_test.go
Owners: none

cmd/utils, eth: relinquish GC cache to read cache in archive mode
  cmd/utils/flags.go
  common/size.go
  common/size_test.go
  core/blockchain.go
  core/blockchain_insert.go
  eth/backend.go
  ethdb/database.go
Owners: @karalabe, @holiman

swarm/storage: increase mput timeout for TestCleanIndex
  swarm/storage/common_test.go
Owners: none

swarm/network: increase timeout for TestNetworkID
  swarm/network/networkid_test.go
Owners: none

swarm/network: decrease nodeCount for TestOverlaySim
  swarm/network/simulations/overlay_test.go
Owners: none

cmd/swarm: hashes command (#19008)
  cmd/swarm/explore.go
  cmd/swarm/main.go
  swarm/storage/filestore.go
  swarm/storage/filestore_test.go
Owners: none

swarm/network: Make trace persist across priorityqueue
  swarm/network/stream/delivery.go
  swarm/network/stream/messages.go
  swarm/network/stream/peer.go
  swarm/network/stream/stream.go
Owners: none

Fix json rpc link
  _data/sidebar.yml
Owners: none

Remove google analytics
  _config.yml
  _includes/head.html
Owners: none

swarm/network: increase context timeout for TestFileRetrieval
  swarm/network/stream/snapshot_retrieval_test.go
Owners: none

cmd/swarm/swarm-smoke: refactor generateEndpoints (#19006)
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_speed.go
  cmd/swarm/swarm-smoke/util.go
Owners: none

swarm/storage/mock: implement listings methods for mem and rpc stores
  swarm/storage/mock/db/db.go
  swarm/storage/mock/mem/mem.go
  swarm/storage/mock/mem/mem_test.go
  swarm/storage/mock/mock.go
  swarm/storage/mock/rpc/rpc.go
  swarm/storage/mock/rpc/rpc_test.go
  swarm/storage/mock/test/test.go
Owners: none

cmd/swarm/global-store: global store cmd (#19014)
  cmd/swarm/config.go
  cmd/swarm/flags.go
  cmd/swarm/global-store/global_store.go
  cmd/swarm/global-store/global_store_test.go
  cmd/swarm/global-store/main.go
  cmd/swarm/global-store/run_test.go
  cmd/swarm/main.go
  swarm/api/config.go
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @zelig @nonsense @janos @justelad
p2p/protocols                   @zelig @nonsense @janos @justelad
p2p/testing                     @zelig @nonsense @janos @justelad
whisper/                        @gballet @gluk256
