Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @zelig, @nonsense, @janos, @justelad, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @zelig @nonsense @janos @justelad
p2p/protocols                   @zelig @nonsense @janos @justelad
p2p/testing                     @zelig @nonsense @janos @justelad
whisper/                        @gballet @gluk256

core: fix error in block iterator
  core/blockchain.go
  core/blockchain_insert.go
Owners: @karalabe, @holiman

common/compiler: fixed testSource (#18978)
  common/compiler/solidity_test.go
Owners: none

trie/database: add a missing unlock
  trie/database.go
Owners: none

swarm/storage: GetAllReferences returns all chunk references
  swarm/storage/filestore.go
Owners: none

swarm/storage: GetAllReferences test and fixes
  swarm/storage/filestore.go
  swarm/storage/filestore_test.go
Owners: none

swarm/storage: HasChunk -> Has and implementation with no access count change
  swarm/storage/common_test.go
  swarm/storage/ldbstore.go
  swarm/storage/localstore.go
  swarm/storage/localstore_test.go
  swarm/storage/memstore.go
  swarm/storage/netstore.go
  swarm/storage/types.go
Owners: none

swarm/storage: with toEncrypt flag
  swarm/storage/filestore.go
  swarm/storage/filestore_test.go
Owners: none

cmd/utils: max out the OS file allowance, don't cap to 2K
  cmd/utils/fdlimit_test.go
  cmd/utils/fdlimit_unix.go
  cmd/utils/fdlimit_windows.go
  cmd/utils/flags.go
  common/fdlimit/fdlimit_freebsd.go
  common/fdlimit/fdlimit_test.go
  common/fdlimit/fdlimit_unix.go
  common/fdlimit/fdlimit_windows.go
Owners: none

swarm/network, swarm/storage: Make context fetcher-wide
  swarm/network/fetcher.go
  swarm/network/fetcher_test.go
  swarm/storage/feed/testutil.go
  swarm/storage/netstore.go
  swarm/storage/netstore_test.go
Owners: none

rpc: respond to invalid JSON
  rpc/client.go
  rpc/errors.go
  rpc/testdata/invalid-syntax.json
Owners: none

rpc: log remote address only if available
  rpc/client.go
  rpc/handler.go
  rpc/ipc.go
  rpc/json.go
Owners: none

rpc: implement full bi-directional communication
  rpc/client.go
  rpc/client_test.go
  rpc/doc.go
  rpc/errors.go
  rpc/handler.go
  rpc/http.go
  rpc/inproc.go
  rpc/ipc.go
  rpc/json.go
  rpc/json_test.go
  rpc/server.go
  rpc/server_test.go
  rpc/service.go
  rpc/stdio.go
  rpc/subscription.go
  rpc/subscription_test.go
  rpc/testdata/invalid-badid.js
  rpc/testdata/invalid-batch.js
  rpc/testdata/invalid-idonly.js
  rpc/testdata/invalid-nonobj.js
  rpc/testdata/reqresp-batch.js
  rpc/testdata/reqresp-echo.js
  rpc/testdata/reqresp-namedparam.js
  rpc/testdata/reqresp-noargsrets.js
  rpc/testdata/reqresp-nomethod.js
  rpc/testdata/reqresp-noparam.js
  rpc/testdata/reqresp-paramsnull.js
  rpc/testdata/revcall.js
  rpc/testdata/revcall2.js
  rpc/testdata/subscription.js
  rpc/testservice_test.go
  rpc/types.go
  rpc/utils.go
  rpc/utils_test.go
  rpc/websocket.go
Owners: none

rpc: fix crash if websocket conn has no origin
  rpc/json.go
  rpc/websocket.go
Owners: none

rpc: fix two concurrency issues in client
  rpc/client.go
  rpc/server_test.go
Owners: none

trie: add missing unlock call in error case (#18985)
  trie/database.go
Owners: none

core: fix error in block iterator (#18986)
  core/blockchain.go
  core/blockchain_insert.go
Owners: @karalabe, @holiman

rpc: implement full bi-directional communication (#18471)
  rpc/client.go
  rpc/client_test.go
  rpc/doc.go
  rpc/errors.go
  rpc/handler.go
  rpc/http.go
  rpc/inproc.go
  rpc/ipc.go
  rpc/json.go
  rpc/json_test.go
  rpc/server.go
  rpc/server_test.go
  rpc/service.go
  rpc/stdio.go
  rpc/subscription.go
  rpc/subscription_test.go
  rpc/testdata/invalid-badid.js
  rpc/testdata/invalid-batch.js
  rpc/testdata/invalid-idonly.js
  rpc/testdata/invalid-nonobj.js
  rpc/testdata/invalid-syntax.json
  rpc/testdata/reqresp-batch.js
  rpc/testdata/reqresp-echo.js
  rpc/testdata/reqresp-namedparam.js
  rpc/testdata/reqresp-noargsrets.js
  rpc/testdata/reqresp-nomethod.js
  rpc/testdata/reqresp-noparam.js
  rpc/testdata/reqresp-paramsnull.js
  rpc/testdata/revcall.js
  rpc/testdata/revcall2.js
  rpc/testdata/subscription.js
  rpc/testservice_test.go
  rpc/types.go
  rpc/utils.go
  rpc/utils_test.go
  rpc/websocket.go
Owners: none

cmd, core, params: add support for Goerli
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  core/genesis.go
  core/genesis_alloc.go
  params/bootnodes.go
  params/config.go
Owners: @karalabe, @holiman

core/vm: unshadow err to make it visible in tracers(#18504)
  core/vm/interpreter.go
Owners: @karalabe, @holiman

README: fix some grammar mistakes (#18981)
  README.md
Owners: none

swarm/storage: fix tracing
  swarm/network/fetcher.go
  swarm/network/stream/delivery.go
  swarm/storage/netstore.go
Owners: none

swarm/storage/localstore: remove global lock option
  swarm/storage/localstore/gc.go
  swarm/storage/localstore/localstore.go
  swarm/storage/localstore/mode_get.go
  swarm/storage/localstore/mode_put.go
  swarm/storage/localstore/mode_put_test.go
  swarm/storage/localstore/mode_set.go
Owners: none

swarm/storage: sorted references for GetAllReferences
  swarm/storage/filestore.go
Owners: none

cmd/swarm/swarm-smoke: refactor endpoints, remove endpoints generation
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_speed.go
  cmd/swarm/swarm-smoke/util.go
Owners: none

swarm/api: renamed testapi to inspector; Inspector.Has for multiple addrs
  cmd/swarm/config.go
  cmd/swarm/flags.go
  cmd/swarm/main.go
  swarm/api/config.go
  swarm/api/inspector.go
  swarm/api/testapi.go
  swarm/swarm.go
Owners: none

swarm/storage: bug fix in GetAllReferences
  swarm/storage/filestore.go
Owners: none

accounts: remove CliqueHash and avoid dependency on package crypto
  accounts/accounts.go
  accounts/accounts_test.go
Owners: none

consensus/clique: unduplicate header encoding
  consensus/clique/clique.go
Owners: @karalabe

swarm updated
  swarm/api/http/error.go
  swarm/api/http/error_templates.go
  swarm/api/http/server_test.go
  swarm/api/http/templates.go
Owners: none

rawdb: return database version as uint64 value instead of pointer
  core/rawdb/accessors_metadata.go
  core/rawdb/accessors_metadata_test.go
  eth/backend.go
Owners: @karalabe, @holiman

vendor: update github.com/peterh/liner
  vendor/github.com/peterh/liner/fallbackinput.go
  vendor/github.com/peterh/liner/go.mod
  vendor/github.com/peterh/liner/go.sum
  vendor/github.com/peterh/liner/input.go
  vendor/github.com/peterh/liner/input_windows.go
  vendor/github.com/peterh/liner/line.go
  vendor/github.com/peterh/liner/output.go
  vendor/github.com/peterh/liner/output_windows.go
  vendor/github.com/peterh/liner/width.go
  vendor/vendor.json
Owners: none

accounts, eth, clique, signer: support for external signer API (#18079)
  accounts/accounts.go
  accounts/accounts_test.go
  accounts/external/backend.go
  accounts/keystore/wallet.go
  accounts/usbwallet/wallet.go
  cmd/clef/main.go
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  consensus/clique/clique.go
  consensus/clique/snapshot_test.go
  eth/backend.go
  internal/ethapi/api.go
  node/config.go
  signer/core/api.go
  signer/core/api_test.go
  signer/core/auditlog.go
Owners: @karalabe, @holiman

vendor: update github.com/peterh/liner (#18990)
  vendor/github.com/peterh/liner/fallbackinput.go
  vendor/github.com/peterh/liner/go.mod
  vendor/github.com/peterh/liner/go.sum
  vendor/github.com/peterh/liner/input.go
  vendor/github.com/peterh/liner/input_windows.go
  vendor/github.com/peterh/liner/line.go
  vendor/github.com/peterh/liner/output.go
  vendor/github.com/peterh/liner/output_windows.go
  vendor/github.com/peterh/liner/width.go
  vendor/vendor.json
Owners: none

swarm/pss: Remove pss service leak in test
  swarm/pss/pss_test.go
Owners: none

swarm/pss: Add service stop to all manual pss instances
  swarm/pss/forwarding_test.go
  swarm/pss/pss_test.go
Owners: none

accounts, signer: fix mimetypes, add interface to sign data with passphrase
  accounts/accounts.go
  accounts/external/backend.go
  accounts/keystore/wallet.go
  accounts/usbwallet/wallet.go
  consensus/clique/clique.go
  signer/core/api.go
  signer/core/signed_data.go
Owners: @karalabe, @holiman

swarm/storage: fix test timeout with -race by increasing mget timeout
  swarm/storage/common_test.go
Owners: none

network/simulations: remove log from test printing all hashes
  swarm/network/simulations/discovery/discovery_test.go
Owners: none

swarm/storage/localstore: add description for gc size counting
  swarm/storage/localstore/gc.go
Owners: none

signer, accounts: remove duplicated code, pass hash preimages to signing
  accounts/accounts.go
  signer/core/api.go
  signer/core/signed_data.go
Owners: @karalabe, @holiman
