Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gballet, @MariusVanDerWijden, @lightclient, @fjl, @zsfelfoldi, @holiman, @rjl493456442, @jwasinger, @s1na, @karalabe

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet/             @gballet
accounts/scwallet/              @gballet
accounts/abi/                   @gballet @MariusVanDerWijden
beacon/engine/                  @MariusVanDerWijden @lightclient @fjl
beacon/light/                   @zsfelfoldi
beacon/merkle/                  @zsfelfoldi 
beacon/types/                   @zsfelfoldi @fjl
beacon/params/                  @zsfelfoldi @fjl
cmd/clef/                       @holiman
cmd/evm/                        @holiman @MariusVanDerWijden @lightclient
core/state/                     @rjl493456442 @holiman
crypto/                         @gballet @jwasinger @holiman @fjl
core/                           @holiman @rjl493456442
eth/                            @holiman @rjl493456442
eth/catalyst/                   @MariusVanDerWijden @lightclient @fjl @jwasinger
eth/tracers/                    @s1na
ethclient/                      @fjl
ethdb/                          @rjl493456442
event/                          @fjl
trie/                           @rjl493456442
triedb/                         @rjl493456442
core/tracing/                   @s1na
graphql/                        @s1na
internal/ethapi/                @fjl @s1na @lightclient
internal/era/                   @lightclient
metrics/                        @holiman
miner/                          @MariusVanDerWijden @holiman @fjl @rjl493456442
node/                           @fjl
p2p/                            @fjl @zsfelfoldi
rlp/                            @fjl
params/                         @fjl @holiman @karalabe @gballet @rjl493456442 @zsfelfoldi
rpc/                            @fjl @holiman
signer/                         @holiman

merge from master
  params/version.go
Owners: @fjl, @holiman, @karalabe, @gballet, @rjl493456442, @zsfelfoldi

cherry pick vote test fix
  consensus/XDPoS/engines/engine_v2/vote.go
  consensus/XDPoS/utils/errors.go
  consensus/tests/engine_v2_tests/vote_test.go
  eth/bft/bft_handler.go
  eth/handler.go
  eth/hooks/engine_v2_hooks.go
Owners: @holiman, @rjl493456442

refactor: unify the error handling methods in the crypto package that are different from the project style
  cmd/clef/main.go
Owners: @holiman

cmd, core, miner: rework genesis setup
  cmd/geth/chaincmd.go
  cmd/utils/flags.go
  core/blockchain.go
  core/genesis.go
  core/genesis_test.go
  miner/miner_test.go
  params/config.go
Owners: @holiman, @rjl493456442, @MariusVanDerWijden, @fjl, @karalabe, @gballet, @zsfelfoldi

p2p: DNS resolution for static nodes (#30822)
  p2p/dial.go
  p2p/dial_test.go
  p2p/enode/node.go
  p2p/enode/node_test.go
  p2p/enode/urlv4.go
  p2p/enode/urlv4_test.go
  p2p/peer_test.go
Owners: @fjl, @zsfelfoldi

refactor: unify the error handling methods in the crypto package that are different from the project style
  cmd/clef/main.go
Owners: @holiman

internal/ethapi: rename authlist to authorizationList in transaction args
  internal/ethapi/transaction_args.go
Owners: @fjl, @s1na, @lightclient

docs(cmd): update command line options with the latest geth
  docs/fundamentals/command-line-options.md
Owners: none

docs(config): replace metrics.expensive with metrics
  docs/fundamentals/config-files.md
Owners: none

docs(metrics): no metrics.expensive
  docs/monitoring/metrics.md
Owners: none

Add tests for debug tracing methods
  eth/tracers/api_test.go
Owners: @s1na

formats the code by go fmt
  eth/tracers/api_test.go
Owners: @s1na

core/filtermaps: ensure 8 byte alignment of struct fields
  core/filtermaps/matcher.go
Owners: @holiman, @rjl493456442

core/filtermaps: always use correct absolute log index
  core/filtermaps/indexer.go
Owners: @holiman, @rjl493456442

core/filtermaps: fixed tests and rebase issues
  core/filtermaps/filtermaps.go
  core/filtermaps/indexer_test.go
Owners: @holiman, @rjl493456442

core/filtermaps: add indexer test
  core/filtermaps/filtermaps.go
  core/filtermaps/indexer.go
  core/filtermaps/indexer_test.go
  eth/backend.go
Owners: @holiman, @rjl493456442

core/filtermaps: improved unindexer
  core/filtermaps/indexer.go
Owners: @holiman, @rjl493456442

core/filtermaps: added license text
  core/filtermaps/filtermaps.go
  core/filtermaps/indexer.go
  core/filtermaps/indexer_test.go
  core/filtermaps/matcher.go
  core/filtermaps/matcher_backend.go
  core/filtermaps/math.go
  core/filtermaps/math_test.go
Owners: @holiman, @rjl493456442

core/filtermaps: remove bloombits database
  core/filtermaps/filtermaps.go
  core/filtermaps/indexer.go
  core/rawdb/schema.go
Owners: @holiman, @rjl493456442

core/filtermaps: added more tests
  core/filtermaps/filtermaps.go
  core/filtermaps/indexer.go
  core/filtermaps/indexer_test.go
  core/filtermaps/matcher_test.go
  core/rawdb/schema.go
  eth/filters/filter_system_test.go
Owners: @holiman, @rjl493456442

core/filtermaps: revert to legacy filter in case of "match all" search
  core/filtermaps/matcher.go
  eth/filters/filter.go
Owners: @holiman, @rjl493456442

core/filtermaps: simplified locking scheme
  core/filtermaps/filtermaps.go
  core/filtermaps/indexer.go
  core/filtermaps/indexer_test.go
  core/filtermaps/matcher_backend.go
  core/filtermaps/matcher_test.go
Owners: @holiman, @rjl493456442

core/filtermaps, eth/filters: fixed linter issues
  core/filtermaps/indexer.go
  core/filtermaps/indexer_test.go
  core/filtermaps/matcher.go
  core/filtermaps/matcher_test.go
  core/filtermaps/math_test.go
  eth/filters/filter_system_test.go
  eth/filters/filter_test.go
Owners: @holiman, @rjl493456442

core/filtermaps: use DeleteRange, checkpoint init of log value pointer
  core/filtermaps/filtermaps.go
  core/filtermaps/indexer.go
Owners: @holiman, @rjl493456442

core/filtermaps: added history.logs parameter
  cmd/geth/chaincmd.go
  cmd/geth/main.go
  cmd/utils/flags.go
  core/filtermaps/filtermaps.go
  core/filtermaps/indexer.go
  core/rawdb/schema.go
  eth/backend.go
  eth/ethconfig/config.go
Owners: @holiman, @rjl493456442

core/filtermaps: two dimensional log filter
  core/filtermaps/filtermaps.go
  core/filtermaps/indexer.go
  core/filtermaps/matcher.go
  core/rawdb/accessors_indexes.go
  core/rawdb/schema.go
  eth/api_backend.go
  eth/backend.go
  eth/filters/filter.go
  eth/filters/filter_system.go
  internal/ethapi/backend.go
Owners: @holiman, @rjl493456442, @fjl, @s1na, @lightclient

core/filtermaps: fixed comment
  core/filtermaps/math.go
Owners: @holiman, @rjl493456442

core/bloombits, eth/filters: removed bloombits
  core/blockchain.go
  core/bloom_indexer.go
  core/bloombits/doc.go
  core/bloombits/generator.go
  core/bloombits/generator_test.go
  core/bloombits/matcher.go
  core/bloombits/matcher_test.go
  core/bloombits/scheduler.go
  core/bloombits/scheduler_test.go
  core/chain_indexer.go
  core/chain_indexer_test.go
  core/rawdb/accessors_indexes.go
  core/rawdb/accessors_indexes_test.go
  core/rawdb/database.go
  core/rawdb/schema.go
  eth/api_backend.go
  eth/backend.go
  eth/bloombits.go
  eth/filters/filter.go
  eth/filters/filter_system.go
  eth/filters/filter_system_test.go
  internal/ethapi/api_test.go
  internal/ethapi/backend.go
  internal/ethapi/transaction_args_test.go
  params/network_params.go
Owners: @holiman, @rjl493456442, @fjl, @s1na, @lightclient, @karalabe, @gballet, @zsfelfoldi

core/filtermaps: removed unused function
  core/filtermaps/indexer.go
Owners: @holiman, @rjl493456442

core/filtermaps: use new ChainEvent format
  core/filtermaps/indexer.go
Owners: @holiman, @rjl493456442

core/filtermaps: add filtermaps tests
  core/filtermaps/filtermaps_test.go
Owners: @holiman, @rjl493456442

core/filtermaps: safe concurrent index update and search
  core/filtermaps/filtermaps.go
  core/filtermaps/indexer.go
  core/filtermaps/matcher.go
  core/filtermaps/matcher_backend.go
  eth/api_backend.go
  eth/backend.go
  eth/filters/filter.go
  eth/filters/filter_system.go
  internal/ethapi/backend.go
Owners: @holiman, @rjl493456442, @fjl, @s1na, @lightclient

core/filtermaps: moved math stuff to separate file, added Params
  core/filtermaps/filtermaps.go
  core/filtermaps/indexer.go
  core/filtermaps/matcher.go
  core/filtermaps/matcher_backend.go
  core/filtermaps/math.go
  core/filtermaps/math_test.go
  eth/backend.go
Owners: @holiman, @rjl493456442

core/filtermaps: nice log info during indexing/unindexing
  core/filtermaps/filtermaps.go
  core/filtermaps/indexer.go
  core/filtermaps/matcher_backend.go
Owners: @holiman, @rjl493456442

core/filtermaps: fixed tail pointer bug, added more failing checks
  core/filtermaps/indexer.go
  core/filtermaps/indexer_test.go
Owners: @holiman, @rjl493456442

core/filtermaps: fixed map pruning
  core/filtermaps/indexer.go
  core/filtermaps/indexer_test.go
Owners: @holiman, @rjl493456442

eth/filters: fixed tests, added more
  core/filtermaps/filtermaps.go
  core/filtermaps/indexer.go
  core/filtermaps/indexer_test.go
  core/filtermaps/matcher_backend.go
  core/rawdb/accessors_indexes_test.go
  core/rawdb/database.go
  eth/filters/filter.go
  eth/filters/filter_system_test.go
  eth/filters/filter_test.go
  internal/ethapi/api_test.go
  internal/ethapi/transaction_args_test.go
Owners: @holiman, @rjl493456442, @fjl, @s1na, @lightclient

core/filtermaps: use unindexed search as a fallback
  core/filtermaps/indexer.go
  core/filtermaps/matcher.go
  core/filtermaps/matcher_backend.go
  eth/filters/filter.go
  eth/filters/filter_system_test.go
Owners: @holiman, @rjl493456442

core/filtermaps: improved log messages
  core/filtermaps/filtermaps.go
  core/filtermaps/indexer.go
  eth/filters/filter.go
Owners: @holiman, @rjl493456442

core/filtermaps: trigger undindexing after 1000 blocks
  core/filtermaps/filtermaps.go
  core/filtermaps/indexer.go
  core/filtermaps/indexer_test.go
  eth/backend.go
  eth/filters/filter_system_test.go
Owners: @holiman, @rjl493456442
