Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gballet, @MariusVanDerWijden, @lightclient, @fjl, @zsfelfoldi, @holiman, @rjl493456442, @jwasinger, @s1na, @karalabe

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet/             @gballet
accounts/scwallet/              @gballet
accounts/abi/                   @gballet @MariusVanDerWijden
beacon/engine/                  @MariusVanDerWijden @lightclient @fjl
beacon/light/                   @zsfelfoldi
beacon/merkle/                  @zsfelfoldi 
beacon/types/                   @zsfelfoldi @fjl
beacon/params/                  @zsfelfoldi @fjl
cmd/clef/                       @holiman
cmd/evm/                        @holiman @MariusVanDerWijden @lightclient
core/state/                     @rjl493456442 @holiman
crypto/                         @gballet @jwasinger @holiman @fjl
core/                           @holiman @rjl493456442
eth/                            @holiman @rjl493456442
eth/catalyst/                   @MariusVanDerWijden @lightclient @fjl @jwasinger
eth/tracers/                    @s1na
ethclient/                      @fjl
ethdb/                          @rjl493456442
event/                          @fjl
trie/                           @rjl493456442
triedb/                         @rjl493456442
core/tracing/                   @s1na
graphql/                        @s1na
internal/ethapi/                @fjl @s1na @lightclient
internal/era/                   @lightclient
metrics/                        @holiman
miner/                          @MariusVanDerWijden @holiman @fjl @rjl493456442
node/                           @fjl
p2p/                            @fjl @zsfelfoldi
rlp/                            @fjl
params/                         @fjl @holiman @karalabe @gballet @rjl493456442 @zsfelfoldi
rpc/                            @fjl @holiman
signer/                         @holiman

triedb/pathdb: implement flat state iterator in pathdb
  triedb/pathdb/database.go
  triedb/pathdb/holdable_iterator.go
  triedb/pathdb/holdable_iterator_test.go
  triedb/pathdb/iterator.go
  triedb/pathdb/iterator_binary.go
  triedb/pathdb/iterator_fast.go
  triedb/pathdb/iterator_test.go
  triedb/pathdb/reader.go
  triedb/pathdb/states.go
  triedb/pathdb/states_test.go
Owners: @rjl493456442

feat: make stun server private
  cmd/utils/flags.go
  p2p/nat/nat.go
  p2p/nat/nat_stun.go
  p2p/nat/nat_test.go
Owners: @fjl, @zsfelfoldi

core/vm: report gas used warming 7702 delegation targets correctly in tracer
  core/vm/operations_acl.go
  core/vm/runtime/runtime_test.go
Owners: @holiman, @rjl493456442

fmt: run make fmt
  core/txpool/blobpool/blobpool.go
  core/txpool/legacypool/legacypool.go
  internal/ethapi/api_test.go
  triedb/pathdb/states_test.go
Owners: @holiman, @rjl493456442, @fjl, @s1na, @lightclient

rewrite contract link/deploy again
  accounts/abi/bind/v2/contract_linking_test.go
  accounts/abi/bind/v2/lib.go
  accounts/abi/bind/v2/lib_test.go
Owners: @gballet, @MariusVanDerWijden

revert table modification
  p2p/discover/lookup.go
  p2p/discover/node.go
  p2p/discover/table.go
  p2p/discover/table_reval.go
  p2p/discover/table_reval_test.go
  p2p/discover/table_test.go
  p2p/discover/table_util_test.go
  p2p/discover/v4_lookup_test.go
  p2p/discover/v4_udp.go
  p2p/discover/v4_udp_test.go
  p2p/discover/v5_udp.go
  p2p/discover/v5_udp_test.go
Owners: @fjl, @zsfelfoldi

add waitinit
  p2p/discover/table.go
  p2p/discover/v5_udp.go
Owners: @fjl, @zsfelfoldi

fix linking tests
  accounts/abi/bind/v2/contract_linking_test.go
  accounts/abi/bind/v2/lib.go
Owners: @gballet, @MariusVanDerWijden

chg: update version
  packaging/templates/package_scripts/control
  packaging/templates/package_scripts/control.arm64
  packaging/templates/package_scripts/control.profile.amd64
  packaging/templates/package_scripts/control.profile.arm64
  packaging/templates/package_scripts/control.validator
  packaging/templates/package_scripts/control.validator.arm64
  params/version.go
Owners: @fjl, @holiman, @karalabe, @gballet, @rjl493456442, @zsfelfoldi

revert some change
  cmd/devp2p/internal/v4test/discv4tests.go
  p2p/discover/v5_udp.go
  p2p/discover/v5_udp_test.go
  p2p/discover/v5wire/encoding.go
Owners: @fjl, @zsfelfoldi

make findnode public
  p2p/discover/v5_udp.go
  p2p/discover/v5_udp_test.go
Owners: @fjl, @zsfelfoldi

p2p: revert decoding changes
  p2p/peer.go
  p2p/peer_test.go
Owners: @fjl, @zsfelfoldi

cmd/evm: consolidate evm output switches (#30849)
  cmd/evm/internal/t8ntool/transition.go
  cmd/evm/main.go
  cmd/evm/runner.go
  cmd/evm/t8n_test.go
  cmd/evm/testdata/evmrun/1.out.1.txt
  cmd/evm/testdata/evmrun/1.out.2.txt
  cmd/evm/testdata/evmrun/2.out.1.txt
  cmd/evm/testdata/evmrun/2.out.2.txt
  cmd/evm/testdata/evmrun/3.out.1.txt
  cmd/evm/testdata/evmrun/3.out.2.txt
  cmd/evm/testdata/evmrun/4.out.1.txt
  cmd/evm/testdata/evmrun/4.out.2.txt
  cmd/evm/testdata/evmrun/5.out.1.txt
  cmd/evm/testdata/evmrun/5.out.2.txt
  cmd/evm/testdata/evmrun/6.out.1.txt
  cmd/evm/testdata/evmrun/6.out.2.txt
  cmd/evm/testdata/evmrun/7.out.1.txt
  cmd/evm/testdata/evmrun/7.out.2.txt
  cmd/evm/testdata/evmrun/8.out.1.txt
  cmd/evm/testdata/evmrun/8.out.2.txt
  cmd/evm/testdata/statetest.json
  eth/tracers/api.go
  eth/tracers/logger/logger.go
  eth/tracers/tracers_test.go
Owners: @holiman, @MariusVanDerWijden, @lightclient, @s1na

p2p: fix disconnection encoding on the writing side + fix decoding during protocol handshake
  p2p/transport.go
Owners: @fjl, @zsfelfoldi

tests working now
  accounts/abi/bind/v2/contract_linking_test.go
  accounts/abi/bind/v2/lib.go
Owners: @gballet, @MariusVanDerWijden

p2p: actually encode as RLP list (will squash)
  p2p/transport.go
Owners: @fjl, @zsfelfoldi

remove debug prints. fix contract linking test condition
  accounts/abi/bind/v2/contract_linking_test.go
  accounts/abi/bind/v2/lib.go
Owners: @gballet, @MariusVanDerWijden

feat: handler ip in the closure
  p2p/nat/nat_stun.go
Owners: @fjl, @zsfelfoldi

add comment
  p2p/enode/node.go
Owners: @fjl, @zsfelfoldi

create test code for trie
  tests/gen_trietest.go
  tests/init_test.go
  tests/trie_test.go
  tests/trie_test_util.go
Owners: none

fix(GPO): make default gas tip configurable (#1096)
  cmd/utils/flags.go
  eth/gasprice/gasprice.go
  eth/gasprice/gasprice_test.go
  params/version.go
Owners: @holiman, @rjl493456442, @fjl, @karalabe, @gballet, @zsfelfoldi

Aligning code format
  core/vm/instructions.go
Owners: @holiman, @rjl493456442

fix changelog
  core/tracing/CHANGELOG.md
Owners: @s1na

cmd/geth: move process metrics startup into utils.SetupMetrics
  cmd/geth/chaincmd.go
  cmd/geth/config.go
  cmd/utils/flags.go
Owners: none

cmd/evm: refactor file-output-handling for evm t8n
  cmd/evm/internal/t8ntool/execution.go
  cmd/evm/internal/t8ntool/file_tracer.go
  cmd/evm/internal/t8ntool/transition.go
Owners: @holiman, @MariusVanDerWijden, @lightclient

cmd/evm/internal/t8ntool: simplify
  cmd/evm/internal/t8ntool/execution.go
  cmd/evm/internal/t8ntool/file_tracer.go
  cmd/evm/internal/t8ntool/transition.go
Owners: @holiman, @MariusVanDerWijden, @lightclient

cmd/evm: refactor t8n
  cmd/evm/internal/t8ntool/file_tracer.go
  cmd/evm/internal/t8ntool/transition.go
  eth/tracers/logger/logger_json.go
Owners: @holiman, @MariusVanDerWijden, @lightclient, @s1na

cmd/evm: better design on outputs
  cmd/evm/internal/t8ntool/file_tracer.go
  cmd/evm/internal/t8ntool/transition.go
  cmd/evm/t8n_test.go
  cmd/evm/testdata/31/README.md
  cmd/evm/testdata/31/trace-0-0x88f5fbd1524731a81e49f637aa847543268a5aaf2a6b32a69d2c6d978c45dcfb.json
  cmd/evm/testdata/31/trace-1-0x03a7b0a91e61a170d64ea94b8263641ef5a8bbdb10ac69f466083a6789c77fb8.json
  cmd/evm/testdata/31/trace-1-0x03a7b0a91e61a170d64ea94b8263641ef5a8bbdb10ac69f466083a6789c77fb8.jsonl
  cmd/evm/testdata/31/trace-2-0xd96e0ce6418ee3360e11d3c7b6886f5a9a08f7ef183da72c23bb3b2374530128.json
  cmd/evm/testdata/31/trace-2-0xd96e0ce6418ee3360e11d3c7b6886f5a9a08f7ef183da72c23bb3b2374530128.jsonl
  cmd/evm/testdata/31/txs.json
  eth/tracers/logger/logger_json.go
Owners: @holiman, @MariusVanDerWijden, @lightclient, @s1na

cmd/evm: make json-output default
  cmd/evm/main.go
Owners: @holiman, @MariusVanDerWijden, @lightclient

don't panic if trie type is unknown, return identity instead
  core/state/database.go
Owners: @holiman, @rjl493456442

core/vm: remove unnecessary comment (#30887)
  core/vm/instructions.go
Owners: @holiman, @rjl493456442

p2p: handle both disconnect encodings
  p2p/peer.go
  p2p/peer_error.go
  p2p/transport.go
  p2p/transport_test.go
Owners: @fjl, @zsfelfoldi

core/state: separate journal-implementation behind interface, implement createaccount
  core/state/journal.go
  core/state/journal_api.go
  core/state/statedb.go
  core/state/statedb_test.go
Owners: @holiman, @rjl493456442

core/state: test to demonstrate flaw in dirty-handling
  core/state/statedb_test.go
Owners: @holiman, @rjl493456442

core/state: make journalling set-based
  cmd/evm/internal/t8ntool/execution.go
  cmd/evm/runner.go
  core/state/journal.go
  core/state/journal_api.go
  core/state/journal_linear.go
  core/state/journal_set.go
  core/state/journal_test.go
  core/state/state_object.go
  core/state/statedb.go
  core/state/statedb_hooked.go
  core/state/statedb_test.go
  core/vm/evm.go
  core/vm/interface.go
  tests/state_test_util.go
Owners: @holiman, @MariusVanDerWijden, @lightclient, @rjl493456442

core/state: simplify journal api, remove externally visible snapshot ids
  cmd/evm/internal/t8ntool/execution.go
  cmd/evm/runner.go
  core/state/journal.go
  core/state/journal_linear.go
  core/state/journal_set.go
  core/state/journal_test.go
  core/state/state_test.go
  core/state/statedb.go
  core/state/statedb_hooked.go
  core/state/statedb_test.go
  core/vm/evm.go
  core/vm/interface.go
  eth/tracers/internal/tracetest/calltrace_test.go
  eth/tracers/tracers_test.go
  miner/worker.go
  tests/state_test.go
  tests/state_test_util.go
Owners: @holiman, @MariusVanDerWijden, @lightclient, @rjl493456442, @s1na, @fjl

core/state: added journal fuzzer
  core/state/journal_test.go
Owners: @holiman, @rjl493456442

core/state: refactor journal-fuzzer
  core/state/journal_test.go
Owners: @holiman, @rjl493456442

core/state: fixes for issues found during fuzzing
  core/state/journal_linear.go
  core/state/journal_set.go
Owners: @holiman, @rjl493456442

cmd/evm: post-rebase fixup
  cmd/evm/runner.go
Owners: @holiman, @MariusVanDerWijden, @lightclient
