Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gballet, @MariusVanDerWijden, @lightclient, @fjl, @zsfelfoldi, @holiman, @rjl493456442, @jwasinger, @s1na, @karalabe

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet/             @gballet
accounts/scwallet/              @gballet
accounts/abi/                   @gballet @MariusVanDerWijden
beacon/engine/                  @MariusVanDerWijden @lightclient @fjl
beacon/light/                   @zsfelfoldi
beacon/merkle/                  @zsfelfoldi 
beacon/types/                   @zsfelfoldi @fjl
beacon/params/                  @zsfelfoldi @fjl
cmd/clef/                       @holiman
cmd/evm/                        @holiman @MariusVanDerWijden @lightclient
core/state/                     @rjl493456442 @holiman
crypto/                         @gballet @jwasinger @holiman @fjl
core/                           @holiman @rjl493456442
eth/                            @holiman @rjl493456442
eth/catalyst/                   @MariusVanDerWijden @lightclient @fjl @jwasinger
eth/tracers/                    @s1na
ethclient/                      @fjl
ethdb/                          @rjl493456442
event/                          @fjl
trie/                           @rjl493456442
triedb/                         @rjl493456442
core/tracing/                   @s1na
graphql/                        @s1na
internal/ethapi/                @fjl @s1na @lightclient
internal/era/                   @lightclient
metrics/                        @holiman
miner/                          @MariusVanDerWijden @holiman @fjl @rjl493456442
node/                           @fjl
p2p/                            @fjl @zsfelfoldi
rlp/                            @fjl
params/                         @fjl @holiman @karalabe @gballet @rjl493456442 @zsfelfoldi
rpc/                            @fjl @holiman
signer/                         @holiman

crypto: gofuzz build directives (#23137)
  crypto/signature_cgo.go
  crypto/signature_nocgo.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto/bn256: better comments for u, P and Order (#21836)
  crypto/bn256/google/constants.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto/bn256: refine comments according to #19577, #21595, and #21836 (#21847)
  crypto/bn256/cloudflare/bn256.go
  crypto/bn256/google/bn256.go
  crypto/bn256/google/constants.go
Owners: @gballet, @jwasinger, @holiman, @fjl

bn256: added consensys/gurvy bn256 implementation (#21812)
  go.mod
  go.sum
  tests/fuzzers/bn256/bn256_fuzz.go
Owners: none

crypto: improve trie updates (#21047)
  crypto/crypto.go
  crypto/crypto_test.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto/blake2b: put architecture-dependent features behind build-tag (#28381)
  crypto/blake2b/blake2b_f_fuzz_test.go
  crypto/blake2b/blake2b_f_test.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto: replace noarg fmt.Errorf with errors.New (#27333)
  crypto/signature_cgo.go
  crypto/signature_nocgo.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto/kzg4844: pull in the C and Go libs for KZG cryptography (#27155)
  cmd/XDC/main.go
  cmd/utils/flags.go
  crypto/kzg4844/kzg4844.go
  crypto/kzg4844/kzg4844_ckzg_cgo.go
  crypto/kzg4844/kzg4844_ckzg_nocgo.go
  crypto/kzg4844/kzg4844_gokzg.go
  crypto/kzg4844/kzg4844_test.go
  crypto/kzg4844/trusted_setup.json
  go.mod
  go.sum
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto/kzg4844: add helpers for versioned blob hashes (#28827)
  crypto/kzg4844/kzg4844.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto: use btcec/v2 for no-cgo (#24533)
  crypto/signature_nocgo.go
  go.mod
  go.sum
  tests/fuzzers/secp256k1/secp_fuzzer.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto/bn256: fix bn256Mul fuzzer to not hang on large input (#21872)
  tests/fuzzers/bn256/bn256_fuzz.go
Owners: none

crypto/kzg4844: upgrade c-kzg-4844 to v0.2.0 (#27257)
  crypto/kzg4844/kzg4844.go
  crypto/kzg4844/kzg4844_ckzg_cgo.go
  go.mod
  go.sum
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto, tests: update fuzzers to native go fuzzing (#28352)
  crypto/blake2b/blake2b_f_fuzz.go
  crypto/blake2b/blake2b_f_test.go
  tests/fuzzers/bitutil/compress_test.go
  tests/fuzzers/bn256/bn256_fuzz.go
  tests/fuzzers/rlp/rlp_fuzzer.go
  tests/fuzzers/rlp/rlp_test.go
  tests/fuzzers/runtime/runtime_test.go
  tests/fuzzers/secp256k1/secp_fuzzer.go
  tests/fuzzers/secp256k1/secp_test.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto: less allocations when hashing and tx handling (#21265)
  crypto/crypto.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto: fix docstring names (#28923)
  crypto/bn256/google/bn256.go
Owners: @gballet, @jwasinger, @holiman, @fjl

reprice g1/g2 add. reprice mapping precompiles
  params/protocol_params.go
Owners: @fjl, @holiman, @karalabe, @gballet, @rjl493456442, @zsfelfoldi

remove useless benchmarks
  core/vm/testdata/precompiles/blsG1MultiExp.json
  core/vm/testdata/precompiles/blsG2MultiExp.json
Owners: @holiman, @rjl493456442

deactivate 32 bit lint
  .github/workflows/go.yml
Owners: none

remove more bench cases
  core/vm/testdata/precompiles/blsG1Add.json
  core/vm/testdata/precompiles/blsG2Add.json
  core/vm/testdata/precompiles/blsG2Mul.json
  core/vm/testdata/precompiles/blsMapG1.json
  core/vm/testdata/precompiles/blsMapG2.json
Owners: @holiman, @rjl493456442

remove some more bench cases
  core/vm/testdata/precompiles/blsG1Mul.json
  core/vm/testdata/precompiles/blsG2Mul.json
  core/vm/testdata/precompiles/blsPairing.json
Owners: @holiman, @rjl493456442

updating pairing prices
  params/protocol_params.go
Owners: @fjl, @holiman, @karalabe, @gballet, @rjl493456442, @zsfelfoldi

make first entry of g1 msm discount table cheaper
  params/protocol_params.go
Owners: @fjl, @holiman, @karalabe, @gballet, @rjl493456442, @zsfelfoldi

fix mapg2 gas
  params/protocol_params.go
Owners: @fjl, @holiman, @karalabe, @gballet, @rjl493456442, @zsfelfoldi

add page.yml
  .github/workflows/page.yml
Owners: none

use lru cache to replace map
  p2p/discover/v5_udp.go
Owners: @fjl, @zsfelfoldi

p2p/nat: do some optimization
  cmd/utils/flags.go
  go.mod
  go.sum
  p2p/nat/nat.go
  p2p/nat/nat_stun.go
  p2p/nat/nat_test.go
Owners: @fjl, @zsfelfoldi

rm read hooks
  core/state/statedb_hooked.go
  core/state/statedb_hooked_test.go
  core/tracing/hooks.go
  eth/tracers/live/noop.go
Owners: @holiman, @rjl493456442, @s1na

refactor: consolidate once-only registration of extras (#85)
  core/types/rlp_payload.libevm.go
  libevm/register/register.go
  params/config.libevm.go
  params/config.libevm_test.go
  params/hooks.libevm.go
  params/json.libevm.go
Owners: @holiman, @rjl493456442, @fjl, @karalabe, @gballet, @zsfelfoldi

lint issue
  core/state/statedb_hooked.go
Owners: @holiman, @rjl493456442

core/txpool: remove unused parameter `local` (#30871)
  core/txpool/legacypool/legacypool.go
Owners: @holiman, @rjl493456442

refactor!: consolidate `params` and `types` payload access (#84)
  core/state/state.libevm.go
  core/state/state.libevm_test.go
  core/state/state_object.libevm_test.go
  core/types/rlp_payload.libevm.go
  core/types/state_account_storage.libevm_test.go
  libevm/pseudo/accessor.go
  params/config.libevm.go
  params/config.libevm_test.go
  params/example.libevm_test.go
  params/hooks.libevm_test.go
Owners: @holiman, @rjl493456442, @fjl, @karalabe, @gballet, @zsfelfoldi

core: rm extra whitespace
  core/state_transition.go
Owners: @holiman, @rjl493456442

cmd/evm: print error for unknown trace format
  cmd/evm/main.go
Owners: @holiman, @MariusVanDerWijden, @lightclient

cmd/evm: remove blank line
  cmd/evm/runner.go
Owners: @holiman, @MariusVanDerWijden, @lightclient

metrics: rephrase comment
  metrics/metrics.go
Owners: @holiman

cmd/evm: fix lint
  cmd/evm/t8n_test.go
Owners: @holiman, @MariusVanDerWijden, @lightclient

cmd/utils: add comment
  cmd/utils/flags.go
Owners: none

t8n: do not omit requests when empty
  cmd/evm/internal/t8ntool/execution.go
  cmd/evm/internal/t8ntool/gen_execresult.go
Owners: @holiman, @MariusVanDerWijden, @lightclient

core/vm: return delegation designator prefix for code reading ops
  core/vm/eips.go
  core/vm/evm.go
Owners: @holiman, @rjl493456442

core/state: enable partial-functional reader (snapshot integration pt 3) (#30650)
  core/state/database.go
Owners: @holiman, @rjl493456442
