Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gballet, @MariusVanDerWijden, @lightclient, @fjl, @zsfelfoldi, @holiman, @rjl493456442, @jwasinger, @s1na, @karalabe

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet/             @gballet
accounts/scwallet/              @gballet
accounts/abi/                   @gballet @MariusVanDerWijden
beacon/engine/                  @MariusVanDerWijden @lightclient @fjl
beacon/light/                   @zsfelfoldi
beacon/merkle/                  @zsfelfoldi 
beacon/types/                   @zsfelfoldi @fjl
beacon/params/                  @zsfelfoldi @fjl
cmd/clef/                       @holiman
cmd/evm/                        @holiman @MariusVanDerWijden @lightclient
core/state/                     @rjl493456442 @holiman
crypto/                         @gballet @jwasinger @holiman @fjl
core/                           @holiman @rjl493456442
eth/                            @holiman @rjl493456442
eth/catalyst/                   @MariusVanDerWijden @lightclient @fjl @jwasinger
eth/tracers/                    @s1na
ethclient/                      @fjl
ethdb/                          @rjl493456442
event/                          @fjl
trie/                           @rjl493456442
triedb/                         @rjl493456442
core/tracing/                   @s1na
graphql/                        @s1na
internal/ethapi/                @fjl @s1na @lightclient
internal/era/                   @lightclient
metrics/                        @holiman
miner/                          @MariusVanDerWijden @holiman @fjl @rjl493456442
node/                           @fjl
p2p/                            @fjl @zsfelfoldi
rlp/                            @fjl
params/                         @fjl @holiman @karalabe @gballet @rjl493456442 @zsfelfoldi
rpc/                            @fjl @holiman
signer/                         @holiman

accounts/abi: support unpacking solidity errors (#30738)
  accounts/abi/abi.go
  accounts/abi/abi_test.go
Owners: @gballet, @MariusVanDerWijden

p2p: remove nil check in rlpxTransport.close
  p2p/transport.go
Owners: @fjl, @zsfelfoldi

p2p: fix string of unknown disconnect reason
  p2p/peer_error.go
Owners: @fjl, @zsfelfoldi

consensus/bor: fetch validator set using parent hash
  consensus/bor/bor.go
Owners: none

un-expose hooks copy
  core/tracing/hooks.go
  core/tracing/journal.go
  core/tracing/journal_test.go
Owners: @s1na

blockhash: charge warm costs in witness (#529)
  .github/workflows/stable-spec-tests.yml
  core/vm/instructions.go
Owners: @holiman, @rjl493456442

core/vm: report gas used warming 7702 delegation targets correctly in tracer
  core/vm/operations_acl.go
  core/vm/runtime/runtime_test.go
Owners: @holiman, @rjl493456442

t8n: do not omit requests when empty
  cmd/evm/internal/t8ntool/execution.go
  cmd/evm/internal/t8ntool/gen_execresult.go
  cmd/evm/testdata/1/exp.json
  cmd/evm/testdata/13/exp2.json
  cmd/evm/testdata/14/exp.json
  cmd/evm/testdata/14/exp2.json
  cmd/evm/testdata/14/exp_berlin.json
  cmd/evm/testdata/19/exp_arrowglacier.json
  cmd/evm/testdata/19/exp_grayglacier.json
  cmd/evm/testdata/19/exp_london.json
  cmd/evm/testdata/23/exp.json
  cmd/evm/testdata/24/exp.json
  cmd/evm/testdata/25/exp.json
  cmd/evm/testdata/26/exp.json
  cmd/evm/testdata/28/exp.json
  cmd/evm/testdata/29/exp.json
  cmd/evm/testdata/3/exp.json
  cmd/evm/testdata/30/exp.json
  cmd/evm/testdata/33/exp.json
  cmd/evm/testdata/5/exp.json
Owners: @holiman, @MariusVanDerWijden, @lightclient

core/vm: return delegation designator prefix for code reading ops
  core/vm/eips.go
  core/vm/evm.go
Owners: @holiman, @rjl493456442

eth/tracers: add support for setcode tx in prestate tracer
  eth/tracers/internal/tracetest/testdata/prestate_tracer/setcode_tx.json
  eth/tracers/native/prestate.go
Owners: @s1na

chg: bump stable version
  packaging/templates/package_scripts/control
  packaging/templates/package_scripts/control.arm64
  packaging/templates/package_scripts/control.profile.amd64
  packaging/templates/package_scripts/control.profile.arm64
  packaging/templates/package_scripts/control.validator
  packaging/templates/package_scripts/control.validator.arm64
  params/version.go
Owners: @fjl, @holiman, @karalabe, @gballet, @rjl493456442, @zsfelfoldi

core/state: rm panic and use log
  core/state/dump.go
Owners: @holiman, @rjl493456442

Fix incorrect balance when CreateContract is used in block-stm (#1382)
  core/state/statedb.go
  core/state/statedb_test.go
Owners: @holiman, @rjl493456442

core/state: remove pointless wrapper functions (#30891)
  core/state/access_list.go
  core/state/statedb_test.go
Owners: @holiman, @rjl493456442

refactor: generate internal `Header.encodeRLP()` for override (#86)
  .github/workflows/go.yml
  core/gen_genesis.go
  core/types/block.go
  core/types/block.libevm.go
  core/types/gen_header_rlp.go
  rlp/rlpgen/gen.go
  rlp/rlpgen/gen.libevm.go
  rlp/rlpgen/main.go
Owners: @holiman, @rjl493456442, @fjl

fix test code for trie
  tests/gen_trietest.go
  tests/trie_test.go
  tests/trie_test_util.go
Owners: none

Increase default gas limit from 30M to 36M
  core/state_processor.go
  miner/miner.go
Owners: @holiman, @rjl493456442, @MariusVanDerWijden, @fjl

feat: bump go to fix docker configs
  geth-poa/Dockerfile
Owners: none

chore: moves bls precompile to active berlin fork (#56)
  core/vm/contracts.go
Owners: @holiman, @rjl493456442

Removing control files and updating the updateVersion.sh
  packaging/templates/package_scripts/control
  packaging/templates/package_scripts/control.arm64
  packaging/templates/package_scripts/control.profile.amd64
  packaging/templates/package_scripts/control.profile.arm64
  packaging/templates/package_scripts/control.validator
  packaging/templates/package_scripts/control.validator.arm64
  scripts/updateVersion.sh
Owners: none

Add defer recovery for failed txs when tracing
  eth/tracers/api.go
Owners: @s1na

Recover at traceTx
  eth/tracers/api.go
Owners: @s1na

cmd/evm: make json-output default
  cmd/evm/main.go
Owners: @holiman, @MariusVanDerWijden, @lightclient

cmd/evm: fix tests, remove duplicates
  cmd/evm/t8n_test.go
Owners: @holiman, @MariusVanDerWijden, @lightclient

update module to trigger tests again for debug
  .github/workflows/go.yml
Owners: none

p2p: fix DiscReason encoding/decoding (#30855)
  p2p/peer.go
  p2p/peer_error.go
  p2p/transport.go
  p2p/transport_test.go
Owners: @fjl, @zsfelfoldi

internal/ethapi: add block override to estimateGas (#30695)
  .gitignore
  eth/gasestimator/gasestimator.go
  eth/tracers/api.go
  eth/tracers/api_test.go
  graphql/graphql.go
  internal/ethapi/api.go
  internal/ethapi/api_test.go
  internal/ethapi/override/override.go
  internal/ethapi/override/override_test.go
  internal/ethapi/simulate.go
  internal/ethapi/simulate_test.go
  internal/ethapi/transaction_args.go
  internal/web3ext/web3ext.go
Owners: @holiman, @rjl493456442, @s1na, @fjl, @lightclient

test: lock in `types.Header` RLP encoding (#87)
  core/types/rlp_backwards_compat.libevm_test.go
  libevm/ethtest/rand.go
Owners: @holiman, @rjl493456442

Add panic tx test
  eth/tracers/api.go
  eth/tracers/api_test.go
Owners: @s1na

stfmt
  eth/tracers/api.go
Owners: @s1na

all: impl eip-7702
  cmd/evm/internal/t8ntool/transaction.go
  common/types.go
  core/bench_test.go
  core/blockchain_test.go
  core/error.go
  core/state/statedb.go
  core/state/statedb_hooked.go
  core/state_processor_test.go
  core/state_transition.go
  core/txpool/legacypool/legacypool.go
  core/txpool/validation.go
  core/types/gen_authorization.go
  core/types/receipt.go
  core/types/transaction.go
  core/types/transaction_marshalling.go
  core/types/transaction_signing.go
  core/types/tx_setcode.go
  core/types/tx_setcode_test.go
  core/verkle_witness_test.go
  core/vm/eips.go
  core/vm/evm.go
  core/vm/instructions.go
  core/vm/interface.go
  core/vm/jump_table.go
  core/vm/operations_acl.go
  internal/ethapi/api.go
  params/protocol_params.go
  tests/gen_stauthorization.go
  tests/gen_sttransaction.go
  tests/state_test_util.go
  tests/transaction_test_util.go
Owners: @holiman, @MariusVanDerWijden, @lightclient, @rjl493456442, @fjl, @s1na, @karalabe, @gballet, @zsfelfoldi

cmd/evm: add 7702 test for t8n
  cmd/evm/t8n_test.go
  cmd/evm/testdata/33/README.md
  cmd/evm/testdata/33/alloc.json
  cmd/evm/testdata/33/env.json
  cmd/evm/testdata/33/exp.json
  cmd/evm/testdata/33/txs.json
Owners: @holiman, @MariusVanDerWijden, @lightclient

internal/ethapi: add 7702 tests to eth_estimateGas
  internal/ethapi/api_test.go
Owners: @fjl, @s1na, @lightclient

legacypool: don't allow 7702 txs in pool yet
  core/txpool/legacypool/legacypool.go
Owners: @holiman, @rjl493456442

core/vm: make 7702 variants of EXT* ops
  core/vm/eips.go
  core/vm/instructions.go
Owners: @holiman, @rjl493456442

core: use parse delegation for code check in state transition
  core/state_transition.go
Owners: @holiman, @rjl493456442

common: remove zero address
  common/types.go
  core/state_transition.go
Owners: @holiman, @rjl493456442

core: remove resolve code mechanism from statedb, put in vm
  core/state/statedb.go
  core/state/statedb_hooked.go
  core/vm/eips.go
  core/vm/evm.go
  core/vm/interface.go
Owners: @holiman, @rjl493456442

core/types: change Authority method to pointer receiver
  core/types/tx_setcode.go
Owners: @holiman, @rjl493456442

core/types: change Authorization signature value to uint256
  core/types/gen_authorization.go
  core/types/tx_setcode.go
  tests/gen_stauthorization.go
  tests/state_test_util.go
Owners: @holiman, @rjl493456442
