Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @gluk256

swarm/network: fix data race warning on TestBzzHandshakeLightNode
  swarm/network/protocol.go
  swarm/network/protocol_test.go
Owners: none

swarm/network: fix data race in TestNetworkID test (#18460)
  swarm/network/networkid_test.go
Owners: none

swarm/storage: fix mockNetFetcher data races
  swarm/storage/netstore_test.go
Owners: none

p2p, swarm: remove unused testing.T in protocol tester
  p2p/protocols/protocol_test.go
  p2p/testing/protocoltester.go
  swarm/network/protocol_test.go
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/lightnode_test.go
  swarm/network/stream/streamer_test.go
Owners: @fjl, @zsfelfoldi

cmd/swarm/swarm-snapshot, swarm/network/simulations: removed redundant connection event check, fixed lint error
  cmd/swarm/swarm-snapshot/create.go
  swarm/network/simulations/discovery/discovery_test.go
Owners: none

swarm/storage: fix mockNetFetcher data races (#18462)
  swarm/storage/netstore_test.go
Owners: none

cmd/swarm/swarm-snapshot: swarm snapshot generator (#18453)
  cmd/swarm/swarm-snapshot/create.go
  cmd/swarm/swarm-snapshot/create_test.go
  cmd/swarm/swarm-snapshot/main.go
  cmd/swarm/swarm-snapshot/run_test.go
  swarm/network/kademlia.go
  swarm/network/simulations/discovery/discovery_test.go
Owners: none

swarm/network: uncomment assertHealth and improve comments
  swarm/network/kademlia.go
  swarm/network/kademlia_test.go
  swarm/network/simulations/discovery/discovery_test.go
Owners: none

swarm/network: rename depth to radius
  swarm/network/kademlia.go
Owners: none

swarm/network: fix skipped tests related to suggestPeer
  swarm/network/kademlia.go
  swarm/network/kademlia_test.go
  swarm/network/simulations/discovery/discovery_test.go
Owners: none

swarm/network: remove commented code
  swarm/network/simulations/discovery/discovery_test.go
Owners: none

swarm/network: kademlia suggestPeer algo correction
  swarm/network/kademlia.go
Owners: none

swarm/network: kademlia suggest peer
  swarm/network/kademlia.go
  swarm/network/kademlia_test.go
  swarm/network/simulations/discovery/discovery_test.go
Owners: none

swarm/network: kademlia suggestPeer cleanup, improved comments
  swarm/network/kademlia.go
Owners: none

swarm/network: minor comment, discovery test default arg
  swarm/network/kademlia.go
  swarm/network/simulations/discovery/discovery_test.go
Owners: none

core/vm/gas_table: fix minor comment typo
  core/vm/gas_table.go
Owners: @karalabe, @holiman

core/vm/gas_table: Use ExpGas param in gasExp computation
  core/vm/gas_table.go
Owners: @karalabe, @holiman

params/protocol_params: Fix JumpdestGas comment
  params/protocol_params.go
Owners: none

Index page is jekyll-friendly
  _layouts/default.html
  index.html
Owners: none

swarm/network: fix data race on TestService bucket caused by copying struct content without synchronisation
  p2p/simulations/events.go
Owners: @fjl, @zsfelfoldi

swarm/storage: fix data races in TestLDBStoreCollectGarbage
  swarm/storage/ldbstore_test.go
Owners: none

Enable page-specific css
  _includes/head.html
  _layouts/default.html
  index.html
Owners: none

FIxed issue in core
  core/block_validator_test.go
  core/blockchain.go
  core/blockchain_test.go
Owners: @karalabe, @holiman

Updated Core
  core/headerchain.go
  core/state_processor.go
  core/state_transition.go
Owners: @karalabe, @holiman

Go Binding added in MultiSigWallet
  contracts/multisigwallet/contract/multisigwallet.go
  contracts/multisigwallet/multisigwallet.go
Owners: none

core/tx_pool.go:update Addremotes for non-blocking mode
  core/tx_pool.go
Owners: @karalabe, @holiman

swarm/network: rewrite of peer suggestion engine, fix skipped tests (#18404)
  swarm/network/kademlia.go
  swarm/network/kademlia_test.go
  swarm/network/simulations/discovery/discovery_test.go
Owners: none

fix error get signer when fork chain
  contracts/utils.go
  eth/backend.go
Owners: @karalabe

Add rollback flag command for rollback chain at block hash.
  cmd/tomo/config.go
  cmd/tomo/main.go
  cmd/utils/flags.go
  common/constants.go
  contracts/test.go
  contracts/validator/validator_test.go
  contracts/validatorReader.go
  eth/backend.go
  params/config.go
Owners: @karalabe

v1.2.1
  params/version.go
Owners: none

swarm/network: fix data race in stream.(*Peer).handleOfferedHashesMsg()
  swarm/network/stream/stream.go
Owners: none

swarm/network: fix typos in fetcher.go
  swarm/network/fetcher.go
Owners: none

Downloads
  _includes/head.html
  downloads.html
Owners: none

swarm/network: fix data race warning on TestBzzHandshakeLightNode (#18459)
  swarm/network/protocol.go
  swarm/network/protocol_test.go
Owners: none

Fix relative paths
  _includes/head.html
  downloads/index.html
  index.html
Owners: none

delete downloads again
  downloads/index.html
Owners: none

swarm/network: fix data race in fetcher_test.go
  swarm/network/fetcher.go
  swarm/network/fetcher_test.go
Owners: none

swarm/network: simplify some trivial statements
  swarm/network/stream/stream.go
Owners: none

swarm/network: fix data race in stream.(*Peer).handleOfferedHashesMsg() (#18468)
  swarm/network/stream/stream.go
Owners: none

core: reuse the gas calculation bigints in bigmodexp precompile
  core/vm/contracts.go
Owners: @karalabe, @holiman

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
whisper/                        @gballet @gluk256
