Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @zelig, @nonsense, @janos, @justelad, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @zelig @nonsense @janos @justelad
p2p/protocols                   @zelig @nonsense @janos @justelad
p2p/testing                     @zelig @nonsense @janos @justelad
whisper/                        @gballet @gluk256

swarm: Debug API and HasChunks() API endpoint (#18980)
  cmd/swarm/main.go
  swarm/api/inspector.go
  swarm/api/testapi.go
  swarm/network/stream/common_test.go
  swarm/storage/common_test.go
  swarm/storage/ldbstore.go
  swarm/storage/localstore.go
  swarm/storage/localstore_test.go
  swarm/storage/memstore.go
  swarm/storage/netstore.go
  swarm/storage/types.go
  swarm/swarm.go
Owners: none

*: enforce camel case variable names
  cmd/swarm/config.go
  cmd/swarm/config_test.go
  cmd/swarm/flags.go
  cmd/swarm/main.go
  cmd/swarm/upload.go
  console/console.go
  core/tx_pool_test.go
  core/vm/runtime/runtime_test.go
  crypto/bn256/cloudflare/main_test.go
  crypto/bn256/google/main_test.go
  crypto/ecies/ecies_test.go
  crypto/ecies/params.go
  eth/tracers/tracers_test.go
  ethdb/database_test.go
  internal/jsre/jsre.go
  internal/web3ext/web3ext.go
  les/peer_test.go
  light/odr_util.go
  light/trie.go
  p2p/simulations/network_test.go
  signer/rules/rules.go
  swarm/api/act.go
  swarm/api/api.go
  swarm/fuse/swarmfs.go
  swarm/network/stream/peer.go
  swarm/storage/ldbstore_test.go
  swarm/swarm.go
Owners: @karalabe, @holiman, @zsfelfoldi, @zelig, @nonsense, @janos, @justelad

swarm/storage/localstore: new localstore package (#19015)
  swarm/storage/localstore/doc.go
  swarm/storage/localstore/gc.go
  swarm/storage/localstore/gc_test.go
  swarm/storage/localstore/index_test.go
  swarm/storage/localstore/localstore.go
  swarm/storage/localstore/localstore_test.go
  swarm/storage/localstore/mode_get.go
  swarm/storage/localstore/mode_get_test.go
  swarm/storage/localstore/mode_put.go
  swarm/storage/localstore/mode_put_test.go
  swarm/storage/localstore/mode_set.go
  swarm/storage/localstore/mode_set_test.go
  swarm/storage/localstore/retrieval_index_test.go
  swarm/storage/localstore/subscription_pull.go
  swarm/storage/localstore/subscription_pull_test.go
  swarm/storage/localstore/subscription_push.go
  swarm/storage/localstore/subscription_push_test.go
Owners: none

Updated peer
  p2p/dial_test.go
  p2p/peer.go
  p2p/peer_error.go
Owners: @fjl, @zsfelfoldi

Server RPC updated
  params/config.go
  params/version.go
  rpc/server.go
Owners: none

swarm/network: saturation with higher MinBinSize
  swarm/network/kademlia.go
  swarm/network/kademlia_test.go
  swarm/network/simulation/kademlia.go
Owners: none

core: repro #18977
  core/blockchain_test.go
  core/chain_makers.go
Owners: @karalabe, @holiman

core: fix pruner panic when importing low-diff-large-sidechain
  core/blockchain.go
  core/blockchain_test.go
  core/chain_makers.go
Owners: @karalabe, @holiman

swarm/network/stream: newStreamerTester cleanup only if err is nil
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/lightnode_test.go
  swarm/network/stream/streamer_test.go
Owners: none

swarm/network/stream: raise newStreamerTester waitForPeers timeout
  swarm/network/stream/common_test.go
Owners: none

swarm/network/stream: fix data races in GetPeerSubscriptions
  swarm/network/stream/stream.go
Owners: none

swarm/storage: prevent data race on LDBStore.batchesC
  swarm/storage/ldbstore.go
Owners: none

swarm/network/stream: fix TestGetSubscriptionsRPC data race
  swarm/network/stream/streamer_test.go
Owners: none

swarm/storage: Correct hierarchy for lazyreader read context
  swarm/storage/chunker.go
Owners: none

swarm/network/stream: correctly use Simulation.Run callback
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/streamer_test.go
  swarm/network/stream/syncer_test.go
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
Owners: none

eth, freezer: add immutable chain freezer
  eth/backend.go
  freezer/freezer.go
  freezer/mmap.go
  freezer/table.go
Owners: @karalabe

swarm/network: Reinstate SendOfferedHashes span
  swarm/network/stream/peer.go
Owners: none

swarm/pss: transition to whisper v.6
  swarm/pss/client/client_test.go
  swarm/pss/forwarding_test.go
  swarm/pss/notify/notify_test.go
  swarm/pss/pss.go
  swarm/pss/pss_test.go
  swarm/pss/types.go
Owners: none

swarm/network: Retrigger travis
  swarm/network/stream/peer.go
Owners: none

swarm/network: Fix wrong scoped context in request
  swarm/network/stream/peer.go
Owners: none

swarm/network, swarm/storage: Preserve opentracing contexts (#19022)
  swarm/network/fetcher.go
  swarm/network/fetcher_test.go
  swarm/network/stream/delivery.go
  swarm/network/stream/messages.go
  swarm/network/stream/peer.go
  swarm/network/stream/stream.go
  swarm/storage/chunker.go
  swarm/storage/feed/testutil.go
  swarm/storage/netstore.go
  swarm/storage/netstore_test.go
Owners: none

swarm/network: PeersPerBin with depth check
  swarm/network/kademlia.go
Owners: none

swarm/pss: transition to whisper v6 (#19023)
  swarm/pss/client/client_test.go
  swarm/pss/forwarding_test.go
  swarm/pss/notify/notify_test.go
  swarm/pss/pss.go
  swarm/pss/pss_test.go
  swarm/pss/types.go
Owners: none

swarm: CI race detector test adjustments (#19017)
  swarm/network/networkid_test.go
  swarm/network/simulations/overlay_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/storage/common_test.go
  swarm/storage/ldbstore_test.go
  swarm/storage/memstore_test.go
Owners: none

swarm/network: edited tests to pass new saturated check
  swarm/network/kademlia_test.go
Owners: none

swarm/newtork: WIP Span request span until delivery and put
  swarm/network/stream/delivery.go
  swarm/network/stream/peer.go
Owners: none

swarm/storage: Introduce new trace across single fetcher lifespan
  swarm/storage/filestore_test.go
  swarm/storage/netstore.go
Owners: none

swarm/storage: temporarily disable TestGetAllReferences - hashing bug
  swarm/storage/filestore_test.go
Owners: none

accounts/abi/bind/backends: add TransactionByHash to SimulatedBackend
  accounts/abi/bind/backends/simulated.go
  accounts/abi/bind/backends/simulated_test.go
Owners: @gballet

swarm/storage: fix HashExplore concurrency bug ethersphere#1211
  swarm/storage/filestore.go
Owners: none

eth: make tracers respect pre- EIP 158/161 rule
  eth/api_tracer.go
Owners: @karalabe

core: fix error in block iterator (#18986)
  core/blockchain.go
  core/blockchain_insert.go
Owners: @karalabe, @holiman

cmd/puppeth: handle pre-set Petersburg number, save changed fork rules
  cmd/puppeth/wizard_genesis.go
Owners: none

core: repro #18977
  core/blockchain_test.go
  core/chain_makers.go
Owners: @karalabe, @holiman

core: fix pruner panic when importing low-diff-large-sidechain
  core/blockchain.go
  core/blockchain_test.go
  core/chain_makers.go
Owners: @karalabe, @holiman

eth/filters: support reverse ordered logs
  core/bloombits/matcher.go
  eth/filters/filter.go
  eth/filters/filter_system.go
Owners: @karalabe, @holiman

unit test added for server and table
  p2p/discover/table_test.go
  p2p/server.go
  p2p/server_test.go
Owners: @fjl, @zsfelfoldi

swarm/storage: lock as value not pointer
  swarm/storage/filestore.go
Owners: none

swarm: fix uptime gauge update goroutine leak by introducing cleanup functions
  swarm/swarm.go
Owners: none

swarm/network: protect addrCountC in Kademlia.AddrCountC function
  swarm/network/kademlia.go
Owners: none
