Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @zelig, @nonsense, @janos, @justelad, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @zelig @nonsense @janos @justelad
p2p/protocols                   @zelig @nonsense @janos @justelad
p2p/testing                     @zelig @nonsense @janos @justelad
whisper/                        @gballet @gluk256

Fix relative doc link
  _layouts/sidebar.html
Owners: none

swarm/pss: remove unused function
  swarm/pss/pss_test.go
Owners: none

accounts/*: prefer nil slices over zero-length slices
  accounts/keystore/keystore.go
  accounts/usbwallet/hub.go
Owners: @karalabe

swarm/storage/localstore: protect chunk put with addr lock in tests
  swarm/storage/localstore/subscription_pull_test.go
  swarm/storage/localstore/subscription_push_test.go
Owners: none

cmd,swarm: enforce camel case variable names
  cmd/swarm/config.go
  cmd/swarm/config_test.go
  cmd/swarm/flags.go
  cmd/swarm/main.go
  cmd/swarm/upload.go
  swarm/api/act.go
  swarm/api/api.go
  swarm/fuse/swarmfs.go
  swarm/fuse/swarmfs_unix.go
  swarm/network/stream/peer.go
  swarm/storage/ldbstore_test.go
  swarm/swarm.go
Owners: none

swamr/storage/localstore: wait for gc and writeGCSize workers on Close
  swarm/storage/localstore/gc.go
  swarm/storage/localstore/localstore.go
Owners: none

swarm/network/master: protect SetNextBatch iterator after close (#19147)
  swarm/network/stream/stream.go
  swarm/network/stream/syncer.go
Owners: none

Fix some linter issues
  accounts/scwallet/securechannel.go
  accounts/scwallet/wallet.go
Owners: none

types, rawdb, core, miner: add block location fields to receipt
  core/blockchain.go
  core/rawdb/accessors_chain.go
  core/state/statedb.go
  core/state_processor.go
  core/types/gen_receipt_json.go
  core/types/receipt.go
  miner/worker.go
Owners: @karalabe, @holiman

swarm/shed: fix a deadlock in meter function (#19149)
  swarm/shed/db.go
Owners: none

signer: changes the stdio jsonrpc to use legacy namespace conventions (will break existing UIs)
  cmd/clef/README.md
  cmd/clef/intapi_changelog.md
  signer/core/api.go
  signer/core/api_test.go
  signer/core/cliui.go
  signer/core/stdioui.go
  signer/rules/rules.go
  signer/rules/rules_test.go
Owners: @karalabe, @holiman

clef: remove passwords from appoval operations
  cmd/clef/intapi_changelog.md
  signer/core/api.go
Owners: @karalabe, @holiman

swarm/storage/localstore: more correct testDB_collectGarbageWorker
  swarm/storage/localstore/gc.go
  swarm/storage/localstore/gc_test.go
Owners: none

signer, clef: remove passwords from responses clef<->ui
  cmd/clef/datatypes.md
  cmd/clef/main.go
  signer/core/api.go
  signer/core/api_test.go
  signer/core/cliui.go
  signer/core/signed_data.go
  signer/core/signed_data_test.go
  signer/rules/rules.go
  signer/rules/rules_test.go
  signer/storage/storage.go
Owners: @karalabe, @holiman

Fixed check penalty signers working when it return chain.
  eth/backend.go
Owners: @karalabe

Fixed check penalty using block creator instead of using block signer transaction.
  common/constants.go
  contracts/utils.go
  eth/backend.go
Owners: @karalabe

downloader/import: calcPastMedianTime/Flux compatibility fix
  cmd/utils/cmd.go
  eth/downloader/downloader.go
Owners: @karalabe

Fixed minor bug for get signers from penalties header.
  contracts/utils.go
  core/state_transition.go
  eth/backend.go
  internal/ethapi/api.go
Owners: @karalabe, @holiman

remove run evm with signing tracsaction
  common/constants.go
  consensus/posv/posv.go
  contracts/utils.go
  core/blockchain.go
  core/state/statedb.go
  core/state_processor.go
  eth/backend.go
  internal/ethapi/api.go
  miner/worker.go
  params/config.go
Owners: @karalabe, @holiman

clean all state of block signer
  cmd/tomoclean/main.go
  cmd/utils/flags.go
  trie/hasher.go
  trie/iterator.go
  trie/node.go
  trie/proof.go
  trie/sync.go
  trie/trie.go
  trie/trie_test.go
Owners: none

update default chain configs
  consensus/ubqhash/algorithm.go
  consensus/ubqhash/algorithm_go1.7.go
  consensus/ubqhash/algorithm_go1.8.go
  consensus/ubqhash/algorithm_go1.8_test.go
  consensus/ubqhash/algorithm_test.go
  consensus/ubqhash/consensus.go
  consensus/ubqhash/consensus_test.go
  consensus/ubqhash/ethash.go
  consensus/ubqhash/ethash_test.go
  consensus/ubqhash/sealer.go
  params/config.go
Owners: @karalabe

refactor calcPastMedianTime
  consensus/consensus.go
  core/blockchain.go
  core/headerchain.go
Owners: @karalabe, @holiman

blockchain: WriteTransactions,WriteReceipts -> WriteTxLookupEntries
  core/blockchain.go
Owners: @karalabe, @holiman

core/snailchain.go: update the for loop in find common ancestor
  core/blockchain.go
Owners: @karalabe, @holiman

Remove duplicate line
  docs/_developers/Active-go-ethereum-projects.md
Owners: none

cmd/swarm/swarm-smoke: sliding window test should not time out
  cmd/swarm/swarm-smoke/sliding_window.go
Owners: none

clef: improve end-to-end testing
  cmd/clef/main.go
  signer/core/cliui.go
Owners: @karalabe, @holiman

clef: minor ui quirks
  signer/core/api.go
  signer/core/cliui.go
Owners: @karalabe, @holiman

get back maxpeers 25
  docker/tomochain/entrypoint.sh
Owners: none

swarm/network/simulation: do not copy node mutex in UploadSnapshot
  swarm/network/simulation/node.go
Owners: none

.travis.yml: make build independent of repo name (#17607)
  .travis.yml
Owners: none

swarm/storage/localstore: set DB Close timeout to 5s
  swarm/storage/localstore/localstore.go
Owners: none

swarm/storage/localstore: fix tests for windows os
  swarm/storage/localstore/localstore_test.go
Owners: none

travis.yml: add race detector job for Swarm (#19148)
  .travis.yml
  build/travis_keepalive.sh
Owners: none

signer: formatting
  signer/core/api.go
  signer/core/api_test.go
Owners: @karalabe, @holiman

swarm/network: WIP consider all nodes for healthy iteration
  swarm/network/simulation/kademlia.go
Owners: none

swarm/pss: fix data race on HandshakeController.symKeyIndex
  swarm/pss/client/client_test.go
  swarm/pss/handshake.go
  swarm/pss/handshake_test.go
Owners: none

swarm/network/simulation: extend TestWaitTillHealthy to really check kads are healthy
  swarm/network/simulation/kademlia_test.go
Owners: none
