Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gballet, @MariusVanDerWijden, @lightclient, @fjl, @zsfelfoldi, @holiman, @rjl493456442, @jwasinger, @s1na, @karalabe

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet/             @gballet
accounts/scwallet/              @gballet
accounts/abi/                   @gballet @MariusVanDerWijden
beacon/engine/                  @MariusVanDerWijden @lightclient @fjl
beacon/light/                   @zsfelfoldi
beacon/merkle/                  @zsfelfoldi 
beacon/types/                   @zsfelfoldi @fjl
beacon/params/                  @zsfelfoldi @fjl
cmd/clef/                       @holiman
cmd/evm/                        @holiman @MariusVanDerWijden @lightclient
core/state/                     @rjl493456442 @holiman
crypto/                         @gballet @jwasinger @holiman @fjl
core/                           @holiman @rjl493456442
eth/                            @holiman @rjl493456442
eth/catalyst/                   @MariusVanDerWijden @lightclient @fjl @jwasinger
eth/tracers/                    @s1na
ethclient/                      @fjl
ethdb/                          @rjl493456442
event/                          @fjl
trie/                           @rjl493456442
triedb/                         @rjl493456442
core/tracing/                   @s1na
graphql/                        @s1na
internal/ethapi/                @fjl @s1na @lightclient
internal/era/                   @lightclient
metrics/                        @holiman
miner/                          @MariusVanDerWijden @holiman @fjl @rjl493456442
node/                           @fjl
p2p/                            @fjl @zsfelfoldi
rlp/                            @fjl
params/                         @fjl @holiman @karalabe @gballet @rjl493456442 @zsfelfoldi
rpc/                            @fjl @holiman
signer/                         @holiman

accounts/external: handle set code tx type in backend
  accounts/external/backend.go
Owners: none

core: fix account reference
  core/state_transition.go
Owners: @holiman, @rjl493456442

core/types: remove AuthorizationList and use Authorization as value instead of pointer
  core/blockchain_test.go
  core/state_transition.go
  core/types/transaction.go
  core/types/transaction_marshalling.go
  core/types/tx_setcode.go
  internal/ethapi/api.go
  internal/ethapi/transaction_args.go
  tests/state_test_util.go
Owners: @holiman, @rjl493456442, @fjl, @s1na, @lightclient

internal/ethapi: handle set code tx type in transaction args
  internal/ethapi/transaction_args.go
Owners: @fjl, @s1na, @lightclient

core: clarify test a bit
  core/blockchain_test.go
Owners: @holiman, @rjl493456442

core: track validation error for authorizations
  core/error.go
  core/state_transition.go
Owners: @holiman, @rjl493456442

core: style improvement in applyAuthorization
  core/state_transition.go
Owners: @holiman, @rjl493456442

core: remove debug print
  core/state_transition.go
Owners: @holiman, @rjl493456442

cmd/evm: update testdata
  cmd/evm/testdata/33/exp.json
Owners: @holiman, @MariusVanDerWijden, @lightclient

core/vm: add comment about chained EIP-7702 delegations
  core/vm/evm.go
Owners: @holiman, @rjl493456442

core/types: improve authority signature handling
  core/types/tx_setcode.go
Owners: @holiman, @rjl493456442

core: add comment about nonce update order
  core/state_transition.go
Owners: @holiman, @rjl493456442

internal/ethapi: remove reference to blob fields in setcode tx
  internal/ethapi/api.go
Owners: @fjl, @s1na, @lightclient

core: clarify delegation deletion flow
  core/state_transition.go
Owners: @holiman, @rjl493456442

graphql: add support for fee parameters of SetCodeTx
  graphql/graphql.go
Owners: @s1na

core/state: fix hooks to account for setcode on non-empty code
  core/state/state_object.go
  core/state/statedb.go
  core/state/statedb_hooked.go
  core/vm/interface.go
Owners: @holiman, @rjl493456442

core/state: fix journal to account for setcode over non-empty code
  core/state/journal.go
  core/state/state_object.go
Owners: @holiman, @rjl493456442

core: more comment
  core/state_transition.go
Owners: @holiman, @rjl493456442

core: reformat comment
  core/state_transition.go
Owners: @holiman, @rjl493456442

core: add comment about 7702 state transition error
  core/error.go
Owners: @holiman, @rjl493456442

core: improve checks for 7702
  core/error.go
  core/state_transition.go
Owners: @holiman, @rjl493456442

core/vm: direct check code hash during creation instead of resolving
  core/vm/evm.go
Owners: @holiman, @rjl493456442

core: rm extra whitespace
  core/state_transition.go
Owners: @holiman, @rjl493456442

tests: use big int for stAuthorization because eest needs math.HexOrDecimal256 decoding
  tests/gen_stauthorization.go
  tests/state_test_util.go
Owners: none

t8n: do not omit requests when empty
  cmd/evm/internal/t8ntool/execution.go
  cmd/evm/internal/t8ntool/gen_execresult.go
  cmd/evm/testdata/1/exp.json
  cmd/evm/testdata/13/exp2.json
  cmd/evm/testdata/14/exp.json
  cmd/evm/testdata/14/exp2.json
  cmd/evm/testdata/14/exp_berlin.json
  cmd/evm/testdata/19/exp_arrowglacier.json
  cmd/evm/testdata/19/exp_grayglacier.json
  cmd/evm/testdata/19/exp_london.json
  cmd/evm/testdata/23/exp.json
  cmd/evm/testdata/24/exp.json
  cmd/evm/testdata/25/exp.json
  cmd/evm/testdata/26/exp.json
  cmd/evm/testdata/28/exp.json
  cmd/evm/testdata/29/exp.json
  cmd/evm/testdata/3/exp.json
  cmd/evm/testdata/30/exp.json
  cmd/evm/testdata/33/exp.json
  cmd/evm/testdata/5/exp.json
Owners: @holiman, @MariusVanDerWijden, @lightclient

core: lift convenience warming of tx destination from per auth to post application of all authorizations
  core/state/statedb.go
  core/state_transition.go
Owners: @holiman, @rjl493456442

internal/ethapi: removed commented out code from test
  internal/ethapi/api_test.go
Owners: @fjl, @s1na, @lightclient

core: refactor non-create processing flow
  core/state_transition.go
Owners: @holiman, @rjl493456442

core: mod errors + add test
  core/error.go
  core/state_processor_test.go
  core/state_transition.go
Owners: @holiman, @rjl493456442

core: create official prague instruction set, name eof set
  cmd/evm/eofparse.go
  cmd/evm/eofparse_test.go
  cmd/evm/testdata/33/exp.json
  core/vm/eof_validation_test.go
  core/vm/interpreter.go
  core/vm/jump_table.go
Owners: @holiman, @MariusVanDerWijden, @lightclient, @rjl493456442

eth/tracers: add support for setcode tx in prestate tracer
  eth/tracers/internal/tracetest/testdata/prestate_tracer/setcode_tx.json
  eth/tracers/native/prestate.go
Owners: @s1na

core/vm: report gas used warming 7702 delegation targets correctly in tracer
  core/vm/operations_acl.go
  core/vm/runtime/runtime_test.go
Owners: @holiman, @rjl493456442

core/vm: return delegation designator prefix for code reading ops
  core/vm/eips.go
  core/vm/evm.go
Owners: @holiman, @rjl493456442

cmd/evm: fix expected output for 7702 t8n test
  cmd/evm/testdata/33/exp.json
Owners: @holiman, @MariusVanDerWijden, @lightclient

p2p/enode: clean up DNS name support in Node
  p2p/enode/node.go
  p2p/enode/urlv4.go
  p2p/enode/urlv4_test.go
Owners: @fjl, @zsfelfoldi

p2p/enode: fix test
  p2p/enode/node.go
  p2p/enode/node_test.go
Owners: @fjl, @zsfelfoldi

p2p: use new DNS hostname methods
  p2p/dial.go
Owners: @fjl, @zsfelfoldi

p2p: rename function
  p2p/dial.go
Owners: @fjl, @zsfelfoldi

internal/ethapi: change simulate default timestamp to 12
  internal/ethapi/simulate.go
  internal/ethapi/simulate_test.go
Owners: @fjl, @s1na, @lightclient

p2p: avoid node update if DNS lookup returns unchanged IP
  p2p/dial.go
Owners: @fjl, @zsfelfoldi
