Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @rjl493456442, @kurkomisi, @zsfelfoldi, @ligi, @fjl, @zelig, @janos, @justelad, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet
cmd/clef                        @holiman
cmd/puppeth                     @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
dashboard/                      @kurkomisi
eth/                            @karalabe @holiman @rjl493456442
graphql/                        @gballet
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
mobile/                         @karalabe @ligi
p2p/                            @fjl @zsfelfoldi
rpc/                            @fjl @holiman
p2p/simulations                 @zelig @janos @justelad
p2p/protocols                   @zelig @janos @justelad
p2p/testing                     @zelig @janos @justelad
signer/                         @holiman
whisper/                        @gballet @gluk256

core/state/snapshot: extract and split cap method, cover corners
  core/state/snapshot/difflayer.go
  core/state/snapshot/difflayer_test.go
  core/state/snapshot/disklayer.go
  core/state/snapshot/snapshot.go
  core/state/snapshot/snapshot_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/state: lazy sorting, snapshot invalidation
  core/state/snapshot/difflayer.go
  core/state/snapshot/difflayer_test.go
  core/state/snapshot/disklayer.go
  core/state/snapshot/generate.go
  core/state/snapshot/snapshot.go
  core/state/snapshot/sort.go
  core/state/state_object.go
  core/state/statedb.go
Owners: @karalabe, @holiman, @rjl493456442

snapshot: iteration and buffering optimizations
  core/state/snapshot/difflayer.go
  core/state/snapshot/difflayer_journal.go
  core/state/snapshot/difflayer_test.go
  core/state/snapshot/snapshot.go
  core/state/snapshot/snapshot_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot: unlink snapshots from blocks, quad->linear cleanup
  core/blockchain.go
  core/rawdb/accessors_snapshot.go
  core/rawdb/schema.go
  core/state/snapshot/difflayer.go
  core/state/snapshot/difflayer_journal.go
  core/state/snapshot/difflayer_test.go
  core/state/snapshot/disklayer.go
  core/state/snapshot/generate.go
  core/state/snapshot/generate_test.go
  core/state/snapshot/snapshot.go
  core/state/snapshot/snapshot_test.go
  core/state/statedb.go
Owners: @karalabe, @holiman, @rjl493456442

core/rawdb, core/state/snapshot: runtime snapshot generation
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  core/blockchain.go
  core/rawdb/database.go
  core/rawdb/schema.go
  core/state/snapshot/difflayer.go
  core/state/snapshot/difflayer_journal.go
  core/state/snapshot/difflayer_test.go
  core/state/snapshot/disklayer.go
  core/state/snapshot/disklayer_test.go
  core/state/snapshot/generate.go
  core/state/snapshot/journal.go
  core/state/snapshot/snapshot.go
  core/state/snapshot/snapshot_test.go
  core/state/snapshot/wipe.go
  core/state/snapshot/wipe_test.go
  core/state/statedb.go
  eth/backend.go
  eth/config.go
  trie/iterator.go
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot: replace bigcache with fastcache
  core/state/snapshot/disklayer.go
  core/state/snapshot/generate.go
  core/state/snapshot/snapshot.go
  core/state/snapshot/snapshot_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot: fix difflayer origin-initalization after flatten
  core/state/snapshot/difflayer.go
Owners: @karalabe, @holiman, @rjl493456442

core: journal the snapshot inside leveldb, not a flat file
  core/blockchain.go
  core/rawdb/accessors_snapshot.go
  core/rawdb/schema.go
  core/state/snapshot/difflayer_test.go
  core/state/snapshot/journal.go
  core/state/snapshot/snapshot.go
  core/state/statedb.go
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot: bloom, metrics and prefetcher fixes
  core/state/snapshot/difflayer.go
  core/state/snapshot/disklayer.go
  core/state/snapshot/snapshot.go
  core/state_prefetcher.go
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot: node behavioural difference on bloom content
  core/state/snapshot/difflayer.go
  core/state/snapshot/difflayer_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot: implement snapshot layer iteration
  core/state/snapshot/difflayer.go
  core/state/snapshot/difflayer_test.go
  core/state/snapshot/iteration.md
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot: move iterator out into its own files
  core/state/snapshot/difflayer.go
  core/state/snapshot/difflayer_test.go
  core/state/snapshot/iterator.go
  core/state/snapshot/iterator_binary.go
  core/state/snapshot/iterator_fast.go
  core/state/snapshot/iterator_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot: full featured account iteration
  core/state/snapshot/difflayer.go
  core/state/snapshot/difflayer_test.go
  core/state/snapshot/disklayer.go
  core/state/snapshot/iterator.go
  core/state/snapshot/iterator_binary.go
  core/state/snapshot/iterator_fast.go
  core/state/snapshot/iterator_test.go
  core/state/snapshot/snapshot.go
  core/state/snapshot/snapshot_test.go
  core/state/snapshot/wipe_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot: implement iterator priority for fast direct data lookup
  core/state/snapshot/iterator_fast.go
  core/state/snapshot/iterator_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot: faster account iteration, CLI integration
  cmd/geth/chaincmd.go
  cmd/geth/main.go
  cmd/utils/flags.go
  core/blockchain.go
  core/state/snapshot/difflayer.go
  core/state/snapshot/iterator.go
  core/state/snapshot/iterator_fast.go
  core/state/snapshot/journal.go
  core/state/snapshot/snapshot.go
Owners: @karalabe, @holiman, @rjl493456442

core: fix broken tests due to API changes + linter
  core/blockchain_test.go
  core/state/iterator_test.go
  core/state/snapshot/difflayer.go
  core/state/snapshot/difflayer_test.go
  core/state/snapshot/disklayer_test.go
  core/state/snapshot/generate.go
  core/state/snapshot/iteration.md
  core/state/snapshot/iterator_binary.go
  core/state/snapshot/iterator_fast.go
  core/state/snapshot/iterator_test.go
  core/state/snapshot/journal.go
  core/state/snapshot/sort.go
  core/state/state_test.go
  core/state/statedb_test.go
  core/state/sync_test.go
  core/tx_pool_test.go
  core/vm/gas_table_test.go
  les/odr_test.go
Owners: @karalabe, @holiman, @rjl493456442, @zsfelfoldi

internal/ethapi: remove warning for unspecified call sender
  internal/ethapi/api.go
Owners: none

internal/ethapi: default to zero address for calls (#20702)
  internal/ethapi/api.go
Owners: none

les: separate peer into clientPeer and serverPeer (#19991)
  les/benchmark.go
  les/client.go
  les/client_handler.go
  les/clientpool.go
  les/commons.go
  les/distributor.go
  les/distributor_test.go
  les/fetcher.go
  les/handler_test.go
  les/odr.go
  les/odr_requests.go
  les/odr_test.go
  les/peer.go
  les/peer_test.go
  les/request_test.go
  les/retrieve.go
  les/server.go
  les/server_handler.go
  les/serverpool.go
  les/servingqueue.go
  les/sync.go
  les/sync_test.go
  les/test_helper.go
  les/txrelay.go
  les/ulc_test.go
Owners: @zsfelfoldi, @rjl493456442

Specific error message when the private key to be imported is too short
  cmd/geth/accountcmd_test.go
  crypto/crypto.go
Owners: none

Use fmt.Errorf
  crypto/crypto.go
Owners: none

goimports fix
  crypto/crypto.go
Owners: none

Ugly code works with clique
  cmd/geth/les_test.go
  cmd/geth/testdata/clique.json
  cmd/geth/testdata/genesis.json
  cmd/geth/testdata/key.prv
  cmd/geth/testdata/password.txt
Owners: none

Clean up
  cmd/geth/les_test.go
Owners: none

Make goimport happy
  crypto/bn256/bn256_slow.go
Owners: none

Remove genesis.json not used anymore
  cmd/geth/testdata/genesis.json
Owners: none

mobile: add CallOpts.SetFrom
  mobile/bind.go
Owners: @karalabe, @ligi

Windows ipc path
  docs/_rpc/server.md
Owners: none

Update server.md
  docs/_rpc/server.md
Owners: none

[DOCS] Add default windows IPC path (#20722)
  docs/_rpc/server.md
Owners: none

mobile: add CallOpts.SetFrom (#20721)
  mobile/bind.go
Owners: @karalabe, @ligi

Make goimports happy
  crypto/bn256/bn256_slow.go
Owners: none

p2p/discv5: fix test on go 1.14
  p2p/discv5/node_test.go
Owners: @fjl, @zsfelfoldi

crypto/bn256: fix import line (#20723)
  crypto/bn256/bn256_slow.go
Owners: none

p2p/discv5: fix test on go 1.14 (#20724)
  p2p/discv5/node_test.go
Owners: @fjl, @zsfelfoldi

core/state: fix an account resurrection issue
  core/state/state_object.go
  core/state/statedb.go
Owners: @karalabe, @holiman, @rjl493456442

errors in comments for http.go
  rpc/http.go
Owners: @fjl, @holiman

consistency
  rpc/http.go
Owners: @fjl, @holiman

rpc: correct typo and reword comment for consistency (#20728)
  rpc/http.go
Owners: @fjl, @holiman

p2p/discv5: implement UDP TALK request in discv5
  p2p/discv5/net.go
  p2p/discv5/table.go
  p2p/discv5/udp.go
  p2p/enode/node.go
Owners: @fjl, @zsfelfoldi
