Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @MariusVanDerWijden, @holiman, @rjl493456442, @s1na, @zsfelfoldi, @ligi, @fjl

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet @MariusVanDerWijden
cmd/clef                        @holiman
cmd/puppeth                     @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
eth/                            @karalabe @holiman @rjl493456442
eth/catalyst/                   @gballet
eth/tracers/                    @s1na
graphql/                        @gballet @s1na
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
mobile/                         @karalabe @ligi
node/                           @fjl
p2p/                            @fjl @zsfelfoldi
rpc/                            @fjl @holiman
p2p/simulations                 @fjl
p2p/protocols                   @fjl
p2p/testing                     @fjl
signer/                         @holiman

internal/cli: add `skiptrace` flag for profiling (#715)
  docs/cli/debug_pprof.md
  internal/cli/debug_pprof.go
Owners: none

feat: make eip2718 & eip1559 configurable in txpool (#206)
  core/tx_pool.go
  internal/ethapi/api.go
  miner/worker.go
  params/config.go
Owners: @karalabe, @holiman, @rjl493456442

REFACTOR: common.CallFrameBN -> eth/tracers/blocknative.CallFrame.
  common/bn_tracer.go
  eth/tracers/blocknative/blocknative.go
  eth/tracers/blocknative/txnOpCodeTracer.go
  eth/tracers/internal/tracetest/txnOpCodeTracer_test.go
Owners: @s1na

CLEANUP: Remove unused fields from CallFrame.
  eth/tracers/blocknative/blocknative.go
Owners: @s1na

REFACTOR: Move tracer utils to their own file.
  eth/tracers/blocknative/blocknative.go
  eth/tracers/blocknative/utils.go
Owners: @s1na

CI: Run test on pull requests.
  .github/workflows/test.yml
Owners: none

REFACTOR: Create a backwards-compatible Trace struct.
  eth/tracers/blocknative/blocknative.go
  eth/tracers/blocknative/txnOpCodeTracer.go
  eth/tracers/internal/tracetest/txnOpCodeTracer_test.go
Owners: @s1na

bring in line with spec
  eth/catalyst/api.go
Owners: @gballet

eth/catalyst: update getPayloadBodiesByRange to new spec
  eth/catalyst/api.go
Owners: @gballet

eth/catalyst: add tests
  eth/catalyst/api_test.go
Owners: @gballet

eth/catalyst: fix issues from applying suggestions
  eth/catalyst/api.go
Owners: @gballet

eth/catalyst: added tests (not passing)
  eth/catalyst/api.go
  eth/catalyst/api_test.go
Owners: @gballet

eth/catalyst: fix return types on GetPayloadBodies...
  eth/catalyst/api.go
  eth/catalyst/api_test.go
Owners: @gballet

Apply suggestions from code review
  eth/catalyst/api.go
Owners: @gballet

eth/catalyst: remove unused type
  eth/catalyst/api.go
Owners: @gballet

eth/catalyst: rebase changes ontop
  core/beacon/types.go
  eth/catalyst/api.go
  eth/catalyst/api_test.go
Owners: @karalabe, @holiman, @rjl493456442, @gballet

eth/catalyst: update getPayloadByHash to new spec
  eth/catalyst/api.go
Owners: @gballet

eth/catalyst: apply suggestions by holiman
  core/beacon/types.go
  eth/catalyst/api.go
Owners: @karalabe, @holiman, @rjl493456442, @gballet

eth/catalyst: implement engine_getPayloadBodiesV1
  eth/catalyst/api.go
Owners: @gballet

eth/catalyst: add getPayloadBodies* to capabilities
  eth/catalyst/api.go
Owners: @gballet

initial commit for dashboards page
  docs/monitoring/understanding-dashboards.md
  public/images/docs/grafana/block-processing.png
  public/images/docs/grafana/chain-head.png
  public/images/docs/grafana/cpu.png
  public/images/docs/grafana/dashboard.png
  public/images/docs/grafana/disk.png
  public/images/docs/grafana/eth-egress-rate.png
  public/images/docs/grafana/eth-egress-traffic.png
  public/images/docs/grafana/eth-ingress-rate.png
  public/images/docs/grafana/eth-ingress-traffic.png
  public/images/docs/grafana/memory.png
  public/images/docs/grafana/peers.png
  public/images/docs/grafana/traffic.png
  public/images/docs/grafana/tx-pool.png
  public/images/docs/grafana/tx-processing.png
Owners: none

eth/catalyst: make compliant with spec
  eth/catalyst/api.go
  eth/catalyst/api_test.go
Owners: @gballet

eth/catalyst: use blockchain config
  eth/catalyst/api.go
Owners: @gballet

remove docs pages on puppeth
  docs/fundamentals/private-network.md
  docs/getting-started/installing-geth.md
  docs/tools/puppeth.md
  src/data/documentation-links.yaml
Owners: none

rm redundant sentence
  docs/tools/puppeth.md
Owners: none

rm capital
  src/data/documentation-links.yaml
Owners: none

Apply suggestions from code review
  docs/fundamentals/databases.md
Owners: none

Arpit/temp bor sync (#701)
  core/blockchain.go
  core/bor_blockchain.go
  core/rawdb/bor_receipt.go
  eth/filters/test_backend.go
  eth/tracers/api.go
  internal/ethapi/api.go
  params/config.go
  rpc/server.go
Owners: @karalabe, @holiman, @rjl493456442, @s1na, @fjl

Revert "chg : trieTimeout from 60 to 10 mins (#692)" (#720)
  builder/files/config.toml
  docs/cli/example_config.toml
  internal/cli/server/config.go
  packaging/templates/mainnet-v1/archive/config.toml
  packaging/templates/mainnet-v1/sentry/sentry/bor/config.toml
  packaging/templates/mainnet-v1/sentry/validator/bor/config.toml
  packaging/templates/mainnet-v1/without-sentry/bor/config.toml
  packaging/templates/testnet-v4/archive/config.toml
  packaging/templates/testnet-v4/sentry/sentry/bor/config.toml
  packaging/templates/testnet-v4/sentry/validator/bor/config.toml
  packaging/templates/testnet-v4/without-sentry/bor/config.toml
Owners: none
