Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @rjl493456442, @kurkomisi, @zsfelfoldi, @ligi, @fjl, @zelig, @janos, @justelad, @gluk256

cmd/geth: remove "shh" API from default whitelist
  cmd/geth/config.go
Owners: none

core/vm: use fixed uint256 library instead of big
  core/vm/common.go
  core/vm/contract.go
  core/vm/eips.go
  core/vm/evm.go
  core/vm/gas.go
  core/vm/gas_table.go
  core/vm/instructions.go
  core/vm/instructions_test.go
  core/vm/intpool.go
  core/vm/logger.go
  core/vm/logger_json.go
  core/vm/logger_test.go
  core/vm/memory.go
  core/vm/stack.go
  eth/tracers/tracer.go
  go.mod
  go.sum
Owners: @karalabe, @holiman, @rjl493456442

rpc: check module availability at startup (#20597)
  cmd/geth/config.go
  rpc/endpoints.go
Owners: @fjl, @holiman

Use correct account creation function
  docs/_interface/Managing-your-accounts.md
Owners: none

[DOCS] Use correct account creation function (#20603)
  docs/_interface/Managing-your-accounts.md
Owners: none

p2p: add test for dialScheduler.removeStatic
  p2p/dial_test.go
Owners: @fjl, @zsfelfoldi

p2p: remove blank line
  p2p/server.go
Owners: @fjl, @zsfelfoldi

p2p: fix documentation of maxDialPeers
  p2p/dial.go
Owners: @fjl, @zsfelfoldi

p2p: change "ok" to "added" in static node log
  p2p/dial.go
Owners: @fjl, @zsfelfoldi

p2p: improve dialTask docs
  p2p/dial.go
Owners: @fjl, @zsfelfoldi

p2p: ensure dial resolver is truly nil without discovery
  p2p/server.go
Owners: @fjl, @zsfelfoldi

crypto: add tests for CreateAddress2
  crypto/crypto_test.go
Owners: none

trie: make db insert use size instead of full data
  trie/database.go
  trie/hasher.go
Owners: none

trie: use dedicated committer/hasher
  trie/hasher.go
  trie/trie.go
Owners: none

core/state: minor optimization in state onleaf allocation
  core/state/statedb.go
Owners: @karalabe, @holiman, @rjl493456442

trie: implement dedicated committer and hasher
  trie/pure_committer.go
  trie/pure_hasher.go
Owners: none

trie: linter nitpicks
  trie/pure_committer.go
Owners: none

trie: review feedback, mainly docs + minor changes
  trie/pure_committer.go
  trie/pure_hasher.go
  trie/trie.go
Owners: none

core/state, trie: avoid unnecessary storage trie load+commit
  core/state/state_object.go
  core/state/statedb.go
  trie/pure_committer.go
  trie/trie.go
Owners: @karalabe, @holiman, @rjl493456442

trie: rename pure_committer/hasher to committer/hasher
  trie/committer.go
  trie/hasher.go
  trie/iterator.go
  trie/proof.go
  trie/secure_trie.go
  trie/trie.go
Owners: none

trie: deprecate hasher.go, make proof framework use new hasher
  trie/hasher.go
  trie/iterator.go
  trie/proof.go
  trie/pure_committer.go
  trie/pure_hasher.go
Owners: none

trie: fix misspell+lint
  core/state/state_object.go
  trie/pure_committer.go
Owners: @karalabe, @holiman, @rjl493456442

trie: start deprecating old hasher
  trie/hasher.go
  trie/pure_hasher.go
  trie/secure_trie.go
  trie/trie.go
Owners: none

trie: goimports fixes
  trie/proof.go
  trie/trie.go
Owners: none

trie: more review concerns
  trie/committer.go
  trie/trie.go
Owners: none

trie: make commit collapse into hashnode, don't touch dirtyness
  trie/committer.go
  trie/trie.go
Owners: none

trie, core/state: fix review concerns
  core/state/state_object.go
  trie/committer.go
  trie/hasher.go
  trie/trie.go
Owners: @karalabe, @holiman, @rjl493456442

trie: remove panics
  trie/committer.go
  trie/trie.go
Owners: none

signer/rules: use goja and remove otto (#20599)
  go.mod
  go.sum
  signer/rules/rules.go
  signer/rules/rules_test.go
Owners: @holiman

Hack a call to precompiles
  core/vm/contracts.go
  core/vm/wasm_update.go
  core/vm/wasm_verify.go
  go.mod
  go.sum
Owners: @karalabe, @holiman, @rjl493456442

cmd/clef: abstract all database related functions into dbutil
  cmd/clef/dbutil/dbutil.go
  cmd/clef/dbutil/dbutil_test.go
  cmd/clef/dbutil/dbutil_test_mysql.yaml
  cmd/clef/dbutil/dbutil_test_postgres.yaml
  cmd/clef/dbutil/dbutil_test_sqlite3.yaml
Owners: @holiman

Get proof+account data from the input
  core/vm/contracts.go
Owners: @karalabe, @holiman, @rjl493456442

core/vm/runtime: fix typos in comment
  core/vm/runtime/runtime.go
Owners: @karalabe, @holiman, @rjl493456442

core/vm/runtime: fix typos in comment (#20608)
  core/vm/runtime/runtime.go
Owners: @karalabe, @holiman, @rjl493456442

Added conditions for bytes32 at isPrimitiveTypeValid
  signer/core/signed_data.go
Owners: @holiman

retesteth: clean txpool on rewind, default dao support (#20596)
  cmd/geth/retesteth.go
Owners: none

params: update bootnode list
  params/bootnodes.go
Owners: none

params: update bootnodes (#20610)
  params/bootnodes.go
Owners: none

add regression tests for #20611
  eth/tracers/tracer_test.go
Owners: @karalabe, @holiman, @rjl493456442

signer/storage abstract aes-gcm encryption into a layer above all storages
  signer/storage/db_storage.go
  signer/storage/db_storage_test.go
  signer/storage/ephemeral_storage.go
  signer/storage/file_storage.go
  signer/storage/file_storage_test.go
  signer/storage/no_storage.go
  signer/storage/storage.go
Owners: @holiman

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet
cmd/clef                        @holiman
cmd/puppeth                     @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
dashboard/                      @kurkomisi
eth/                            @karalabe @holiman @rjl493456442
graphql/                        @gballet
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
mobile/                         @karalabe @ligi
p2p/                            @fjl @zsfelfoldi
rpc/                            @fjl @holiman
p2p/simulations                 @zelig @janos @justelad
p2p/protocols                   @zelig @janos @justelad
p2p/testing                     @zelig @janos @justelad
signer/                         @holiman
whisper/                        @gballet @gluk256
