Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @rjl493456442, @kurkomisi, @zsfelfoldi, @ligi, @fjl, @zelig, @janos, @justelad, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet
cmd/clef                        @holiman
cmd/puppeth                     @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
dashboard/                      @kurkomisi
eth/                            @karalabe @holiman @rjl493456442
graphql/                        @gballet
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
mobile/                         @karalabe @ligi
p2p/                            @fjl @zsfelfoldi
rpc/                            @fjl @holiman
p2p/simulations                 @zelig @janos @justelad
p2p/protocols                   @zelig @janos @justelad
p2p/testing                     @zelig @janos @justelad
signer/                         @holiman
whisper/                        @gballet @gluk256

params: release Geth v1.9.11 stable
  params/version.go
Owners: none

params: begin v1.9.12 release cycle
  params/version.go
Owners: none

core/vm: use dedicated SLOAD gas constant for EIP-2200 (#20646)
  core/vm/eips.go
  params/protocol_params.go
Owners: @karalabe, @holiman, @rjl493456442

cmd/geth retesteth: add ethash mining support for retesteth
  cmd/geth/retesteth.go
Owners: none

eth/downloader: fix possible data race by inconsistent field protection
  eth/downloader/queue.go
Owners: @karalabe, @holiman, @rjl493456442

eth, les: fix gas price oracle panic
  eth/backend.go
  eth/gasprice/gasprice.go
  eth/gasprice/gasprice_test.go
  les/client.go
Owners: @karalabe, @holiman, @rjl493456442, @zsfelfoldi

les: protect field access with lock to avoid possible data race
  les/client_handler.go
  les/clientpool.go
Owners: @zsfelfoldi, @rjl493456442

cmd/checkpoint-admin: add doc
  cmd/checkpoint-admin/README.md
Owners: none

cmd/checkpoint-admin: update doc
  cmd/checkpoint-admin/README.md
Owners: none

accounts/abi/bind: raise timeout allowance
  accounts/abi/bind/bind_test.go
Owners: @gballet

miner: fix miner test
  miner/worker_test.go
Owners: none

account/abi/bind: fix test name
  accounts/abi/bind/bind_test.go
Owners: @gballet

les: fix les timeout unit test
  les/clientpool_test.go
Owners: @zsfelfoldi, @rjl493456442

go.mod: upgrade goja to latest
  go.mod
  go.sum
Owners: none

les: use waitForTimer to replace time sleep
  les/clientpool_test.go
Owners: @zsfelfoldi, @rjl493456442

eth tests: linter nitpicks
  eth/api_test.go
Owners: @karalabe, @holiman, @rjl493456442

ethapi: default to 0x00-account instead of local accounts for calls
  internal/ethapi/api.go
Owners: none

go.mod: upgrade goja to latest (#20700)
  go.mod
  go.sum
Owners: none

les, miner, accounts/abi/bind: fix load-sensitive unit tests (#20698)
  accounts/abi/bind/bind_test.go
  les/clientpool_test.go
  miner/worker_test.go
Owners: @gballet, @zsfelfoldi, @rjl493456442

core/rawdb: fix prefixed database
  core/rawdb/table.go
  core/rawdb/table_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/rawdb: fix test
  core/rawdb/table_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/rawdb: fix batch replayer
  core/rawdb/table.go
  core/rawdb/table_test.go
Owners: @karalabe, @holiman, @rjl493456442

Clarify calling non-whitelisted namespace
  docs/_rpc/server.md
Owners: none

fixup text
  docs/_rpc/server.md
Owners: none

[DOCS] Clarify calling non-whitelisted namespace (#20704)
  docs/_rpc/server.md
Owners: none

Correct Clef typo
  cmd/clef/tutorial.md
Owners: @holiman

Create account and unlock it
  cmd/geth/les_test.go
Owners: none

docs: correct clef typo (#20705)
  cmd/clef/tutorial.md
Owners: @holiman

Create go.yml
  .github/workflows/go.yml
Owners: none

Apply suggestions from code review
  .github/workflows/go.yml
Owners: none

Update .github/workflows/go.yml
  .github/workflows/go.yml
Owners: none

Update .github/workflows/go.yml
  .github/workflows/go.yml
Owners: none

Update .github/workflows/go.yml
  .github/workflows/go.yml
Owners: none

Update .github/workflows/go.yml
  .github/workflows/go.yml
Owners: none

Update .github/workflows/go.yml
  .github/workflows/go.yml
Owners: none

les: separate peer into clientPeer and serverPeer
  les/benchmark.go
  les/client.go
  les/client_handler.go
  les/clientpool.go
  les/distributor.go
  les/distributor_test.go
  les/fetcher.go
  les/handler_test.go
  les/odr.go
  les/odr_requests.go
  les/odr_test.go
  les/peer.go
  les/peer_test.go
  les/request_test.go
  les/retrieve.go
  les/server.go
  les/server_handler.go
  les/serverpool.go
  les/servingqueue.go
  les/sync.go
  les/sync_test.go
  les/test_helper.go
  les/txrelay.go
  les/ulc_test.go
Owners: @zsfelfoldi, @rjl493456442

les: address comments
  les/client.go
  les/commons.go
  les/distributor.go
  les/peer.go
  les/peer_test.go
  les/retrieve.go
  les/server.go
  les/server_handler.go
  les/test_helper.go
  les/txrelay.go
Owners: @zsfelfoldi, @rjl493456442

eth/fetcher: remove randomness from test data
  eth/fetcher/tx_fetcher_test.go
Owners: @karalabe, @holiman, @rjl493456442

eth/downloader: fix possible data race by inconsistent field protection (#20690)
  eth/downloader/queue.go
Owners: @karalabe, @holiman, @rjl493456442

core: initial version of state snapshots
  accounts/abi/bind/backends/simulated.go
  cmd/evm/runner.go
  cmd/geth/chaincmd.go
  core/blockchain.go
  core/chain_makers.go
  core/genesis.go
  core/rawdb/accessors_snapshot.go
  core/rawdb/database.go
  core/rawdb/schema.go
  core/state/snapshot/account.go
  core/state/snapshot/difflayer.go
  core/state/snapshot/difflayer_journal.go
  core/state/snapshot/disklayer.go
  core/state/snapshot/generate.go
  core/state/snapshot/generate_test.go
  core/state/snapshot/snapshot.go
  core/state/snapshot/snapshot_test.go
  core/state/snapshot/sort.go
  core/state/state_object.go
  core/state/statedb.go
  core/state_prefetcher.go
  core/vm/runtime/runtime.go
  core/vm/runtime/runtime_test.go
  eth/api_test.go
  eth/api_tracer.go
  eth/handler_test.go
  light/odr_test.go
  light/trie.go
  tests/state_test_util.go
  trie/iterator.go
Owners: @gballet, @karalabe, @holiman, @rjl493456442, @zsfelfoldi
