Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @rjl493456442, @kurkomisi, @zsfelfoldi, @ligi, @fjl, @zelig, @janos, @justelad, @gluk256

Remove unwanted log
  log/logger.go
Owners: none

Send key while logging error msg
  consensus/bor/rest.go
  log/logger.go
Owners: @karalabe

core/rawdb: rewind KV to Ancient in case chain gap detected
  core/rawdb/database.go
Owners: @karalabe, @holiman, @rjl493456442

tests: update tests/testdata@develop, include EIP2384 config
  tests/difficulty_test.go
Owners: none

tests: update tests/testdata@develop, include EIP2384 config (#20746)
  tests/difficulty_test.go
Owners: none

les: fix linter
  les/peer.go
  les/test_helper.go
Owners: @zsfelfoldi, @rjl493456442

rpc: improve cancel test
  rpc/client_test.go
  rpc/testservice_test.go
Owners: @fjl, @holiman

rpc: fix server test
  rpc/server_test.go
Owners: @fjl, @holiman

les: use time.After
  les/test_helper.go
Owners: @zsfelfoldi, @rjl493456442

rpc: improve cancel test (#20752)
  rpc/client_test.go
  rpc/server_test.go
  rpc/testservice_test.go
Owners: @fjl, @holiman

eth, les: fix time sensitive unit tests (#20741)
  eth/handler_test.go
  les/client_handler.go
  les/odr_test.go
  les/peer.go
  les/request_test.go
  les/server_handler.go
  les/sync_test.go
  les/test_helper.go
Owners: @karalabe, @holiman, @rjl493456442, @zsfelfoldi

p2p: add ban peer feature
  p2p/dial.go
  p2p/peer.go
  p2p/peer_test.go
  p2p/server.go
Owners: @fjl, @zsfelfoldi

les: ban bad light client
  les/peer.go
  les/server_handler.go
  p2p/dial.go
Owners: @zsfelfoldi, @rjl493456442, @fjl

Update docs/_getting-started/creating-private-network-puppeth.md
  docs/_getting-started/creating-private-network-puppeth.md
Owners: none

core/vm: use a callcontext struct
  core/vm/eips.go
  core/vm/instructions.go
  core/vm/interpreter.go
  core/vm/jump_table.go
Owners: @karalabe, @holiman, @rjl493456442

eth: fix transaction announce/broadcast goroutine leak
  eth/peer.go
Owners: @karalabe, @holiman, @rjl493456442

core/vm: fix tests
  core/vm/instructions_test.go
Owners: @karalabe, @holiman, @rjl493456442

go.mod: update golang.org/x/crypto to fix a Go 1.14 race rejection
  go.mod
  go.sum
Owners: none

cmd, consensus: add option to disable mmap for DAG caches/datasets
  cmd/geth/main.go
  cmd/geth/retesteth.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  consensus/ethash/algorithm_test.go
  consensus/ethash/ethash.go
  eth/backend.go
  eth/config.go
Owners: @karalabe, @holiman, @rjl493456442

consensus: add benchmarks for mmap with/with lock
  consensus/ethash/algorithm_test.go
Owners: @karalabe

increase geth retesteth default http timeouts
  cmd/geth/retesteth.go
Owners: none

geth retesteth: increase retesteth default http timeouts (#20767)
  cmd/geth/retesteth.go
Owners: none

params: release Geth v1.9.12
  params/version.go
Owners: none

params: begin v1.9.13 release cycle
  params/version.go
Owners: none

fix MatchFilterHandler
  log/handler.go
Owners: none

rpc: add 'rpc' as always-available module
  rpc/endpoints.go
Owners: @fjl, @holiman

Use canonical table-driven test format
  cmd/geth/accountcmd_test.go
Owners: none

Formatting, oh my
  cmd/geth/accountcmd_test.go
Owners: none

typo of syncing mode
  docs/_dapp/tracing.md
Owners: none

Use string literals, no magic
  cmd/geth/accountcmd_test.go
Owners: none

rpc: dont log an error if user configures --rpcapi=rpc...
  rpc/endpoints.go
Owners: @fjl, @holiman

core/vm/runtime: benchmark
  core/vm/runtime/runtime_test.go
Owners: @karalabe, @holiman, @rjl493456442

go.mod: update gopkg.in/olebedev/go-duktape to fix sprintf warnings
  go.mod
  go.sum
Owners: none

[DOCS] fix typo of syncing mode "fast" -> "full" (#20775)
  docs/_dapp/tracing.md
Owners: none

cmd/checkpoint-admin: add some documentation (#20697)
  cmd/checkpoint-admin/README.md
Owners: none

WIP
  consensus/bor/bor.go
  consensus/bor/bor_test.go
  consensus/bor_test/bor_test.go
  consensus/bor_test/genesis.json
  core/tx_pool.go
Owners: @karalabe, @holiman, @rjl493456442

Add bor.isValidatorAction and call it while validating underpriced tx
  consensus/bor/bor.go
  core/tx_pool.go
Owners: @karalabe, @holiman, @rjl493456442

try to use same statedb
  consensus/bor/bor.go
  consensus/bor_test/bor_test.go
  eth/api_backend.go
  internal/ethapi/api.go
Owners: @karalabe, @holiman, @rjl493456442

Cleanup debug statements
  consensus/bor/api.go
  consensus/bor/bor.go
  crypto/secp256k1/secp256.go
  internal/ethapi/api.go
  les/api_backend.go
Owners: @karalabe, @zsfelfoldi, @rjl493456442

Revert unintended changes
  consensus/bor/bor.go
Owners: @karalabe

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet
cmd/clef                        @holiman
cmd/puppeth                     @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
dashboard/                      @kurkomisi
eth/                            @karalabe @holiman @rjl493456442
graphql/                        @gballet
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
mobile/                         @karalabe @ligi
p2p/                            @fjl @zsfelfoldi
rpc/                            @fjl @holiman
p2p/simulations                 @zelig @janos @justelad
p2p/protocols                   @zelig @janos @justelad
p2p/testing                     @zelig @janos @justelad
signer/                         @holiman
whisper/                        @gballet @gluk256
