Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @MariusVanDerWijden, @lightclient, @holiman, @rjl493456442, @s1na, @zsfelfoldi, @fjl

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet @MariusVanDerWijden
beacon/engine                   @lightclient
cmd/clef                        @holiman
cmd/evm                         @holiman @MariusVanDerWijden @lightclient
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
eth/                            @karalabe @holiman @rjl493456442
eth/catalyst/                   @gballet @lightclient
eth/tracers/                    @s1na
core/tracing/                   @s1na
graphql/                        @s1na
internal/ethapi                 @lightclient
internal/era                    @lightclient
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
node/                           @fjl
p2p/                            @fjl @zsfelfoldi
params/                         @fjl @holiman @karalabe @gballet @rjl493456442 @zsfelfoldi
rpc/                            @fjl @holiman
signer/                         @holiman

params: go-ethereum v1.14.11 stable
  params/version.go
Owners: @fjl, @holiman, @karalabe, @gballet, @rjl493456442, @zsfelfoldi

params: begin v1.14.12 release cycle
  params/version.go
Owners: @fjl, @holiman, @karalabe, @gballet, @rjl493456442, @zsfelfoldi

refactor: expose state scheme as env variable
  geth-poa/entrypoint.sh
Owners: none

rename DropTransactions -> Clear
  core/txpool/blobpool/blobpool.go
  core/txpool/legacypool/legacypool.go
  core/txpool/subpool.go
  core/txpool/txpool.go
  eth/catalyst/simulated_beacon.go
Owners: @karalabe, @holiman, @rjl493456442, @gballet, @lightclient

feat: `pseudo.Type` RLP round-tripping (#43)
  .github/workflows/go.yml
  libevm/ethtest/rand.go
  libevm/pseudo/constructor.go
  libevm/pseudo/reflect.go
  libevm/pseudo/rlp_test.go
  libevm/pseudo/type.go
  libevm/pseudo/type_test.go
Owners: none

core/rawdb: freezer index repair (#29792)
  core/rawdb/freezer_batch.go
  core/rawdb/freezer_table.go
  core/rawdb/freezer_table_test.go
  triedb/pathdb/disklayer.go
  triedb/pathdb/nodebuffer.go
Owners: @karalabe, @holiman, @rjl493456442

internal/web3ext: rm unused modules (#30532)
  internal/web3ext/web3ext.go
Owners: none

Adding amoy static-nodes and bootnodes for amoy
  packaging/templates/testnet-amoy/archive/config.toml
  packaging/templates/testnet-amoy/sentry/sentry/bor/config.toml
  packaging/templates/testnet-amoy/sentry/sentry/bor/pbss_config.toml
  packaging/templates/testnet-amoy/sentry/validator/bor/config.toml
  packaging/templates/testnet-amoy/sentry/validator/bor/pbss_config.toml
  packaging/templates/testnet-amoy/without-sentry/bor/config.toml
  packaging/templates/testnet-amoy/without-sentry/bor/pbss_config.toml
Owners: none

Adding mainnet bootnodes and static-nodes
  packaging/templates/mainnet-v1/archive/config.toml
  packaging/templates/mainnet-v1/sentry/sentry/bor/config.toml
  packaging/templates/mainnet-v1/sentry/sentry/bor/pbss_config.toml
  packaging/templates/mainnet-v1/sentry/validator/bor/config.toml
  packaging/templates/mainnet-v1/sentry/validator/bor/pbss_config.toml
  packaging/templates/mainnet-v1/without-sentry/bor/config.toml
  packaging/templates/mainnet-v1/without-sentry/bor/pbss_config.toml
Owners: none

Updated amoy static-nodes and bootnodes for amoy
  packaging/templates/testnet-amoy/archive/config.toml
  packaging/templates/testnet-amoy/sentry/sentry/bor/config.toml
  packaging/templates/testnet-amoy/sentry/sentry/bor/pbss_config.toml
  packaging/templates/testnet-amoy/sentry/validator/bor/config.toml
  packaging/templates/testnet-amoy/sentry/validator/bor/pbss_config.toml
  packaging/templates/testnet-amoy/without-sentry/bor/config.toml
  packaging/templates/testnet-amoy/without-sentry/bor/pbss_config.toml
Owners: none

feat: update L2 base fee formula (#1053)
  consensus/misc/eip1559.go
  consensus/misc/eip1559_test.go
  core/state_processor_test.go
  params/version.go
Owners: @karalabe, @holiman, @rjl493456442, @fjl, @gballet, @zsfelfoldi

update to 1 min timeout
  params/config.go
Owners: @fjl, @holiman, @karalabe, @gballet, @rjl493456442, @zsfelfoldi

update version
  params/version.go
Owners: @fjl, @holiman, @karalabe, @gballet, @rjl493456442, @zsfelfoldi

clear address reservations inside subpools, with explanation for why it's not done at the TxPool level.
  core/txpool/blobpool/blobpool.go
  core/txpool/legacypool/legacypool.go
Owners: @karalabe, @holiman, @rjl493456442

move live constructor to core/tracing
  core/tracing/hooks.go
  eth/tracers/live.go
  eth/tracers/live/noop.go
  eth/tracers/live/supply.go
Owners: @s1na

update changelog
  core/tracing/CHANGELOG.md
Owners: @s1na

core/vm, cmd/evm: implement eof validation (#30418)
  cmd/evm/eofparse.go
  cmd/evm/eofparse_test.go
  cmd/evm/main.go
  cmd/evm/testdata/eof/eof_benches.txt
  cmd/evm/testdata/eof/eof_corpus_1.txt
  cmd/evm/testdata/eof/results.initcode.txt
  cmd/evm/testdata/eof/results.regular.txt
  core/asm/asm.go
  core/asm/asm_test.go
  core/vm/analysis.go
  core/vm/analysis_eof.go
  core/vm/analysis_legacy.go
  core/vm/analysis_legacy_test.go
  core/vm/analysis_test.go
  core/vm/eips.go
  core/vm/eof.go
  core/vm/eof_control_flow.go
  core/vm/eof_immediates.go
  core/vm/eof_instructions.go
  core/vm/eof_test.go
  core/vm/eof_validation.go
  core/vm/eof_validation_test.go
  core/vm/errors.go
  core/vm/gas.go
  core/vm/gas_table.go
  core/vm/jump_table.go
  core/vm/memory_table.go
  core/vm/opcodes.go
  core/vm/operations_acl.go
Owners: @holiman, @MariusVanDerWijden, @lightclient, @karalabe, @rjl493456442

beacon/engine, core/txpool, eth/catalyst: add engine_getBlobsV1 API
  beacon/engine/types.go
  core/txpool/blobpool/blobpool.go
  core/txpool/blobpool/blobpool_test.go
  core/txpool/blobpool/lookup.go
  core/txpool/legacypool/legacypool.go
  core/txpool/subpool.go
  core/txpool/txpool.go
  eth/catalyst/api.go
Owners: @lightclient, @karalabe, @holiman, @rjl493456442, @gballet

core/txpool: typos
  core/txpool/txpool.go
Owners: @karalabe, @holiman, @rjl493456442

beacon/light: optimize lock usage in `HeadTracker` (#30485)
  beacon/light/head_tracker.go
Owners: @zsfelfoldi, @rjl493456442

internal/ethapi: set dynamic fee fields to 0 in access list so that setting NoBaseFee will disable subsequent validation
  internal/ethapi/api.go
Owners: @lightclient

feat: `types.StateAccount` pseudo-generic payload (#44)
  core/state/statedb.go
  core/types/gen_slim_account_rlp.libevm.go
  core/types/rlp_payload.libevm.go
  core/types/state_account.go
  core/types/state_account.libevm_test.go
  libevm/pseudo/fmt.go
  libevm/pseudo/fmt_test.go
  libevm/pseudo/type.go
Owners: @karalabe, @holiman, @rjl493456442

try using CallDefaults instead of setDefaults (AccessList is an eth_call-like operation)
  internal/ethapi/api.go
Owners: @lightclient

test: `StateAccount.Extra` via `trie.StateTrie.{Update,Get}Account()` (#45)
  core/types/rlp_payload.libevm.go
  core/types/state_account.libevm_test.go
  core/types/state_account_storage.libevm_test.go
  libevm/testonly/testonly.go
  params/config.libevm.go
Owners: @karalabe, @holiman, @rjl493456442, @fjl, @gballet, @zsfelfoldi

beacon/engine,eth/catalyst: ensure RequestsHash is passed to newPayload in engine tests
  beacon/engine/types.go
  eth/catalyst/api_test.go
Owners: @lightclient, @gballet

chore: remove mainnet bootnode addresses (#51)
  params/bootnodes.go
Owners: @fjl, @holiman, @karalabe, @gballet, @rjl493456442, @zsfelfoldi

eth/tracers: rm the flatCall's notused CreationMethod
  eth/tracers/native/call_flat.go
  eth/tracers/native/gen_flatcallaction_json.go
Owners: @s1na

Remove debug logs
  cmd/utils/flags.go
Owners: none

eth/filters: fixed tests, added more
  core/filtermaps/filtermaps.go
  core/filtermaps/indexer.go
  core/filtermaps/indexer_test.go
  core/filtermaps/matcher_backend.go
  core/rawdb/accessors_indexes_test.go
  core/rawdb/database.go
  eth/filters/filter.go
  eth/filters/filter_system_test.go
  eth/filters/filter_test.go
  internal/ethapi/api_test.go
  internal/ethapi/transaction_args_test.go
Owners: @karalabe, @holiman, @rjl493456442, @lightclient
