Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @zelig, @nonsense, @janos, @justelad, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @zelig @nonsense @janos @justelad
p2p/protocols                   @zelig @nonsense @janos @justelad
p2p/testing                     @zelig @nonsense @janos @justelad
whisper/                        @gballet @gluk256

swarm/network, swarm/storage, swarm:tracing: Minor cleanup
  swarm/network/stream/peer.go
  swarm/network/stream/stream.go
  swarm/storage/netstore.go
  swarm/tracing/tracing.go
Owners: none

accounts/abi: mutex lock in TransactionByHash and code cleanup (#19133)
  accounts/abi/bind/backends/simulated.go
  accounts/abi/bind/backends/simulated_test.go
  accounts/abi/bind/base_test.go
Owners: @gballet

fix ens.sol
  contracts/ens/contract/ens.go
  contracts/ens/ens.go
Owners: none

contracts/ens: change contract interface
  contracts/ens/ens.go
Owners: none

eth/downloader: fix ancestor searching for light syncing
  eth/downloader/downloader.go
Owners: @karalabe

params, swarm: release Geth v1.8.23, Swarm v0.3.11
  params/version.go
  swarm/version/version.go
Owners: none

sort sidebar groups
  _config.yml
  _layouts/sidebar.html
Owners: none

contracts/ens: implement public resolver changes
  contracts/ens/ens.go
  contracts/ens/ens_test.go
Owners: none

contracts/ens: added ENSRegistry contract
  contracts/ens/contract/ENSRegistry.sol
  contracts/ens/contract/ensregistry.go
Owners: none

swarm/storage/mock/db: renames based on Fabio's suggestions
  swarm/storage/mock/db/db.go
Owners: none

contracts/ens: reinstate old contract code
  contracts/ens/fallback_contract/AbstractENS.sol
  contracts/ens/fallback_contract/ENS.sol
  contracts/ens/fallback_contract/FIFSRegistrar.sol
  contracts/ens/fallback_contract/PublicResolver.sol
  contracts/ens/fallback_contract/ens.go
  contracts/ens/fallback_contract/fifsregistrar.go
  contracts/ens/fallback_contract/publicresolver.go
Owners: none

contracts/ens: update README.md
  contracts/ens/README.md
Owners: none

downloads: handle multi-page results from Azure
  downloads/index.html
Owners: none

swarm/storage/mock/explorer: add more comments to testHandler function
  swarm/storage/mock/explorer/explorer_test.go
Owners: none

downloads: handle multi-page results from Azure (#19138)
  downloads/index.html
Owners: none

contracts/ens: added test coverage for fallback contract
  contracts/ens/ens.go
  contracts/ens/ens_test.go
  contracts/ens/fallback_contract/ens.go
  contracts/ens/fallback_contract/fifsregistrar.go
  contracts/ens/fallback_contract/publicresolver.go
Owners: none

contracts/ens: added support for fallback contract
  contracts/ens/ens.go
  contracts/ens/ens_test.go
Owners: none

contracts/ens: removed unused contract code
  contracts/ens/fallback_contract/AbstractENS.sol
  contracts/ens/fallback_contract/ENS.sol
  contracts/ens/fallback_contract/FIFSRegistrar.sol
  contracts/ens/fallback_contract/ens.go
  contracts/ens/fallback_contract/fifsregistrar.go
Owners: none

core, ethdb, trie: historical state pruning
  core/blockchain.go
  core/genesis.go
  core/state/database.go
  core/state/statedb.go
  core/state/sync.go
  eth/api_tracer.go
  les/handler.go
  trie/database.go
  trie/hasher.go
  trie/iterator.go
  trie/proof.go
  trie/secure_trie.go
  trie/sync.go
  trie/trie.go
Owners: @karalabe, @holiman, @zsfelfoldi

trie: batch pruning better, cache unreferencing trie prefixes
  trie/database.go
  trie/database_pruning.go
Owners: none

trie: separate pruner and optimize liveness check
  trie/database.go
  trie/database_pruning.go
Owners: none

trie: background pruner
  trie/database.go
  trie/database_pruning.go
Owners: none

core, trie: prevent genesis and last snapshot from being pruned
  core/blockchain.go
  trie/database.go
  trie/database_pruning.go
Owners: @karalabe, @holiman

trie: rename pruner (need it for diffs, lol)
  trie/pruning.go
Owners: none

trie: only cache one rlp per hash (even from diff owners)
  trie/database.go
  trie/pruning.go
Owners: none

core, trie: move state pruner onto its own background thread
  core/blockchain.go
  core/state/database.go
  eth/api_tracer.go
  les/handler.go
  light/postprocess.go
  light/trie.go
  trie/database.go
  trie/pruning.go
Owners: @karalabe, @holiman, @zsfelfoldi

trie: support mid-trie pruning interruption
  trie/database.go
  trie/pruning.go
Owners: none

trie: replace naive pruner queue with a proper deque
  trie/pruning.go
  vendor/github.com/karalabe/cookiejar/LICENSE
  vendor/github.com/karalabe/cookiejar/collections/deque/deque.go
  vendor/vendor.json
Owners: none

trie: deduplicate queued pruning tasks
  trie/database.go
  trie/pruning.go
Owners: none

trie: fix pruning metric historgrams
  trie/pruning.go
Owners: none

core, trie: store bytecodes under a separate database prefix
  core/blockchain.go
  core/rawdb/accessors_state.go
  core/rawdb/schema.go
  core/state/database.go
  core/state/statedb.go
  les/handler.go
  trie/database.go
Owners: @karalabe, @holiman, @zsfelfoldi

trie: make must-parse panics a bit more informative
  trie/node.go
Owners: none

swarm/network: Add panic comment
  swarm/network/protocol.go
Owners: none

trie: relinquish pruner mutex only after flushing deletes
  trie/database.go
  trie/pruning.go
Owners: none

common/fdlimit: Fix compilation error in freebsd, Raise() returns uint64
  common/fdlimit/fdlimit_freebsd.go
Owners: none

swarm/network: skip TestSyncingViaGlobalSync with -race
  swarm/network/stream/snapshot_sync_test.go
Owners: none

swarm: refactor TestSwarmNetwork case
  swarm/network_test.go
Owners: none

swarm: run TestSwarmNetwork with fewer nodes with -race
  swarm/network_test.go
Owners: none

swarm/network: run TestDeliveryFromNodes with fewer nodes with -race
  swarm/network/stream/delivery_test.go
Owners: none

swarm/network: run TestFileRetrieval with fewer nodes with -race
  swarm/network/stream/snapshot_retrieval_test.go
Owners: none
