Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @zelig, @nonsense, @janos, @justelad, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @zelig @nonsense @janos @justelad
p2p/protocols                   @zelig @nonsense @janos @justelad
p2p/testing                     @zelig @nonsense @janos @justelad
whisper/                        @gballet @gluk256

swarm/network: run TestRetrieval with fewer nodes with -race
  swarm/network/stream/snapshot_retrieval_test.go
Owners: none

swarm/network: smaller node count for discovery tests with -race
  swarm/network/simulations/discovery/discovery_test.go
Owners: none

swarm/network/stream: fix a goroutine leak in Registry (#19139)
  swarm/network/kademlia.go
  swarm/network/stream/stream.go
Owners: none

swarm/network: Use actual remote peer ip in underlay (#19137)
  swarm/network/protocol.go
  swarm/network/protocol_test.go
Owners: none

swarm/network: Keep span across roundtrip (#19140)
  swarm/network/stream/delivery.go
  swarm/network/stream/messages.go
  swarm/network/stream/peer.go
  swarm/network/stream/stream.go
  swarm/storage/netstore.go
  swarm/swarm.go
  swarm/tracing/tracing.go
Owners: none

swarm/network: skip flaky TestGetSubscriptionsRPC on Travis w/ -race
  swarm/network/stream/streamer_test.go
Owners: none

swarm/network/master: protect SetNextBatch iterator after close
  swarm/network/stream/stream.go
  swarm/network/stream/syncer.go
Owners: none

contracts/ens: add todo and decode multicodec stub
  contracts/ens/ens.go
  contracts/ens/ens_test.go
Owners: none

cmd/swarm/global-store: use kill instead interrupt in tests
  cmd/swarm/global-store/global_store_test.go
Owners: none

add encode
  contracts/ens/ens.go
Owners: none

cmd/swarm/global-store: terminate subprocess with Kill in tests
  cmd/swarm/global-store/explorer_test.go
  cmd/swarm/global-store/global_store_test.go
Owners: none

swarm/storage: skip TestDB_SubscribePull* tests on Travis w/ -race
  swarm/storage/localstore/gc_test.go
  swarm/storage/localstore/subscription_pull_test.go
Owners: none

Create geth
  geth
Owners: none

build: add travis_keepalive.sh helper script
  build/travis_keepalive.sh
Owners: none

travis: remove cron restriction from Swarm race detector job
  .travis.yml
Owners: none

travis: run Ubuntu PPA upload job only on ethereum/go-ethereum
  .travis.yml
Owners: none

travis: add race detector job for Swarm
  .travis.yml
Owners: none

travis: run Azure related jobs only on ethereum/go-ethereum CI
  .travis.yml
Owners: none

Ci race detector handle failing tests (#19143)
  swarm/network/simulations/discovery/discovery_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/streamer_test.go
  swarm/network/stream/syncer_test.go
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
  swarm/network_test.go
  swarm/storage/common_test.go
  swarm/storage/localstore/gc_test.go
  swarm/storage/localstore/subscription_pull_test.go
  swarm/testutil/norace.go
  swarm/testutil/race.go
Owners: none

cmd/swarm/global-store: use kill instead interrupt in tests (#19142)
  cmd/swarm/global-store/global_store_test.go
Owners: none

Version 2.0.2
  VERSION
  params/version.go
Owners: none

Try maxpeer 200
  docker/tomochain/entrypoint.sh
Owners: none

swarm/storage: fix loop bound for database cleanup (#19085)
  swarm/storage/ldbstore.go
Owners: none

swarm/*: remove redundant type specifiers
  swarm/network/stream/stream.go
  swarm/pss/pss.go
  swarm/storage/feed/lookup/lookup_test.go
  swarm/storage/ldbstore_test.go
Owners: none

core/blockchain: rework import of pruned canon blocks and canon-prepended sidechains
  core/blockchain.go
  core/blockchain_test.go
Owners: @karalabe, @holiman

core/blockchain: minor clarity change
  core/blockchain.go
Owners: @karalabe, @holiman

common/fdlimit: Fix compilation error in freebsd, Raise() returns uint64 (#19141)
  common/fdlimit/fdlimit_freebsd.go
Owners: none

core/blockchain: remove unused method
  core/blockchain.go
Owners: @karalabe, @holiman

swarm/shed: fix a deadlock in meter function
  swarm/shed/db.go
Owners: none

core: more tests for sidechain import, fixes #19105 (#19113)
  core/blockchain.go
  core/blockchain_test.go
Owners: @karalabe, @holiman

swarm/storage/localstore: close localstore in two tests
  swarm/storage/localstore/gc_test.go
  swarm/storage/localstore/localstore_test.go
Owners: none

core/rawdb: drop txlookup entry struct wrapper
  core/rawdb/accessors_indexes.go
  core/rawdb/schema.go
  core/types/receipt.go
Owners: @karalabe, @holiman

swarm/storage/localstore: fix a possible deadlock in tests
  swarm/storage/localstore/subscription_pull_test.go
Owners: none

swarm/storage/localstore: re-enable pull subs tests for travis race
  swarm/storage/localstore/subscription_pull_test.go
Owners: none

Automatically collect all files in the doc folder
  _config.yml
  _layouts/sidebar.html
  doc.md
Owners: none

swarm/storage/localstore: stop sending to errChan on context done in tests
  swarm/storage/localstore/subscription_pull_test.go
  swarm/storage/localstore/subscription_push_test.go
Owners: none

core: remove unnecessary fields in logs, receipts and tx lookups (#17106)
  core/blockchain.go
  core/rawdb/accessors_chain.go
  core/rawdb/accessors_chain_test.go
  core/rawdb/accessors_indexes.go
  core/rawdb/accessors_indexes_test.go
  core/rawdb/schema.go
  core/types/gen_log_json.go
  core/types/log.go
  core/types/receipt.go
  eth/backend.go
  les/handler.go
  les/handler_test.go
  les/protocol.go
Owners: @karalabe, @holiman, @zsfelfoldi

swarm/version: bump to v0.3.12 unstable
  swarm/version/version.go
Owners: none

Move pages in subfolders
  docs/_doc/Mobile_Account-management.md
  docs/_doc/Mobile_Introduction.md
  docs/_doc/Native_Account-management.md
  docs/_doc/Native_Introduction.md
  docs/_doc/Tracing_Introduction.md
Owners: none

swarm/storage/localstore: better want check in readPullSubscriptionBin
  swarm/storage/localstore/subscription_pull_test.go
Owners: none
