Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @rjl493456442, @kurkomisi, @zsfelfoldi, @ligi, @fjl, @zelig, @janos, @justelad, @gluk256

Refactor HeimdallClient + commitSpan test :construction:
  consensus/bor/api.go
  consensus/bor/bor.go
  consensus/bor/rest.go
  consensus/bor_test/bor_test.go
  consensus/bor_test/genesis.json
  consensus/bor_test/span.json
  mocks/IHeimdallClient.go
Owners: @karalabe

Test isValidatorAction :construction:
  consensus/bor/bor.go
  consensus/bor/bor_test.go
Owners: @karalabe

Test isValidatorAction after span changes
  consensus/bor/bor.go
  consensus/bor_test/bor_test.go
Owners: @karalabe

TestCommitSpan finally works
  consensus/bor/bor.go
  consensus/bor_test/bor_test.go
  consensus/bor_test/span.json
  crypto/secp256k1/secp256.go
  eth/api_backend.go
  internal/ethapi/api.go
  les/api_backend.go
Owners: @karalabe, @holiman, @rjl493456442, @zsfelfoldi

Test for IsValidatorAction
  README.md
  consensus/bor/bor.go
  consensus/bor_test/bor_test.go
  consensus/bor_test/genesis.json
Owners: @karalabe

Add testify/mock modules and Add make test to circle config
  .circleci/config.yml
  Makefile
  go.mod
  go.sum
Owners: none

Remove Test section from README
  README.md
Owners: none

go.mod: update duktape to fix sprintf warnings (#20777)
  go.mod
  go.sum
Owners: none

core/rawdb: fix freezer table test error check
  core/rawdb/freezer_table_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/rawdb: improve table database (#20703)
  core/rawdb/table.go
  core/rawdb/table_test.go
Owners: @karalabe, @holiman, @rjl493456442

eth: when triggering a sync, check the head header TD, not block
  eth/handler.go
  eth/sync.go
Owners: @karalabe, @holiman, @rjl493456442

internal/web3ext: fix clique console apis to work on missing arguments
  internal/web3ext/web3ext.go
Owners: none

remove env.sh
  Makefile
  build/env.sh
Owners: none

fix abigen to create pure/view methods
  accounts/abi/abi.go
Owners: @gballet

fix docker file
  Dockerfile
  Dockerfile.alltools
Owners: none

cmd/clef: add newaccount command
  cmd/clef/main.go
  signer/core/api.go
  signer/core/uiapi.go
Owners: @holiman

cmd/clef: document clef_New, update API versioning
  cmd/clef/intapi_changelog.md
  signer/core/api.go
Owners: @holiman

fix go mod for make all
  go.mod
  go.sum
  internal/build/azure.go
Owners: none

ethapi: don't set sender-balance to maxuint, fixes #16999
  eth/api_backend.go
  internal/ethapi/api.go
  les/api_backend.go
Owners: @karalabe, @holiman, @rjl493456442, @zsfelfoldi

go.mod: update uint256
  go.mod
  go.sum
Owners: none

whisper: temporary disabling of a fickle test
  whisper/whisperv6/peer_test.go
Owners: @gballet, @gluk256

fix linter error
  whisper/whisperv6/peer_test.go
Owners: @gballet, @gluk256

whisper/whisperv6: delete failing tests (#20788)
  whisper/whisperv6/peer_test.go
Owners: @gballet, @gluk256

added github actions workflow for BOR docker push
  .github/workflows/dockerimage.yml
Owners: none

core: handle engine VerifyHeader error in NewBlockChain
  core/blockchain.go
Owners: @karalabe, @holiman, @rjl493456442

rpc: make comment more informative and neutral
  rpc/endpoints.go
Owners: @fjl, @holiman

fix build once and for all + go mod tidy
  consensus/bor/bor_test/bor_test.go
  consensus/bor/bor_test/genesis.json
  consensus/bor/bor_test/helper.go
  consensus/bor/bor_test/span.json
  go.mod
  go.sum
Owners: @karalabe

fix test
  .circleci/config.yml
  Makefile
Owners: none

node, cmd/clef: report actual port used for http rpc
  cmd/clef/main.go
  node/node.go
Owners: @holiman

fix ci.go
  build/ci.go
  internal/build/archive.go
  internal/build/download.go
Owners: none

remove unnecessary flag
  Makefile
Owners: none

github workflow for linux packages
  .github/workflows/linuxpackage.yml
  Makefile
Owners: none

rpc: dont log an error if user configures --rpcapi=rpc... (#20776)
  rpc/endpoints.go
Owners: @fjl, @holiman

Update cmd/clef/main.go
  cmd/clef/main.go
Owners: @holiman

Update node/node.go
  node/node.go
Owners: none

eth: import fix
  eth/api_backend.go
Owners: @karalabe, @holiman, @rjl493456442

core: fix two snapshot iterator flaws, decollide snap storage prefix
  core/blockchain_test.go
  core/rawdb/schema.go
  core/state/journal.go
  core/state/snapshot/iterator.go
  core/state/statedb.go
Owners: @karalabe, @holiman, @rjl493456442

node.go
  node/api.go
  node/node.go
  rpc/endpoints.go
Owners: @fjl, @holiman

core/state/snapshot, trie: build the hash as leaves come, don't hash small leaves
  core/state/snapshot/hextrie_generator.go
  core/state/snapshot/trie_generator_test.go
  trie/hashtrie.go
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot, trie: stack-based trie implementation
  core/state/snapshot/hextrie_generator.go
  core/state/snapshot/trie_generator_test.go
  trie/hashtrie.go
Owners: @karalabe, @holiman, @rjl493456442

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet
cmd/clef                        @holiman
cmd/puppeth                     @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
dashboard/                      @kurkomisi
eth/                            @karalabe @holiman @rjl493456442
graphql/                        @gballet
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
mobile/                         @karalabe @ligi
p2p/                            @fjl @zsfelfoldi
rpc/                            @fjl @holiman
p2p/simulations                 @zelig @janos @justelad
p2p/protocols                   @zelig @janos @justelad
p2p/testing                     @zelig @janos @justelad
signer/                         @holiman
whisper/                        @gballet @gluk256
