Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @rjl493456442, @kurkomisi, @zsfelfoldi, @ligi, @fjl, @zelig, @janos, @justelad, @gluk256

account: fix timer leak
  accounts/usbwallet/wallet.go
Owners: @karalabe

signer/core,storage, cmd/clef/dbutil finish rework storages for clef
  cmd/clef/dbutil/dbutil.go
  cmd/clef/dbutil/dbutil_test.go
  cmd/clef/main.go
  go.mod
  signer/core/api_test.go
  signer/storage/db_storage.go
  signer/storage/ephemeral_storage.go
  signer/storage/file_storage.go
  signer/storage/no_storage.go
  signer/storage/storage.go
Owners: @holiman

signer/storage fix storage to pass all tests
  signer/storage/storage.go
Owners: @holiman

internal/ethapi: revert change from #20460, return number on pending block
  internal/ethapi/api.go
Owners: none

core/vm: add standard wasm precompile replacements for benchmarking
  core/vm/wasm_ecadd.go
  core/vm/wasm_ecmul.go
  core/vm/wasm_ecpairing.go
  core/vm/wasm_expmod.go
  core/vm/wasm_identity.go
  core/vm/wasm_ripemd160.go
  core/vm/wasm_sha256.go
Owners: @karalabe, @holiman, @rjl493456442

internal/build: don't crash in DownloadFile when offline (#20595)
  internal/build/download.go
Owners: none

trie: separate hashes and committer, collapse on commit
  core/state/state_object.go
  core/state/statedb.go
  trie/committer.go
  trie/database.go
  trie/hasher.go
  trie/iterator.go
  trie/proof.go
  trie/secure_trie.go
  trie/trie.go
Owners: @karalabe, @holiman, @rjl493456442

trie: make hasher parallel when number of changes are large
  trie/hasher.go
  trie/iterator.go
  trie/proof.go
  trie/secure_trie.go
  trie/trie.go
Owners: none

Create main.yml
  .github/workflows/main.yml/.github/workflows/main.yml
Owners: none

eth/tracers: fix panics occurring for invalid params in js-tracers
  eth/tracers/tracer.go
  eth/tracers/tracer_test.go
Owners: @karalabe, @holiman, @rjl493456442

tracers: avoid panic on invalid arguments (#20612)
  eth/tracers/tracer.go
  eth/tracers/tracer_test.go
Owners: @karalabe, @holiman, @rjl493456442

some CI fixes
  core/vm/contracts.go
Owners: @karalabe, @holiman, @rjl493456442

core/evm: less iteration in blockhash
  core/evm.go
  core/vm/runtime/env.go
  core/vm/runtime/runtime_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/vm/runtime: nitpickfix
  core/vm/runtime/runtime_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/evm: less iteration in blockhash (#20589)
  core/evm.go
  core/vm/runtime/env.go
  core/vm/runtime/runtime_test.go
Owners: @karalabe, @holiman, @rjl493456442

cmd/geth: add 'dumpgenesis' command (#20191)
  cmd/geth/chaincmd.go
  cmd/geth/main.go
Owners: none

trie: remove unused field dirtyCount
  trie/trie.go
Owners: none

trie: rename unhashedCount/unhashed
  trie/trie.go
Owners: none

trie: make hasher parallel when number of changes are large (#20488)
  trie/hasher.go
  trie/iterator.go
  trie/proof.go
  trie/secure_trie.go
  trie/trie.go
Owners: none

retesteth add eth_getBlockByHash()
  cmd/geth/retesteth.go
Owners: none

add signature parameter retrieval to graphql interface
  graphql/graphql.go
  graphql/schema.go
Owners: @gballet

add #20622
  graphql/graphql.go
  graphql/schema.go
Owners: @gballet

gofmt graphql.go
  graphql/graphql.go
Owners: @gballet

add correct order of v,R,S returned from RawSignatureValues()
  graphql/graphql.go
Owners: @gballet

Support for both wasm precompile types
  core/vm/contracts.go
Owners: @karalabe, @holiman, @rjl493456442

cmd/devp2p: fix Route53 TXT record splitting
  cmd/devp2p/dns_route53.go
  cmd/devp2p/dns_route53_test.go
Owners: none

blockchain: ensure state exists for prefetcher
  core/blockchain.go
Owners: @karalabe, @holiman, @rjl493456442

cmd/devp2p: fix Route53 TXT record splitting (#20626)
  cmd/devp2p/dns_route53.go
  cmd/devp2p/dns_route53_test.go
Owners: none

run geth init for member node
  docs/_interface/Private-Network.md
Owners: none

[DOCS] run geth init for member node (#20632)
  docs/_interface/Private-Network.md
Owners: none

p2p: add "looking for peers" log message
  p2p/dial.go
  p2p/server.go
Owners: @fjl, @zsfelfoldi

Start light server for testing
  cmd/geth/les_test.go
  cmd/geth/testdata/blockchain.blocks
  cmd/geth/testdata/genesis.json
Owners: none

Get enode from light server
  cmd/geth/les_test.go
Owners: none

README: update evm usage example
  README.md
Owners: none

client adds peer but error: peer is unknown or unhealthy
  cmd/geth/les_test.go
Owners: none

node: expose config in service context
  node/node.go
  node/service.go
Owners: none

eth: integrate p2p/dnsdisc
  eth/backend.go
  eth/config.go
  eth/discovery.go
Owners: @karalabe, @holiman, @rjl493456442

cmd/geth: add some DNS flags
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
Owners: none

common/mclock: add NewTimer and Timer.Reset
  common/mclock/mclock.go
  common/mclock/simclock.go
  common/mclock/simclock_test.go
Owners: none

internal/ethapi: return non-null "number" for pending block (#20616)
  internal/ethapi/api.go
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet
cmd/clef                        @holiman
cmd/puppeth                     @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
dashboard/                      @kurkomisi
eth/                            @karalabe @holiman @rjl493456442
graphql/                        @gballet
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
mobile/                         @karalabe @ligi
p2p/                            @fjl @zsfelfoldi
rpc/                            @fjl @holiman
p2p/simulations                 @zelig @janos @justelad
p2p/protocols                   @zelig @janos @justelad
p2p/testing                     @zelig @janos @justelad
signer/                         @holiman
whisper/                        @gballet @gluk256
