Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @zelig, @nonsense, @janos, @justelad, @gluk256

signer: prevent panic in type assertions, make cliui print rawdata as quotable-safe
  signer/core/cliui.go
  signer/core/signed_data.go
Owners: @karalabe, @holiman

swarm/storage: fix test timeout with -race by increasing mget timeout
  swarm/network/simulations/discovery/discovery_test.go
  swarm/storage/common_test.go
Owners: none

swarm/pss: Remove pss service leak in test (#18992)
  swarm/pss/forwarding_test.go
  swarm/pss/pss_test.go
Owners: none

signer: linter fixes, remove deprecated crypto dependency
  accounts/accounts.go
  signer/core/signed_data.go
  signer/rules/rules_test.go
Owners: @karalabe, @holiman

accounts: fix goimport
  accounts/accounts.go
Owners: none

docs: add audit reports
  docs/audits/NCC_Group_EthereumFoundation_EF-Clef_Report_2018-09-14_v1.0.pdf
  docs/audits/Truesec_Report_Geth_2017-04-25.pdf
Owners: none

node: close AccountsManager in new Close method
  node/node.go
Owners: none

p2p/simulations, p2p/simulations/adapters: handle node close on shutdown
  p2p/simulations/adapters/inproc.go
  p2p/simulations/network.go
Owners: @zelig, @nonsense, @janos, @justelad

cmd, les: remove stutter from les package type declarations
  cmd/utils/flags.go
  les/api_backend.go
  les/backend.go
  les/commons.go
  les/fetcher.go
  les/handler.go
  les/helper_test.go
  les/odr.go
  les/odr_requests.go
  les/peer.go
  les/peer_test.go
  les/server.go
  les/txrelay.go
  les/ulc_test.go
Owners: @zsfelfoldi

core, eth, les, light: return block number as uint64 instead of pointer
  core/blockchain.go
  core/genesis.go
  core/headerchain.go
  core/rawdb/accessors_chain.go
  eth/downloader/fakepeer.go
  les/api_backend.go
  les/handler.go
  light/lightchain.go
Owners: @karalabe, @holiman, @zsfelfoldi

cmd/swarm/global-store: fix err shadowing in testHTTP
  cmd/swarm/global-store/global_store_test.go
Owners: none

node: move node ephemeralKeystore cleanup to stop method
  node/node.go
Owners: none

p2p lib updated
  node/defaults.go
  p2p/dial.go
Owners: @fjl, @zsfelfoldi

swarm/network: new saturation for implementation
  swarm/network/kademlia.go
  swarm/network/kademlia_test.go
Owners: none

swarm: fix linter issues and PR comments
  swarm/api/inspector.go
  swarm/network/stream/common_test.go
Owners: none

swarm/storage: fixed linter error
  swarm/storage/ldbstore.go
Owners: none

swarm/network: re-added saturation func in Kademlia as it is used elsewhere
  swarm/network/kademlia.go
Owners: none

swarm/storage: bug fix
  swarm/storage/ldbstore.go
Owners: none

signer, clef: implement EIP191/712 (#17789)
  accounts/accounts.go
  accounts/external/backend.go
  accounts/keystore/wallet.go
  accounts/usbwallet/wallet.go
  cmd/clef/README.md
  cmd/clef/extapi_changelog.md
  cmd/clef/intapi_changelog.md
  cmd/clef/main.go
  consensus/clique/clique.go
  signer/core/abihelper.go
  signer/core/abihelper_test.go
  signer/core/api.go
  signer/core/api_test.go
  signer/core/auditlog.go
  signer/core/cliui.go
  signer/core/signed_data.go
  signer/core/signed_data_test.go
  signer/core/types.go
  signer/rules/rules_test.go
Owners: @karalabe, @holiman

docs: better filenames
  docs/audits/2017-04-25_Geth-audit_Truesec.pdf
  docs/audits/2018-09-14_Clef-audit_NCC.pdf
Owners: none

signer/clef: make use of json-rpc notification
  cmd/clef/intapi_changelog.md
  signer/core/api.go
  signer/core/stdioui.go
Owners: @karalabe, @holiman

signer: tidy up output of OnApprovedTx
  signer/core/cliui.go
Owners: @karalabe, @holiman

accounts/external, signer: implement remote signing of text, make accounts_sign take hexdata
  accounts/external/backend.go
  signer/core/signed_data.go
Owners: @karalabe, @holiman

clef: added basic testscript
  cmd/clef/tests/testsigner.js
Owners: none

docs: add audit reports (#18996)
  docs/audits/2017-04-25_Geth-audit_Truesec.pdf
  docs/audits/2018-09-14_Clef-audit_NCC.pdf
Owners: none

node: call Stop in Node.Close method
  node/node.go
Owners: none

cmd/geth: close node.Node created with makeFullNode in cli commands
  cmd/geth/chaincmd.go
  cmd/geth/consolecmd.go
  cmd/geth/main.go
Owners: none

swarm/storage: Get all chunk references for a given file (#19002)
  swarm/storage/filestore.go
  swarm/storage/filestore_test.go
Owners: none

signer, external, api: add clique signing test to debug rpc, fix clique signing in clef
  accounts/external/backend.go
  cmd/clef/tests/testsigner.js
  internal/ethapi/api.go
  internal/web3ext/web3ext.go
  signer/core/signed_data.go
Owners: @karalabe, @holiman

signer: fix clique interoperability between geth and clef
  cmd/clef/tests/testsigner.js
  internal/ethapi/api.go
  signer/core/signed_data.go
Owners: @karalabe, @holiman

cmd/puppeth: handle pre-set Petersburg number, save changed fork rules
  cmd/puppeth/wizard_genesis.go
Owners: none

cmd/swarm/swarm-smoke: log download, upload time
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  cmd/swarm/swarm-smoke/util.go
Owners: none

swarm/network: remove quitFunc
  swarm/network/fetcher.go
Owners: none

node: close Node instances in tests
  node/config_test.go
  node/node_example_test.go
  node/node_test.go
  node/service_test.go
Owners: none

clef: rename networkid switch to chainid
  cmd/clef/main.go
  cmd/clef/tests/testsigner.js
Owners: none

light: make TxPool receiver names consistent
  light/txpool.go
Owners: @zsfelfoldi

swarm/storage: GetAllReferences returns all chunk references
  swarm/storage/filestore.go
Owners: none

cmd/swarm: explore command (prints refs) and chunk-explorer in swarm-smoke
  cmd/swarm/explore.go
  cmd/swarm/swarm-smoke/chunkExplorer.go
Owners: none

cmd/swarm: chunk-explorer query
  cmd/swarm/explore.go
  cmd/swarm/main.go
  cmd/swarm/swarm-smoke/chunkExplorer.go
  cmd/swarm/swarm-smoke/main.go
Owners: none

swarm/storage: with toEncrypt flag
  swarm/storage/filestore.go
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @zelig @nonsense @janos @justelad
p2p/protocols                   @zelig @nonsense @janos @justelad
p2p/testing                     @zelig @nonsense @janos @justelad
whisper/                        @gballet @gluk256
