Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @zelig, @nonsense, @janos, @justelad, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @zelig @nonsense @janos @justelad
p2p/protocols                   @zelig @nonsense @janos @justelad
p2p/testing                     @zelig @nonsense @janos @justelad
whisper/                        @gballet @gluk256

adding 2 new apis: eth.getBlockSigners and eth.getBlockFinality
  internal/ethapi/api.go
  internal/jsre/deps/bindata.go
  internal/jsre/deps/web3.js
Owners: none

common/fdlimit: cap on MacOS file limits, fixes #18994 (#19035)
  cmd/utils/flags.go
  common/fdlimit/fdlimit_freebsd.go
  common/fdlimit/fdlimit_test.go
  common/fdlimit/fdlimit_unix.go
  common/fdlimit/fdlimit_windows.go
Owners: none

clef: more tests for signer
  cmd/clef/tests/testsigner.js
Owners: none

.travis.yml: fix upload destination
  .travis.yml
  build/ci.go
Owners: none

.travis.yml: fix upload destination (#19043)
  .travis.yml
  build/ci.go
Owners: none

swarm/network/stream: add concurrent counter for tests
  swarm/network/stream/streamer_test.go
Owners: none

clef: external signing fixes + signing data (#19003)
  accounts/external/backend.go
  cmd/clef/intapi_changelog.md
  cmd/clef/main.go
  cmd/clef/tests/testsigner.js
  internal/ethapi/api.go
  internal/web3ext/web3ext.go
  signer/core/api.go
  signer/core/cliui.go
  signer/core/signed_data.go
  signer/core/stdioui.go
Owners: @karalabe, @holiman

swarm/pss: mutex lifecycle fixed
  swarm/pss/protocol.go
Owners: none

swarm/network/stream: rename race/norace test files and use const
  swarm/network/stream/norace_test.go
  swarm/network/stream/race_test.go
Owners: none

swarm/network/stream: remove watchSim and its panic
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
Owners: none

clef: initial implementation of bidirectional RPC communication for the UI
  cmd/clef/extapi_changelog.md
  cmd/clef/intapi_changelog.md
  cmd/clef/main.go
  signer/core/api.go
  signer/core/api_test.go
  signer/core/auditlog.go
  signer/core/cliui.go
  signer/core/stdioui.go
  signer/core/types.go
  signer/core/uiapi.go
  signer/rules/rules.go
  signer/rules/rules_test.go
Owners: @karalabe, @holiman

signer: fix tests to pass + formatting
  cmd/clef/main.go
  signer/core/api.go
  signer/core/api_test.go
  signer/core/stdioui.go
  signer/rules/rules.go
  signer/rules/rules_test.go
Owners: @karalabe, @holiman

clef: fix unused import + formatting
  cmd/clef/main.go
Owners: none

signer: gosimple nitpicks
  signer/core/api.go
  signer/core/uiapi.go
Owners: @karalabe, @holiman

swarm/storage: append to nil slice
  swarm/storage/filestore.go
Owners: none

swarm/network/stream: pass context in watchDisconnections
  swarm/network/stream/common_test.go
Owners: none

swarm/network: renamed to isSaturated and returns bool
  swarm/network/kademlia.go
Owners: none

swarm/network/stream: add concurrent safe bool for watchDisconnections
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/syncer_test.go
Owners: none

rpc: make stdio usable over custom channels
  rpc/stdio.go
Owners: none

clef: bidirectional communication with UI (#19018)
  cmd/clef/extapi_changelog.md
  cmd/clef/intapi_changelog.md
  cmd/clef/main.go
  signer/core/api.go
  signer/core/api_test.go
  signer/core/auditlog.go
  signer/core/cliui.go
  signer/core/stdioui.go
  signer/core/types.go
  signer/core/uiapi.go
  signer/rules/rules.go
  signer/rules/rules_test.go
Owners: @karalabe, @holiman

rpc: make stdio usable over custom channels (#19046)
  rpc/stdio.go
Owners: none

clef: implement documentation generation + remove unused struct
  cmd/clef/README.md
  cmd/clef/datatypes.md
  cmd/clef/docs/clef_architecture_pt1.png
  cmd/clef/docs/clef_architecture_pt2.png
  cmd/clef/docs/clef_architecture_pt3.png
  cmd/clef/docs/clef_architecture_pt4.png
  cmd/clef/main.go
  signer/core/api.go
  signer/core/signed_data.go
  signer/core/types.go
  signer/rules/rules_test.go
Owners: @karalabe, @holiman

cmd/swarm/swarm-smoke: finalize trigger to chunk debug
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

swarm/pss: mutex lifecycle fixed (#19045)
  swarm/pss/protocol.go
Owners: none

swarm/storage: fix HashExplore concurrency bug ethersphere#1211 (#19028)
  swarm/storage/filestore.go
Owners: none

accounts/abi/bind/backends: add TransactionByHash to SimulatedBackend (#19026)
  accounts/abi/bind/backends/simulated.go
  accounts/abi/bind/backends/simulated_test.go
Owners: @gballet

getBlockSigners-getBlockFinality: refactoring after code review
  internal/ethapi/api.go
Owners: none

separate validateMN func
  cmd/tomo/main.go
  eth/backend.go
Owners: @karalabe

core/vm: update annotation
  core/vm/evm.go
Owners: @karalabe, @holiman

swarm: fix uptime gauge update goroutine leak by introducing cleanup functions (#19040)
  swarm/swarm.go
Owners: none

swarm/storage: fix LDBStore.batchesC data race by not closing it
  swarm/storage/ldbstore.go
Owners: none

add debug mode for testnet
  docker/tomochain/entrypoint.sh
Owners: none

clef: formatting + spelling
  cmd/clef/main.go
Owners: none

swarm: fix network/stream data races (#19051)
  p2p/simulations/network.go
  swarm/network/kademlia.go
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/lightnode_test.go
  swarm/network/stream/norace_test.go
  swarm/network/stream/race_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/stream.go
  swarm/network/stream/streamer_test.go
  swarm/network/stream/syncer_test.go
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
  swarm/storage/ldbstore.go
Owners: @zelig, @nonsense, @janos, @justelad

clef: updates to doc
  cmd/clef/README.md
  cmd/clef/datatypes.md
  cmd/clef/main.go
Owners: none

clef: documentation generator + docs (#19020)
  cmd/clef/README.md
  cmd/clef/datatypes.md
  cmd/clef/docs/clef_architecture_pt1.png
  cmd/clef/docs/clef_architecture_pt2.png
  cmd/clef/docs/clef_architecture_pt3.png
  cmd/clef/docs/clef_architecture_pt4.png
  cmd/clef/main.go
  signer/core/api.go
  signer/core/signed_data.go
  signer/core/types.go
  signer/rules/rules_test.go
Owners: @karalabe, @holiman

cmd/swarm/swarm-smoke: fixed httpEndpoint for trigger
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

p2p/simulations: enforce camel case variable names
  p2p/simulations/network_test.go
Owners: @zelig, @nonsense, @janos, @justelad

light: enforce camel case variable names
  light/odr_util.go
  light/trie.go
Owners: @zsfelfoldi

ethdb: enforce camel case variable names
  ethdb/database_test.go
Owners: none
