Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @zelig, @nonsense, @janos, @justelad, @gluk256

swarm/storage/localstore: global batch write lock
  swarm/storage/localstore/gc.go
  swarm/storage/localstore/gc_test.go
  swarm/storage/localstore/localstore.go
  swarm/storage/localstore/localstore_test.go
  swarm/storage/localstore/mode_get.go
  swarm/storage/localstore/mode_put.go
  swarm/storage/localstore/mode_put_test.go
  swarm/storage/localstore/mode_set.go
Owners: none

cmd/swarm/swarm-smoke: remove wrong metrics (#18970)
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_speed.go
  cmd/swarm/swarm-smoke/util.go
Owners: none

swarm: fix flaky delivery tests (#18971)
  swarm/network/stream/delivery.go
  swarm/network/stream/delivery_test.go
Owners: none

README: Fix typo (#18966)
  README.md
Owners: none

swarm/network: DRY out repeated giga comment
  swarm/network/simulation/node_test.go
Owners: none

p2p/simulations: encapsulate Node.Up field so we avoid data races
  p2p/simulations/events.go
  p2p/simulations/http_test.go
  p2p/simulations/mocker_test.go
  p2p/simulations/network.go
  swarm/network/simulation/node.go
  swarm/network/simulation/node_test.go
  swarm/network/simulation/service.go
  swarm/network/simulation/simulation_test.go
  swarm/network/simulations/overlay_test.go
Owners: @zelig, @nonsense, @janos, @justelad

swarm/network/stream: refactored TestGetSubscriptionsRPC
  swarm/network/stream/streamer_test.go
Owners: none

correct peer on stats
  eth/backend.go
  ethstats/ethstats.go
Owners: @karalabe

cmd/swarm/global-store: most basic implementation
  cmd/swarm/global-store/main.go
  cmd/swarm/global-store/run_test.go
  cmd/swarm/global-store/websocket.go
  cmd/swarm/global-store/websocket_test.go
Owners: none

p2p/discover: improve table addition code
  p2p/discover/table.go
  p2p/discover/table_test.go
  p2p/discover/table_util_test.go
  p2p/discover/udp.go
Owners: @fjl, @zsfelfoldi

swarm/network/stream: added unit test; rpc test optimizations; PR comments
  swarm/network/stream/streamer_test.go
  swarm/network/stream/testing/snapshot_4.json
Owners: none

swarm: GetPeerSubscriptions RPC (#18972)
  swarm/network/stream/stream.go
  swarm/network/stream/streamer_test.go
  swarm/network/stream/testing/snapshot_4.json
Owners: none

swarm/network: refactor simulation tests bootstrap
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/streamer_test.go
  swarm/network/stream/syncer_test.go
  swarm/network/stream/testing/snapshot_4.json
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
Owners: none

Condition added self.config.XDPoS != nil
  internal/jsre/deps/bindata.go
  internal/jsre/deps/deps.go
  les/api_backend.go
  miner/worker.go
  node/config.go
Owners: @zsfelfoldi

node/api: lowercase "k" unit
  node/api.go
Owners: none

v1.2.2
  params/version.go
Owners: none

Change default gasPrice to 0.25 Gwei
  docker/tomochain/entrypoint.sh
Owners: none

Tomochain: update minGasPrice in SuggestPrice
  eth/gasprice/gasprice.go
Owners: @karalabe

set min gas price for tx
  core/tx_pool.go
Owners: @karalabe, @holiman

p2p/discover: fix comments
  p2p/discover/table.go
Owners: @fjl, @zsfelfoldi

p2p/discover: improve table addition code (#18974)
  p2p/discover/table.go
  p2p/discover/table_test.go
  p2p/discover/table_util_test.go
  p2p/discover/udp.go
Owners: @fjl, @zsfelfoldi

p2p/discover: improve table addition code (#18974)
  p2p/discover/table.go
  p2p/discover/table_test.go
  p2p/discover/table_util_test.go
  p2p/discover/udp.go
Owners: @fjl, @zsfelfoldi

params, swarm/version: Geth 1.8.22-stable, Swarm 0.3.10-stable
  params/version.go
  swarm/version/version.go
Owners: none

p2p/simulations: fix unmarshal of simulations.Node
  p2p/simulations/network.go
  p2p/simulations/network_test.go
Owners: @zelig, @nonsense, @janos, @justelad

cmd/swarm, swarm/api: add GlobalStoreAPI option
  cmd/swarm/config.go
  cmd/swarm/flags.go
  cmd/swarm/main.go
  swarm/api/config.go
Owners: none

p2p/simulations: Add a sanity test case for Node.Config UnmarshalJSON
  p2p/simulations/network.go
  p2p/simulations/network_test.go
Owners: @zelig, @nonsense, @janos, @justelad

p2p/simulations: revert back to defer Unlock() pattern for Network
  p2p/simulations/network.go
Owners: @zelig, @nonsense, @janos, @justelad

p2p/simulations: consistent naming for test providers Node.UnmarshalJSON
  p2p/simulations/network_test.go
Owners: @zelig, @nonsense, @janos, @justelad

cmd/swarm/global-store: add http server
  cmd/swarm/global-store/global_store.go
  cmd/swarm/global-store/global_store_test.go
  cmd/swarm/global-store/main.go
Owners: none

cmd/swarm/global-store: add comments
  cmd/swarm/global-store/global_store.go
  cmd/swarm/global-store/global_store_test.go
Owners: none

cmd/swarm/global-store: remove coloring from logs
  cmd/swarm/global-store/global_store.go
Owners: none

p2p/simulations: remove JSON annotation from private fields of Node
  p2p/simulations/network.go
Owners: @zelig, @nonsense, @janos, @justelad

swarm: first version of HasChunk implementation
  cmd/swarm/config.go
  cmd/swarm/flags.go
  cmd/swarm/main.go
  swarm/api/config.go
  swarm/api/testapi.go
  swarm/storage/common_test.go
  swarm/storage/ldbstore.go
  swarm/storage/localstore.go
  swarm/storage/localstore_test.go
  swarm/storage/memstore.go
  swarm/storage/netstore.go
  swarm/storage/types.go
  swarm/swarm.go
Owners: none

swarm/network: refactor simulation tests bootstrap (#18975)
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/streamer_test.go
  swarm/network/stream/syncer_test.go
  swarm/network/stream/testing/snapshot_4.json
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
Owners: none

eth: make tracers respect pre- EIP 158/161 rule
  eth/api_tracer.go
Owners: @karalabe

common/compiler: fixed testSource
  common/compiler/solidity_test.go
Owners: none

core: temporary patch for panic during sidechain import #18977
  core/blockchain.go
Owners: @karalabe, @holiman

fix #18254, Need to throw error when methods are called at future blocks
  eth/api_backend.go
  ethclient/ethclient_test.go
Owners: @karalabe

swarm: cleanup, comment and tidy up for PR
  swarm/api/testapi.go
  swarm/storage/common_test.go
  swarm/storage/memstore.go
  swarm/storage/netstore.go
  swarm/swarm.go
Owners: none

Fixed some grammer mistakes/typos on README.md
  README.md
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @zelig @nonsense @janos @justelad
p2p/protocols                   @zelig @nonsense @janos @justelad
p2p/testing                     @zelig @nonsense @janos @justelad
whisper/                        @gballet @gluk256
