Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @MariusVanDerWijden, @holiman, @rjl493456442, @s1na, @zsfelfoldi, @ligi, @fjl

feat: preExec add sandbox (#50)
  core/state_transition.go
  core/vm/interpreter.go
  eth/api_pre_exec.go
Owners: @karalabe, @holiman, @rjl493456442

fix sanbox bugs: set mgval to zero (#52)
  core/state_transition.go
  eth/api_pre_exec.go
Owners: @karalabe, @holiman, @rjl493456442

eth/tracer: rename to revertReason
  eth/tracers/internal/tracetest/calltrace_test.go
  eth/tracers/native/call.go
  eth/tracers/native/gen_callframe_json.go
Owners: @s1na

fix for review
  accounts/abi/unpack.go
  accounts/abi/unpack_test.go
Owners: @gballet, @MariusVanDerWijden

make ci happy
  accounts/abi/unpack_test.go
Owners: @gballet, @MariusVanDerWijden

eth/tracers/native: Child calls in flatCallTracer must have a value, even if it's zero
  eth/tracers/native/call_flat.go
Owners: @s1na

Add script so that we can easily run local against the devnet (#224)
  .gitignore
  Makefile
  cicd/devnet/start-local-devnet.sh
Owners: none

rpc: proper logging
  rpc/handler.go
Owners: @fjl, @holiman

log: fix typo in comment (#26569)
  log/logger.go
Owners: none

fix broken link to dns discovery setup
  cmd/devp2p/README.md
Owners: none

cmd/devp2p: fix broken link in readme(#26576)
  cmd/devp2p/README.md
Owners: none

Fix typo in geth documentation
  docs/fundamentals/logs.md
Owners: none

Fix command in geth documentation
  docs/fundamentals/private-network.md
Owners: none

feat(vm): stateful precompiles (#10)
  CHANGELOG.md
  core/vm/contract.go
  core/vm/contracts.go
  core/vm/contracts_test.go
  core/vm/evm.go
  core/vm/jump_table.go
  eth/tracers/internal/tracetest/calltrace_test.go
  tests/fuzzers/bls12381/precompile_fuzzer.go
Owners: @karalabe, @holiman, @rjl493456442, @s1na

log: better sanitation (#26556)
  log/format.go
  log/format_test.go
Owners: none

doc: fix typo and command in geth documentation (#26577)
  docs/fundamentals/logs.md
  docs/fundamentals/private-network.md
Owners: none

fix typo
  eth/api_backend.go
Owners: @karalabe, @holiman, @rjl493456442

add confirmed loopup
  eth/api_backend.go
  eth/backend.go
  rpc/types.go
Owners: @karalabe, @holiman, @rjl493456442, @fjl

fix switch case issue
  rpc/types.go
Owners: @fjl, @holiman

fix grammar typo
  ethclient/gethclient/gethclient_test.go
Owners: none

ethclient/gethclient: fix typo (#26580)
  ethclient/gethclient/gethclient_test.go
Owners: none

eth/tracer: rename to revertReason (#26574)
  eth/tracers/internal/tracetest/calltrace_test.go
  eth/tracers/native/call.go
  eth/tracers/native/gen_callframe_json.go
Owners: @s1na

internal/ethapi: always return block withdrawals if present (#26565)
  internal/ethapi/api.go
Owners: none

cmd/puppeth: remove puppeth
  README.md
  build/ci.go
  cmd/puppeth/module.go
  cmd/puppeth/module_dashboard.go
  cmd/puppeth/module_ethstats.go
  cmd/puppeth/module_explorer.go
  cmd/puppeth/module_faucet.go
  cmd/puppeth/module_nginx.go
  cmd/puppeth/module_node.go
  cmd/puppeth/puppeth.go
  cmd/puppeth/ssh.go
  cmd/puppeth/testdata/stureby_aleth.json
  cmd/puppeth/testdata/stureby_geth.json
  cmd/puppeth/testdata/stureby_parity.json
  cmd/puppeth/wizard.go
  cmd/puppeth/wizard_dashboard.go
  cmd/puppeth/wizard_ethstats.go
  cmd/puppeth/wizard_explorer.go
  cmd/puppeth/wizard_faucet.go
  cmd/puppeth/wizard_genesis.go
  cmd/puppeth/wizard_intro.go
  cmd/puppeth/wizard_netstats.go
  cmd/puppeth/wizard_network.go
  cmd/puppeth/wizard_nginx.go
  cmd/puppeth/wizard_node.go
  go.mod
  go.sum
Owners: @karalabe

core: improve ambiguous block validation message
  core/block_validator.go
Owners: @karalabe, @holiman, @rjl493456442

core: improve ambiguous block validation message (#26582)
  core/block_validator.go
Owners: @karalabe, @holiman, @rjl493456442

Replaces go-kzg with gnark-kzg (#95)
  core/types/data_blob.go
  core/types/transaction_test.go
  core/vm/contracts.go
  go.mod
  go.sum
Owners: @karalabe, @holiman, @rjl493456442

eth/tracers/native: update flatCallTracer to reflect new interfaces after merge
  eth/tracers/internal/tracetest/flat_calltrace_test.go
  eth/tracers/native/call_flat.go
  eth/tracers/native/gen_callframe_json.go
Owners: @s1na

clarify removedb
  docs/fundamentals/backup-restore.md
Owners: none

fix lint issue
  eth/tracers/internal/tracetest/flat_calltrace_test.go
Owners: @s1na

CLEANUP: Remove now-unnessary duplicated tracer.
  core/state_processor.go
Owners: @karalabe, @holiman, @rjl493456442

REFACTOR: Move txnOpCodeTracer to new blocknative package.
  core/state_processor.go
  eth/tracers/blocknative/blocknative.go
  eth/tracers/blocknative/txnOpCodeTracer.go
  eth/tracers/register_blocknative.go
Owners: @karalabe, @holiman, @rjl493456442, @s1na

go.mod : goja deps including runtime bugfix
  go.mod
  go.sum
Owners: none

eth/catalyst: return invalid params instead of invalid payload params
  core/beacon/errors.go
  eth/catalyst/api.go
Owners: @karalabe, @holiman, @rjl493456442, @gballet

core, tests/bor: add more tests for state-sync validation (#710)
  core/blockchain_reader.go
  tests/bor/bor_test.go
  tests/bor/helper.go
Owners: @karalabe, @holiman, @rjl493456442

eth/catalyst: return invalid params instead of invalid payload params (#26591)
  core/beacon/errors.go
  eth/catalyst/api.go
Owners: @karalabe, @holiman, @rjl493456442, @gballet

console: error -> warn
  console/console.go
Owners: none

node: less roulette
  node/node.go
Owners: @fjl

cmd, eth, node: deprecate personal namespace (#26390)
  cmd/geth/consolecmd.go
  cmd/geth/consolecmd_test.go
  cmd/geth/main.go
  cmd/utils/flags.go
  console/console.go
  node/config.go
  node/node.go
Owners: @fjl

fix typo
  eth/api_backend.go
  light/txpool.go
Owners: @karalabe, @holiman, @rjl493456442, @zsfelfoldi

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet @MariusVanDerWijden
cmd/clef                        @holiman
cmd/puppeth                     @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
eth/                            @karalabe @holiman @rjl493456442
eth/catalyst/                   @gballet
eth/tracers/                    @s1na
graphql/                        @gballet @s1na
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
mobile/                         @karalabe @ligi
node/                           @fjl
p2p/                            @fjl @zsfelfoldi
rpc/                            @fjl @holiman
p2p/simulations                 @fjl
p2p/protocols                   @fjl
p2p/testing                     @fjl
signer/                         @holiman
