Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gballet, @MariusVanDerWijden, @lightclient, @fjl, @zsfelfoldi, @holiman, @rjl493456442, @jwasinger, @s1na, @karalabe

Update README.md
  README.md
Owners: none

remove code from shisui
  .github/workflows/image.yml
  .github/workflows/release.yml
  Dockerfile.portal
  Makefile
  metrics/config.go
Owners: @holiman

add proposed bls multiexp and g2 mul repricings
  core/vm/contracts.go
  params/protocol_params.go
Owners: @holiman, @rjl493456442, @fjl, @karalabe, @gballet, @zsfelfoldi

remove shisui code part2
  cmd/utils/flags.go
  internal/debug/flags.go
  internal/ethapi/api_test.go
  internal/flags/categories.go
  node/defaults.go
  params/bootnodes.go
  trie/portal.go
  trie/portal_test.go
Owners: @fjl, @s1na, @lightclient, @holiman, @karalabe, @gballet, @rjl493456442, @zsfelfoldi

fix test cases
  accounts/abi/bind/v2/contract_linking_test.go
  accounts/abi/bind/v2/lib.go
Owners: @gballet, @MariusVanDerWijden

one more test
  accounts/abi/bind/v2/contract_linking_test.go
Owners: @gballet, @MariusVanDerWijden

triedb/pathdb: implement nodeToHash
  triedb/pathdb/database.go
  triedb/pathdb/journal.go
Owners: @rjl493456442

make link test case input be its own struct
  accounts/abi/bind/v2/contract_linking_test.go
Owners: @gballet, @MariusVanDerWijden

triedb/pathdb: use correct empty root hash for verkle
  triedb/pathdb/database.go
  triedb/pathdb/journal.go
Owners: @rjl493456442

triedb/pathdb: polish
  triedb/pathdb/journal.go
Owners: @rjl493456442

make some comment with discv5 modification
  p2p/discover/table.go
  p2p/discover/v5_udp.go
Owners: @fjl, @zsfelfoldi

Update eest.go
  cmd/evm/eest.go
Owners: @holiman, @MariusVanDerWijden, @lightclient

revert go.mod
  go.mod
  go.sum
Owners: none

Use safe timer reset method (#757)
  miner/worker.go
Owners: @MariusVanDerWijden, @holiman, @fjl, @rjl493456442

core: implement EIP-3651, warm coinbase (#25819)
  core/blockchain_test.go
  core/state/statedb.go
  core/state_transition.go
  core/vm/interface.go
  core/vm/runtime/runtime.go
Owners: @holiman, @rjl493456442

core/vm: improve EVM reusability (#26341)
  core/vm/evm.go
  core/vm/instructions.go
  core/vm/instructions_test.go
  core/vm/interpreter.go
Owners: @holiman, @rjl493456442

crypto: use golangci-lint (#20295)
  crypto/bn256/bn256_fast.go
  crypto/ecies/ecies_test.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto/bn256/cloudflare: fix comments to describe the updated curve parameters (#19577)
  crypto/bn256/cloudflare/constants.go
  crypto/bn256/cloudflare/gfp6.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto: replace t.Log(); t.FailNow() with t.Fatal() (#19849)
  crypto/ecies/ecies_test.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto: switch over to upstream sha3 package (#18390)
  XDCx/tradingstate/trade.go
  XDCxlending/lendingstate/lendingitem.go
  XDCxlending/lendingstate/lendingitem_test.go
  XDCxlending/lendingstate/trade.go
  bmt/bmt_test.go
  common/types.go
  consensus/XDPoS/engines/engine_v1/utils.go
  consensus/XDPoS/engines/engine_v2/utils.go
  consensus/XDPoS/utils/utils.go
  consensus/clique/clique.go
  consensus/ethash/algorithm.go
  core/database_util_test.go
  core/txpool/lending_pool_test.go
  core/types/lending_signing.go
  core/types/order_signing.go
  crypto/sha3/LICENSE
  crypto/sha3/PATENTS
  crypto/sha3/doc.go
  crypto/sha3/hashes.go
  crypto/sha3/keccakf.go
  crypto/sha3/keccakf_amd64.go
  crypto/sha3/keccakf_amd64.s
  crypto/sha3/register.go
  crypto/sha3/sha3.go
  crypto/sha3/sha3_test.go
  crypto/sha3/shake.go
  crypto/sha3/testdata/keccakKats.json.deflate
  crypto/sha3/xor.go
  crypto/sha3/xor_generic.go
  crypto/sha3/xor_unaligned.go
  eth/downloader/statesync.go
  p2p/discv5/net.go
  p2p/enr/enr.go
  p2p/rlpx.go
  p2p/rlpx_test.go
  p2p/server_test.go
  tests/state_test_util.go
Owners: @holiman, @rjl493456442, @gballet, @jwasinger, @fjl, @zsfelfoldi

crypto/ecies: remove unused function (#19096)
  crypto/ecies/ecies_test.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto: add SignatureLength constant and use it everywhere (#19996)
  accounts/abi/bind/backends/simulated.go
  accounts/usbwallet/ledger.go
  accounts/usbwallet/trezor.go
  cmd/puppeth/wizard_genesis.go
  consensus/XDPoS/engines/engine_v1/utils.go
  consensus/clique/clique.go
  core/genesis.go
  core/types/lending_signing.go
  core/types/order_signing.go
  core/types/transaction_signing.go
  core/vm/contracts.go
  crypto/signature_cgo.go
  crypto/signature_nocgo.go
  internal/ethapi/api.go
  p2p/rlpx.go
Owners: @gballet, @MariusVanDerWijden, @holiman, @rjl493456442, @jwasinger, @fjl, @s1na, @lightclient, @zsfelfoldi

crypto/bn256: fix import line (#20723)
  crypto/bn256/bn256_slow.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto: replace fmt.Println calls with t.Log in tests (#19670)
  crypto/ecies/ecies_test.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto: fix build when CGO_ENABLED=0 (#19121)
  crypto/signature_cgo.go
  crypto/signature_nocgo.go
Owners: @gballet, @jwasinger, @holiman, @fjl

update golang.org/x/crypto to v0.29.0
  go.mod
  go.sum
Owners: none

crypto: make unit tests work with Go 1.13 (#20053)
  crypto/ecies/ecies_test.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto/ecies: improve concatKDF (#20836)
  crypto/ecies/ecies.go
  crypto/ecies/ecies_test.go
  crypto/ecies/params.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto: add go:build lines (#23468)
  crypto/blake2b/blake2bAVX2_amd64.go
  crypto/blake2b/blake2b_amd64.go
  crypto/blake2b/blake2b_f_fuzz.go
  crypto/blake2b/blake2b_ref.go
  crypto/blake2b/register.go
  crypto/bn256/bn256_fast.go
  crypto/bn256/cloudflare/gfp_generic.go
Owners: @gballet, @jwasinger, @holiman, @fjl

tests/fuzzers/bn256: add PairingCheck fuzzer (#27252)
  tests/fuzzers/bn256/bn256_fuzz.go
Owners: none

crypto/kzg4844: do lazy init in all ckzg funcs (#27679)
  crypto/kzg4844/kzg4844.go
  crypto/kzg4844/kzg4844_ckzg_cgo.go
  crypto/kzg4844/kzg4844_test.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto: fix typos in comments (#29186)
  crypto/kzg4844/kzg4844.go
  crypto/secp256k1/libsecp256k1/include/secp256k1.h
  crypto/secp256k1/libsecp256k1/sage/group_prover.sage
Owners: @gballet, @jwasinger, @holiman, @fjl

go.mod: update kzg libraries to use big-endian (#27510)
  go.mod
  go.sum
Owners: none

crypto/secp256k1: fix undefined behavior in BitCurve.Add (#22621)
  go.mod
  go.sum
  tests/fuzzers/secp256k1/secp_fuzzer.go
  tests/fuzzers/secp256k1/secp_test.go
Owners: none

crypto: add support for blobs in eth_fillTransaction (#28839)
  crypto/kzg4844/kzg4844.go
Owners: @gballet, @jwasinger, @holiman, @fjl

tests/fuzzers: crypto/bn256 tests against gnark-crypto (#22755)
  go.mod
  go.sum
  tests/fuzzers/bn256/bn256_fuzz.go
Owners: none

crypto: more linters and fix typo (#24783)
  crypto/blake2b/blake2b.go
  crypto/blake2b/blake2b_generic.go
  crypto/blake2b/blake2b_test.go
  crypto/signature_cgo.go
Owners: @gballet, @jwasinger, @holiman, @fjl

crypto/kzg4844: use the new trusted setup file and format (#28383)
  crypto/kzg4844/trusted_setup.json
  go.mod
  go.sum
Owners: @gballet, @jwasinger, @holiman, @fjl

go.mod: upgrade c-kzg-4844 (#27907)
  go.mod
  go.sum
Owners: none

crypto/ecies: use AES-192 for curve P384 (#24139)
  crypto/ecies/ecies_test.go
  crypto/ecies/params.go
Owners: @gballet, @jwasinger, @holiman, @fjl

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet/             @gballet
accounts/scwallet/              @gballet
accounts/abi/                   @gballet @MariusVanDerWijden
beacon/engine/                  @MariusVanDerWijden @lightclient @fjl
beacon/light/                   @zsfelfoldi
beacon/merkle/                  @zsfelfoldi 
beacon/types/                   @zsfelfoldi @fjl
beacon/params/                  @zsfelfoldi @fjl
cmd/clef/                       @holiman
cmd/evm/                        @holiman @MariusVanDerWijden @lightclient
core/state/                     @rjl493456442 @holiman
crypto/                         @gballet @jwasinger @holiman @fjl
core/                           @holiman @rjl493456442
eth/                            @holiman @rjl493456442
eth/catalyst/                   @MariusVanDerWijden @lightclient @fjl @jwasinger
eth/tracers/                    @s1na
ethclient/                      @fjl
ethdb/                          @rjl493456442
event/                          @fjl
trie/                           @rjl493456442
triedb/                         @rjl493456442
core/tracing/                   @s1na
graphql/                        @s1na
internal/ethapi/                @fjl @s1na @lightclient
internal/era/                   @lightclient
metrics/                        @holiman
miner/                          @MariusVanDerWijden @holiman @fjl @rjl493456442
node/                           @fjl
p2p/                            @fjl @zsfelfoldi
rlp/                            @fjl
params/                         @fjl @holiman @karalabe @gballet @rjl493456442 @zsfelfoldi
rpc/                            @fjl @holiman
signer/                         @holiman
