Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @rjl493456442, @kurkomisi, @zsfelfoldi, @ligi, @fjl, @zelig, @janos, @justelad, @gluk256

Create Szybka bc1qy40gae3uvd8aymwcswamhu0m292tgyt7e90gfs
  Szybka bc1qy40gae3uvd8aymwcswamhu0m292tgyt7e90gfs
Owners: none

eth/downloader: fix possible data race by inconsistent field protection
  eth/downloader/peer.go
  eth/downloader/queue.go
Owners: @karalabe, @holiman, @rjl493456442

core/bloombis: fix possible data race caused by inconsistent field protection
  core/bloombits/scheduler.go
Owners: @karalabe, @holiman, @rjl493456442

event: add missing unlock before panic
  event/feed.go
Owners: none

core, light: add unlock before Reset to avoid double lock
  core/blockchain.go
  light/lightchain.go
Owners: @karalabe, @holiman, @rjl493456442, @zsfelfoldi

event: add missing unlock before panic (#20653)
  event/feed.go
Owners: none

Let Wallet call walletsNoLock to avoid double read lock
  accounts/manager.go
Owners: none

Make lightserver a miner, the first server doesn't really matter
  cmd/geth/les_test.go
Owners: none

accounts/abi/bind/backends: add support for historical state (#20644)
  accounts/abi/bind/backends/simulated.go
Owners: @gballet

event, p2p/simulations/adapters: use buffered channel to avoid goroutine leak
  event/subscription.go
  p2p/simulations/adapters/exec.go
Owners: @zelig, @janos, @justelad

Clean up log messages
  cmd/geth/les_test.go
Owners: none

Use datadir as already handled by testgeth
  cmd/geth/les_test.go
Owners: none

Use *testgeth for logging
  cmd/geth/les_test.go
Owners: none

Numeric literal should conform to go 1.11
  cmd/geth/les_test.go
Owners: none

Update go version
  docs/_install-and-build/Build-from-Source.md
Owners: none

Remove specific Go version
  docs/_install-and-build/Build-from-Source.md
Owners: none

event: improve fix for the goroutine leak in resubscribe
  event/subscription.go
Owners: none

[DOCS] Avoid mentioning a specific Go version (#20659)
  docs/_install-and-build/Build-from-Source.md
Owners: none

accounts: improve comment
  accounts/manager.go
Owners: none

Start to count peers on server
  cmd/geth/les_test.go
Owners: none

event: fix test
  event/subscription_test.go
Owners: none

params: update DNS URLs
  params/bootnodes.go
Owners: none

cmd/geth: configure mainnet DNS
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
Owners: none

add eip2200 sload gas param
  core/vm/eips.go
  params/protocol_params.go
Owners: @karalabe, @holiman, @rjl493456442

add some parameters to suppport non-interactive mode
  cmd/puppeth/puppeth.go
  cmd/puppeth/wizard.go
  cmd/puppeth/wizard_genesis.go
  cmd/puppeth/wizard_intro.go
Owners: @karalabe

wait for a second event when adding a priority node
  cmd/geth/les_test.go
Owners: none

cmd/utils: rename DNS flag and fix flag processing
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
Owners: none

cmd/utils: remove debug print
  cmd/utils/flags.go
Owners: none

event, p2p/simulations/adapters: fix rare goroutine leaks (#20657)
  event/subscription.go
  event/subscription_test.go
  p2p/simulations/adapters/exec.go
Owners: @zelig, @janos, @justelad

accounts: add walletsNoLock to avoid double read lock (#20655)
  accounts/manager.go
Owners: none

node: fix test
  node/service_test.go
Owners: none

Refactor: addPeer(*gethrpc). It seems to work now.
  cmd/geth/les_test.go
Owners: none

minor comment change
  cmd/geth/les_test.go
Owners: none

Update puppeth.go
  cmd/puppeth/puppeth.go
Owners: @karalabe

Update wizard_genesis.go
  cmd/puppeth/wizard_genesis.go
Owners: @karalabe

Update wizard.go
  cmd/puppeth/wizard.go
Owners: @karalabe

Update wizard.go
  cmd/puppeth/wizard.go
Owners: @karalabe

Update wizard_genesis.go
  cmd/puppeth/wizard_genesis.go
Owners: @karalabe

del space
  cmd/puppeth/wizard_genesis.go
Owners: @karalabe

node: add log message when boot is aborted
  node/node.go
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet
cmd/clef                        @holiman
cmd/puppeth                     @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
dashboard/                      @kurkomisi
eth/                            @karalabe @holiman @rjl493456442
graphql/                        @gballet
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
mobile/                         @karalabe @ligi
p2p/                            @fjl @zsfelfoldi
rpc/                            @fjl @holiman
p2p/simulations                 @zelig @janos @justelad
p2p/protocols                   @zelig @janos @justelad
p2p/testing                     @zelig @janos @justelad
signer/                         @holiman
whisper/                        @gballet @gluk256
