Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @zelig, @nonsense, @janos, @justelad, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @zelig @nonsense @janos @justelad
p2p/protocols                   @zelig @nonsense @janos @justelad
p2p/testing                     @zelig @nonsense @janos @justelad
whisper/                        @gballet @gluk256

common/fdlimit: cap on MacOS file limits, fixes #18994
  common/fdlimit/fdlimit_darwin.go
Owners: none

common/fdlimit: fix Maximum-check to respect OPEN_MAX
  common/fdlimit/fdlimit_darwin.go
Owners: none

node: check for previous default datadir
  node/defaults.go
Owners: none

common/fdlimit: return error if OPEN_MAX is exceeded in Raise()
  common/fdlimit/fdlimit_darwin.go
Owners: none

p2p/simulations: fix a deadlock calling getRandomNode with lock
  p2p/simulations/network.go
Owners: @zelig, @nonsense, @janos, @justelad

build: use sftp for launchpad uploads
  build/ci.go
  build/dput-launchpad.cf
Owners: none

.travis.yml: configure sftp export
  .travis.yml
Owners: none

build: update CI docs
  build/ci-notes.md
Owners: none

swarm/docker: add global-store and split docker images
  swarm/docker/Dockerfile
Owners: none

swarm/network: Remove useless span remember
  swarm/network/stream/delivery.go
  swarm/network/stream/peer.go
Owners: none

swarm/network, swarm/storage: Remove redundant id to sendpriority
  swarm/network/stream/delivery.go
  swarm/network/stream/messages.go
  swarm/network/stream/peer.go
  swarm/network/stream/stream.go
  swarm/storage/filestore_test.go
  swarm/storage/netstore.go
Owners: none

swarm/network/stream: terminate disconnect goruotines in tests
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/syncer_test.go
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
Owners: none

swarm/network: Reinstate name on (currently unused) span in SendOfferedHashes
  swarm/network/stream/peer.go
Owners: none

swarm/network/stream: reduce memory consumption when testing data races
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/stream_not_race_test.go
  swarm/network/stream/stream_race_test.go
  swarm/network/stream/syncer_test.go
Owners: none

common/fdlimit: goimports
  common/fdlimit/fdlimit_darwin.go
Owners: none

common/fdlimit: check value after setting fdlimit
  cmd/utils/flags.go
  common/fdlimit/fdlimit_darwin.go
  common/fdlimit/fdlimit_freebsd.go
  common/fdlimit/fdlimit_test.go
  common/fdlimit/fdlimit_unix.go
  common/fdlimit/fdlimit_windows.go
Owners: none

cmd/swarm/swarm-smoke: first version trigger has-chunks on timeout
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

swarm/network: minor fix saturated check
  swarm/network/kademlia.go
Owners: none

swarm/storage: wait for to complete
  swarm/storage/filestore.go
Owners: none

swarm/network/simulations/discovery: fixed renamed RPC call
  swarm/network/simulations/discovery/discovery_test.go
Owners: none

swarm/storage: fix linter problems
  swarm/storage/filestore.go
Owners: none

discover updated
  p2p/discover/udp.go
  p2p/discover/udp_test.go
  p2p/simulations/adapters/inproc.go
Owners: @fjl, @zsfelfoldi, @zelig, @nonsense, @janos, @justelad

changes added in rlpx
  p2p/rlpx.go
Owners: @fjl, @zsfelfoldi

debug added in entrypoint
  docker/XDCchain/entrypoint.sh
Owners: none

Swarm MakeFile updated
  crypto/secp256k1/libsecp256k1/contrib/lax_der_privatekey_parsing.c
  swarm/dev/Makefile
Owners: none

Version pump to v_0.1.1
  VERSION
  params/version.go
Owners: none

Fixed hard code 3 mns address only for testnet.
  consensus/posv/posv.go
  miner/worker.go
Owners: @karalabe

swarm/docker: add global-store and split docker images (#19038)
  swarm/docker/Dockerfile
Owners: none

testnet: validate masternode role
  common/constants.go
  eth/backend.go
Owners: @karalabe

testnet: bypass DV
  consensus/posv/posv.go
Owners: @karalabe

graphql: fix typos in comments
  graphql/grahpql.go
Owners: none

set block hardfork for testnet
  consensus/posv/posv.go
Owners: @karalabe

testnet: add hard-fork block, allow nodes to sign block
  common/constants.go
  consensus/posv/posv.go
  eth/backend.go
Owners: @karalabe

change genesis to reset Testnet
  genesis/testnet.json
Owners: none

remove testnet hard-fork
  common/constants.go
  consensus/posv/posv.go
  eth/backend.go
Owners: @karalabe

common/fdlimit: make comment a bit more descriptive
  common/fdlimit/fdlimit_unix.go
Owners: none

cmd/utils: make fdlimit happy path a bit cleaner
  cmd/utils/flags.go
Owners: none

clef, signer: minor changes from review
  cmd/clef/intapi_changelog.md
  internal/ethapi/api.go
  signer/core/signed_data.go
Owners: @karalabe, @holiman

build: use SFTP for launchpad uploads (#19037)
  .travis.yml
  build/ci-notes.md
  build/ci.go
  build/dput-launchpad.cf
Owners: none

swarm/network/stream: add watchDisconnections helper function
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/syncer_test.go
Owners: none
