Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gballet, @MariusVanDerWijden, @lightclient, @fjl, @zsfelfoldi, @holiman, @rjl493456442, @jwasinger, @s1na, @karalabe

build: update to Go 1.23.4 (#30872)
  build/checksums.txt
Owners: none

core/state: use function name directly
  core/state/access_list.go
  core/state/statedb_test.go
Owners: @holiman, @rjl493456442

all: impl eip-7702
  cmd/evm/internal/t8ntool/transaction.go
  common/types.go
  core/bench_test.go
  core/blockchain_test.go
  core/error.go
  core/state/statedb.go
  core/state/statedb_hooked.go
  core/state_processor_test.go
  core/state_transition.go
  core/txpool/legacypool/legacypool.go
  core/txpool/validation.go
  core/types/gen_authorization.go
  core/types/receipt.go
  core/types/transaction.go
  core/types/transaction_marshalling.go
  core/types/transaction_signing.go
  core/types/tx_setcode.go
  core/types/tx_setcode_test.go
  core/verkle_witness_test.go
  core/vm/eips.go
  core/vm/evm.go
  core/vm/instructions.go
  core/vm/interface.go
  core/vm/jump_table.go
  core/vm/operations_acl.go
  internal/ethapi/api.go
  params/protocol_params.go
  tests/gen_stauthorization.go
  tests/gen_sttransaction.go
  tests/state_test_util.go
  tests/transaction_test_util.go
Owners: @holiman, @MariusVanDerWijden, @lightclient, @rjl493456442, @fjl, @s1na, @karalabe, @gballet, @zsfelfoldi

internal/ethapi: add 7702 tests to eth_estimateGas
  internal/ethapi/api_test.go
Owners: @fjl, @s1na, @lightclient

core/vm: make 7702 variants of EXT* ops
  core/vm/eips.go
  core/vm/instructions.go
Owners: @holiman, @rjl493456442

core: remove resolve code mechanism from statedb, put in vm
  core/state/statedb.go
  core/state/statedb_hooked.go
  core/vm/eips.go
  core/vm/evm.go
  core/vm/interface.go
Owners: @holiman, @rjl493456442

legacypool: don't allow 7702 txs in pool yet
  core/txpool/legacypool/legacypool.go
Owners: @holiman, @rjl493456442

core: use parse delegation for code check in state transition
  core/state_transition.go
Owners: @holiman, @rjl493456442

common: remove zero address
  common/types.go
  core/state_transition.go
Owners: @holiman, @rjl493456442

cmd/evm: add 7702 test for t8n
  cmd/evm/t8n_test.go
  cmd/evm/testdata/33/README.md
  cmd/evm/testdata/33/alloc.json
  cmd/evm/testdata/33/env.json
  cmd/evm/testdata/33/exp.json
  cmd/evm/testdata/33/txs.json
Owners: @holiman, @MariusVanDerWijden, @lightclient

core/types: change Authority method to pointer receiver
  core/types/tx_setcode.go
Owners: @holiman, @rjl493456442

core/types: remove AuthorizationList and use Authorization as value instead of pointer
  core/blockchain_test.go
  core/state_transition.go
  core/types/transaction.go
  core/types/transaction_marshalling.go
  core/types/tx_setcode.go
  internal/ethapi/api.go
  internal/ethapi/transaction_args.go
  tests/state_test_util.go
Owners: @holiman, @rjl493456442, @fjl, @s1na, @lightclient

core/types: change Authorization signature value to uint256
  core/types/gen_authorization.go
  core/types/tx_setcode.go
  tests/gen_stauthorization.go
  tests/state_test_util.go
Owners: @holiman, @rjl493456442

core: clarify test a bit
  core/blockchain_test.go
Owners: @holiman, @rjl493456442

accounts/external: handle set code tx type in backend
  accounts/external/backend.go
Owners: none

internal/ethapi: handle set code tx type in transaction args
  internal/ethapi/transaction_args.go
Owners: @fjl, @s1na, @lightclient

core: track validation error for authorizations
  core/error.go
  core/state_transition.go
Owners: @holiman, @rjl493456442

core: add comment about nonce update order
  core/state_transition.go
Owners: @holiman, @rjl493456442

core/vm: add comment about chained EIP-7702 delegations
  core/vm/evm.go
Owners: @holiman, @rjl493456442

core/types: improve authority signature handling
  core/types/tx_setcode.go
Owners: @holiman, @rjl493456442

core: style improvement in applyAuthorization
  core/state_transition.go
Owners: @holiman, @rjl493456442

core: fix account reference
  core/state_transition.go
Owners: @holiman, @rjl493456442

core: remove debug print
  core/state_transition.go
Owners: @holiman, @rjl493456442

internal/ethapi: remove reference to blob fields in setcode tx
  internal/ethapi/api.go
Owners: @fjl, @s1na, @lightclient

core: reformat comment
  core/state_transition.go
Owners: @holiman, @rjl493456442

graphql: add support for fee parameters of SetCodeTx
  graphql/graphql.go
Owners: @s1na

core/state: fix hooks to account for setcode on non-empty code
  core/state/state_object.go
  core/state/statedb.go
  core/state/statedb_hooked.go
  core/vm/interface.go
Owners: @holiman, @rjl493456442

cmd/evm: update testdata
  cmd/evm/testdata/33/exp.json
Owners: @holiman, @MariusVanDerWijden, @lightclient

core/state: fix journal to account for setcode over non-empty code
  core/state/journal.go
  core/state/state_object.go
Owners: @holiman, @rjl493456442

core: add comment about 7702 state transition error
  core/error.go
Owners: @holiman, @rjl493456442

core: improve checks for 7702
  core/error.go
  core/state_transition.go
Owners: @holiman, @rjl493456442

core/vm: direct check code hash during creation instead of resolving
  core/vm/evm.go
Owners: @holiman, @rjl493456442

tests: use big int for stAuthorization because eest needs math.HexOrDecimal256 decoding
  tests/gen_stauthorization.go
  tests/state_test_util.go
Owners: none

core: more comment
  core/state_transition.go
Owners: @holiman, @rjl493456442

core: rm extra whitespace
  core/state_transition.go
Owners: @holiman, @rjl493456442

internal/ethapi: removed commented out code from test
  internal/ethapi/api_test.go
Owners: @fjl, @s1na, @lightclient

core: clarify delegation deletion flow
  core/state_transition.go
Owners: @holiman, @rjl493456442

core: lift convenience warming of tx destination from per auth to post application of all authorizations
  core/state/statedb.go
  core/state_transition.go
Owners: @holiman, @rjl493456442

core: refactor non-create processing flow
  core/state_transition.go
Owners: @holiman, @rjl493456442

Fix incorrect balance when CreateContract is used in block-stm (#1382)
  core/state/statedb.go
  core/state/statedb_test.go
Owners: @holiman, @rjl493456442

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet/             @gballet
accounts/scwallet/              @gballet
accounts/abi/                   @gballet @MariusVanDerWijden
beacon/engine/                  @MariusVanDerWijden @lightclient @fjl
beacon/light/                   @zsfelfoldi
beacon/merkle/                  @zsfelfoldi 
beacon/types/                   @zsfelfoldi @fjl
beacon/params/                  @zsfelfoldi @fjl
cmd/clef/                       @holiman
cmd/evm/                        @holiman @MariusVanDerWijden @lightclient
core/state/                     @rjl493456442 @holiman
crypto/                         @gballet @jwasinger @holiman @fjl
core/                           @holiman @rjl493456442
eth/                            @holiman @rjl493456442
eth/catalyst/                   @MariusVanDerWijden @lightclient @fjl @jwasinger
eth/tracers/                    @s1na
ethclient/                      @fjl
ethdb/                          @rjl493456442
event/                          @fjl
trie/                           @rjl493456442
triedb/                         @rjl493456442
core/tracing/                   @s1na
graphql/                        @s1na
internal/ethapi/                @fjl @s1na @lightclient
internal/era/                   @lightclient
metrics/                        @holiman
miner/                          @MariusVanDerWijden @holiman @fjl @rjl493456442
node/                           @fjl
p2p/                            @fjl @zsfelfoldi
rlp/                            @fjl
params/                         @fjl @holiman @karalabe @gballet @rjl493456442 @zsfelfoldi
rpc/                            @fjl @holiman
signer/                         @holiman
