Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @zsfelfoldi, @fjl, @gluk256

swarm/network: fix data race in fetcher_test.go (#18469)
  swarm/network/fetcher.go
  swarm/network/fetcher_test.go
Owners: none

Update blockchain.go
  core/blockchain.go
Owners: @karalabe, @holiman

core: only cache non-nil receipts from the database (#18447)
  core/blockchain.go
Owners: @karalabe, @holiman

Upload speed (#18442)
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_speed.go
Owners: none

`deleteInBucket` removes an entry from `entries` and `replacements`.
  p2p/discover/table.go
Owners: @fjl, @zsfelfoldi

swarm/network: unskip tests previously skipped due to suggestPeer issues
  swarm/network/simulation/kademlia_test.go
  swarm/network/simulations/overlay_test.go
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
Owners: none

Reduce blockSigners cache limit
  consensus/posv/posv.go
Owners: @karalabe

p2p/simulations: changed NewEvent function to be used under network lock to avoid possible data race
  p2p/simulations/events.go
  p2p/simulations/network.go
Owners: @fjl, @zsfelfoldi

cmd/swarm: use resetting timer to measure fetch time
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

cmd/swarm/swarm-snapshot: disable tests on windows
  cmd/swarm/swarm-snapshot/create_test.go
Owners: none

Won't grasp txs at checkpoint
  consensus/posv/posv.go
  miner/worker.go
Owners: @karalabe

Template for docs pages with sidebar
  _config.yml
  _data/sidebar.yml
  _layouts/default.html
  _layouts/sidebar.html
  docs/index.md
Owners: none

swarm/pss: fxing race condition
  swarm/pss/pss.go
Owners: none

cmd/swarm/swarm-snapshot: disable tests on windows (#18478)
  cmd/swarm/swarm-snapshot/create_test.go
Owners: none

cmd/swarm: use resetting timer to measure fetch time (#18474)
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

p2p/simulations: address data race pr comments
  p2p/simulations/network.go
Owners: @fjl, @zsfelfoldi

cmd/swarm/swarm-smoke: use ResettingTimer instead of Counters for times
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

swarm/storage: user read locks in TestLDBStoreCollectGarbage
  swarm/storage/ldbstore_test.go
Owners: none

cmd/swarm/swarm-smoke: remove sleeping from fetch
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

cmd/swarm/swarm-smoke: use ResettingTimer instead of Counters for times (#18479)
  cmd/swarm/swarm-smoke/upload_and_sync.go
Owners: none

p2p: traces
  p2p/dial.go
Owners: @fjl, @zsfelfoldi

swarm: enable both bzz and hive
  swarm/network/protocol.go
  swarm/swarm.go
Owners: none

p2p: remove further random dials
  p2p/dial.go
Owners: @fjl, @zsfelfoldi

swarm: hack to always connect to bootnodes
  cmd/swarm/main.go
Owners: none

p2p: revert
  p2p/dial.go
Owners: @fjl, @zsfelfoldi

p2p: disable random node dialing
  p2p/dial.go
Owners: @fjl, @zsfelfoldi

swarm: rename self to s
  swarm/swarm.go
Owners: none

check for stream in caps on kademlia.On
  swarm/network/kademlia.go
Owners: none

cmd/swarm, swarm: add bootnode mode
  cmd/swarm/config.go
  cmd/swarm/flags.go
  cmd/swarm/main.go
  swarm/api/config.go
  swarm/swarm.go
Owners: none

p2p: revert back lookup discovery task
  p2p/dial.go
Owners: @fjl, @zsfelfoldi

Updated changes in genesis
  core/genesis_alloc.go
  core/state/statedb.go
  core/tx_pool.go
  core/types/transaction.go
Owners: @karalabe, @holiman

Added latest crypto_google
  crypto/bn256/google/bn256.go
  crypto/bn256/google/curve.go
  crypto/bn256/google/twist.go
Owners: none

lib added for cloudflare
  crypto/bn256/cloudflare/constants.go
  crypto/bn256/cloudflare/gfp_amd64.s
  crypto/bn256/cloudflare/gfp_decl.go
Owners: none

Test added for secp256k1
  crypto/secp256k1/libsecp256k1/src/modules/ecdh/tests_impl.h
  crypto/secp256k1/libsecp256k1/src/modules/recovery/tests_impl.h
Owners: none

Changes updated
  crypto/secp256k1/libsecp256k1/src/tests.c
  dashboard/assets.go
  dashboard/config.go
Owners: none

swarm/network: unskip tests previously skipped due to suggestPeer issues (#18477)
  swarm/network/simulation/kademlia_test.go
  swarm/network/simulations/overlay_test.go
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
Owners: none

rpc/client: Improve word expression
  rpc/client.go
Owners: none

Rollback ethapi breaking changes for graphql support
  internal/ethapi/api.go
Owners: none

Remove non-alphanumeric from page names
  docs/Developers-Guide.md
  docs/Go-ethereum-management-APIs.md
  docs/IPFS--SWARM.md
  docs/Japanese-Contracts-and-Transactions.md
  docs/Setting-up-Ethereum-Native.md
Owners: none

core, puppeth: implement constantinople fix, disable eip 1283
  cmd/puppeth/genesis.go
  cmd/puppeth/module_dashboard.go
  cmd/puppeth/wizard_genesis.go
  core/genesis.go
  core/vm/gas_table.go
  params/config.go
Owners: @karalabe, @holiman

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/abi                    @gballet
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
whisper/                        @gballet @gluk256
