Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gballet, @MariusVanDerWijden, @lightclient, @fjl, @zsfelfoldi, @holiman, @rjl493456442, @jwasinger, @s1na, @karalabe

cmd/XDC: enable metrics for geth import command (#20738)
  cmd/XDC/chaincmd.go
Owners: none

metrics/influxdb: don't push empty histograms, no measurement != 0 (#22590)
  metrics/influxdb/influxdb.go
Owners: @holiman

metrics: fix the panic for reading empty cpu stats (#21864)
  metrics/cpu_enabled.go
Owners: @holiman

metrics: replace strings.Replace with string.ReplaceAll (#24835)
  metrics/prometheus/collector.go
Owners: @holiman

metrics: replace gosigar with gopsutil (#21041)
  go.mod
  go.sum
  metrics/cpu_enabled.go
Owners: @holiman

metrics: fix some typos (#25551)
  metrics/gauge_float64_test.go
  metrics/gauge_test.go
  metrics/prometheus/prometheus.go
  miner/unconfirmed_test.go
Owners: @holiman, @MariusVanDerWijden, @fjl, @rjl493456442

metrics: use resetting histograms for rare packets (#22586)
  metrics/resetting_sample.go
Owners: @holiman

metrics: fix cast omission in cpu_syscall.go (#22262)
  metrics/cpu_syscall.go
Owners: @holiman

metrics/librato: rename receiver re to rep
  metrics/librato/librato.go
Owners: @holiman

cmd, core, metrics: always report expensive metrics (#29191)
  cmd/XDC/config.go
  cmd/utils/flags.go
  cmd/utils/flags_legacy.go
  core/blockchain.go
  core/state/state_object.go
  core/state/statedb.go
  metrics/config.go
  metrics/influxdb/influxdb.go
  metrics/influxdb/testdata/influxdbv1.want
  metrics/influxdb/testdata/influxdbv2.want
  metrics/metrics.go
  metrics/prometheus/collector.go
  metrics/prometheus/testdata/prometheus.want
Owners: @holiman, @rjl493456442

metrics: add support for enabling metrics from env vars (#28118)
  metrics/metrics.go
Owners: @holiman

metrics, cmd/geth: informational metrics (prometheus, influxdb, opentsb) (#24877)
  cmd/XDC/config.go
  cmd/utils/utils.go
  core/blockchain.go
  metrics/exp/exp.go
  metrics/gauge_info.go
  metrics/gauge_info_test.go
  metrics/graphite.go
  metrics/influxdb/influxdb.go
  metrics/influxdb/influxdb_test.go
  metrics/influxdb/influxdbv1.go
  metrics/influxdb/influxdbv2.go
  metrics/influxdb/testdata/influxdbv1.want
  metrics/influxdb/testdata/influxdbv2.want
  metrics/internal/sampledata.go
  metrics/librato/librato.go
  metrics/log.go
  metrics/meter.go
  metrics/opentsdb.go
  metrics/opentsdb_test.go
  metrics/prometheus/collector.go
  metrics/prometheus/collector_test.go
  metrics/prometheus/prometheus.go
  metrics/prometheus/testdata/prometheus.want
  metrics/registry.go
  metrics/syslog.go
  metrics/testdata/opentsb.want
  metrics/writer.go
Owners: @holiman, @rjl493456442

metrics/influxdb: fix time ticker leaks (#26507)
  metrics/influxdb/influxdbv2.go
Owners: @holiman

rpc: fix ns/µs mismatch in metrics (#28649)
  metrics/timer.go
  rpc/metrics.go
Owners: @holiman, @fjl

metrics: NilTimer should still run the function to be timed (#27723)
  metrics/timer.go
Owners: @holiman

all: ensure resp.body closed (#26969)
  metrics/librato/client.go
  node/node_test.go
  p2p/simulations/mocker_test.go
  rpc/http_test.go
Owners: @holiman, @fjl, @zsfelfoldi

metrics: remove deprecated uses of math.rand (#26710)
  metrics/sample.go
  metrics/sample_test.go
Owners: @holiman

metrics/influxdb: reuse code between v1 and v2 reporters (#26963)
  go.mod
  go.sum
  metrics/influxdb/influxdb.go
  metrics/influxdb/influxdbv1.go
  metrics/influxdb/influxdbv2.go
Owners: @holiman

metrics: fix docstring names (#28923)
  metrics/counter.go
  metrics/gauge.go
  metrics/gauge_float64.go
  metrics/gauge_info.go
  metrics/healthcheck.go
  metrics/histogram.go
  metrics/influxdb/influxdbv2.go
  metrics/sample.go
Owners: @holiman

metrics: use atomic type (#27121)
  metrics/counter.go
  metrics/ewma.go
  metrics/gauge.go
  metrics/meter.go
Owners: @holiman

metrics/librato: use http package to replace http method names (#26535)
  metrics/librato/client.go
Owners: @holiman

metrics: use sync.map in registry (#27159)
  metrics/registry.go
  metrics/registry_test.go
Owners: @holiman

metrics: add cpu counters (#26796)
  metrics/counter_float64.go
  metrics/counter_float_64_test.go
  metrics/exp/exp.go
  metrics/graphite.go
  metrics/influxdb/influxdb.go
  metrics/influxdb/influxdbv2.go
  metrics/librato/librato.go
  metrics/log.go
  metrics/metrics.go
  metrics/metrics_test.go
  metrics/opentsdb.go
  metrics/prometheus/collector.go
  metrics/prometheus/collector_test.go
  metrics/prometheus/prometheus.go
  metrics/registry.go
  metrics/syslog.go
  metrics/writer.go
Owners: @holiman

metrics: make gauge_float64 and counter_float64 lock free (#27025)
  metrics/counter_float64.go
  metrics/counter_float_64_test.go
  metrics/gauge_float64.go
  metrics/gauge_float64_test.go
Owners: @holiman

metrics: improve accuracy of CPU gauges (#26793)
  metrics/cpu.go
  metrics/cpu_enabled.go
  metrics/cputime_nop.go
  metrics/cputime_unix.go
  metrics/metrics.go
Owners: @holiman

metrics: NilResettingTimer.Time should execute the timed function (#27724)
  metrics/resetting_timer.go
Owners: @holiman

metrics: improve reading Go runtime metrics (#25886)
  metrics/influxdb/influxdb.go
  metrics/metrics.go
  metrics/metrics_test.go
  metrics/runtime.go
  metrics/runtime_cgo.go
  metrics/runtime_gccpufraction.go
  metrics/runtime_no_cgo.go
  metrics/runtime_no_gccpufraction.go
  metrics/runtime_test.go
  metrics/runtimehistogram.go
  metrics/runtimehistogram_test.go
Owners: @holiman

metrics: use slices package for sorting (#27493 #27909)
  go.mod
  go.sum
  metrics/resetting_timer.go
  metrics/sample.go
  metrics/writer.go
  metrics/writer_test.go
Owners: @holiman

metrics: fix issues with benchmarks (#30667)
  metrics/sample_test.go
Owners: @holiman

metrics: add test for `SampleSnapshot.Sum` (#29831)
  metrics/sample_test.go
Owners: @holiman

metrics: fix docstrings (#29279)
  metrics/json.go
  metrics/registry.go
  metrics/timer.go
Owners: @holiman

metrics: fix mismatched names in comments (#29348)
  metrics/gauge.go
  metrics/meter.go
  metrics/metrics.go
Owners: @holiman

metrics/influxdb: skip float64-precision-dependent tests on arm64 (#29047)
  metrics/influxdb/influxdb_test.go
Owners: @holiman

metrics: fix out of range error message (#29821)
  metrics/sample_test.go
Owners: @holiman

metrics: remove dependency on golang.org/exp (#29314)
  go.mod
  go.sum
  metrics/sample.go
  metrics/writer.go
  metrics/writer_test.go
Owners: @holiman

metrics: remove librato (#29624)
  metrics/README.md
  metrics/librato/client.go
  metrics/librato/librato.go
Owners: @holiman

metrics: fix function comment (#29843)
  metrics/debug.go
Owners: @holiman

metrics: fix flaky test `TestExpDecaySampleNanosecondRegression` (#29832)
  metrics/sample_test.go
Owners: @holiman

metrics: use min from go1.21 (#29307)
  metrics/sample_test.go
Owners: @holiman

refactor: unify the error handling methods in the crypto package that are different from the project style
  cmd/clef/main.go
  console/console.go
  core/blockchain.go
  rpc/subscription.go
  trie/iterator.go
Owners: @holiman, @rjl493456442, @fjl

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet/             @gballet
accounts/scwallet/              @gballet
accounts/abi/                   @gballet @MariusVanDerWijden
beacon/engine/                  @MariusVanDerWijden @lightclient @fjl
beacon/light/                   @zsfelfoldi
beacon/merkle/                  @zsfelfoldi 
beacon/types/                   @zsfelfoldi @fjl
beacon/params/                  @zsfelfoldi @fjl
cmd/clef/                       @holiman
cmd/evm/                        @holiman @MariusVanDerWijden @lightclient
core/state/                     @rjl493456442 @holiman
crypto/                         @gballet @jwasinger @holiman @fjl
core/                           @holiman @rjl493456442
eth/                            @holiman @rjl493456442
eth/catalyst/                   @MariusVanDerWijden @lightclient @fjl @jwasinger
eth/tracers/                    @s1na
ethclient/                      @fjl
ethdb/                          @rjl493456442
event/                          @fjl
trie/                           @rjl493456442
triedb/                         @rjl493456442
core/tracing/                   @s1na
graphql/                        @s1na
internal/ethapi/                @fjl @s1na @lightclient
internal/era/                   @lightclient
metrics/                        @holiman
miner/                          @MariusVanDerWijden @holiman @fjl @rjl493456442
node/                           @fjl
p2p/                            @fjl @zsfelfoldi
rlp/                            @fjl
params/                         @fjl @holiman @karalabe @gballet @rjl493456442 @zsfelfoldi
rpc/                            @fjl @holiman
signer/                         @holiman
