Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @rjl493456442, @kurkomisi, @zsfelfoldi, @ligi, @fjl, @zelig, @janos, @justelad, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet
cmd/clef                        @holiman
cmd/puppeth                     @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
dashboard/                      @kurkomisi
eth/                            @karalabe @holiman @rjl493456442
graphql/                        @gballet
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
mobile/                         @karalabe @ligi
p2p/                            @fjl @zsfelfoldi
rpc/                            @fjl @holiman
p2p/simulations                 @zelig @janos @justelad
p2p/protocols                   @zelig @janos @justelad
p2p/testing                     @zelig @janos @justelad
signer/                         @holiman
whisper/                        @gballet @gluk256

Restacktrie with pruning (#13)
  cmd/geth/chaincmd.go
  core/state/snapshot/hextrie_generator.go
  trie/stacktrie.go
Owners: @karalabe, @holiman, @rjl493456442

fix polluted path and check data length for validation action
  consensus/bor/bor.go
  consensus/bor/rest.go
Owners: @karalabe

move handler creation to pkg node, remove deprecated function
  cmd/geth/retesteth.go
  node/node.go
  node/rpcstack.go
  rpc/gzip.go
  rpc/http.go
Owners: @fjl, @holiman

updating retesteth.go to remove adding the ws handler
  cmd/geth/retesteth.go
Owners: none

remove gzip file
  rpc/gzip.go
Owners: @fjl, @holiman

core/state/snapshot: basic trie-to-hash implementation
  core/state/snapshot/account.go
  core/state/snapshot/conversion.go
Owners: @karalabe, @holiman, @rjl493456442

dont overwrite registering apis
  node/node.go
  rpc/endpoints.go
Owners: @fjl, @holiman

removing some unnecessary whitespace
  node/node.go
  rpc/endpoints.go
Owners: @fjl, @holiman

fixed some errors related to crashing travis build
  cmd/clef/main.go
  cmd/geth/retesteth.go
  node/node.go
  rpc/endpoints.go
Owners: @holiman, @fjl

eth: remove sync start debug message
  eth/sync.go
Owners: @karalabe, @holiman, @rjl493456442

eth: notify chainSyncer about new peers after handshake
  eth/handler.go
Owners: @karalabe, @holiman, @rjl493456442

eth: move downloader.Cancel call into chainSyncer
  eth/handler.go
  eth/sync.go
Owners: @karalabe, @holiman, @rjl493456442

eth: make post-sync block broadcast synchronous
  eth/sync.go
Owners: @karalabe, @holiman, @rjl493456442

removing unnecessary function
  node/node.go
Owners: none

tests: validate snapshot after test
  core/blockchain.go
  tests/block_test_util.go
Owners: @karalabe, @holiman, @rjl493456442

cmd/geth: enable metrics-flags for import command
  cmd/geth/chaincmd.go
Owners: none

whisper/whisperv6: decrease pow requirement in tests
  whisper/whisperv6/message_test.go
Owners: @gballet, @gluk256

metrics: disable CPU stats (gosigar) on iOS
  metrics/cpu_disabled.go
  metrics/cpu_enabled.go
Owners: none

cmd/devp2p: bump treeNodeTTL to four weeks
  cmd/devp2p/dnscmd.go
Owners: none

cmd/devp2p: tweak DNS TTLs (#20801)
  cmd/devp2p/dnscmd.go
Owners: none

metrics: make flawed test less flawed
  metrics/timer_test.go
Owners: none

eth: add comments
  eth/sync.go
Owners: @karalabe, @holiman, @rjl493456442

core: change blockchain stop message
  core/blockchain.go
Owners: @karalabe, @holiman, @rjl493456442

eth: change closeBloomHandler channel type
  eth/backend.go
Owners: @karalabe, @holiman, @rjl493456442

cmd/devp2p: lower route53 change limit again
  cmd/devp2p/dns_route53.go
Owners: none

cmd/devp2p: lower route53 change limit again (#20819)
  cmd/devp2p/dns_route53.go
Owners: none

cmd/devp2p: be very correct about route53 change splitting
  cmd/devp2p/dns_route53.go
  cmd/devp2p/dns_route53_test.go
Owners: none

cmd/devp2p: ensure TTL changes are applied on existing records
  cmd/devp2p/dns_route53.go
Owners: none

cmd/devp2p: be very correct about route53 change splitting (#20820)
  cmd/devp2p/dns_route53.go
  cmd/devp2p/dns_route53_test.go
Owners: none

p2p/discover: store v5 session keys in LRU cache
  p2p/discover/v5_encoding.go
  p2p/discover/v5_encoding_test.go
  p2p/discover/v5_session.go
  p2p/discover/v5_udp.go
  p2p/discover/v5_udp_test.go
Owners: @fjl, @zsfelfoldi

cmd/devp2p: add discv5 commands
  cmd/devp2p/crawl.go
  cmd/devp2p/discv5cmd.go
  cmd/devp2p/main.go
Owners: none

p2p/discover: port discv5 to iterator API
  p2p/discover/v4_udp.go
  p2p/discover/v5_udp.go
Owners: @fjl, @zsfelfoldi

cmd/devp2p: fix discv5 ping and discv5 resolve commands
  cmd/devp2p/discv5cmd.go
Owners: none

cmd/devp2p: add some flags for configuring the discv5 listener
  cmd/devp2p/discv4cmd.go
  cmd/devp2p/discv5cmd.go
Owners: none

p2p/discover: improve test packet injection
  p2p/discover/v5_udp.go
  p2p/discover/v5_udp_test.go
Owners: @fjl, @zsfelfoldi

p2p/enode: add discovery v5 database methods
  p2p/enode/nodedb.go
Owners: @fjl, @zsfelfoldi

p2p/discover: ensure lookup in end-to-end test isn't self lookup
  p2p/discover/v5_udp_test.go
Owners: @fjl, @zsfelfoldi

p2p/enode: remove ticket database accessors
  p2p/enode/nodedb.go
Owners: @fjl, @zsfelfoldi

p2p/discover: add initial implementation of discovery v5
  p2p/discover/common.go
  p2p/discover/node.go
  p2p/discover/table.go
  p2p/discover/table_util_test.go
  p2p/discover/v4_lookup_test.go
  p2p/discover/v4_udp.go
  p2p/discover/v4_udp_test.go
  p2p/discover/v5_encoding.go
  p2p/discover/v5_encoding_test.go
  p2p/discover/v5_udp.go
  p2p/discover/v5_udp_test.go
Owners: @fjl, @zsfelfoldi

p2p/discover: don't track failures in v5 lookupWorker
  p2p/discover/lookup.go
  p2p/discover/v5_udp.go
Owners: @fjl, @zsfelfoldi
