Repository ethereum/go-ethereum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @karalabe, @gballet, @holiman, @rjl493456442, @kurkomisi, @zsfelfoldi, @ligi, @fjl, @zelig, @janos, @justelad, @gluk256

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet
cmd/clef                        @holiman
cmd/puppeth                     @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
dashboard/                      @kurkomisi
eth/                            @karalabe @holiman @rjl493456442
graphql/                        @gballet
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
mobile/                         @karalabe @ligi
p2p/                            @fjl @zsfelfoldi
rpc/                            @fjl @holiman
p2p/simulations                 @zelig @janos @justelad
p2p/protocols                   @zelig @janos @justelad
p2p/testing                     @zelig @janos @justelad
signer/                         @holiman
whisper/                        @gballet @gluk256

les: implement lespay token sale module
  les/servingqueue.go
  les/tokensale.go
  les/tokensale_test.go
Owners: @zsfelfoldi, @rjl493456442

les: client pool improvements
  les/balance.go
  les/balance_test.go
  les/clientpool.go
  les/clientpool_test.go
  les/costtracker.go
  les/flowcontrol/control.go
Owners: @zsfelfoldi, @rjl493456442

les: implement les/4 protocol extensions
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  eth/config.go
  eth/gen_config.go
  les/client_handler.go
  les/handler_test.go
  les/metrics.go
  les/odr_test.go
  les/peer.go
  les/protocol.go
  les/request_test.go
  les/retrieve.go
  les/server.go
  les/server_handler.go
  les/test_helper.go
  les/ulc_test.go
Owners: @karalabe, @holiman, @rjl493456442, @zsfelfoldi

les: add lespay API
  internal/web3ext/web3ext.go
  les/api.go
  les/client.go
Owners: @zsfelfoldi, @rjl493456442

les: fixed compile errors
  les/api.go
  les/client.go
  les/client_handler.go
  les/clientpool.go
  les/clientpool_test.go
  les/handler_test.go
  les/peer.go
  les/peer_test.go
  les/server.go
  les/server_handler.go
  les/test_helper.go
Owners: @zsfelfoldi, @rjl493456442

les: fixed tests
  les/peer.go
  les/test_helper.go
Owners: @zsfelfoldi, @rjl493456442

correct func name
  core/vm/gas.go
Owners: @karalabe, @holiman, @rjl493456442

Update gas.go
  core/vm/gas.go
Owners: @karalabe, @holiman, @rjl493456442

"eth attach" should be "geth attach"
  docs/_interface/JavaScript-Console.md
Owners: none

les: rework expired value
  les/balance.go
  les/balance_test.go
  les/clientpool.go
  les/clientpool_test.go
  les/expiredvalue.go
  les/expiredvalue_test.go
Owners: @zsfelfoldi, @rjl493456442

les: rework client db
  les/api.go
  les/clientdb.go
  les/clientdb_test.go
  les/clientpool.go
  les/clientpool_test.go
  les/tokensale.go
Owners: @zsfelfoldi, @rjl493456442

les: stash
  les/api.go
  les/clientpool.go
  les/clientpool_test.go
Owners: @zsfelfoldi, @rjl493456442

les: move priceFactors notion into balance tracker
  les/api.go
  les/balance.go
  les/balance_test.go
  les/clientpool.go
Owners: @zsfelfoldi, @rjl493456442

correcting typos in documentation for subscription.go
  rpc/subscription.go
Owners: @fjl, @holiman

les: use fixed64
  les/balance.go
  les/balance_test.go
  les/clientdb.go
  les/clientdb_test.go
  les/clientpool.go
  les/expiredvalue.go
  les/expiredvalue_test.go
Owners: @zsfelfoldi, @rjl493456442

core/tests: test for destroy+recreate contract with storage
  core/blockchain_test.go
Owners: @karalabe, @holiman, @rjl493456442

"eth attach" should be "geth attach" (#20732)
  docs/_interface/JavaScript-Console.md
Owners: none

squashme
  core/blockchain_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/vm: fix method doc (#20730)
  core/vm/gas.go
Owners: @karalabe, @holiman, @rjl493456442

whisper: Improve traces to investigate travis build error
  whisper/whisperv6/peer_test.go
Owners: @gballet, @gluk256

core/state/snapshot, tests: sync snap gen + snaps in consensus tests
  cmd/evm/staterunner.go
  core/blockchain.go
  core/state/snapshot/disklayer.go
  core/state/snapshot/generate.go
  core/state/snapshot/journal.go
  core/state/snapshot/snapshot.go
  eth/tracers/tracers_test.go
  tests/block_test.go
  tests/block_test_util.go
  tests/state_test.go
  tests/state_test_util.go
  tests/transaction_test_util.go
  tests/vm_test.go
  tests/vm_test_util.go
Owners: @karalabe, @holiman, @rjl493456442

cmd/geth: enable metrics for geth import command
  cmd/geth/chaincmd.go
Owners: none

Check file size before reading it into memory
  crypto/crypto.go
Owners: none

Improve wording of error message
  cmd/geth/accountcmd_test.go
  crypto/crypto.go
Owners: none

les: add fixes
  les/clientpool.go
Owners: @zsfelfoldi, @rjl493456442

core/state: extend snapshotter to handle account resurrections
  core/blockchain.go
  core/blockchain_test.go
  core/state/snapshot/difflayer.go
  core/state/snapshot/difflayer_test.go
  core/state/snapshot/disklayer.go
  core/state/snapshot/disklayer_test.go
  core/state/snapshot/iterator_test.go
  core/state/snapshot/journal.go
  core/state/snapshot/snapshot.go
  core/state/snapshot/snapshot_test.go
  core/state/statedb.go
  core/vm/opcodes.go
Owners: @karalabe, @holiman, @rjl493456442

core/state: fix account root hash update point
  core/state/statedb.go
Owners: @karalabe, @holiman, @rjl493456442

eth: increase timeout allowance
  eth/handler_test.go
Owners: @karalabe, @holiman, @rjl493456442

les: fix unit test
  les/client_handler.go
  les/odr_test.go
  les/peer.go
  les/request_test.go
  les/server_handler.go
  les/sync_test.go
  les/test_helper.go
Owners: @zsfelfoldi, @rjl493456442

core/state: fix resurrection state clearing and access
  core/state/state_object.go
  core/state/statedb.go
Owners: @karalabe, @holiman, @rjl493456442

lescdn: make crawling a bit smarter and report per-depth tile stats
  lescdn/lesleech/main.go
Owners: none

LES CDN prototype
  cmd/geth/config.go
  cmd/utils/flags.go
  lescdn/chain.go
  lescdn/gzip.go
  lescdn/lesleech/main.go
  lescdn/service.go
  lescdn/state.go
  trie/iterator.go
Owners: none

all: integrate CDN idea into light client
  cmd/geth/config.go
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  common/selector/randomselect.go
  common/selector/randomselect_test.go
  core/blockchain.go
  eth/config.go
  eth/gen_config.go
  ethclient/ethclient.go
  les/client.go
  les/client_handler.go
  les/distributor.go
  les/http_retriever.go
  les/http_retriever_test.go
  les/odr.go
  les/odr_requests.go
  les/p2p_retrieve.go
  les/server.go
  les/serverpool.go
  les/test_helper.go
  les/txrelay.go
  lescdn/chain.go
  lescdn/gzip.go
  lescdn/lesleech/main.go
  lescdn/misc.go
  lescdn/service.go
  lescdn/state.go
  light/cht_tiler.go
  light/odr.go
  light/odr_test.go
  light/odr_util.go
  light/postprocess.go
  light/trie.go
  trie/iterator.go
  trie/proof.go
  trie/trie.go
  trie/trie_test.go
Owners: @karalabe, @holiman, @rjl493456442, @zsfelfoldi

Allow newline after account
  cmd/geth/accountcmd_test.go
  crypto/crypto.go
Owners: none

core/state/snapshot: handle deleted accounts in fast iterator
  core/state/snapshot/iterator_fast.go
  core/state/snapshot/iterator_test.go
Owners: @karalabe, @holiman, @rjl493456442

core: more blockchain tests
  core/blockchain_test.go
Owners: @karalabe, @holiman, @rjl493456442

core/state/snapshot: fix various iteration issues due to destruct set
  core/state/snapshot/difflayer.go
  core/state/snapshot/difflayer_test.go
  core/state/snapshot/iterator.go
  core/state/snapshot/iterator_test.go
Owners: @karalabe, @holiman, @rjl493456442

More idiomatic way to check for trailing whitespace
  crypto/crypto.go
Owners: none

les: minor cleanup
  les/clientpool.go
  les/expiredvalue.go
Owners: @zsfelfoldi, @rjl493456442

les: add atomicWriteLock to client db
  les/clientdb.go
  les/tokensale.go
Owners: @zsfelfoldi, @rjl493456442
