Repository ethereum/go-ethereum, pull requests merged in 2018-12, with the labels that each got.

#18218 swarm/pss: Add same api interface for all Send* methods
  swarm/pss/api.go
  swarm/pss/pss_test.go
Labels: bug, please review, swarm

#18246 swarm/network/stream: Debug log instead of Warn for retrieval failure
  swarm/network/stream/delivery.go
Labels: swarm

#18249 swarm/api/http: add resetting timer metrics to requests
  swarm/api/http/middleware.go
Labels: swarm

#18220 swarm: snapshot load improvement
  p2p/simulations/network.go
  swarm/network/hive.go
  swarm/network/simulation/kademlia_test.go
Labels: please review, swarm

#17914 core/vm, eth: add standard json tracing into filesystem dumps
  cmd/evm/runner.go
  cmd/evm/staterunner.go
  core/vm/logger_json.go
  eth/api_tracer.go
  internal/web3ext/web3ext.go
Labels: ropsten-lessons

#18251 swarm/network: Correct ambiguity in compared addresses
  swarm/network/networkid_test.go
Labels: bug, swarm

#18028 cmd, eth: add support for `--whitelist <blocknum>=<hash>`
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  eth/backend.go
  eth/config.go
  eth/handler.go
  eth/handler_test.go
  eth/helper_test.go
Labels: ropsten-lessons

#18274 cmd/swarm/swarm-smoke, metrics, swarm/api/client, swarm/storage, swarm/metrics, swarm/api/http: add metrics
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  metrics/influxdb/influxdb.go
  swarm/api/client/client.go
  swarm/api/http/middleware.go
  swarm/metrics/flags.go
  swarm/storage/chunker.go
Labels: please review, swarm

#18277 swarm/shed: add metrics to each shed db
  swarm/shed/db.go
  swarm/shed/db_test.go
  swarm/shed/example_store_test.go
Labels: swarm

#18285 swarm/storage: simplify ChunkValidator interface
  swarm/storage/feed/handler.go
  swarm/storage/feed/handler_test.go
  swarm/storage/feed/request.go
  swarm/storage/feed/request_test.go
  swarm/storage/localstore.go
  swarm/storage/localstore_test.go
  swarm/storage/types.go
Labels: please review, swarm

#18324 swarm/storage/feed: remove unused code
  swarm/storage/feed/handler.go
  swarm/storage/feed/handler_test.go
  swarm/storage/feed/timestampprovider.go
Labels: area:swarm

#18323 p2p/simulation: move connection methods from swarm/network/simulation
  p2p/simulations/connect.go
  p2p/simulations/connect_test.go
  p2p/simulations/network.go
  p2p/simulations/test.go
  swarm/network/simulation/connect_test.go
  swarm/network/simulation/events_test.go
  swarm/network/simulation/node.go
  swarm/network/simulation/node_test.go
  swarm/network/simulation/service.go
  swarm/network/simulation/simulation.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
Labels: area:swarm, pr:review

#18286 Update visualized snapshot test
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
Labels: area:swarm, type:bug

#18287 p2p/simulation: Test snapshot correctness and minimal benchmark
  p2p/simulations/network_test.go
  swarm/network/simulation/simulation_test.go
Labels: area:swarm, pr:merge

#18336 p2p/protocols: accounting metrics rpc
  internal/web3ext/web3ext.go
  p2p/protocols/accounting_api.go
  swarm/swarm.go
Labels: area:swarm

#18354 swarm/network: Revised depth and health for Kademlia
  swarm/network/discovery.go
  swarm/network/kademlia.go
  swarm/network/kademlia_test.go
  swarm/network/simulation/kademlia.go
  swarm/network/simulation/simulation.go
  swarm/network/simulations/discovery/discovery_test.go
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/syncer_test.go
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
  swarm/network_test.go
  swarm/pss/pss.go
Labels: area:swarm

#18351 swarm: remove unused/dead code
  cmd/swarm/flags.go
  swarm/api/api.go
  swarm/api/client/client.go
  swarm/api/storage.go
  swarm/api/testapi.go
  swarm/api/uri_test.go
  swarm/network/bitvector/bitvector.go
  swarm/network/protocol.go
  swarm/network/protocol_test.go
  swarm/network/stream/intervals/store_test.go
  swarm/network/stream/stream.go
  swarm/network/stream/syncer.go
  swarm/pot/address.go
  swarm/pot/pot.go
  swarm/state.go
  swarm/state/dbstore.go
  swarm/storage/chunker.go
  swarm/storage/database.go
  swarm/storage/error.go
  swarm/storage/ldbstore.go
  swarm/storage/ldbstore_test.go
  swarm/storage/mock/mock.go
  swarm/storage/pyramid.go
  swarm/storage/types.go
  swarm/swarm.go
Labels: area:swarm
