Repository ethereum/go-ethereum, pull requests merged in 2018-10, with the labels that each got.

#17782 swarm: cross-platform Content-Type detection, and suggest for browser filename
  Makefile
  cmd/swarm/mimegen/generator.go
  cmd/swarm/mimegen/mime.types
  cmd/swarm/upload.go
  cmd/swarm/upload_test.go
  swarm/api/api.go
  swarm/api/api_test.go
  swarm/api/client/client.go
  swarm/api/filesystem.go
  swarm/api/filesystem_test.go
  swarm/api/gen_mime.go
  swarm/api/http/server.go
  swarm/api/http/server_test.go
Labels: enhancement, swarm

#17800 cmd/swarm: disable export and upload tests on Windows
  cmd/swarm/export_test.go
  cmd/swarm/upload_test.go
Labels: swarm

#17799 cmd/swarm: correct swarm version on --help
  cmd/swarm/main.go
Labels: swarm

#17771 swarm: handle errors in cmdLineOverride and envVarsOverride
  cmd/swarm/config.go
Labels: bug, swarm

#17808 cmd/swarm: fix appveyor builds
  cmd/swarm/export_test.go
  cmd/swarm/run_test.go
  cmd/swarm/upload_test.go
Labels: swarm

#17813 swarm: schemas and migrations
  cmd/swarm/db.go
  cmd/swarm/main.go
  swarm/storage/database.go
  swarm/storage/ldbstore.go
  swarm/storage/localstore.go
  swarm/storage/schema.go
  swarm/swarm.go
Labels: please review, swarm

#17796 swarm/storage/feeds: Renamed MRU to Swarm Feeds
  .github/CODEOWNERS
  cmd/swarm/feeds.go
  cmd/swarm/feeds_test.go
  cmd/swarm/main.go
  swarm/OWNERS
  swarm/api/api.go
  swarm/api/client/client.go
  swarm/api/client/client_test.go
  swarm/api/http/server.go
  swarm/api/http/server_test.go
  swarm/api/manifest.go
  swarm/api/uri.go
  swarm/network/README.md
  swarm/pss/notify/notify.go
  swarm/storage/feed/binaryserializer.go
  swarm/storage/feed/binaryserializer_test.go
  swarm/storage/feed/cacheentry.go
  swarm/storage/feed/doc.go
  swarm/storage/feed/error.go
  swarm/storage/feed/feed.go
  swarm/storage/feed/feed_test.go
  swarm/storage/feed/handler.go
  swarm/storage/feed/handler_test.go
  swarm/storage/feed/id.go
  swarm/storage/feed/id_test.go
  swarm/storage/feed/lookup/epoch.go
  swarm/storage/feed/lookup/epoch_test.go
  swarm/storage/feed/lookup/lookup.go
  swarm/storage/feed/lookup/lookup_test.go
  swarm/storage/feed/query.go
  swarm/storage/feed/query_test.go
  swarm/storage/feed/request.go
  swarm/storage/feed/request_test.go
  swarm/storage/feed/sign.go
  swarm/storage/feed/testutil.go
  swarm/storage/feed/timestampprovider.go
  swarm/storage/feed/topic.go
  swarm/storage/feed/topic_test.go
  swarm/storage/feed/update.go
  swarm/storage/feed/update_test.go
  swarm/storage/localstore_test.go
  swarm/storage/mru/doc.go
  swarm/swarm.go
  swarm/testutil/http.go
Labels: enhancement, please review, swarm

#17827 cmd/swarm: disable tests under Windows until they are fixed
  cmd/swarm/manifest_test.go
Labels: swarm

#17835 swarm/storage: correctly determine chunks to be cleaned
  swarm/storage/localstore.go
Labels: bug, swarm

#17858 swarm/storage/feed: Expose MaxUpdateDataLength constant
  swarm/storage/feed/update.go
  swarm/storage/feed/update_test.go
Labels: swarm

#17723 Fix retrieval tests and simulation backends
  p2p/simulations/events.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/streamer_test.go
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
Labels: bug, enhancement, feature, please review, swarm

#17704 cmd/clef: encrypt the master seed on disk
  accounts/keystore/key.go
  accounts/keystore/keystore_passphrase.go
  cmd/clef/intapi_changelog.md
  cmd/clef/main.go
  signer/core/api.go
  signer/rules/rules_test.go
Labels: clef

#17876 swarm, swarm/storage: lower constants for faster tests
  swarm/network_test.go
  swarm/storage/chunker_test.go
  swarm/storage/filestore_test.go
  swarm/storage/ldbstore_test.go
  swarm/storage/memstore_test.go
  swarm/swarm_test.go
Labels: swarm

#17878 cmd/swarm: speed up tests
  cmd/swarm/access_test.go
  cmd/swarm/manifest_test.go
  cmd/swarm/run_test.go
  cmd/swarm/upload_test.go
Labels: swarm

#17896 cmd/swarm: cli cleanup
  cmd/swarm/access.go
  cmd/swarm/db.go
  cmd/swarm/download.go
  cmd/swarm/feeds.go
  cmd/swarm/flags.go
  cmd/swarm/fs.go
  cmd/swarm/hash.go
  cmd/swarm/list.go
  cmd/swarm/main.go
  cmd/swarm/manifest.go
  cmd/swarm/upload.go
Labels: enhancement, please review, swarm

#17931 swarm/tracing: disable stdout logging for opentracing
  swarm/tracing/tracing.go
Labels: swarm

#17936 swarm/network: disallow historical retrieval requests
  swarm/network/stream/delivery_test.go
  swarm/network/stream/messages.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/stream.go
Labels: bug, please review, swarm

#17945 swarm/api/http: remove ModTime=now for direct and multipart uploads
  swarm/api/http/server.go
Labels: enhancement, please review, swarm

#17920 swarm/network/stream: disambiguate chunk delivery messages (retrieval…
  swarm/network/stream/delivery.go
  swarm/network/stream/messages.go
  swarm/network/stream/peer.go
  swarm/network/stream/stream.go
Labels: enhancement, please review, swarm

#17910 core/vm: adds refund as part of the json standard trace
  cmd/evm/json_logger.go
  core/vm/gen_structlog.go
  core/vm/logger.go
  core/vm/logger_test.go
  eth/tracers/tracer.go
  eth/tracers/tracer_test.go
Labels: ropsten-lessons

#17989 swarm: clean up unused private types and functions
  swarm/api/http/server.go
  swarm/network/protocol_test.go
  swarm/pot/address.go
  swarm/pss/client/client_test.go
  swarm/pss/pss_test.go
  swarm/pss/types.go
  swarm/storage/common_test.go
  swarm/storage/feed/handler_test.go
  swarm/storage/ldbstore.go
  swarm/storage/types.go
Labels: enhancement, please review, swarm

#17992 cmd/swarm/swarm-smoke: fix issue that loop variable capture in func
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
Labels: swarm

#17987 all: updated code owners file
  .github/CODEOWNERS
Labels: swarm
