Repository ethereum/go-ethereum, pull requests merged in 2018-02, with the labels that each got.

#15958 swarm: Add favicon for Swarm templates served by browser
  swarm/api/http/error_templates.go
  swarm/api/http/server_test.go
  swarm/api/http/templates.go
Labels: merge imminent, swarm

#16004 p2p: don't send DiscReason to disconnected peer when using net.Pipe
  p2p/rlpx.go
  p2p/rlpx_test.go
Labels: please review

#15919 p2p/protocols, p2p/testing: protocol abstraction and testing
  p2p/protocols/protocol.go
  p2p/protocols/protocol_test.go
  p2p/testing/peerpool.go
  p2p/testing/protocolsession.go
  p2p/testing/protocoltester.go
Labels: feature, network, please review

#15748 swarm: repeated --ens-api CLI flag (#14386)
  cmd/swarm/config.go
  cmd/swarm/config_test.go
  cmd/swarm/main.go
  swarm/api/api.go
  swarm/api/api_test.go
  swarm/api/config.go
  swarm/swarm.go
  swarm/swarm_test.go
Labels: please review, swarm

#16152 swarm/api/http: Fix using deprecated bzzr scheme
  swarm/api/http/server.go
Labels: swarm

#15969 swarm: initial instrumentation
  cmd/swarm/main.go
  metrics/metrics.go
  swarm/api/api.go
  swarm/api/http/error.go
  swarm/api/http/server.go
  swarm/fuse/swarmfs_util.go
  swarm/metrics/flags.go
  swarm/network/depo.go
  swarm/network/hive.go
  swarm/network/kademlia/kademlia.go
  swarm/network/protocol.go
  swarm/storage/chunker.go
  swarm/storage/dbstore.go
  swarm/storage/localstore.go
  swarm/storage/memstore.go
  swarm/swarm.go
Labels: swarm

#16177 swarm/metrics: introduce metrics export flag
  swarm/metrics/flags.go
Labels: swarm

#15926 swarm: creates Swarm landing page for browser 'localhost:xxxx/' GET request when running Swarm
  swarm/api/http/server.go
  swarm/api/http/templates.go
Labels: enhancement, please review, swarm
