Repository ethereum/go-ethereum, pull requests merged in 2018-11, with the labels that each got.

#17960 cmd/swarm: auto resolve default path according to env flag
  cmd/swarm/config.go
  cmd/swarm/upload.go
Labels: enhancement, please review, swarm

#17925 swarm: modify context key
  swarm/api/http/sctx.go
  swarm/sctx/sctx.go
Labels: swarm

#18037 swarm/api: unexport Respond methods
  swarm/api/http/middleware.go
  swarm/api/http/response.go
  swarm/api/http/server.go
Labels: swarm

#17986 swarm: Better syncing and retrieval option definition
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/lightnode_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/stream.go
  swarm/network/stream/streamer_test.go
  swarm/network/stream/syncer_test.go
  swarm/swarm.go
Labels: please review, swarm

#18008 swarm/api: Fix #18007, missing signature should return HTTP 400
  swarm/api/http/server.go
  swarm/api/http/server_test.go
Labels: bug, please review, swarm

#17975 swarm/network: light nodes are not dialed, saved and requested from
  swarm/network/kademlia.go
  swarm/network/kademlia_test.go
  swarm/network/stream/delivery.go
  swarm/network/stream/delivery_test.go
Labels: please review, swarm

#18048 swarm, cmd/swarm: address ineffectual assignments
  cmd/swarm/access.go
  cmd/swarm/fs_test.go
  cmd/swarm/upload_test.go
  swarm/api/act.go
  swarm/api/client/client_test.go
  swarm/api/filesystem.go
  swarm/api/http/server.go
  swarm/api/http/server_test.go
  swarm/api/manifest.go
  swarm/network/hive_test.go
  swarm/network/protocol_test.go
  swarm/network/simulation/bucket_test.go
  swarm/network/stream/syncer_test.go
  swarm/pss/client/client_test.go
  swarm/pss/notify/notify_test.go
  swarm/pss/protocol_test.go
  swarm/state/dbstore.go
  swarm/state/dbstore_test.go
  swarm/state/inmemorystore.go
  swarm/storage/types.go
Labels: swarm

#18071 Imply that SwarmApiFlag is the API endpoint to connect to, not to lis…
  cmd/swarm/flags.go
Labels: enhancement, please review, swarm

#17991 p2p/simulations, swarm/network: Custom services in snapshot
  p2p/simulations/http_test.go
  p2p/simulations/network.go
  swarm/network/simulations/discovery/discovery_test.go
Labels: enhancement, swarm

#17978 swarm/storage: fix access count on dbstore after cache hit
  swarm/storage/ldbstore.go
  swarm/storage/ldbstore_test.go
  swarm/storage/localstore.go
  swarm/storage/localstore_test.go
Labels: bug, please review, swarm

#18080 swarm/storage: fix garbage collector index skew
  swarm/storage/ldbstore.go
  swarm/storage/ldbstore_test.go
  swarm/storage/localstore.go
  swarm/storage/schema.go
Labels: bug, please review, swarm

#18083 swarm: Use pseudo-random instead of crypto-random for test files content generation
  cmd/swarm/access_test.go
  cmd/swarm/export_test.go
  cmd/swarm/feeds_test.go
  cmd/swarm/manifest_test.go
  cmd/swarm/run_test.go
  cmd/swarm/upload_test.go
  swarm/api/client/client_test.go
  swarm/api/http/response_test.go
  swarm/api/http/server_test.go
  swarm/api/http/test_server.go
  swarm/bmt/bmt_test.go
  swarm/fuse/swarmfs_test.go
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/syncer_test.go
  swarm/network_test.go
  swarm/storage/chunker_test.go
  swarm/storage/common_test.go
  swarm/storage/encryption/encryption_test.go
  swarm/storage/filestore_test.go
  swarm/storage/types.go
  swarm/testutil/file.go
Labels: please review, swarm

#18113 swarm/storage: Batched database migration
  swarm/storage/ldbstore.go
  swarm/storage/ldbstore_test.go
Labels: bug, swarm

#18050 Swarm accounting
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/stream.go
  swarm/network/stream/syncer_test.go
  swarm/swap/swap.go
  swarm/swap/swap_test.go
  swarm/swarm.go
Labels: please review, swarm

#18127 swarm/api/http: change request served msg log level
  swarm/api/http/middleware.go
Labels: swarm

#18129 cmd/swarm: speed up tests - use global cluster
  cmd/swarm/access_test.go
  cmd/swarm/export_test.go
  cmd/swarm/feeds_test.go
  cmd/swarm/fs_test.go
  cmd/swarm/run_test.go
  cmd/swarm/upload_test.go
Labels: swarm

#18104 cmd/swarm/swarm-smoke: fix smoke tests url scheme to fit new k8s setup
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
Labels: swarm

#18120 swarm/storage: move 'running migrations for' log line
  swarm/storage/localstore.go
Labels: enhancement, ready, swarm

#18134 whisper: log errors on failed tests
  whisper/whisperv5/peer_test.go
  whisper/whisperv6/peer_test.go
Labels: whisper

#18143 swarm/state: refactor InmemoryStore
  swarm/network/simulations/overlay.go
  swarm/network/stream/delivery.go
  swarm/state/dbstore.go
  swarm/state/inmemorystore.go
  swarm/state/store.go
Labels: swarm

#18157 swarm: use swarm/mock/mem as mock global store
  swarm/network/stream/common_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/syncer_test.go
Labels: please review, swarm

#18112 cmd/swarm: FUSE do not require --ipcpath
  cmd/swarm/config_test.go
  cmd/swarm/fs.go
  cmd/swarm/fs_test.go
  cmd/utils/flags.go
Labels: enhancement, ready, swarm

#18161 swarm/network/simulation: fix New function for-loop scope
  swarm/network/simulation/node_test.go
  swarm/network/simulation/simulation.go
  swarm/network/simulation/simulation_test.go
  swarm/network/stream/delivery.go
Labels: bug, merge imminent, swarm

#18171 swarm/api: improve not found error msg
  swarm/api/api.go
Labels: swarm

#18169 swarm/pss: Message handler refactor
  swarm/network/kademlia.go
  swarm/pss/api.go
  swarm/pss/client/client.go
  swarm/pss/handshake.go
  swarm/pss/notify/notify.go
  swarm/pss/notify/notify_test.go
  swarm/pss/protocol_test.go
  swarm/pss/pss.go
  swarm/pss/pss_test.go
  swarm/pss/types.go
Labels: bug, enhancement, merge imminent, swarm

#18175 Remove multihash from Swarm bzz:// for Feeds
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  swarm/OWNERS
  swarm/api/api.go
  swarm/api/client/client_test.go
  swarm/api/http/server_test.go
  swarm/multihash/multihash.go
  swarm/multihash/multihash_test.go
Labels: enhancement, please review, swarm

#18136 Accounting metrics reporter
  p2p/protocols/accounting.go
  p2p/protocols/accounting_simulation_test.go
  p2p/protocols/reporter.go
  p2p/protocols/reporter_test.go
  swarm/swap/swap.go
  swarm/swarm.go
Labels: enhancement, please review, swarm

#18066 swarm/network: Correct neighborhood depth
  swarm/network/kademlia.go
  swarm/network/kademlia_test.go
  swarm/network/simulation/example_test.go
  swarm/network/simulation/kademlia.go
  swarm/network/simulation/kademlia_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/syncer_test.go
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
  swarm/network_test.go
Labels: bug, merge imminent, swarm

#18047 cmd/swarm: update should error on manifest mismatch
  cmd/swarm/feeds.go
  cmd/swarm/feeds_test.go
Labels: please review, swarm

#18183 swarm: add database abstractions (shed package)
  swarm/shed/db.go
  swarm/shed/db_test.go
  swarm/shed/example_store_test.go
  swarm/shed/field_string.go
  swarm/shed/field_string_test.go
  swarm/shed/field_struct.go
  swarm/shed/field_struct_test.go
  swarm/shed/field_uint64.go
  swarm/shed/field_uint64_test.go
  swarm/shed/index.go
  swarm/shed/index_test.go
  swarm/shed/schema.go
  swarm/shed/schema_test.go
  swarm/storage/mock/db/db.go
  swarm/storage/mock/mem/mem.go
  swarm/storage/mock/mock.go
  swarm/storage/mock/rpc/rpc.go
  swarm/storage/mock/test/test.go
Labels: please review, swarm

#18184 Increase bzz version
  swarm/network/protocol.go
  swarm/network/protocol_test.go
  swarm/network/stream/syncer_test.go
Labels: bug, swarm

#18189 cmd/swarm: add flag for application name (swarm or swarm-private)
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  swarm/grafana_dashboards/ldbstore.json
  swarm/grafana_dashboards/swarm.json
Labels: please review, swarm
