Repository ethereum/go-ethereum, pull requests merged in 2018-08, with the labels that each got.

#17299 Swarm test fixes
  cmd/swarm/fs.go
  cmd/swarm/fs_test.go
  swarm/network/simulation/simulation.go
  swarm/network/simulation/simulation_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/snapshot_sync_test.go
Labels: in progress, swarm

#17313 swarm/storage/mru: HOTFIX - fix panic in Handler.update
  swarm/storage/mru/handler.go
Labels: swarm

#17309 swarm/api/http: http package refactoring
  swarm/api/api.go
  swarm/api/http/error.go
  swarm/api/http/error_templates.go
  swarm/api/http/middleware.go
  swarm/api/http/response.go
  swarm/api/http/response_test.go
  swarm/api/http/sctx.go
  swarm/api/http/server.go
  swarm/api/http/server_test.go
  swarm/api/http/templates.go
  swarm/sctx/sctx.go
Labels: swarm

#17277 Swarm http unittests
  swarm/api/http/server_test.go
Labels: swarm

#17333 swarm/README: consolidate Developers Guide and Onboarding Document
  swarm/README.md
Labels: please review, swarm

#17334 swarm/api/http: test fixes
  swarm/api/http/response.go
  swarm/api/http/server_test.go
Labels: swarm

#17291 swarm: Added lightnode flag
  cmd/swarm/config.go
  cmd/swarm/main.go
  swarm/api/config.go
  swarm/network/protocol.go
  swarm/network/protocol_test.go
  swarm/swarm.go
Labels: swarm

#17338 swarm/bmt: ignore data longer then 4096 bytes in Hasher.Write
  swarm/bmt/bmt.go
Labels: please review, swarm

#17342 swarm/api/http: fixed list leaf links
  swarm/api/http/server_test.go
  swarm/api/http/templates.go
Labels: swarm

#17360 cmd/swarm: remove shadow err
  cmd/swarm/config.go
Labels: swarm

#17340 cmd/swarm: disable TestCLISwarmFs fuse test on darwin
  cmd/swarm/fs_test.go
Labels: swarm

#17339 swarm/api: close tar writer in GetDirectoryTar to flush and clean
  swarm/api/api.go
Labels: swarm

#17352 cmd/swarm: solve rare cases of using the same random port in tests
  cmd/swarm/config_test.go
  cmd/swarm/run_test.go
Labels: please review, swarm

#17371 swarm/api/http: added logging to denote request ended
  swarm/api/http/middleware.go
  swarm/api/http/response.go
Labels: ready, swarm

#17375 Manifest cli fix and upload defaultpath only once
  cmd/swarm/main.go
  cmd/swarm/manifest.go
  cmd/swarm/manifest_test.go
  cmd/swarm/upload.go
  cmd/swarm/upload_test.go
  swarm/api/api.go
  swarm/api/client/client.go
  swarm/api/client/client_test.go
  swarm/api/http/server.go
  swarm/api/manifest.go
Labels: please review, swarm

#17397 swarm/network, swarm/storage: validate chunk size
  swarm/bmt/bmt.go
  swarm/bmt/bmt_test.go
  swarm/chunk/chunk.go
  swarm/network/stream/delivery.go
  swarm/storage/chunker.go
  swarm/storage/hasherstore.go
  swarm/storage/ldbstore_test.go
  swarm/storage/localstore.go
  swarm/storage/localstore_test.go
  swarm/storage/mru/handler.go
  swarm/storage/mru/resource_test.go
  swarm/storage/mru/testutil.go
  swarm/storage/mru/update.go
  swarm/storage/pyramid.go
  swarm/storage/types.go
  swarm/swarm.go
Labels: swarm

#16899 les: implement client connection logic
  common/mclock/mclock.go
  common/mclock/simclock.go
  common/prque/prque.go
  common/prque/sstack.go
  les/freeclient.go
  les/freeclient_test.go
  les/handler.go
Labels: please review

#17404 cmd/swarm, swarm: access control tries
  cmd/swarm/access.go
  cmd/swarm/access_test.go
  cmd/swarm/config.go
  cmd/swarm/download.go
  cmd/swarm/list.go
  cmd/swarm/main.go
  cmd/swarm/run_test.go
  swarm/api/act.go
  swarm/api/api.go
  swarm/api/api_test.go
  swarm/api/client/client.go
  swarm/api/client/client_test.go
  swarm/api/encrypt.go
  swarm/api/filesystem.go
  swarm/api/filesystem_test.go
  swarm/api/http/middleware.go
  swarm/api/http/response.go
  swarm/api/http/server.go
  swarm/api/manifest.go
  swarm/api/manifest_test.go
  swarm/api/storage.go
  swarm/api/uri.go
  swarm/fuse/swarmfs_test.go
  swarm/network_test.go
  swarm/sctx/sctx.go
  swarm/swarm.go
  swarm/testutil/http.go
Labels: swarm

#16534 light: CHT and bloom trie indexers working in light mode
  core/chain_indexer.go
  core/chain_indexer_test.go
  eth/backend.go
  eth/bloombits.go
  les/backend.go
  les/distributor.go
  les/handler.go
  les/helper_test.go
  les/odr.go
  les/odr_test.go
  les/request_test.go
  les/retrieve.go
  les/server.go
  light/lightchain.go
  light/odr.go
  light/postprocess.go
Labels: please review

#17414 cmd/swarm: added swarm bootnodes
  cmd/swarm/bootnodes.go
  cmd/swarm/config.go
  cmd/swarm/main.go
  swarm/api/config.go
Labels: swarm

#17424 swarm/storage: cleanup task - remove bigger chunks than DefaultSize
  swarm/storage/ldbstore.go
Labels: swarm

#17449 swarm/network: bump bzz protocol version
  swarm/network/protocol.go
  swarm/network/protocol_test.go
Labels: swarm

#17483 swarm/api/http: fixed resolver bug
  swarm/api/http/server.go
Labels: swarm

#17500 swarm/api: fix typo
  swarm/api/api.go
Labels: swarm

#17527 vendor: github.com/rjeczalik/notify update to master
  vendor/github.com/rjeczalik/notify/watcher_fsevents_cgo.go
  vendor/github.com/rjeczalik/notify/watcher_fsevents_go1.10.go
  vendor/github.com/rjeczalik/notify/watcher_fsevents_go1.11.go
  vendor/vendor.json
Labels: please review

#17188 all: Indexer configurable
  core/chain_indexer.go
  eth/backend.go
  eth/bloombits.go
  les/api_backend.go
  les/backend.go
  les/bloombits.go
  les/commons.go
  les/handler.go
  les/handler_test.go
  les/helper_test.go
  les/odr.go
  les/odr_requests.go
  les/odr_test.go
  les/peer.go
  les/request_test.go
  les/server.go
  light/lightchain.go
  light/lightchain_test.go
  light/odr.go
  light/odr_test.go
  light/odr_util.go
  light/postprocess.go
  light/trie_test.go
  light/txpool_test.go
  params/network_params.go
Labels: please review
