Repository ethereum/go-ethereum, pull requests merged in 2018-09, with the labels that each got.

#17496 cmd/swarm: added scaling test for ACT manifests
  cmd/swarm/access_test.go
Labels: swarm

#17471 cmd/swarm: added publisher key assertion to act tests
  cmd/swarm/access_test.go
  cmd/swarm/main.go
Labels: swarm

#17502 swarm/api/http: added regression test for resolver
  swarm/api/client/client_test.go
  swarm/api/http/response_test.go
  swarm/api/http/server_test.go
  swarm/testutil/http.go
Labels: swarm

#17589 swarm/storage: leveldb usage metrics
  swarm/api/http/server_test.go
  swarm/storage/ldbstore.go
Labels: swarm

#17598 cmd/swarm: add passwords to ACT
  cmd/swarm/access.go
  cmd/swarm/access_test.go
  cmd/swarm/main.go
  swarm/api/act.go
  swarm/testutil/file.go
Labels: swarm

#17603 Encryption async api
  swarm/api/encrypt.go
  swarm/storage/encryption/encryption.go
  swarm/storage/encryption/encryption_test.go
  swarm/storage/hasherstore.go
Labels: enhancement, please review, swarm

#17484 swarm/storage: remove redundant increments for dataIdx and entryCnt
  swarm/storage/ldbstore.go
  swarm/storage/ldbstore_test.go
Labels: swarm

#17659 swarm: Chunk refactor
  cmd/swarm/hash.go
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  swarm/api/api.go
  swarm/api/config.go
  swarm/api/http/server_test.go
  swarm/api/manifest.go
  swarm/fuse/swarmfs_test.go
  swarm/network/fetcher.go
  swarm/network/fetcher_test.go
  swarm/network/priorityqueue/priorityqueue.go
  swarm/network/priorityqueue/priorityqueue_test.go
  swarm/network/simulation/simulation.go
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/messages.go
  swarm/network/stream/peer.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/stream.go
  swarm/network/stream/streamer_test.go
  swarm/network/stream/syncer.go
  swarm/network/stream/syncer_test.go
  swarm/network_test.go
  swarm/storage/chunker.go
  swarm/storage/chunker_test.go
  swarm/storage/chunkstore.go
  swarm/storage/common.go
  swarm/storage/common_test.go
  swarm/storage/dbapi.go
  swarm/storage/filestore_test.go
  swarm/storage/hasherstore.go
  swarm/storage/hasherstore_test.go
  swarm/storage/ldbstore.go
  swarm/storage/ldbstore_test.go
  swarm/storage/localstore.go
  swarm/storage/localstore_test.go
  swarm/storage/memstore.go
  swarm/storage/memstore_test.go
  swarm/storage/mru/handler.go
  swarm/storage/mru/lookup.go
  swarm/storage/mru/metadata.go
  swarm/storage/mru/request.go
  swarm/storage/mru/resource_test.go
  swarm/storage/mru/signedupdate.go
  swarm/storage/mru/testutil.go
  swarm/storage/mru/updateheader.go
  swarm/storage/netstore.go
  swarm/storage/netstore_test.go
  swarm/storage/pyramid.go
  swarm/storage/types.go
  swarm/swarm.go
  swarm/swarm_test.go
Labels: swarm

#17683 swarm: Chunk refactor improvements
  swarm/network/protocol.go
  swarm/network/protocol_test.go
  swarm/network/stream/stream.go
Labels: swarm

#17692 swarm/network: downgrade fetcher unable to request log message severity
  swarm/network/fetcher.go
Labels: swarm

#17702 swarm/storage: Implement global timeout for fetcher
  swarm/storage/netstore.go
Labels: swarm

#17383 Eip1283
  core/state/state_object.go
  core/state/state_test.go
  core/state/statedb.go
  core/state/statedb_test.go
  core/vm/gas_table.go
  core/vm/interface.go
  core/vm/logger_test.go
  core/vm/noop.go
  params/config.go
  params/protocol_params.go
  tests/state_test.go
Labels: eip

#17734 swarm/network/stream: fix DoS invalid offered hashes length
  swarm/network/stream/messages.go
  swarm/network/stream/streamer_test.go
Labels: swarm

#17757 swarm: prevent forever running retrieve request loops
  swarm/network/fetcher.go
  swarm/network/fetcher_test.go
  swarm/network/stream/delivery.go
  swarm/network/stream/stream.go
  swarm/storage/mru/testutil.go
  swarm/storage/netstore.go
  swarm/storage/netstore_test.go
Labels: please review, swarm

#17755 cmd/swarm: use expandPath for swarm cli path parameters
  cmd/swarm/config.go
  cmd/swarm/upload.go
Labels: enhancement, swarm

#17772 stream: fix streamer test compilation issue
  swarm/network/stream/streamer_test.go
Labels: please review, swarm

#17747 Add stream peer servers limit
  cmd/swarm/config.go
  cmd/swarm/main.go
  swarm/api/config.go
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/messages.go
  swarm/network/stream/peer.go
  swarm/network/stream/stream.go
  swarm/network/stream/streamer_test.go
  swarm/swarm.go
Labels: please review, swarm

#17781 cmd/swarm: trim new lines from files
  cmd/swarm/access.go
  swarm/storage/mru/lookup/epoch_test.go
  swarm/storage/mru/lookup/lookup_test.go
  swarm/storage/mru/query.go
Labels: swarm

#17766 swarm: ensure 64bit hasherStore struct alignment
  swarm/storage/hasherstore.go
Labels: bug, please review, swarm

#17739 cmd/swarm: respect --loglevel in run_test helpers
  cmd/swarm/run_test.go
Labels: enhancement, swarm
