Repository ethereum/go-ethereum, pull requests merged in 2019-04, with the labels that each got.

#19326 swarm/network: hive bug: needed shallow peers are not sent to nodes beyond connection's proximity order
  swarm/network/discovery.go
  swarm/network/discovery_test.go
  swarm/network/hive_test.go
  swarm/network/protocol.go
  swarm/network/protocol_test.go
Labels: area:swarm, pr:review

#16327 core/vm: instruction tests
  core/vm/instructions_test.go
  core/vm/testdata/testcases_add.json
  core/vm/testdata/testcases_and.json
  core/vm/testdata/testcases_byte.json
  core/vm/testdata/testcases_div.json
  core/vm/testdata/testcases_eq.json
  core/vm/testdata/testcases_exp.json
  core/vm/testdata/testcases_gt.json
  core/vm/testdata/testcases_lt.json
  core/vm/testdata/testcases_mod.json
  core/vm/testdata/testcases_mul.json
  core/vm/testdata/testcases_or.json
  core/vm/testdata/testcases_sar.json
  core/vm/testdata/testcases_sdiv.json
  core/vm/testdata/testcases_sgt.json
  core/vm/testdata/testcases_shl.json
  core/vm/testdata/testcases_shr.json
  core/vm/testdata/testcases_signext.json
  core/vm/testdata/testcases_slt.json
  core/vm/testdata/testcases_smod.json
  core/vm/testdata/testcases_sub.json
  core/vm/testdata/testcases_xor.json
Labels: status:triage

#19403 les: remove support for LES/1
  les/backend.go
  les/benchmark.go
  les/commons.go
  les/costtracker.go
  les/handler.go
  les/handler_test.go
  les/odr.go
  les/odr_requests.go
  les/odr_test.go
  les/peer.go
  les/protocol.go
  les/request_test.go
  les/server.go
  light/odr_test.go
  light/postprocess.go
  params/network_params.go
Labels: pr:review

#19442 clef: update warning-text
  cmd/clef/main.go
Labels: area:clef

#19443 cmd/swarm: fix resource leaks in tests
  cmd/swarm/access_test.go
  cmd/swarm/run_test.go
  cmd/swarm/upload_test.go
  swarm/api/client/client_test.go
  swarm/api/http/test_server.go
  swarm/storage/ldbstore_test.go
Labels: area:swarm, pr:ready

#19353 swarm/storage/feed: add context handling/cancellation to Swarm Feeds lookup, fix bad hint lookup bug
  swarm/storage/feed/handler.go
  swarm/storage/feed/lookup/lookup.go
  swarm/storage/feed/lookup/lookup_test.go
Labels: area:swarm

#19490 swarm/network: fix data races in TestInitialPeersMsg test
  p2p/testing/protocoltester.go
  swarm/network/discovery_test.go
  swarm/network/hive.go
  swarm/network/kademlia.go
  swarm/network/protocol_test.go
  swarm/storage/ldbstore_test.go
Labels: area:swarm, pr:review, status: PR review
