Repository ethereum/go-ethereum, pull requests merged in 2019-08, with the labels that each got.

#19745 les: implement new client pool
  common/mclock/mclock.go
  common/mclock/simclock.go
  common/prque/lazyqueue.go
  common/prque/lazyqueue_test.go
  les/api_test.go
  les/balance.go
  les/clientpool.go
  les/clientpool_test.go
  les/commons.go
  les/freeclient.go
  les/freeclient_test.go
  les/handler.go
  les/metrics.go
  les/peer.go
  les/server.go
Labels: pr:review

#19904 params, core/vm: Istanbul EIP-1108 gas costs implementation
  core/vm/contracts.go
  core/vm/evm.go
  params/config.go
  params/protocol_params.go
Labels: istanbul

#19743 Eip 1884 v3
  core/vm/eips.go
  core/vm/interpreter.go
  core/vm/jump_table.go
  core/vm/opcodes.go
  params/protocol_params.go
  tests/state_test_util.go
Labels: istanbul

#19921 Eip 1344 (ChainID opcode)
  core/vm/eips.go
  core/vm/opcodes.go
Labels: istanbul

#19931 core, light, params: implement eip2028
  core/bench_test.go
  core/state_transition.go
  core/tx_pool.go
  light/txpool.go
  params/protocol_params.go
  tests/transaction_test_util.go
Labels: istanbul, priority:1

#17374 common/compiler: support relative import paths
  common/compiler/solidity.go
Labels: status:triage

#19964 core/vm, params: implement EIP2200, SSTORE optimizations
  core/vm/eips.go
  core/vm/gas_table.go
  core/vm/gas_table_test.go
  params/protocol_params.go
Labels: istanbul

#19972 core/vm, crypto/blake2b: add BLAKE2b compression func at 0x09
  core/vm/contracts.go
  core/vm/contracts_test.go
  crypto/blake2b/blake2b.go
  crypto/blake2b/blake2bAVX2_amd64.go
  crypto/blake2b/blake2bAVX2_amd64.s
  crypto/blake2b/blake2b_amd64.go
  crypto/blake2b/blake2b_amd64.s
  crypto/blake2b/blake2b_f_test.go
  crypto/blake2b/blake2b_generic.go
  crypto/blake2b/blake2b_ref.go
  crypto/blake2b/blake2b_test.go
  crypto/blake2b/blake2x.go
  crypto/blake2b/register.go
  eth/tracers/tracer.go
Labels: istanbul

#19993 core/vm: enable istanbul EIPs in the jump table
  cmd/geth/retesteth.go
  core/vm/interpreter.go
  core/vm/jump_table.go
  tests/init.go
Labels: istanbul

#20010 les: wait all task routines before drop the peer
  les/benchmark.go
  les/clientpool.go
  les/clientpool_test.go
  les/peer.go
  les/server.go
  les/server_handler.go
  les/test_helper.go
Labels: priority:1
