Repository ethereum/go-ethereum, pull requests merged in 2019-01, with the labels that each got.

#18379 swarm: Change Proximity function and add TestProximity test
  swarm/storage/types.go
  swarm/storage/types_test.go
Labels: area:swarm, pr:review

#18386 swarm/docker: Dockerfile for swarm:edge docker image
  swarm/api/http/middleware.go
  swarm/docker/Dockerfile
  swarm/docker/run-smoke.sh
  swarm/docker/run.sh
Labels: area:swarm

#18393 A few minor code inspection fixes
  p2p/simulations/adapters/exec.go
  p2p/simulations/adapters/inproc.go
  p2p/simulations/connect_test.go
  p2p/simulations/http_test.go
  p2p/simulations/mocker_test.go
  p2p/simulations/network.go
  swarm/network/simulation/bucket.go
  swarm/network/simulation/bucket_test.go
  swarm/network/simulation/example_test.go
  swarm/network/simulation/kademlia.go
  swarm/network/simulation/node.go
  swarm/network/simulation/simulation_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/syncer_test.go
Labels: area:swarm, pr:ready

#18398 swarm: Shed Index and Uint64Field additions
  swarm/shed/db.go
  swarm/shed/example_store_test.go
  swarm/shed/field_uint64.go
  swarm/shed/field_uint64_test.go
  swarm/shed/index.go
  swarm/shed/index_test.go
Labels: area:swarm, pr:review, status: PR review

#18399 swarm: fix T.Fatal inside a goroutine in storage/mock/test
  swarm/storage/mock/test/test.go
Labels: area:swarm, pr:review, status: PR review

#18337 swarm, p2p/protocols: Stream accounting
  p2p/protocols/accounting.go
  swarm/network/stream/stream.go
  swarm/network/stream/streamer_test.go
Labels: area:swarm, type:feature

#18412 github: remove swarm github codeowners
  .github/CODEOWNERS
Labels: area:swarm

#18409 swarm: Fix T.Fatal inside a goroutine in tests
  swarm/network/simulation/events_test.go
  swarm/network/simulation/http_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/syncer_test.go
  swarm/storage/netstore_test.go
Labels: area:swarm, pr:review

#18239 swarm/network: remove isproxbin bool from kad.Each* iterfunc
  swarm/network/discovery.go
  swarm/network/hive.go
  swarm/network/hive_test.go
  swarm/network/kademlia.go
  swarm/network/kademlia_test.go
  swarm/network/networkid_test.go
  swarm/network/stream/delivery.go
  swarm/network/stream/messages.go
  swarm/pss/pss.go
  swarm/pss/pss_test.go
Labels: area:swarm, pr:review

#18408 swarm/network: Rename minproxbinsize, add as member of simulation
  swarm/network/kademlia.go
  swarm/network/kademlia_test.go
  swarm/network/networkid_test.go
  swarm/network/simulation/example_test.go
  swarm/network/simulation/kademlia.go
  swarm/network/simulation/kademlia_test.go
  swarm/network/simulation/simulation.go
  swarm/network/simulations/discovery/discovery_test.go
  swarm/network/simulations/overlay.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/syncer_test.go
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
  swarm/network_test.go
  swarm/pss/client/client_test.go
  swarm/pss/notify/notify_test.go
  swarm/pss/pss_test.go
Labels: area:swarm

#18355 Stream subscriptions
  swarm/network/kademlia.go
  swarm/network/kademlia_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/stream.go
  swarm/network/stream/streamer_test.go
Labels: area:swarm, type:bug

#18431 swarm/pot: pot.remove fixed
  swarm/pot/address.go
  swarm/pot/pot.go
  swarm/pot/pot_test.go
Labels: area:swarm

#18452 swarm/pot: each() functions refactored
  swarm/network/kademlia.go
  swarm/pot/pot.go
  swarm/pot/pot_test.go
Labels: area:swarm

#18460 swarm: Fix data race in TestNetworkID test
  swarm/network/networkid_test.go
Labels: area:swarm, pr:review, status: PR review

#18462 swarm: Fix mockNetFetcher data races in storage
  swarm/storage/netstore_test.go
Labels: area:swarm, pr:review, status: PR review

#18453 cmd/swarm/swarm-snapshot: swarm snapshot generator
  cmd/swarm/swarm-snapshot/create.go
  cmd/swarm/swarm-snapshot/create_test.go
  cmd/swarm/swarm-snapshot/main.go
  cmd/swarm/swarm-snapshot/run_test.go
  swarm/network/kademlia.go
  swarm/network/simulations/discovery/discovery_test.go
Labels: area:swarm

#18459 swarm/network: fix data race warning on TestBzzHandshakeLightNode
  swarm/network/protocol.go
  swarm/network/protocol_test.go
Labels: area:swarm

#18468 swarm/network: fix data race in stream.(*Peer).handleOfferedHashesMsg()
  swarm/network/stream/stream.go
Labels: area:swarm, pr:review, type:bug

#18469 swarm/network: fix data race in fetcher_test.go
  swarm/network/fetcher.go
  swarm/network/fetcher_test.go
Labels: area:swarm, pr:review, type:bug

#18478 cmd/swarm/swarm-snapshot: disable tests on windows
  cmd/swarm/swarm-snapshot/create_test.go
Labels: area:swarm

#18479 cmd/swarm/swarm-smoke: use ResettingTimer instead of Counters for times
  cmd/swarm/swarm-smoke/upload_and_sync.go
Labels: area:swarm

#18477 swarm/network: unskip tests previously skipped due to suggestPeer issues
  swarm/network/simulation/kademlia_test.go
  swarm/network/simulations/overlay_test.go
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
Labels: area:swarm, pr:review

#18464 p2p/simulations: fix data race on swarm/network/simulations
  p2p/simulations/network.go
Labels: area:swarm, pr:ready

#18506 .github: add @janos as codeowner for p2p/simulations and p2p/protocols
  .github/CODEOWNERS
Labels: area:swarm, pr:ready

#18498 swarm: bootnode-mode, new bootnodes and no p2p package discovery
  cmd/swarm/bootnodes.go
  cmd/swarm/config.go
  cmd/swarm/flags.go
  cmd/swarm/main.go
  cmd/swarm/run_test.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_speed.go
  p2p/protocols/protocol.go
  swarm/api/config.go
  swarm/network/kademlia.go
  swarm/network/protocol.go
  swarm/network/stream/delivery.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/stream.go
  swarm/storage/pyramid.go
  swarm/swarm.go
Labels: area:swarm

#18511 swarm: fix a data race on startTime
  swarm/swarm.go
Labels: area:swarm, pr:review, status: PR review

#16503 accounts/usbwallet: support trezor passphrases
  accounts/usbwallet/trezor.go
  console/bridge.go
Labels: pr:change-requested

#18512 Fix race in TestLDBStoreCollectGarbage and disable flaky testLDBStoreRemoveThenCollectGarbage
  swarm/storage/ldbstore_test.go
Labels: area:swarm, pr:review

#18518 swarm/pss: fix data race in notify_test.go (TestStart)
  swarm/pss/notify/notify_test.go
Labels: area:swarm, pr:review

#18517 github: codeowners for p2p/testing
  .github/CODEOWNERS
Labels: area:swarm

#18500 p2p, swarm: remove unused testing.T in protocol tester
  p2p/protocols/protocol_test.go
  p2p/testing/protocoltester.go
  swarm/network/protocol_test.go
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/lightnode_test.go
  swarm/network/stream/streamer_test.go
Labels: area:swarm, pr:review

#18470 swarm/metrics: Send the accounting registry to InfluxDB
  metrics/registry.go
  p2p/protocols/accounting.go
  p2p/protocols/reporter_test.go
  swarm/metrics/flags.go
Labels: area:swarm

#18523 swarm/pss: fix data race on topicHandlerCaps map
  swarm/pss/pss.go
Labels: area:swarm, type:bug

#18953 swarm: fix oom in pss notify test
  swarm/pss/notify/notify_test.go
Labels: area:swarm, pr:review, status: PR review, type:bug

#18951 p2p/protocols: fix rare data race in Peer.Handshake()
  p2p/protocols/protocol.go
Labels: area:swarm, type:bug

#18956 p2p/protocols: fix possible metrics loss in AccountingMetrics
  p2p/protocols/reporter.go
Labels: area:swarm, pr:review, status: PR review

#18967 cmd/swarm/swarm-smoke: sliding window test
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_speed.go
  cmd/swarm/swarm-smoke/util.go
Labels: area:swarm

#18964 swarm/network: Remove extra random peer, connect test sanity, comments
  swarm/network/hive_test.go
Labels: area:swarm, status: PR review

#18970 cmd/swarm/swarm-smoke: remove wrong metrics
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_speed.go
  cmd/swarm/swarm-smoke/util.go
Labels: area:swarm

#18971 swarm: fix flaky delivery tests
  swarm/network/stream/delivery.go
  swarm/network/stream/delivery_test.go
Labels: area:swarm, pr:review, status: PR review

#18972 GetPeerSubscriptions RPC call and test
  swarm/network/stream/stream.go
  swarm/network/stream/streamer_test.go
  swarm/network/stream/testing/snapshot_4.json
Labels: area:swarm
