Repository ethereum/go-ethereum, pull requests merged in 2019-03, with the labels that each got.

#19189 swarm: enable p2p/discovery and disable dynamic dialling
  cmd/swarm/main.go
  swarm/api/inspector.go
  swarm/network/kademlia.go
Labels: area:swarm

#19190 swarm/shed, swarm/storage/localstore: add LastPullSubscriptionChunk
  swarm/shed/db_test.go
  swarm/shed/index.go
  swarm/shed/index_test.go
  swarm/storage/localstore/subscription_pull.go
  swarm/storage/localstore/subscription_pull_test.go
Labels: area:swarm, status: PR review

#19193 swarm: Revert "swarm/network: Use actual remote peer ip in underlay"
  swarm/network/protocol.go
  swarm/network/protocol_test.go
Labels: area:swarm

#19206 swarm/storage/localstore: fix testDB_collectGarbageWorker data race
  swarm/storage/localstore/gc_test.go
Labels: area:swarm, status: PR review

#19208 Enable longrunning tests to run
  p2p/simulations/network.go
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/streamer_test.go
  swarm/network/stream/syncer_test.go
Labels: area:swarm

#19152 cmd/swarm/swarm-smoke: sliding window test should not time out
  cmd/swarm/flags.go
  cmd/swarm/swarm-smoke/sliding_window.go
Labels: area:swarm

#19228 p2p/protocols: Fix race condition in TestAccountingSimulation
  p2p/protocols/accounting_simulation_test.go
Labels: area:swarm

#19227 swarm/network/stream: Fix flaky tests in GetSubscriptionsRPC test
  swarm/network/stream/streamer_test.go
Labels: area:swarm, type:bug

#19223 swarm/network: remove *WithServer tests from stream package
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
Labels: area:swarm, pr:review

#19230 swarm: localstore hasser
  swarm/shed/db.go
  swarm/shed/index.go
  swarm/shed/index_test.go
  swarm/storage/localstore/mode_has.go
  swarm/storage/localstore/mode_has_test.go
Labels: area:swarm, status: PR review

#19047 signer: changes the stdio jsonrpc to use legacy namespace conventions
  cmd/clef/README.md
  cmd/clef/datatypes.md
  cmd/clef/intapi_changelog.md
  cmd/clef/main.go
  signer/core/api.go
  signer/core/api_test.go
  signer/core/cliui.go
  signer/core/signed_data.go
  signer/core/signed_data_test.go
  signer/core/stdioui.go
  signer/rules/rules.go
  signer/rules/rules_test.go
  signer/storage/storage.go
Labels: area:clef, status:triage

#19231 cmd/swarm: do not ignore cache size=0
  cmd/swarm/config.go
Labels: area:swarm, type:bug

#19235 swarm/storage/localstore: fix synchronization in TestDB_gcSize
  swarm/storage/localstore/gc_test.go
  swarm/storage/localstore/localstore.go
Labels: area:swarm

#19237 cmd/swarm/swarm-smoke: better logs when debug mode triggers
  cmd/swarm/swarm-smoke/upload_and_sync.go
Labels: area:swarm

#19236 swarm: fix relationship between spans in open tracing
  swarm/network/fetcher.go
  swarm/network/stream/peer.go
  swarm/storage/netstore.go
Labels: area:swarm

#19243 swarm/storage: add comparison towards leveldb.ErrNotFound
  swarm/storage/ldbstore.go
  swarm/storage/netstore.go
Labels: area:swarm

#19242 p2p/protocols: fix data race in TestProtocolHook
  p2p/protocols/accounting_simulation_test.go
  p2p/protocols/protocol_test.go
  p2p/testing/protocoltester.go
Labels: area:swarm, pr:review

#19245 swarm/storage/localstore: global batch write lock
  swarm/storage/localstore/gc.go
  swarm/storage/localstore/gc_test.go
  swarm/storage/localstore/localstore.go
  swarm/storage/localstore/localstore_test.go
  swarm/storage/localstore/mode_get.go
  swarm/storage/localstore/mode_put.go
  swarm/storage/localstore/mode_set.go
Labels: area:swarm, status: PR review

#19249 swarm: tracing improvements
  cmd/swarm/swarm-smoke/upload_and_sync.go
  swarm/network/fetcher.go
  swarm/network/stream/delivery.go
  swarm/network/stream/peer.go
  swarm/storage/netstore.go
Labels: area:swarm

#19270 cmd/swarm: dont connect to bootnodes in tests
  cmd/swarm/run_test.go
  cmd/utils/flags.go
Labels: area:swarm

#19275 swarm, p2p: Prerequities for ENR replacing handshake
  p2p/protocols/protocol_test.go
  p2p/simulations/adapters/inproc.go
  p2p/simulations/adapters/types.go
  p2p/testing/protocoltester.go
  swarm/api/config.go
  swarm/network/discovery_test.go
  swarm/network/enr.go
  swarm/network/hive_test.go
  swarm/network/network.go
  swarm/network/protocol.go
  swarm/network/protocol_test.go
  swarm/network/simulation/node.go
  swarm/network/simulations/discovery/discovery_test.go
  swarm/network/stream/common_test.go
Labels: area:swarm

#19279 swarm/shed: add vector uint64 field
  swarm/shed/vector_uint64.go
  swarm/shed/vector_uint64_test.go
Labels: area:swarm, status: PR review

#19280 cmd/swarm/swarm-smoke: do not fail if a node does not respond to rpc
  cmd/swarm/swarm-smoke/upload_and_sync.go
Labels: area:swarm

#19278 swarm/pss: negihbourhood addressing simulation tests
  swarm/network/simulation/kademlia.go
  swarm/network/simulation/kademlia_test.go
  swarm/pss/prox_test.go
  swarm/pss/pss.go
Labels: area:swarm

#19250 swarm/network: measure time of messages in priority queue
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  metrics/influxdb/influxdb.go
  swarm/network/fetcher.go
  swarm/network/priorityqueue/priorityqueue.go
  swarm/network/stream/delivery.go
  swarm/network/stream/stream.go
  swarm/storage/chunker.go
  swarm/storage/netstore.go
  swarm/swarm.go
  vendor/github.com/opentracing/opentracing-go/CHANGELOG.md
  vendor/github.com/opentracing/opentracing-go/Makefile
  vendor/github.com/opentracing/opentracing-go/README.md
  vendor/github.com/opentracing/opentracing-go/globaltracer.go
  vendor/github.com/opentracing/opentracing-go/propagation.go
  vendor/vendor.json
Labels: area:swarm

#19287 travis: extend race detection for swarm p2p packages
  .travis.yml
Labels: pr:review

#19309 cmd/swarm, p2p, swarm: Enable ENR in binary/execadapter
  cmd/swarm/config.go
  cmd/swarm/main.go
  p2p/simulations/adapters/exec.go
  p2p/simulations/adapters/inproc.go
  p2p/simulations/adapters/types.go
  swarm/api/config.go
  swarm/api/config_test.go
  swarm/network/network.go
  swarm/network/simulation/node.go
  swarm/network_test.go
  swarm/swarm.go
  swarm/swarm_test.go
Labels: area:swarm

#19312 p2p/simulations: wait until all connections are recreated when uploading snapshot
  swarm/network/simulation/kademlia.go
  swarm/network/simulation/kademlia_test.go
  swarm/network/simulation/node.go
  swarm/network/simulation/node_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/streamer_test.go
  swarm/pss/prox_test.go
Labels: area:swarm

#19313 swarm/network: Use different privatekey for bzz overlay in sim
  p2p/simulations/adapters/exec.go
  p2p/simulations/adapters/types.go
  swarm/network/simulation/node.go
  swarm/network/simulation/simulation.go
  swarm/network/simulations/discovery/discovery_test.go
  swarm/pss/prox_test.go
Labels: area:swarm

#19323 contracts/ens: revert bmt to keccak256
  contracts/ens/cid.go
  contracts/ens/cid_test.go
Labels: area:swarm
