Repository ethereum/go-ethereum, pull requests merged in 2019-06, with the labels that each got.

#19649 cmd/clef: Enable smartcard hub
  cmd/clef/main.go
  signer/core/api.go
  signer/core/api_test.go
Labels: area:clef

#19749 p2p/simulations: Enable access to MsgEvents with execadapter
  p2p/simulations/adapters/exec.go
Labels: type:bug

#19359 abi: adding the method EventById and its test
  accounts/abi/abi.go
  accounts/abi/abi_test.go
Labels: pr:review
