Repository ethereum/go-ethereum, pull requests merged in 2019-11, with the labels that each got.

#19926 cmd/puppeth: integrate istanbul into puppeth
  cmd/puppeth/genesis.go
  cmd/puppeth/genesis_test.go
  cmd/puppeth/testdata/stureby_aleth.json
  cmd/puppeth/testdata/stureby_geth.json
  cmd/puppeth/testdata/stureby_parity.json
  cmd/puppeth/wizard_genesis.go
Labels: istanbul, priority:1

#20070 les: implement server priority API
  internal/web3ext/web3ext.go
  les/api.go
  les/balance.go
  les/clientpool.go
  les/clientpool_test.go
  les/server.go
Labels: pr:review

#20326 ethclient: remove use of common.ToHex
  ethclient/ethclient.go
Labels: staticcheck

#20327 cmd/wnode: remove uses of common.ToHex
  cmd/wnode/main.go
Labels: staticcheck

#20324 event: remove unused field 'closed'
  event/feed.go
Labels: staticcheck

#20328 whisper/whisperv6: fix staticcheck warnings
  whisper/whisperv6/filter_test.go
  whisper/whisperv6/peer_test.go
Labels: staticcheck

#20325 p2p: remove unused code
  p2p/rlpx.go
  p2p/server.go
  p2p/util.go
Labels: staticcheck

#20322 p2p/simulations: fix staticcheck warnings
  p2p/simulations/adapters/exec.go
  p2p/simulations/adapters/inproc_test.go
  p2p/simulations/http.go
  p2p/simulations/mocker_test.go
  p2p/simulations/network_test.go
Labels: staticcheck

#20332 rpc: remove 'exported or builtin' restriction for parameters
  rpc/client_test.go
  rpc/doc.go
  rpc/handler.go
  rpc/json.go
  rpc/service.go
  rpc/subscription.go
  rpc/testservice_test.go
  rpc/types.go
  rpc/websocket_test.go
Labels: staticcheck

#20323 core: fix staticcheck warnings
  core/blockchain_test.go
  core/chain_makers.go
  core/helper_test.go
Labels: staticcheck

#20353 common/hexutil: improve GraphQL error messages
  common/hexutil/json.go
Labels: staticcheck

#20354 common: improve GraphQL error messages
  common/bytes_test.go
  common/main_test.go
  common/types.go
Labels: staticcheck

#20355 core/types: remove BlockBy sorting code
  core/blockchain.go
  core/types/block.go
Labels: staticcheck

#20359 accounts/abi/bind/backends: remove unused assignment
  accounts/abi/bind/backends/simulated_test.go
Labels: staticcheck

#20358 accounts/abi: fix staticcheck warnings
  accounts/abi/abi_test.go
  accounts/abi/event_test.go
Labels: staticcheck

#20357 core/state: fix staticcheck warnings
  core/state/dump.go
  core/state/journal.go
  core/state/main_test.go
  core/state/state_test.go
  core/state/statedb.go
  core/state/statedb_test.go
  go.mod
Labels: staticcheck

#20365 metrics: fix issues reported by staticcheck
  metrics/counter_test.go
  metrics/gauge_float64_test.go
  metrics/gauge_test.go
  metrics/histogram_test.go
  metrics/influxdb/influxdb.go
  metrics/json_test.go
  metrics/librato/client.go
  metrics/librato/librato.go
  metrics/meter_test.go
  metrics/registry_test.go
  metrics/runtime_test.go
  metrics/sample.go
  metrics/sample_test.go
  metrics/timer.go
  metrics/timer_test.go
Labels: staticcheck

#20366 trie: remove unused code
  trie/database.go
  trie/trie_test.go
Labels: staticcheck

#20367 p2p/discv5: add deprecation warning and remove unused code
  p2p/discv5/README
  p2p/discv5/database.go
  p2p/discv5/net.go
  p2p/discv5/net_test.go
  p2p/discv5/node.go
  p2p/discv5/ntp.go
  p2p/discv5/sim_test.go
  p2p/discv5/table.go
  p2p/discv5/table_test.go
  p2p/discv5/ticket.go
  p2p/discv5/udp.go
  p2p/discv5/udp_test.go
Labels: staticcheck

#20364 tests, signer: remove staticcheck warnings
  signer/core/api.go
  signer/core/api_test.go
  signer/core/cliui.go
  signer/core/stdioui.go
  signer/core/types.go
  signer/core/uiapi.go
  signer/rules/deps/bindata.go
  signer/rules/rules.go
  signer/storage/storage.go
  tests/block_test_util.go
  tests/init_test.go
  tests/transaction_test_util.go
Labels: staticcheck

#20375 miner: fix staticcheck warnings
  miner/miner.go
  miner/worker_test.go
Labels: staticcheck

#20368 rlp: fix staticcheck warnings
  rlp/decode.go
  rlp/decode_test.go
Labels: staticcheck

#20373 accounts/keystore: fix staticcheck warnings
  accounts/keystore/passphrase.go
Labels: staticcheck

#20371 les: fix staticcheck warnings
  les/retrieve.go
  les/txrelay.go
Labels: staticcheck

#20384 core: fix staticcheck warnings
  core/rawdb/database.go
  core/vm/contracts.go
  core/vm/contracts_test.go
  core/vm/stack.go
Labels: staticcheck

#20335 consensus/ethash: refactor remote sealer
  consensus/ethash/algorithm_test.go
  consensus/ethash/api.go
  consensus/ethash/ethash.go
  consensus/ethash/sealer.go
  consensus/ethash/sealer_test.go
Labels: staticcheck

#20388 log: fix staticcheck warnings
  log/handler_glog.go
  log/logger.go
Labels: staticcheck

#20374 cmd/faucet, cmd/geth: fix staticcheck warnings
  cmd/faucet/faucet.go
  cmd/geth/retesteth.go
Labels: staticcheck

#20370 accounts/scwallet: fix staticcheck warnings
  accounts/scwallet/securechannel.go
  accounts/scwallet/wallet.go
Labels: staticcheck

#20372 accounts/usbwallet: fix staticcheck warnings
  accounts/usbwallet/ledger.go
Labels: staticcheck
