Repository ethereum/go-ethereum, pull requests merged in 2019-05, with the labels that each got.

#19514 core: add test to demonstrate canonicality confusion
  core/blockchain.go
  core/blockchain_test.go
Labels: status:triage

#19552 swarm/network/stream: add pure retrieval test
  swarm/network/stream/snapshot_retrieval_test.go
Labels: area:swarm

#19557 swarm/metrics: track runtime metrics
  swarm/metrics/flags.go
Labels: area:swarm

#19555 cmd/swarm: skip export test on windows builds
  cmd/swarm/export_test.go
  swarm/network/simulation/kademlia_test.go
Labels: area:swarm

#19069 les, light: implement ODR transaction lookup by hash
  eth/api_backend.go
  internal/ethapi/api.go
  internal/ethapi/backend.go
  les/api_backend.go
  les/backend.go
  les/handler.go
  les/handler_test.go
  les/helper_test.go
  les/odr.go
  les/odr_requests.go
  les/odr_test.go
  les/peer.go
  les/protocol.go
  les/txrelay.go
  light/odr.go
  light/odr_util.go
Labels: pr:review, status:triage

#19576 swarm/metrics: collect metrics on datadir disk usage
  swarm/metrics/flags.go
Labels: area:swarm

#19578 swarm/storage: disable open tracing on indices
  swarm/storage/localstore/subscription_pull.go
  swarm/storage/localstore/subscription_push.go
Labels: area:swarm

#19414 Swarm/feeds: Parallel feed lookups
  swarm/storage/feed/cacheentry.go
  swarm/storage/feed/handler.go
  swarm/storage/feed/handler_test.go
  swarm/storage/feed/id_test.go
  swarm/storage/feed/lookup/algorithm_fluzcapacitor.go
  swarm/storage/feed/lookup/algorithm_longearth.go
  swarm/storage/feed/lookup/epoch.go
  swarm/storage/feed/lookup/lookup.go
  swarm/storage/feed/lookup/lookup_test.go
  swarm/storage/feed/lookup/store_test.go
  swarm/storage/feed/lookup/timesim_test.go
  swarm/storage/feed/query_test.go
  swarm/storage/feed/request_test.go
  swarm/storage/feed/update_test.go
Labels: area:swarm

#19580 swarm/network: bump network id for 0.4 release
  swarm/docs/migration-v0.3-to-v0.4.md
  swarm/network/protocol.go
  swarm/network/protocol_test.go
  swarm/network/stream/syncer.go
  swarm/storage/feed/lookup/lookup_test.go
Labels: area:swarm

#19586 swarm/version: v0.4.0 stable
  swarm/version/version.go
Labels: area:swarm

#19587 swarm/version: v0.4.1 unstable
  swarm/version/version.go
Labels: area:swarm

#19571 les: avoid fetcher deadlock on requestChn
  les/fetcher.go
Labels: status:triage

#19612 swarm/api: update mission statement
  swarm/api/http/server_test.go
  swarm/api/http/templates.go
Labels: area:swarm

#19594 swarm/api/http: fix bzz-hash to return ens resolved hash directly
  swarm/api/http/server.go
Labels: area:swarm, type:bug

#19329 les, les/flowcontrol: implement LES/3
  cmd/utils/flags.go
  core/blockchain.go
  core/blockchain_test.go
  les/api.go
  les/costtracker.go
  les/csvlogger/csvlogger.go
  les/distributor.go
  les/execqueue.go
  les/flowcontrol/control.go
  les/flowcontrol/manager.go
  les/flowcontrol/manager_test.go
  les/freeclient.go
  les/freeclient_test.go
  les/handler.go
  les/handler_test.go
  les/helper_test.go
  les/peer.go
  les/peer_test.go
  les/protocol.go
  les/retrieve.go
  les/server.go
  les/servingqueue.go
Labels: pr:review, status:triage

#19599 swarm/storage: fix SubscribePull to not skip chunks
  swarm/network/stream/syncer.go
  swarm/storage/localstore/subscription_pull.go
  swarm/storage/localstore/subscription_pull_test.go
Labels: area:swarm
