Repository ethereum/go-ethereum, pull requests merged in 2019-02, with the labels that each got.

#18975 swarm/network: refactor simulation tests bootstrap
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/streamer_test.go
  swarm/network/stream/syncer_test.go
  swarm/network/stream/testing/snapshot_4.json
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
Labels: area:swarm

#18079 External signer API (first iteration)
  accounts/accounts.go
  accounts/accounts_test.go
  accounts/external/backend.go
  accounts/keystore/wallet.go
  accounts/usbwallet/wallet.go
  cmd/clef/main.go
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  consensus/clique/clique.go
  consensus/clique/snapshot_test.go
  eth/backend.go
  internal/ethapi/api.go
  node/config.go
  signer/core/api.go
  signer/core/api_test.go
  signer/core/auditlog.go
Labels: area:clef

#18993 Small improvements to better work with Travis+`-race`
  swarm/network/simulations/discovery/discovery_test.go
  swarm/storage/common_test.go
Labels: area:swarm, pr:review

#18992 swarm/pss: Remove pss service leak in test
  swarm/pss/forwarding_test.go
  swarm/pss/pss_test.go
Labels: area:swarm, type:bug

#17789 Implemented EIP191/712 in clef
  accounts/accounts.go
  accounts/external/backend.go
  accounts/keystore/wallet.go
  accounts/usbwallet/wallet.go
  cmd/clef/README.md
  cmd/clef/extapi_changelog.md
  cmd/clef/intapi_changelog.md
  cmd/clef/main.go
  consensus/clique/clique.go
  signer/core/abihelper.go
  signer/core/abihelper_test.go
  signer/core/api.go
  signer/core/api_test.go
  signer/core/auditlog.go
  signer/core/cliui.go
  signer/core/signed_data.go
  signer/core/signed_data_test.go
  signer/core/types.go
  signer/rules/rules_test.go
Labels: area:clef, special:eip

#19002 swarm: Get all chunk references for a given file
  swarm/storage/filestore.go
  swarm/storage/filestore_test.go
Labels: area:swarm

#19004 node, p2p/simulations: fix node.Node AccountsManager leak
  cmd/faucet/faucet.go
  cmd/geth/chaincmd.go
  cmd/geth/consolecmd.go
  cmd/geth/main.go
  cmd/swarm/main.go
  console/console_test.go
  miner/stress_clique.go
  miner/stress_ethash.go
  mobile/geth.go
  node/config_test.go
  node/node.go
  node/node_example_test.go
  node/node_test.go
  node/service_test.go
  p2p/simulations/adapters/inproc.go
  p2p/simulations/network.go
Labels: status: PR review, type:bug

#19008 cmd/swarm: hashes command
  cmd/swarm/explore.go
  cmd/swarm/main.go
  swarm/storage/filestore.go
  swarm/storage/filestore_test.go
Labels: area:swarm

#19006 cmd/swarm/swarm-smoke: refactor generateEndpoints
  cmd/swarm/swarm-smoke/feed_upload_and_sync.go
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/sliding_window.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
  cmd/swarm/swarm-smoke/upload_speed.go
  cmd/swarm/swarm-smoke/util.go
Labels: area:swarm

#19014 cmd/swarm/global-store: global store cmd
  cmd/swarm/config.go
  cmd/swarm/flags.go
  cmd/swarm/global-store/global_store.go
  cmd/swarm/global-store/global_store_test.go
  cmd/swarm/global-store/main.go
  cmd/swarm/global-store/run_test.go
  cmd/swarm/main.go
  swarm/api/config.go
Labels: area:swarm, status: PR review

#18980 swarm: Debug API infrastructure and HasChunks() API endpoint
  cmd/swarm/main.go
  swarm/api/inspector.go
  swarm/api/testapi.go
  swarm/network/stream/common_test.go
  swarm/storage/common_test.go
  swarm/storage/ldbstore.go
  swarm/storage/localstore.go
  swarm/storage/localstore_test.go
  swarm/storage/memstore.go
  swarm/storage/netstore.go
  swarm/storage/types.go
  swarm/swarm.go
Labels: area:swarm, type:feature

#19015 swarm/storage/localstore: new localstore package
  swarm/storage/localstore/doc.go
  swarm/storage/localstore/gc.go
  swarm/storage/localstore/gc_test.go
  swarm/storage/localstore/index_test.go
  swarm/storage/localstore/localstore.go
  swarm/storage/localstore/localstore_test.go
  swarm/storage/localstore/mode_get.go
  swarm/storage/localstore/mode_get_test.go
  swarm/storage/localstore/mode_put.go
  swarm/storage/localstore/mode_put_test.go
  swarm/storage/localstore/mode_set.go
  swarm/storage/localstore/mode_set_test.go
  swarm/storage/localstore/retrieval_index_test.go
  swarm/storage/localstore/subscription_pull.go
  swarm/storage/localstore/subscription_pull_test.go
  swarm/storage/localstore/subscription_push.go
  swarm/storage/localstore/subscription_push_test.go
Labels: area:swarm, status: PR review

#19022 swarm/network, swarm/storage: Preserve opentracing contexts
  swarm/network/fetcher.go
  swarm/network/fetcher_test.go
  swarm/network/stream/delivery.go
  swarm/network/stream/messages.go
  swarm/network/stream/peer.go
  swarm/network/stream/stream.go
  swarm/storage/chunker.go
  swarm/storage/feed/testutil.go
  swarm/storage/netstore.go
  swarm/storage/netstore_test.go
Labels: area:swarm, type:bug

#19017 swarm: CI race detector test adjustments
  swarm/network/networkid_test.go
  swarm/network/simulations/overlay_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/storage/common_test.go
  swarm/storage/ldbstore_test.go
  swarm/storage/memstore_test.go
Labels: area:swarm, pr:review

#19038 swarm/docker: add global-store and split docker images
  swarm/docker/Dockerfile
Labels: area:swarm

#19003 clef: make external signing work + follow up fixes
  accounts/external/backend.go
  cmd/clef/intapi_changelog.md
  cmd/clef/main.go
  cmd/clef/tests/testsigner.js
  internal/ethapi/api.go
  internal/web3ext/web3ext.go
  signer/core/api.go
  signer/core/cliui.go
  signer/core/signed_data.go
  signer/core/stdioui.go
Labels: area:clef

#19018 clef: bidirectional communication with UI
  cmd/clef/extapi_changelog.md
  cmd/clef/intapi_changelog.md
  cmd/clef/main.go
  signer/core/api.go
  signer/core/api_test.go
  signer/core/auditlog.go
  signer/core/cliui.go
  signer/core/stdioui.go
  signer/core/types.go
  signer/core/uiapi.go
  signer/rules/rules.go
  signer/rules/rules_test.go
Labels: area:clef

#19045 swarm/pss: mutex lifecycle fixed
  swarm/pss/protocol.go
Labels: area:swarm

#19028 swarm/storage: fix HashExplore concurrency bug ethersphere#1211
  swarm/storage/filestore.go
Labels: area:swarm

#19040 swarm: fix uptime gauge update goroutine leak
  swarm/swarm.go
Labels: area:swarm

#19051 swarm: fix network/stream data races
  p2p/simulations/network.go
  swarm/network/kademlia.go
  swarm/network/stream/common_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/lightnode_test.go
  swarm/network/stream/norace_test.go
  swarm/network/stream/race_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/stream.go
  swarm/network/stream/streamer_test.go
  swarm/network/stream/syncer_test.go
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
  swarm/storage/ldbstore.go
Labels: area:swarm, status: PR review

#19020 clef: documentation generator + docs
  cmd/clef/README.md
  cmd/clef/datatypes.md
  cmd/clef/docs/clef_architecture_pt1.png
  cmd/clef/docs/clef_architecture_pt2.png
  cmd/clef/docs/clef_architecture_pt3.png
  cmd/clef/docs/clef_architecture_pt4.png
  cmd/clef/main.go
  signer/core/api.go
  signer/core/signed_data.go
  signer/core/types.go
  signer/rules/rules_test.go
Labels: area:clef, status:in-progress

#19049 swarm/storage/netstore: add fetcher cancellation on shutdown
  swarm/network/stream/delivery_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/storage/netstore.go
Labels: area:swarm

#19071 swarm/network: Saturation check for healthy networks
  swarm/network/kademlia.go
  swarm/network/kademlia_test.go
  swarm/network/simulation/kademlia.go
  swarm/network/simulations/discovery/discovery_test.go
Labels: area:swarm

#19102 swarm/storage: fix influxdb gc metrics report
  swarm/storage/ldbstore.go
Labels: area:swarm

#18976 p2p, swarm: fix node up races by granular locking
  p2p/simulations/connect.go
  p2p/simulations/events.go
  p2p/simulations/http_test.go
  p2p/simulations/mocker_test.go
  p2p/simulations/network.go
  p2p/simulations/network_test.go
  swarm/network/simulation/node.go
  swarm/network/simulation/node_test.go
  swarm/network/simulation/service.go
  swarm/network/simulation/simulation_test.go
  swarm/network/simulations/overlay_test.go
  swarm/state/dbstore.go
Labels: area:swarm, pr:review

#19101 cmd/swarm/swarm-smoke: Trigger chunk debug on timeout
  cmd/swarm/swarm-smoke/main.go
  cmd/swarm/swarm-smoke/upload_and_sync.go
Labels: area:swarm

#19117 swarm: Reinstate Pss Protocol add call through swarm service
  swarm/swarm.go
Labels: area:swarm, status: PR review, type:bug

#19139 swarm/network/stream: fix a goroutine leak in Registry
  swarm/network/kademlia.go
  swarm/network/stream/stream.go
Labels: area:swarm, status: PR review

#19137 swarm/network: Use actual remote peer ip in underlay
  swarm/network/protocol.go
  swarm/network/protocol_test.go
Labels: area:swarm, type:bug

#19140 swarm/network: Keep span across roundtrip
  swarm/network/stream/delivery.go
  swarm/network/stream/messages.go
  swarm/network/stream/peer.go
  swarm/network/stream/stream.go
  swarm/storage/netstore.go
  swarm/swarm.go
  swarm/tracing/tracing.go
Labels: area:swarm, status: PR review

#19143 Ci race detector handle failing tests
  swarm/network/simulations/discovery/discovery_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/streamer_test.go
  swarm/network/stream/syncer_test.go
  swarm/network/stream/visualized_snapshot_sync_sim_test.go
  swarm/network_test.go
  swarm/storage/common_test.go
  swarm/storage/localstore/gc_test.go
  swarm/storage/localstore/subscription_pull_test.go
  swarm/testutil/norace.go
  swarm/testutil/race.go
Labels: area:swarm, pr:review

#19142 swarm: fix global-store cmd tests on windows
  cmd/swarm/global-store/global_store_test.go
Labels: area:swarm, status: PR review

#19085 swarm/storage: fix loop bound for database cleanup
  swarm/storage/ldbstore.go
Labels: area:swarm

#19147 swarm/network/stream: protect SetNextBatch iterator after close
  swarm/network/stream/stream.go
  swarm/network/stream/syncer.go
Labels: area:swarm, status: PR review

#19149 swarm/shed: fix a deadlock in meter function
  swarm/shed/db.go
Labels: area:swarm, status: PR review

#19148 travis.yml: add race detector job for Swarm
  .travis.yml
  build/travis_keepalive.sh
Labels: area:swarm, pr:review

#19153 swarm: Fix localstore test deadlock with race detector
  swarm/storage/localstore/gc.go
  swarm/storage/localstore/gc_test.go
  swarm/storage/localstore/localstore.go
  swarm/storage/localstore/localstore_test.go
  swarm/storage/localstore/subscription_pull_test.go
  swarm/storage/localstore/subscription_push_test.go
Labels: area:swarm, status: PR review

#19157 swarm: mock store listings
  cmd/swarm/global-store/explorer.go
  cmd/swarm/global-store/explorer_test.go
  cmd/swarm/global-store/global_store.go
  cmd/swarm/global-store/global_store_test.go
  cmd/swarm/global-store/main.go
  swarm/storage/mock/db/db.go
  swarm/storage/mock/db/db_test.go
  swarm/storage/mock/explorer/explorer.go
  swarm/storage/mock/explorer/explorer_test.go
  swarm/storage/mock/explorer/headers_test.go
  swarm/storage/mock/explorer/swagger.yaml
  swarm/storage/mock/mem/mem.go
  swarm/storage/mock/mem/mem_test.go
  swarm/storage/mock/mock.go
  swarm/storage/mock/rpc/rpc.go
  swarm/storage/mock/rpc/rpc_test.go
  swarm/storage/mock/test/test.go
Labels: area:swarm, status: PR review

#19060 cmd, swarm: enforce mixed caps variable names
  cmd/swarm/config.go
  cmd/swarm/config_test.go
  cmd/swarm/flags.go
  cmd/swarm/main.go
  cmd/swarm/upload.go
  swarm/api/act.go
  swarm/api/api.go
  swarm/fuse/swarmfs.go
  swarm/fuse/swarmfs_unix.go
  swarm/network/stream/peer.go
  swarm/storage/ldbstore_test.go
  swarm/swarm.go
Labels: area:swarm

#19100 swarm/pss: remove unused function
  swarm/pss/pss_test.go
Labels: area:swarm

#19089 swarm/*: remove redundant type specifiers
  swarm/network/stream/stream.go
  swarm/pss/pss.go
  swarm/storage/feed/lookup/lookup_test.go
  swarm/storage/ldbstore_test.go
Labels: area:swarm

#19160 swarm/network/simulation: do not copy node mutex in UploadSnapshot
  swarm/network/simulation/node.go
Labels: area:swarm, status: PR review

#19162 swarm/pss: fix data race on HandshakeController.symKeyIndex
  swarm/pss/client/client_test.go
  swarm/pss/handshake.go
  swarm/pss/handshake_test.go
  swarm/pss/keystore.go
Labels: area:swarm, status: PR review

#19161 swarm/storage/localstore: fix tests for windows os
  swarm/storage/localstore/localstore_test.go
Labels: area:swarm, status: PR review

#18230 les, les/flowcontrol: improved request serving and flow control
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  core/blockchain.go
  eth/backend.go
  eth/config.go
  eth/gen_config.go
  les/api.go
  les/api_test.go
  les/backend.go
  les/benchmark.go
  les/costtracker.go
  les/distributor.go
  les/distributor_test.go
  les/fetcher.go
  les/flowcontrol/control.go
  les/flowcontrol/logger.go
  les/flowcontrol/manager.go
  les/flowcontrol/manager_test.go
  les/freeclient.go
  les/freeclient_test.go
  les/handler.go
  les/helper_test.go
  les/odr.go
  les/odr_requests.go
  les/peer.go
  les/peer_test.go
  les/protocol.go
  les/randselect.go
  les/retrieve.go
  les/server.go
  les/serverpool.go
  les/servingqueue.go
  les/txrelay.go
  les/ulc_test.go
  light/lightchain.go
  light/odr.go
  p2p/simulations/adapters/exec.go
  p2p/simulations/adapters/types.go
Labels: pr:review

#19170 swarm/chunk: move chunk related declarations to chunk package
  swarm/chunk/chunk.go
  swarm/chunk/proximity_test.go
  swarm/storage/chunker.go
  swarm/storage/common_test.go
  swarm/storage/error.go
  swarm/storage/hasherstore.go
  swarm/storage/ldbstore.go
  swarm/storage/ldbstore_test.go
  swarm/storage/localstore.go
  swarm/storage/localstore/gc_test.go
  swarm/storage/localstore/index_test.go
  swarm/storage/localstore/localstore.go
  swarm/storage/localstore/localstore_test.go
  swarm/storage/localstore/mode_get.go
  swarm/storage/localstore/mode_get_test.go
  swarm/storage/localstore/mode_put.go
  swarm/storage/localstore/mode_put_test.go
  swarm/storage/localstore/mode_set.go
  swarm/storage/localstore/mode_set_test.go
  swarm/storage/localstore/retrieval_index_test.go
  swarm/storage/localstore/subscription_pull.go
  swarm/storage/localstore/subscription_pull_test.go
  swarm/storage/localstore/subscription_push.go
  swarm/storage/localstore/subscription_push_test.go
  swarm/storage/localstore_test.go
  swarm/storage/netstore_test.go
  swarm/storage/pyramid.go
  swarm/storage/types.go
Labels: area:swarm, status: PR review

#19155 swarm/network: WIP consider all nodes for healthy iteration
  cmd/swarm/swarm-snapshot/create.go
  cmd/swarm/swarm-snapshot/create_test.go
  cmd/swarm/swarm-snapshot/main.go
  swarm/network/simulation/kademlia.go
  swarm/network/simulation/kademlia_test.go
Labels: area:swarm, type:bug

#19185 swarm: new snapshot files
  swarm/network/stream/testing/snapshot_128.json
  swarm/network/stream/testing/snapshot_16.json
  swarm/network/stream/testing/snapshot_256.json
  swarm/network/stream/testing/snapshot_32.json
  swarm/network/stream/testing/snapshot_4.json
  swarm/network/stream/testing/snapshot_64.json
  swarm/pss/testdata/addpsstodiscoverytestsnapshot.pl
  swarm/pss/testdata/addpsstodiscoverytestsnapshot.sh
  swarm/pss/testdata/snapshot_128.json
  swarm/pss/testdata/snapshot_16.json
  swarm/pss/testdata/snapshot_2.json
  swarm/pss/testdata/snapshot_256.json
  swarm/pss/testdata/snapshot_3.json
  swarm/pss/testdata/snapshot_32.json
  swarm/pss/testdata/snapshot_4.json
  swarm/pss/testdata/snapshot_64.json
  swarm/pss/testdata/snapshot_8.json
Labels: area:swarm
