Repository ethereum/go-ethereum, pull requests merged in 2019-07, with the labels that each got.

#17099 accounts/abi: Fix method overwritten by same name methods.
  accounts/abi/abi.go
  accounts/abi/abi_test.go
  accounts/abi/bind/base_test.go
Labels: need:more-tests

#18491 accounts/abi: enable struct golang binding generation
  accounts/abi/argument.go
  accounts/abi/bind/bind.go
  accounts/abi/bind/bind_test.go
  accounts/abi/bind/template.go
  accounts/abi/method_test.go
  accounts/abi/reflect.go
  accounts/abi/type.go
  accounts/abi/unpack_test.go
  cmd/abigen/main.go
Labels: pr:review

#18261 cmd/puppeth: integrate blockscout
  cmd/puppeth/module_explorer.go
  cmd/puppeth/wizard_dashboard.go
  cmd/puppeth/wizard_explorer.go
  cmd/puppeth/wizard_network.go
Labels: pr:review

#17438 eth: add debug_accountRange
  cmd/geth/retesteth.go
  eth/api.go
  eth/api_test.go
Labels: area:ewasm
