Repository ethereum/go-ethereum, pull requests merged in 2019-12, with the labels that each got.

#20278 [DOCS] Remove run steps from install guide
  docs/_install-and-build/Installing-Geth.md
Labels: type:docs

#20312 eth/filters: remove use of event.TypeMux for pending logs
  accounts/abi/bind/backends/simulated.go
  core/events.go
  eth/api_backend.go
  eth/filters/api.go
  eth/filters/bench_test.go
  eth/filters/filter.go
  eth/filters/filter_system.go
  eth/filters/filter_system_test.go
  eth/filters/filter_test.go
  internal/ethapi/backend.go
  les/api_backend.go
  miner/miner.go
  miner/worker.go
Labels: staticcheck

#20107 eth, internal/web3ext: add optional first and last arguments to the `admin_exportChain` RPC.
  eth/api.go
  internal/web3ext/web3ext.go
Labels: status:triage

#20330 cmd/evm: Add --bench flag for benchmarking
  cmd/evm/main.go
  cmd/evm/runner.go
Labels: status:triage
