Repository ethereum/go-ethereum, pull requests merged in 2020-11, with the labels that each got.

#21775 core/state/snapshot: fix journal recovery
  core/blockchain_snapshot_test.go
  core/state/snapshot/journal.go
Labels: status:triage

#21607 core/vm, protocol_params: implement eip-2565 modexp repricing
  core/vm/contracts.go
  core/vm/contracts_test.go
  core/vm/testdata/precompiles/modexp_eip2565.json
  params/protocol_params.go
Labels: fork:yolov3, pr:merge

#21672 core, all: split vm.Context into BlockContext and TxContext
  accounts/abi/bind/backends/simulated.go
  cmd/evm/internal/t8ntool/execution.go
  cmd/geth/retesteth.go
  core/evm.go
  core/state_prefetcher.go
  core/state_processor.go
  core/state_transition.go
  core/vm/evm.go
  core/vm/gas_table_test.go
  core/vm/instructions.go
  core/vm/instructions_test.go
  core/vm/logger_test.go
  core/vm/runtime/env.go
  core/vm/runtime/runtime.go
  eth/api_backend.go
  eth/api_tracer.go
  eth/tracers/tracer.go
  eth/tracers/tracer_test.go
  eth/tracers/tracers_test.go
  les/api_backend.go
  les/odr_test.go
  light/odr_test.go
  tests/state_test_util.go
  tests/vm_test_util.go
Labels: pr:merge, status:triage

#21807 accounts/abi: template: set events Raw field in Parse methods
  accounts/abi/bind/template.go
Labels: pr:merge

#18419 crypto/secp256k1: add checking z sign in affineFromJacobian
  crypto/secp256k1/curve.go
Labels: priority:2, status:triage

#21402 all: disable recording preimage of trie keys
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  core/blockchain.go
  core/genesis.go
  core/state/database.go
  core/state/state_test.go
  eth/api_test.go
  eth/api_tracer.go
  eth/backend.go
  eth/config.go
  eth/gen_config.go
  light/postprocess.go
  trie/database.go
  trie/secure_trie.go
Labels: status:triage

#21838 cmd/faucet: improve handling of facebook post url
  cmd/faucet/faucet.go
Labels: status:triage

#21798 crypto: signing builds with signify/minisign
  .travis.yml
  build/ci.go
  crypto/signify/signify.go
  crypto/signify/signify_fuzz.go
  crypto/signify/signify_test.go
  go.mod
  go.sum
Labels: status:triage
