Repository ethereum/go-ethereum, pull requests merged in 2020-02, with the labels that each got.

#20609 Add conditions for bytes32 at isPrimitiveTypeValid
  signer/core/signed_data.go
Labels: status:triage

#20621 retesteth add eth_getBlockByHash()
  cmd/geth/retesteth.go
Labels: status:triage

#20680 cmd/ethkey: speed up test by using weaker scrypt parameters
  cmd/ethkey/generate.go
  cmd/ethkey/message_test.go
Labels: area:testing

#20684 rpc: remove startup error for invalid modules, log it instead
  rpc/endpoints.go
Labels: area:rpc
