Repository ethereum/go-ethereum, pull requests merged in 2020-01, with the labels that each got.

#20480 cmd/geth: fix forked exe leak in console tests
  cmd/geth/consolecmd_test.go
Labels: type:bug

#20028 add node.go unit test file node_test.go
  trie/node_test.go
Labels: status:triage

#20476 eth: refactor creation of EthAPIBackend
  eth/backend.go
Labels: status:triage

#20414 rpc: reset writeConn when conn is closed on readErr
  rpc/client.go
Labels: area:rpc

#20603 [DOCS] Use correct account creation function
  docs/_interface/Managing-your-accounts.md
Labels: type:docs
