Repository ethereum/go-ethereum, pull requests merged in 2020-08, with the labels that each got.

#21307 signer: EIP 712, parse `bytes` and `bytesX` as hex strings + correct padding
  signer/core/signed_data.go
  signer/core/signed_data_internal_test.go
Labels: pr:change-requested

#21159 core: avoid modification of accountSet cache in tx_pool
  core/tx_pool.go
Labels: pr:merge

#21390 p2p/nat: limit UPNP request concurrency
  p2p/nat/nat.go
  p2p/nat/natupnp.go
Labels: status:triage

#21095 core: use errors.Is for consensus errors check
  core/blockchain.go
Labels: pr:merge

#21451 graphql: add query for chainID
  graphql/graphql.go
  graphql/schema.go
Labels: status:triage

#21448 go.mod | goleveldb latest update
  go.mod
  go.sum
Labels: pr:merge

#21387 eth/tracers: revert reason in call_tracer + error for failed internal calls
  eth/tracers/internal/tracers/assets.go
  eth/tracers/internal/tracers/call_tracer.js
  eth/tracers/testdata/call_tracer_inner_instafail.json
  eth/tracers/testdata/call_tracer_revert_reason.json
  eth/tracers/tracers_test.go
Labels: status:triage
