Repository ethereum/go-ethereum, pull requests merged in 2020-04, with the labels that each got.

#20792 cmd/evm: Rework execution stats
  cmd/evm/runner.go
Labels: status:triage

#20738 cmd/geth: enable metrics for geth import command
  cmd/geth/chaincmd.go
Labels: status:triage

#20808 core/state/snapshot: implement disk iterator seek
  cmd/utils/cmd.go
  common/bytes.go
  common/bytes_test.go
  core/rawdb/accessors_chain.go
  core/rawdb/accessors_snapshot.go
  core/rawdb/database.go
  core/rawdb/table.go
  core/rawdb/table_test.go
  core/state/iterator_test.go
  core/state/snapshot/disklayer_test.go
  core/state/snapshot/iterator.go
  core/state/snapshot/wipe.go
  core/state/snapshot/wipe_test.go
  core/state/statedb_test.go
  eth/filters/bench_test.go
  eth/handler_test.go
  ethdb/dbtest/testsuite.go
  ethdb/iterator.go
  ethdb/leveldb/leveldb.go
  ethdb/memorydb/memorydb.go
  les/clientpool.go
  trie/iterator_test.go
  trie/proof_test.go
  trie/sync_bloom.go
Labels: pr:change-requested

#20931 core: fix the condition of reorg
  core/headerchain.go
Labels: status:triage

#19483 rpc: make ExampleClientSubscription work with the geth API
  rpc/client_example_test.go
Labels: priority:2

#20998 accounts/external: fetch external accounts
  accounts/external/backend.go
Labels: area:clef
