Repository ethereum/go-ethereum, pull requests merged in 2020-07, with the labels that each got.

#20719 cmd/geth: LES priority client test
  cmd/geth/les_test.go
  cmd/geth/testdata/blockchain.blocks
  cmd/geth/testdata/clique.json
  cmd/geth/testdata/key.prv
  cmd/geth/testdata/password.txt
Labels: status:triage

#20409 eth/gasprice: lighter gas price oracle for light client
  cmd/utils/flags.go
  eth/config.go
  eth/gasprice/gasprice.go
  eth/gasprice/gasprice_test.go
Labels: pr:merge

#19570 les: historical data garbage collection
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  consensus/clique/clique.go
  core/blockchain.go
  core/chain_indexer.go
  core/chain_indexer_test.go
  core/chain_makers.go
  core/dao_test.go
  core/genesis.go
  core/rawdb/accessors_chain.go
  core/rawdb/accessors_chain_test.go
  core/rawdb/accessors_indexes.go
  core/rawdb/accessors_indexes_test.go
  core/rawdb/freezer.go
  core/state/statedb_test.go
  eth/api_backend.go
  eth/bloombits.go
  eth/config.go
  eth/downloader/downloader.go
  eth/downloader/downloader_test.go
  eth/downloader/testchain_test.go
  eth/gen_config.go
  graphql/graphql.go
  internal/ethapi/api.go
  internal/ethapi/backend.go
  les/api_backend.go
  les/client.go
  les/odr_requests.go
  les/odr_test.go
  les/pruner.go
  les/pruner_test.go
  les/request_test.go
  les/server.go
  les/sync_test.go
  les/test_helper.go
  les/ulc_test.go
  light/lightchain.go
  light/odr.go
  light/odr_util.go
  light/postprocess.go
  params/network_params.go
  trie/database.go
  trie/iterator_test.go
  trie/trie_test.go
Labels: pr:merge

#21318 cmd/clef: change --rpcport to --http.port and update docs
  cmd/abigen/main.go
  cmd/checkpoint-admin/main.go
  cmd/clef/README.md
  cmd/clef/main.go
  cmd/ethkey/main.go
  cmd/evm/main.go
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  internal/flags/helpers.go
Labels: status:triage

#21305 les: make clientPool.connectedBias configurable
  les/api.go
  les/clientpool.go
  les/clientpool_test.go
Labels: status:triage

#21177 ethclient: serialize negative block number as "pending"
  core/types/gen_log_json.go
  core/types/log.go
  ethclient/ethclient.go
  ethclient/ethclient_test.go
Labels: status:triage

#20391 cmd, core, eth, light, trie: dump clean cache periodically
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  core/blockchain.go
  core/genesis.go
  core/state/database.go
  eth/api_tracer.go
  eth/backend.go
  eth/config.go
  eth/gen_config.go
  light/postprocess.go
  trie/database.go
Labels: status:triage

#21044 Small optimizations
  consensus/clique/clique.go
  miner/worker.go
Labels: pr:merge, status:triage
