Repository ethereum/go-ethereum, pull requests merged in 2020-10, with the labels that each got.

#21617 accounts, consensus, core: fix some typos in comments
  accounts/accounts.go
  accounts/scwallet/wallet.go
  accounts/usbwallet/wallet.go
  consensus/clique/snapshot_test.go
  core/state/state_object.go
Labels: status:triage

#21629 console: fix admin.sleepBlocks() call
  console/bridge.go
Labels: status:triage

#21622 all: replace RWMutex with Mutex in places where RLock is not used
  accounts/keystore/file_cache.go
  core/chain_indexer.go
  eth/downloader/downloader.go
  eth/downloader/downloader_test.go
  les/txrelay.go
  miner/unconfirmed.go
Labels: status:triage

#21619 consensus/clique: unexport calcDifficulty and improve comment
  consensus/clique/clique.go
Labels: status:triage

#21639 internal/web3ext: improve some web3 apis
  internal/web3ext/web3ext.go
Labels: pr:merge, status:triage

#21660 console: don't exit on ctrl-c, only on ctrl-d
  cmd/geth/consolecmd_test.go
  console/console.go
Labels: pr:merge, status:triage

#21664 miner: fixed race condition on chainconfig
  miner/miner_test.go
Labels: status:triage

#21331 core: track and improve tx indexing/unindexing
  core/blockchain.go
  core/rawdb/chain_iterator.go
  core/rawdb/chain_iterator_test.go
Labels: pr:merge

#21566 les: remove clientPeerSet and serverSet
  les/client_handler.go
  les/clientpool.go
  les/clientpool_test.go
  les/enr_entry.go
  les/lespay/server/prioritypool.go
  les/peer.go
  les/protocol.go
  les/server.go
  les/server_handler.go
  les/test_helper.go
Labels: pr:merge

#21682 core/state: disable snapshot iteration if it's not fully constructed
  core/state/snapshot/snapshot.go
Labels: status:triage

#21594 core: improve snapshot journal recovery
  core/blockchain.go
  core/blockchain_repair_test.go
  core/blockchain_sethead_test.go
  core/blockchain_snapshot_test.go
  core/rawdb/accessors_snapshot.go
  core/rawdb/schema.go
  core/state/snapshot/disklayer_test.go
  core/state/snapshot/generate.go
  core/state/snapshot/journal.go
  core/state/snapshot/snapshot.go
  tests/state_test_util.go
Labels: pr:review
