Repository ethereum/go-ethereum, pull requests merged in 2020-05, with the labels that each got.

#20997 accounts/external: convert signature v value to 0/1
  accounts/accounts.go
  accounts/external/backend.go
Labels: area:clef

#20935 cmd/utils: renames flags related to http-rpc server
  cmd/clef/main.go
  cmd/geth/main.go
  cmd/geth/retesteth.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  cmd/utils/flags_legacy.go
  internal/debug/flags.go
Labels: status:triage

#21010 core/rawdb: Stop freezer process as part of freezer.Close()
  core/rawdb/database.go
  core/rawdb/freezer.go
Labels: status:triage

#20826 [DOCS] Update dev mode tutorial
  docs/_getting-started/dev-mode.md
Labels: status:triage

#20960 cmd/clef, signer/core: password input fixes
  cmd/clef/README.md
  cmd/clef/main.go
  cmd/devp2p/dnscmd.go
  cmd/ethkey/utils.go
  cmd/geth/accountcmd.go
  cmd/geth/chaincmd.go
  cmd/geth/main.go
  cmd/wnode/main.go
  console/bridge.go
  console/console.go
  console/console_test.go
  console/prompt/prompter.go
  signer/core/cliui.go
Labels: status:triage

#20758 les, les/lespay: implement new server pool
  cmd/utils/flags.go
  core/forkid/forkid.go
  eth/backend.go
  les/client.go
  les/client_handler.go
  les/commons.go
  les/distributor.go
  les/enr_entry.go
  les/fetcher.go
  les/lespay/client/fillset.go
  les/lespay/client/fillset_test.go
  les/lespay/client/queueiterator.go
  les/lespay/client/queueiterator_test.go
  les/lespay/client/valuetracker.go
  les/lespay/client/wrsiterator.go
  les/lespay/client/wrsiterator_test.go
  les/metrics.go
  les/peer.go
  les/protocol.go
  les/retrieve.go
  les/server.go
  les/serverpool.go
  les/serverpool_test.go
  les/test_helper.go
  les/utils/expiredvalue.go
  les/utils/weighted_select.go
  les/utils/weighted_select_test.go
  p2p/nodestate/nodestate.go
  p2p/nodestate/nodestate_test.go
  params/bootnodes.go
Labels: pr:review, status:triage

#21068 metrics/prometheus: define TYPE once, add tests
  metrics/prometheus/collector.go
  metrics/prometheus/collector_test.go
Labels: status:triage

#21066 ethdb/leveldb: use timer instead of time.After
  ethdb/leveldb/leveldb.go
Labels: status:triage
