Repository ethereum/go-ethereum, pull requests merged in 2020-06, with the labels that each got.

#21041 metrics: replace gosigar with gopsutil
  cmd/geth/main.go
  go.mod
  go.sum
  metrics/cpu_enabled.go
Labels: status:triage

#20619 EIP-2315: JUMPSUB for the EVM
  core/vm/contract.go
  core/vm/eips.go
  core/vm/errors.go
  core/vm/gen_structlog.go
  core/vm/instructions.go
  core/vm/instructions_test.go
  core/vm/interpreter.go
  core/vm/logger.go
  core/vm/logger_json.go
  core/vm/logger_test.go
  core/vm/opcodes.go
  core/vm/runtime/runtime_test.go
  core/vm/stack.go
  eth/tracers/tracer.go
  eth/tracers/tracer_test.go
Labels: berlin, status:on-hold

#21018 core/vm, crypto/bls12381, params: add bls12-381 elliptic curve precompiles
  core/vm/contracts.go
  core/vm/contracts_test.go
  core/vm/testdata/precompiles/blake2F.json
  core/vm/testdata/precompiles/blsG1Add.json
  core/vm/testdata/precompiles/blsG1Mul.json
  core/vm/testdata/precompiles/blsG1MultiExp.json
  core/vm/testdata/precompiles/blsG2Add.json
  core/vm/testdata/precompiles/blsG2Mul.json
  core/vm/testdata/precompiles/blsG2MultiExp.json
  core/vm/testdata/precompiles/blsMapG1.json
  core/vm/testdata/precompiles/blsMapG2.json
  core/vm/testdata/precompiles/blsPairing.json
  core/vm/testdata/precompiles/bn256Add.json
  core/vm/testdata/precompiles/bn256Pairing.json
  core/vm/testdata/precompiles/bn256ScalarMul.json
  core/vm/testdata/precompiles/ecRecover.json
  core/vm/testdata/precompiles/fail-blake2f.json
  core/vm/testdata/precompiles/fail-blsG1Add.json
  core/vm/testdata/precompiles/fail-blsG1Mul.json
  core/vm/testdata/precompiles/fail-blsG1MultiExp.json
  core/vm/testdata/precompiles/fail-blsG2Add.json
  core/vm/testdata/precompiles/fail-blsG2Mul.json
  core/vm/testdata/precompiles/fail-blsG2MultiExp.json
  core/vm/testdata/precompiles/fail-blsMapG1.json
  core/vm/testdata/precompiles/fail-blsMapG2.json
  core/vm/testdata/precompiles/fail-blsPairing.json
  core/vm/testdata/precompiles/modexp.json
  crypto/bls12381/arithmetic_decl.go
  crypto/bls12381/arithmetic_fallback.go
  crypto/bls12381/arithmetic_x86.s
  crypto/bls12381/arithmetic_x86_adx.go
  crypto/bls12381/arithmetic_x86_noadx.go
  crypto/bls12381/bls12_381.go
  crypto/bls12381/bls12_381_test.go
  crypto/bls12381/field_element.go
  crypto/bls12381/field_element_test.go
  crypto/bls12381/fp.go
  crypto/bls12381/fp12.go
  crypto/bls12381/fp2.go
  crypto/bls12381/fp6.go
  crypto/bls12381/fp_test.go
  crypto/bls12381/g1.go
  crypto/bls12381/g1_test.go
  crypto/bls12381/g2.go
  crypto/bls12381/g2_test.go
  crypto/bls12381/gt.go
  crypto/bls12381/isogeny.go
  crypto/bls12381/pairing.go
  crypto/bls12381/pairing_test.go
  crypto/bls12381/swu.go
  crypto/bls12381/utils.go
  go.sum
  params/protocol_params.go
Labels: berlin

#21083 internal/ethapi: return revert reason for eth_call
  accounts/abi/bind/backends/simulated.go
  accounts/abi/bind/backends/simulated_test.go
  console/bridge.go
  graphql/graphql.go
  internal/ethapi/api.go
  rpc/client_test.go
  rpc/errors.go
  rpc/handler.go
  rpc/json.go
  rpc/server_test.go
  rpc/testservice_test.go
  rpc/types.go
Labels: pr:change-requested

#20787 core/vm: use uint256 in EVM implementation
  core/vm/common.go
  core/vm/contract.go
  core/vm/eips.go
  core/vm/evm.go
  core/vm/gas.go
  core/vm/gas_table.go
  core/vm/instructions.go
  core/vm/instructions_test.go
  core/vm/int_pool_verifier.go
  core/vm/int_pool_verifier_empty.go
  core/vm/interpreter.go
  core/vm/intpool.go
  core/vm/intpool_test.go
  core/vm/logger.go
  core/vm/logger_json.go
  core/vm/logger_test.go
  core/vm/memory.go
  core/vm/stack.go
  eth/tracers/tracer.go
  go.mod
  go.sum
Labels: status:in-progress

#21157 accounts/abi: make GetType public again
  accounts/abi/error.go
  accounts/abi/type.go
  accounts/abi/unpack.go
Labels: status:triage

#21149 eth/downloader: fix spuriously failing tests
  eth/downloader/downloader_test.go
  miner/worker_test.go
Labels: status:approved

#21170 core: filter out txs with invalid signatures as soon as possible
  core/tx_pool.go
Labels: status:triage

#21271 utils: fix ineffectual miner config flags
  cmd/utils/flags.go
Labels: status:triage

#20958 cmd/evm: add state transition tool for testing
  cmd/evm/README.md
  cmd/evm/internal/t8ntool/execution.go
  cmd/evm/internal/t8ntool/flags.go
  cmd/evm/internal/t8ntool/gen_stenv.go
  cmd/evm/internal/t8ntool/transition.go
  cmd/evm/main.go
  cmd/evm/poststate.json
  cmd/evm/testdata/1/alloc.json
  cmd/evm/testdata/1/env.json
  cmd/evm/testdata/1/txs.json
  cmd/evm/testdata/2/alloc.json
  cmd/evm/testdata/2/env.json
  cmd/evm/testdata/2/readme.md
  cmd/evm/testdata/2/txs.json
  cmd/evm/testdata/3/alloc.json
  cmd/evm/testdata/3/env.json
  cmd/evm/testdata/3/readme.md
  cmd/evm/testdata/3/txs.json
  cmd/evm/testdata/4/alloc.json
  cmd/evm/testdata/4/env.json
  cmd/evm/testdata/4/readme.md
  cmd/evm/testdata/4/txs.json
  cmd/evm/testdata/5/alloc.json
  cmd/evm/testdata/5/env.json
  cmd/evm/testdata/5/readme.md
  cmd/evm/testdata/5/txs.json
  cmd/evm/testdata/7/alloc.json
  cmd/evm/testdata/7/env.json
  cmd/evm/testdata/7/readme.md
  cmd/evm/testdata/7/txs.json
  cmd/evm/transition-test.sh
  cmd/utils/flags.go
  core/state/dump.go
  core/state/state_test.go
  core/vm/eips.go
  tests/init.go
  tests/state_test_util.go
Labels: priority:2
