Repository ethereum/go-ethereum, pull requests merged in 2020-09, with the labels that each got.

#21455 "Downloader queue stats" is now provided once per minute
  eth/downloader/queue.go
Labels: status:triage

#21366 eth/downloader: change intial download size
  eth/downloader/downloader.go
  eth/downloader/downloader_test.go
  eth/downloader/queue.go
  eth/downloader/queue_test.go
  eth/downloader/testchain_test.go
Labels: pr:merge

#21480 Single point of maintenance for writing and deleting tx lookup indexes
  core/blockchain.go
  core/rawdb/accessors_indexes.go
  core/rawdb/accessors_indexes_test.go
  core/rawdb/chain_iterator.go
  light/txpool.go
Labels: status:triage

#21473 Allow setting PetersburgBlock before chain head
  params/config.go
  params/config_test.go
Labels: pr:merge

#21091 ABI explicit difference between Unpack and UnpackIntoInterface
  accounts/abi/abi.go
  accounts/abi/abi_test.go
  accounts/abi/argument.go
  accounts/abi/bind/base.go
  accounts/abi/bind/base_test.go
  accounts/abi/bind/bind_test.go
  accounts/abi/bind/template.go
  accounts/abi/event_test.go
  accounts/abi/pack_test.go
  accounts/abi/packing_test.go
  accounts/abi/reflect.go
  accounts/abi/reflect_test.go
  accounts/abi/unpack_test.go
  contracts/checkpointoracle/contract/oracle.go
  contracts/checkpointoracle/contract/oracle.sol
  go.mod
  mobile/bind.go
  tests/fuzzers/abi/abifuzzer.go
Labels: pr:merge, status:triage

#21572 eth, core: free pointer from slice after popping element from price heap
  core/tx_list.go
Labels: pr:merge

#21608 internal/web3ext: improve eth_getBlockByNumber and eth_getBlockByHash api
  internal/web3ext/web3ext.go
Labels: status:triage

#21407 trie: Derivesha with stacktrie
  core/block_validator.go
  core/types/derive_sha.go
  eth/downloader/queue.go
  eth/handler.go
  trie/database.go
  trie/encoding.go
  trie/encoding_test.go
  trie/stacktrie.go
  trie/stacktrie_test.go
Labels: pr:merge
