Repository ethereum/go-ethereum, pull requests merged in 2021-11, with the labels that each got.

#22148 cmd/puppeth: make it possible to have pw-protected keyfiles
  cmd/puppeth/wizard_intro.go
Labels: area:puppeth

#23857 eth/tracers: package restructuring
  cmd/geth/main.go
  core/vm/access_list_tracer.go
  core/vm/interpreter.go
  core/vm/logger.go
  core/vm/logger_json.go
  core/vm/logger_test.go
  core/vm/runtime/runtime_test.go
  eth/tracers/api_test.go
  eth/tracers/internal/tracetest/calltrace_test.go
  eth/tracers/internal/tracetest/testdata/call_tracer/create.json
  eth/tracers/internal/tracetest/testdata/call_tracer/deep_calls.json
  eth/tracers/internal/tracetest/testdata/call_tracer/delegatecall.json
  eth/tracers/internal/tracetest/testdata/call_tracer/inner_create_oog_outer_throw.json
  eth/tracers/internal/tracetest/testdata/call_tracer/inner_instafail.json
  eth/tracers/internal/tracetest/testdata/call_tracer/inner_throw_outer_revert.json
  eth/tracers/internal/tracetest/testdata/call_tracer/oog.json
  eth/tracers/internal/tracetest/testdata/call_tracer/revert.json
  eth/tracers/internal/tracetest/testdata/call_tracer/revert_reason.json
  eth/tracers/internal/tracetest/testdata/call_tracer/selfdestruct.json
  eth/tracers/internal/tracetest/testdata/call_tracer/simple.json
  eth/tracers/internal/tracetest/testdata/call_tracer/throw.json
  eth/tracers/internal/tracetest/testdata/call_tracer_legacy/create.json
  eth/tracers/internal/tracetest/testdata/call_tracer_legacy/deep_calls.json
  eth/tracers/internal/tracetest/testdata/call_tracer_legacy/delegatecall.json
  eth/tracers/internal/tracetest/testdata/call_tracer_legacy/inner_create_oog_outer_throw.json
  eth/tracers/internal/tracetest/testdata/call_tracer_legacy/inner_instafail.json
  eth/tracers/internal/tracetest/testdata/call_tracer_legacy/inner_throw_outer_revert.json
  eth/tracers/internal/tracetest/testdata/call_tracer_legacy/oog.json
  eth/tracers/internal/tracetest/testdata/call_tracer_legacy/revert.json
  eth/tracers/internal/tracetest/testdata/call_tracer_legacy/revert_reason.json
  eth/tracers/internal/tracetest/testdata/call_tracer_legacy/selfdestruct.json
  eth/tracers/internal/tracetest/testdata/call_tracer_legacy/simple.json
  eth/tracers/internal/tracetest/testdata/call_tracer_legacy/throw.json
  eth/tracers/js/bigint.go
  eth/tracers/js/internal/tracers/4byte_tracer.js
  eth/tracers/js/internal/tracers/4byte_tracer_legacy.js
  eth/tracers/js/internal/tracers/assets.go
  eth/tracers/js/internal/tracers/bigram_tracer.js
  eth/tracers/js/internal/tracers/call_tracer_js.js
  eth/tracers/js/internal/tracers/call_tracer_legacy.js
  eth/tracers/js/internal/tracers/evmdis_tracer.js
  eth/tracers/js/internal/tracers/noop_tracer.js
  eth/tracers/js/internal/tracers/opcount_tracer.js
  eth/tracers/js/internal/tracers/prestate_tracer.js
  eth/tracers/js/internal/tracers/tracers.go
  eth/tracers/js/internal/tracers/trigram_tracer.js
  eth/tracers/js/internal/tracers/unigram_tracer.js
  eth/tracers/js/tracer.go
  eth/tracers/js/tracer_test.go
  eth/tracers/native/call.go
  eth/tracers/native/noop.go
  eth/tracers/native/tracer.go
  eth/tracers/tracers.go
  eth/tracers/tracers_test.go
Labels: status:triage

#23872 cmd/devp2p/internal: clarify protocol version in tests + more explicit error
  cmd/devp2p/internal/ethtest/helpers.go
  cmd/devp2p/internal/ethtest/suite.go
Labels: status:triage

#23901 core/rawdb: better error message in freezer
  core/rawdb/freezer_batch.go
  core/rawdb/freezer_test.go
Labels: status:triage

#23686 cmd/geth: add flag --dev.gaslimit for dev mode
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  console/console_test.go
  core/genesis.go
  miner/miner_test.go
Labels: pr:merge

#23937 cmd/evm: add support for signing transactions in the unprotected format
  cmd/evm/internal/t8ntool/transition.go
  cmd/evm/t8n_test.go
  cmd/evm/testdata/23/alloc.json
  cmd/evm/testdata/23/env.json
  cmd/evm/testdata/23/exp.json
  cmd/evm/testdata/23/readme.md
  cmd/evm/testdata/23/txs.json
Labels: status:triage

#23928 core/vm: don't use iota for opcode definitions
  core/vm/opcodes.go
Labels: status:triage

#23612 core/rawdb: use AncientRange when initializing leveldb from freezer
  core/rawdb/chain_iterator.go
Labels: status:triage

#23934 cmd/evm: rename t8n args to improve clarity when tracing
  cmd/evm/internal/t8ntool/flags.go
  cmd/evm/internal/t8ntool/transition.go
  cmd/evm/main.go
Labels: status:triage

#23950 trie: simplify StackTrie implementation
  trie/stacktrie.go
Labels: status:triage

#23976 core/vm: Rename SHA3 instruction to KECCAK256
  core/vm/evm.go
  core/vm/gas_table.go
  core/vm/instructions.go
  core/vm/instructions_test.go
  core/vm/jump_table.go
  core/vm/memory_table.go
  core/vm/opcodes.go
  params/protocol_params.go
Labels: status:triage

#23977 core/vm: Don't copy JumpTable when no extra EIP modifications needed
  core/vm/interpreter.go
Labels: status:triage
