Repository ethereum/go-ethereum, pull requests merged in 2021-05, with the labels that each got.

#22809 core: implement EIP-3541
  core/vm/errors.go
  core/vm/evm.go
Labels: london, status:triage

#22733 core, params: implement EIP-3529
  core/blockchain_test.go
  core/state_transition.go
  core/vm/eips.go
  core/vm/interpreter.go
  core/vm/jump_table.go
  core/vm/operations_acl.go
  params/protocol_params.go
Labels: london, status:triage

#22852 core/types: remove support for legacy receipt/log storage encoding
  core/types/log.go
  core/types/receipt.go
  core/types/receipt_test.go
Labels: status:triage

#22780 core: ensure state could be created in ToBlock
  core/genesis.go
Labels: status:triage

#22840 consensus/ethash: implement EIP-3554 (bomb delay)
  consensus/ethash/consensus.go
Labels: london

#22870 consensus/ethash: change eip3554 from 9.5M to 9.7M
  consensus/ethash/consensus.go
Labels: london

#22837 all: implement eip-1559
  accounts/abi/bind/backends/simulated.go
  accounts/external/backend.go
  cmd/evm/internal/t8ntool/execution.go
  cmd/evm/internal/t8ntool/gen_stenv.go
  cmd/evm/internal/t8ntool/transition.go
  cmd/evm/poststate.json
  cmd/evm/testdata/10/alloc.json
  cmd/evm/testdata/10/env.json
  cmd/evm/testdata/10/readme.md
  cmd/evm/testdata/10/txs.json
  cmd/evm/testdata/11/alloc.json
  cmd/evm/testdata/11/env.json
  cmd/evm/testdata/11/readme.md
  cmd/evm/testdata/11/txs.json
  cmd/evm/testdata/9/alloc.json
  cmd/evm/testdata/9/env.json
  cmd/evm/testdata/9/readme.md
  cmd/evm/testdata/9/txs.json
  consensus/clique/clique.go
  consensus/ethash/consensus.go
  consensus/misc/eip1559.go
  consensus/misc/eip1559_test.go
  consensus/misc/gaslimit.go
  core/blockchain_test.go
  core/chain_makers.go
  core/error.go
  core/evm.go
  core/genesis.go
  core/state_prefetcher.go
  core/state_processor.go
  core/state_processor_test.go
  core/state_transition.go
  core/types/access_list_tx.go
  core/types/block.go
  core/types/block_test.go
  core/types/dynamic_fee_tx.go
  core/types/legacy_tx.go
  core/types/receipt.go
  core/types/transaction.go
  core/types/transaction_marshalling.go
  core/types/transaction_signing.go
  core/vm/eips.go
  core/vm/evm.go
  core/vm/jump_table.go
  core/vm/opcodes.go
  eth/state_accessor.go
  eth/tracers/api.go
  eth/tracers/api_test.go
  eth/tracers/tracers_test.go
  interfaces.go
  internal/ethapi/api.go
  les/odr_test.go
  les/state_accessor.go
  light/odr_test.go
  params/bootnodes.go
  params/config.go
  params/protocol_params.go
  tests/init.go
  tests/state_test_util.go
Labels: london, status:triage

#22883 core/asm: fix the bug of "00" prefix number
  core/asm/lex_test.go
  core/asm/lexer.go
Labels: status:triage

#22896 EIP-1559: miner changes
  core/bench_test.go
  core/block_validator.go
  core/block_validator_test.go
  core/chain_makers.go
  core/state_processor_test.go
  core/types/transaction.go
  core/types/transaction_test.go
  eth/catalyst/api.go
  miner/worker.go
  miner/worker_test.go
Labels: london

#22718 internal/ethapi: merge CallArgs and SendTxArgs
  eth/tracers/api.go
  eth/tracers/api_test.go
  graphql/graphql.go
  internal/ethapi/api.go
  internal/ethapi/transaction_args.go
Labels: status:triage

#22898 EIP-1559 tx pool support
  core/tx_list.go
  core/tx_pool.go
  core/tx_pool_test.go
  core/types/transaction.go
  eth/gasprice/gasprice.go
Labels: london, pr:review

#22970 core: add new eip-1559 tx constraints
  core/error.go
  core/state_processor_test.go
  core/state_transition.go
  core/tx_pool.go
  core/tx_pool_test.go
Labels: london

#22972 cmd/geth, core, params: replace baikal with calaveras
  cmd/geth/chaincmd.go
  cmd/geth/consolecmd.go
  cmd/geth/dbcmd.go
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  core/genesis.go
  core/genesis_alloc.go
  core/genesis_test.go
  params/bootnodes.go
  params/config.go
Labels: london
