Repository ethereum/go-ethereum, pull requests merged in 2021-09, with the labels that each got.

#23368 internal/debug: remove deprecated flags
  internal/debug/flags.go
Labels: pr:merge, status:triage

#23358 cmd/geth, cmd/utils: remove legacy rpc flags
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  cmd/utils/flags_legacy.go
Labels: status:triage

#19903 p2p/enode: use unix timestamp as base ENR sequence number
  p2p/discover/v5wire/encoding_test.go
  p2p/enode/localnode.go
  p2p/enode/localnode_test.go
  p2p/enode/nodedb.go
Labels: status:triage, priority:2

#23606 Fix old link to eth wiki
  docs/_install-and-build/Backup--restore.md
Labels: status:triage

#23602 console: add note about typing exit to exit
  cmd/geth/consolecmd_test.go
  console/console.go
Labels: status:triage

#23538 consensus/clique: prevent 0 len extradata from panicing
  core/genesis.go
  core/genesis_test.go
  miner/worker_test.go
Labels: status:triage

#23597 [DOCS] Fix typos
  docs/_interface/Managing-your-accounts.md
Labels: status:triage

#23600 [DOCS] add text about eth.syncing status check in mining tutorial
  docs/_interface/mining.md
Labels: status:triage

#23567 core/state: move state account to core/types + abstracted "write account to trie"
  cmd/geth/snapshot.go
  core/state/database.go
  core/state/dump.go
  core/state/iterator.go
  core/state/pruner/pruner.go
  core/state/state_object.go
  core/state/statedb.go
  core/state/sync.go
  core/state/sync_test.go
  core/types/state_account.go
  eth/protocols/snap/handler.go
  eth/protocols/snap/sync.go
  eth/protocols/snap/sync_test.go
  les/server_handler.go
  light/trie.go
  trie/secure_trie.go
  trie/trie.go
  trie/trie_test.go
Labels: status:triage

#23147 core/rawdb: avoid unnecessary receipt processing for log filtering
  core/rawdb/accessors_chain.go
  core/rawdb/accessors_chain_test.go
  core/rawdb/testdata/stored_receipts.bin
  core/types/receipt_test.go
  eth/api_backend.go
Labels: pr:merge

#23230 accounts/abi/bind: check event signature before parsing
  accounts/abi/bind/base.go
  accounts/abi/bind/base_test.go
Labels: pr:merge

#23649 eth/protocols/eth: simplify peer known block/txs caches
  eth/protocols/eth/peer.go
  eth/protocols/eth/peer_test.go
Labels: pr:merge

#23650 graphql: add storage slots to access list
  graphql/graphql.go
  graphql/schema.go
Labels: status:triage
