Repository ethereum/go-ethereum, pull requests merged in 2021-06, with the labels that each got.

#22584 Replace syscall by sys/unix, support Solaris etc.
  metrics/cpu_syscall.go
Labels: status:triage

#22964 1559 rpc
  core/chain_makers.go
  core/types/block.go
  core/types/gen_header_json.go
  core/types/transaction.go
  core/types/transaction_marshalling.go
  eth/api_backend.go
  eth/gasprice/gasprice.go
  eth/gasprice/gasprice_test.go
  eth/protocols/snap/range_test.go
  eth/tracers/api.go
  graphql/graphql.go
  graphql/schema.go
  internal/ethapi/api.go
  internal/ethapi/backend.go
  internal/ethapi/transaction_args.go
  internal/jsre/deps/bindata.go
  internal/jsre/deps/web3.js
  internal/web3ext/web3ext.go
  les/api_backend.go
Labels: london

#22995 core, eth, miner: enforce configured mining reward post 1559 too
  core/tx_pool.go
  core/tx_pool_test.go
  core/types/transaction.go
  eth/api_backend.go
  eth/catalyst/api.go
  eth/handler.go
  eth/handler_test.go
  eth/sync.go
  miner/worker.go
Labels: london

#23010 all: rename internal 1559 gas fields, add support for graphql
  accounts/abi/bind/backends/simulated.go
  cmd/evm/testdata/10/txs.json
  cmd/evm/testdata/9/txs.json
  core/blockchain_test.go
  core/error.go
  core/state_processor_test.go
  core/state_transition.go
  core/tx_list.go
  core/tx_pool.go
  core/tx_pool_test.go
  core/types/access_list_tx.go
  core/types/block_test.go
  core/types/dynamic_fee_tx.go
  core/types/legacy_tx.go
  core/types/transaction.go
  core/types/transaction_marshalling.go
  core/types/transaction_signing.go
  core/types/transaction_test.go
  eth/gasprice/gasprice.go
  eth/gasprice/gasprice_test.go
  graphql/graphql.go
  graphql/schema.go
  interfaces.go
  internal/ethapi/api.go
  internal/ethapi/transaction_args.go
  miner/stress/1559/main.go
  miner/worker.go
Labels: london

#22966 cmd/clef, signer: support 1559 type transactions in clef
  accounts/external/backend.go
  cmd/clef/main.go
  cmd/clef/testdata/sign_1559_missing_field_exp_fail.json
  cmd/clef/testdata/sign_1559_missing_maxfeepergas_exp_fail.json
  cmd/clef/testdata/sign_1559_tx.json
  cmd/clef/testdata/sign_bad_checksum_exp_fail.json
  cmd/clef/testdata/sign_normal_exp_ok.json
  internal/ethapi/transaction_args.go
  signer/core/api.go
  signer/core/api_test.go
  signer/core/cliui.go
  signer/core/gnosis_safe.go
  signer/core/types.go
  signer/fourbyte/validation.go
  signer/fourbyte/validation_test.go
  signer/rules/rules_test.go
Labels: london

#23028 eth/ethconfig: bump the RPC gas cap to 50M, since 1559 exceeds 25
  eth/ethconfig/config.go
Labels: london

#23027 core, internal: support various eth_call invocations post 1559
  core/state_transition.go
  core/vm/evm.go
  core/vm/instructions.go
  core/vm/instructions_test.go
  core/vm/interpreter.go
  internal/ethapi/api.go
  internal/ethapi/transaction_args.go
  internal/jsre/deps/bindata.go
  internal/jsre/deps/web3.js
Labels: london

#22624 accounts/abi/bind/backends: add simulated reorgs
  accounts/abi/bind/backends/simulated.go
  accounts/abi/bind/backends/simulated_test.go
Labels: status:triage

#23041 params: add london testnet blocks
  core/forkid/forkid_test.go
  params/config.go
Labels: london

#23038 accounts/abi/bind: fix bounded contracts and sim backend for 1559
  accounts/abi/bind/backend.go
  accounts/abi/bind/backends/simulated.go
  accounts/abi/bind/backends/simulated_test.go
  accounts/abi/bind/base.go
  accounts/abi/bind/bind_test.go
  accounts/abi/bind/util_test.go
  consensus/clique/clique_test.go
  consensus/clique/snapshot_test.go
  contracts/checkpointoracle/oracle_test.go
  core/blockchain_repair_test.go
  core/blockchain_sethead_test.go
  core/blockchain_snapshot_test.go
  core/blockchain_test.go
  core/chain_makers.go
  core/dao_test.go
  core/genesis.go
  core/headerchain_test.go
  core/rlp_test.go
  eth/catalyst/api.go
  eth/catalyst/api_test.go
  eth/downloader/queue_test.go
  eth/downloader/testchain_test.go
  eth/fetcher/block_fetcher_test.go
  eth/filters/filter_system_test.go
  eth/filters/filter_test.go
  eth/gasprice/gasprice_test.go
  eth/protocols/eth/handler_test.go
  eth/tracers/api.go
  eth/tracers/api_test.go
  ethclient/ethclient.go
  ethclient/ethclient_test.go
  graphql/graphql_test.go
  les/handler_test.go
  les/odr_test.go
  les/test_helper.go
  light/odr_test.go
  light/trie_test.go
  light/txpool_test.go
  miner/worker_test.go
  params/config.go
Labels: london, status:triage

#23050 core, graphql, internal: expose effectiveGasPrice in receipts
  core/tx_pool.go
  core/types/transaction.go
  graphql/graphql.go
  graphql/schema.go
  internal/ethapi/api.go
  internal/jsre/deps/bindata.go
  internal/jsre/deps/web3.js
Labels: london

#23092 core/state: remove unused methods ReturnGas, GetStorageProofByHash
  core/state/state_object.go
  core/state/statedb.go
  core/vm/logger_test.go
  eth/tracers/tracer_test.go
Labels: status:triage

#23033 eth/gasprice: implement feeHistory API
  cmd/utils/flags.go
  eth/api_backend.go
  eth/ethconfig/config.go
  eth/gasprice/feehistory.go
  eth/gasprice/feehistory_test.go
  eth/gasprice/gasprice.go
  eth/gasprice/gasprice_test.go
  internal/ethapi/api.go
  internal/ethapi/backend.go
  internal/web3ext/web3ext.go
  les/api_backend.go
  miner/miner.go
  miner/worker.go
Labels: pr:review

#23102 accounts/abi/bind: fix gas price suggestion with pre EIP-1559 clients
  accounts/abi/bind/base.go
Labels: london
