Repository ethereum/go-ethereum, pull requests merged in 2021-08, with the labels that each got.

#23306 cmd/devp2p: fix ping/pong race in discv4 tests
  cmd/devp2p/internal/v4test/discv4tests.go
Labels: area:p2p

#23287 core/rawdb: close database in test to avoid goroutine leak
  core/rawdb/accessors_chain_test.go
Labels: pr:merge

#23213 cmd, core, eth, miner: deprecate miner.gastarget flag
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  cmd/utils/flags_legacy.go
  core/block_validator.go
  core/block_validator_test.go
  core/chain_makers.go
  eth/ethconfig/config.go
  miner/stress/1559/main.go
  miner/stress/clique/main.go
  miner/stress/ethash/main.go
  miner/worker.go
  miner/worker_test.go
Labels: status:triage

#23117 core/rawdb: implement sequential reads in freezer_table
  core/rawdb/database.go
  core/rawdb/freezer.go
  core/rawdb/freezer_table.go
  core/rawdb/freezer_table_test.go
  core/rawdb/table.go
  ethdb/database.go
Labels: status:triage

#23120 eth: drop eth/65, the last non-reqid protocol version
  cmd/devp2p/internal/ethtest/suite_test.go
  eth/downloader/downloader.go
  eth/downloader/downloader_test.go
  eth/downloader/peer.go
  eth/handler.go
  eth/handler_eth_test.go
  eth/protocols/eth/handler.go
  eth/protocols/eth/handler_test.go
  eth/protocols/eth/handlers.go
  eth/protocols/eth/handshake_test.go
  eth/protocols/eth/peer.go
  eth/protocols/eth/protocol.go
  eth/sync.go
  eth/sync_test.go
  les/client_handler.go
Labels: london

#23380 tests/fuzzers: fix go vet warning about signature of ReadByte
  tests/fuzzers/trie/trie-fuzzer.go
Labels: pr:merge

#23095 core: add change counter
  core/tx_pool.go
  core/tx_pool_test.go
Labels: status:triage

#23417 go.mod : goleveldb Reduce memory allocation
  go.mod
  go.sum
Labels: status:triage

#23419 crypto/cloudflare/bn256: fix in-place addition and unmarshalling
  crypto/bn256/cloudflare/bn256_test.go
  crypto/bn256/cloudflare/curve.go
  crypto/bn256/cloudflare/gfp.go
  crypto/bn256/cloudflare/twist.go
Labels: status:triage

#23502 core: fix typo in iterator.go
  core/state/snapshot/iterator.go
Labels: status:triage

#23495 typo: fixes format verb
  common/types.go
Labels: status:triage
