Repository ethereum/go-ethereum, pull requests merged in 2021-12, with the labels that each got.

#23957 tests/fuzzers: add snap protocol handling fuzzer
  eth/protocols/snap/handler.go
  eth/protocols/snap/peer.go
  oss-fuzz.sh
  tests/fuzzers/snap/debug/main.go
  tests/fuzzers/snap/fuzz_handler.go
Labels: status:triage

#23970 core/vm: Move interpreter.ReadOnly check into the opcode implementations
  core/vm/instructions.go
  core/vm/interpreter.go
  core/vm/jump_table.go
  eth/tracers/logger/logger_json.go
Labels: status:triage

#24016 eth/tracers: Add support for REVERT/SELFDESTRUCT in evmdis_tracer
  eth/tracers/js/internal/tracers/assets.go
  eth/tracers/js/internal/tracers/evmdis_tracer.js
Labels: status:triage

#23940 accounts/abi/bind Handle structs used only as constructor params
  accounts/abi/bind/bind.go
  accounts/abi/bind/bind_test.go
Labels: pr:merge

#24031 core/vm: fill gaps in jump table with opUndefined
  core/vm/instructions.go
  core/vm/interpreter.go
  core/vm/jump_table.go
Labels: area:evm

#24075 miner: update pending block even after the PoS transition
  miner/worker.go
Labels: status:triage

#23387 cmd/geth, console: support interrupting the js console
  cmd/geth/consolecmd.go
  cmd/geth/main.go
  cmd/utils/cmd.go
  console/console.go
  internal/jsre/jsre.go
Labels: status:triage

#24092 consensus: use the public constant MaxGasLimit to check the header.GasLimit
  consensus/beacon/consensus.go
  consensus/clique/clique.go
  consensus/ethash/consensus.go
  params/protocol_params.go
Labels: status:triage

#24086 Update mining.md
  docs/_interface/mining.md
Labels: status:triage

#24104 core/rawdb: fix error message fields in ReadLogs
  core/rawdb/accessors_chain.go
Labels: pr:merge

#24048 core/vm: avoid memory expansion check for trivial ops
  core/vm/interpreter.go
  core/vm/jump_table.go
Labels: status:triage

#24058 les/vflux/client, p2p/nodestate: fix data races
  les/vflux/client/serverpool_test.go
  p2p/nodestate/nodestate.go
Labels: status:triage

#24080 core: ignore basefee when comparing with pool gasprice in txpool
  core/tx_pool.go
Labels: status:triage
