Repository ethereum/go-ethereum, pull requests merged in 2021-07, with the labels that each got.

#23134 eth, miner: add RPC method to modify miner gaslimit
  eth/api.go
  internal/web3ext/web3ext.go
  miner/miner.go
  miner/worker.go
Labels: london, status:triage

#23176 core, params: define london block at 12965000
  core/forkid/forkid_test.go
  params/config.go
Labels: london

#23178 eth/gasprice, internal/ethapi, miner: minor feehistory fixes
  eth/gasprice/feehistory.go
  eth/gasprice/feehistory_test.go
  internal/ethapi/api.go
  miner/worker.go
Labels: london

#23251 [DOCS] update vulnerabilities
  docs/_vulnerabilities/vulnerabilities.json
  docs/_vulnerabilities/vulnerabilities.json.minisig
Labels: status:triage
