Repository ethereum/go-ethereum, pull requests merged in 2022-07, with the labels that each got.

#25221 all: change format `0x%x` to `%#x`
  accounts/scwallet/securechannel.go
  accounts/scwallet/wallet.go
  cmd/devp2p/internal/ethtest/snap.go
  cmd/evm/runner.go
  cmd/geth/dbcmd.go
  cmd/rlpdump/main.go
  cmd/rlpdump/rlpdump_test.go
  consensus/misc/forks.go
  core/asm/asm.go
  core/blockchain.go
  core/types/hashing_test.go
  core/vm/jump_table.go
  core/vm/opcodes.go
  core/vm/runtime/runtime_test.go
  eth/api.go
  eth/api_test.go
  eth/filters/api_test.go
  eth/tracers/logger/logger.go
  internal/ethapi/api.go
  mobile/types.go
  signer/core/apitypes/types.go
  signer/core/signed_data.go
  tests/fuzzers/stacktrie/trie_fuzzer.go
  tests/fuzzers/trie/trie-fuzzer.go
  trie/trie_test.go
Labels: area:error-message

#25219 internal/ethapi: add basefee to block overrides
  internal/ethapi/api.go
Labels: area:rpc

#25096 all: remove version field
  cmd/clef/main.go
  consensus/clique/clique.go
  consensus/ethash/ethash.go
  eth/backend.go
  eth/catalyst/api.go
  eth/tracers/api.go
  internal/ethapi/backend.go
  les/catalyst/api.go
  les/client.go
  les/server.go
  node/api.go
  node/utils_test.go
  p2p/simulations/adapters/exec.go
  rpc/types.go
Labels: status:triage

#25157 internal/ethapi: error if tx args includes chain id that doesn't match local
  internal/ethapi/transaction_args.go
Labels: status:triage, area:rpc

#25283 signer/core: add canonical TypedData hashing methods
  signer/core/apitypes/types.go
  signer/core/signed_data.go
Labels: status:triage

#25152 cmd/geth: eth/catalyst: enable authrpc by default
  cmd/geth/consolecmd_test.go
  cmd/geth/genesis_test.go
  cmd/geth/les_test.go
  cmd/utils/flags.go
  eth/catalyst/api.go
  les/catalyst/api.go
Labels: status:triage

#25165 core: eth: rpc: implement safe rpc block
  core/blockchain.go
  core/blockchain_reader.go
  eth/api.go
  eth/api_backend.go
  eth/catalyst/api.go
  internal/jsre/deps/web3.js
  rpc/types.go
Labels: status:triage

#25287 core, trie, eth, cmd: rework preimage store
  cmd/evm/internal/t8ntool/execution.go
  core/state/state_test.go
  eth/api_test.go
  trie/database.go
  trie/preimages.go
  trie/secure_trie.go
Labels: status:triage

#25423 eth/catalyst: return 0x0 if latestvalid is pow block
  eth/catalyst/api.go
Labels: status:triage
