Repository ethereum/go-ethereum, pull requests merged in 2022-08, with the labels that each got.

#25381 consensus/ethash: remove temp files created during DAG generation
  consensus/ethash/ethash.go
Labels: status:triage

#25458 core: use TryGetAccount to read what TryUpdateAccount has written
  cmd/geth/snapshot.go
  core/blockchain.go
  core/state/database.go
  core/state/pruner/pruner.go
  core/state/snapshot/generate_test.go
  core/state/statedb.go
  core/state/trie_prefetcher.go
  eth/api.go
  eth/protocols/snap/handler.go
  eth/protocols/snap/sync_test.go
  les/downloader/downloader_test.go
  light/trie.go
  trie/iterator_test.go
  trie/proof.go
  trie/secure_trie.go
  trie/secure_trie_test.go
  trie/sync_test.go
  trie/trie.go
Labels: status:triage, verkle

#25430 eth/tracers: add onlyTopCall option to callTracer
  core/vm/runtime/runtime_test.go
  eth/tracers/api.go
  eth/tracers/internal/tracetest/calltrace_test.go
  eth/tracers/internal/tracetest/testdata/call_tracer/simple_onlytop.json
  eth/tracers/js/goja.go
  eth/tracers/js/tracer_test.go
  eth/tracers/native/4byte.go
  eth/tracers/native/call.go
  eth/tracers/native/noop.go
  eth/tracers/native/prestate.go
  eth/tracers/native/revertreason.go
  eth/tracers/native/tracer.go
  eth/tracers/tracers.go
Labels: pr:merge

#25455 signer/rules: register clef api properly when rules are used
  signer/rules/rules.go
Labels: status:triage

#25197 internal/ethapi: rework `setDefaults` for tx args so fee logic is separate
  internal/ethapi/transaction_args.go
  internal/ethapi/transaction_args_test.go
Labels: status:triage

#25531 core/state, trie, light: Add a DeleteAccount method
  core/state/database.go
  core/state/statedb.go
  light/trie.go
  trie/secure_trie.go
Labels: status:triage, verkle

#25530 core: reduce system call about `os`
  core/tx_journal.go
Labels: status:triage

#25176 internal/ethapi: rename debug getters to match spec
  internal/ethapi/api.go
  internal/web3ext/web3ext.go
Labels: status:triage, area:rpc

#25504 accounts/abi/bind: add const for tx fee elasticity multiplier
  accounts/abi/bind/base.go
Labels: status:triage

#25609 cmd/geth: fix legacy receipt detection for empty db
  cmd/geth/config.go
  cmd/geth/dbcmd.go
Labels: pr:merge, status:triage

#25566 docs: specify execution client
  README.md
Labels: status:triage

#25580 ethclient: add 'finalized' and 'safe' block numbers
  ethclient/ethclient.go
  ethclient/gethclient/gethclient.go
Labels: status:triage

#25523 all: move genesis initialization to blockchain
  accounts/abi/bind/backends/simulated.go
  cmd/utils/flags.go
  consensus/clique/clique_test.go
  consensus/clique/snapshot_test.go
  core/bench_test.go
  core/block_validator_test.go
  core/blockchain.go
  core/blockchain_repair_test.go
  core/blockchain_sethead_test.go
  core/blockchain_snapshot_test.go
  core/blockchain_test.go
  core/chain_makers_test.go
  core/dao_test.go
  core/genesis.go
  core/genesis_test.go
  core/state_processor_test.go
  eth/backend.go
  eth/downloader/downloader_test.go
  eth/downloader/testchain_test.go
  eth/ethconfig/config.go
  eth/gasprice/gasprice_test.go
  eth/handler_eth_test.go
  eth/handler_test.go
  eth/protocols/eth/handler_test.go
  eth/tracers/api_test.go
  les/client.go
  light/odr_test.go
  light/trie_test.go
  light/txpool_test.go
  miner/miner_test.go
  miner/worker_test.go
  params/config.go
  tests/block_test_util.go
  tests/fuzzers/les/les-fuzzer.go
  tests/fuzzers/snap/fuzz_handler.go
Labels: pr:merge
