Repository ethereum/go-ethereum, pull requests merged in 2022-03, with the labels that each got.

#24451 Fetch sub-modules recursively
  appveyor.yml
Labels: status:triage

#24449 les/vflux/client: fix goroutine leak in testIter
  les/vflux/client/fillset_test.go
Labels: status:triage

#24473 internal/build: switch azure sdk from Azure/azure-storage-blob-go to Azure/azure-sdk-for-go/sdk/storage/azblob.
  build/ci.go
  go.mod
  go.sum
  internal/build/azure.go
Labels: status:triage

#24477 Allow file descriptor limit to be set via CLI
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
Labels: pr:merge, status:triage

#24486 core, ethdb, tests, trie: introduce database snapshot
  core/rawdb/table.go
  ethdb/database.go
  ethdb/dbtest/testsuite.go
  ethdb/leveldb/leveldb.go
  ethdb/memorydb/memorydb.go
  ethdb/snapshot.go
  tests/fuzzers/stacktrie/trie_fuzzer.go
  trie/iterator_test.go
  trie/trie_test.go
Labels: status:triage

#24539 trie: fixes two issues in trie iterator
  trie/iterator.go
  trie/iterator_test.go
Labels: pr:merge, status:triage

#24523 build: fix linter install on windows
  build/ci.go
  internal/build/download.go
Labels: status:triage

#24517 eth/tracers: use hex encoding for debug_traceBlock argument
  eth/tracers/api.go
Labels: pr:merge, status:triage

#24313 cmd/geth: set EnableBashCompletion = true
  internal/flags/helpers.go
Labels: pr:merge

#24533 crypto: use btcec/v2 for no-cgo
  crypto/signature_nocgo.go
  go.mod
  go.sum
  tests/fuzzers/secp256k1/secp_fuzzer.go
Labels: status:triage

#24540 core/rawdb: fix db commands
  core/rawdb/freezer_table.go
Labels: status:triage

#22712 crypto/bls12381: go format
  crypto/bls12381/bls12_381.go
  crypto/bls12381/isogeny.go
Labels: status:triage

#24569 eth/downloader: ignore zero size header batch for importing
  core/blockchain.go
  eth/downloader/downloader.go
  light/lightchain.go
Labels: pr:merge, status:triage

#24603 cmd/geth: change to non-fatal error message when legacy receipt storage is not implemented
  cmd/geth/config.go
Labels: status:triage

#24598 eth/catalyst: only apply block if we actually have the state
  cmd/geth/dbcmd.go
  eth/catalyst/api.go
Labels: status:triage

#24479 core/state/snapshot: cleanup generation logic
  core/state/snapshot/generate.go
Labels: pr:merge

#24567 internal/ethapi: add refund to StructLogRes
  internal/ethapi/api.go
Labels: status:triage
