Repository ethereum/go-ethereum, pull requests merged in 2022-11, with the labels that each got.

#26075 accounts/abi: fixed bytes with size larger than 32 bytes is not allowed
  accounts/abi/type.go
  accounts/abi/type_test.go
Labels: status:triage

#26055 docs: add JS console contracts page
  docs/_interface/JavaScript-Console-Contracts.md
  docs/_interface/JavaScript-Console.md
Labels: status:triage

#26016 consensus/ethash: fix typo
  consensus/ethash/algorithm.go
Labels: status:triage

#26066 Fixed language inconsistency in docs
  docs/postmortems/2021-08-22-split-postmortem.md
Labels: status:triage

#25994 params: make eip1559 params non-global
  consensus/misc/eip1559.go
  core/chain_makers.go
  miner/worker.go
  params/config.go
  params/protocol_params.go
Labels: pr:merge

#26110 accounts/abi: properly quote untrusted data in error message
  accounts/abi/abi.go
Labels: pr:merge

#26082 cmd/clef: list accounts at startup
  cmd/clef/main.go
  signer/core/cliui.go
Labels: pr:merge

#26116 graphql: add query timeout to prevent dos attack
  graphql/service.go
Labels: status:triage

#26128 cmd/clef: only print first N accounts on startup
  signer/core/cliui.go
Labels: pr:merge

#26137 core/vm: deep copy jumptable when enabling extra eips
  core/vm/interpreter.go
  core/vm/jump_table.go
  core/vm/jump_table_test.go
Labels: pr:merge

#26141 go.mod: update status-im/keycard-go
  go.mod
  go.sum
Labels: status:triage

#26003 all: implement EIP-1153 transient storage
  cmd/evm/internal/t8ntool/execution.go
  core/blockchain_test.go
  core/chain_makers.go
  core/state/journal.go
  core/state/statedb.go
  core/state/statedb_test.go
  core/state/transient_storage.go
  core/state_prefetcher.go
  core/state_processor.go
  core/state_transition.go
  core/vm/eips.go
  core/vm/instructions.go
  core/vm/instructions_test.go
  core/vm/interface.go
  core/vm/opcodes.go
  core/vm/runtime/runtime.go
  eth/state_accessor.go
  eth/tracers/api.go
  les/state_accessor.go
  miner/worker.go
  tests/state_test.go
Labels: maybe shanghai

#25819 core: implement EIP-3651, warm coinbase
  core/blockchain_test.go
  core/state/statedb.go
  core/state_transition.go
  core/vm/interface.go
  core/vm/runtime/runtime.go
  tests/state_test.go
Labels: maybe shanghai

#26041 p2p/discover: add config option for discv5 protocol ID
  cmd/devp2p/internal/v5test/framework.go
  p2p/discover/common.go
  p2p/discover/v5_udp.go
  p2p/discover/v5wire/encoding.go
  p2p/discover/v5wire/encoding_test.go
Labels: need:more-information
