Repository ethereum/go-ethereum, pull requests merged in 2022-09, with the labels that each got.

#25691 core/vm: rename RANDOM to PREVRANDAO
  core/vm/evm.go
  core/vm/jump_table.go
  core/vm/opcodes.go
Labels: status:triage

#25718 cmd/geth: add a verkle subcommand
  cmd/geth/main.go
  cmd/geth/verkle.go
  go.mod
  go.sum
Labels: pr:merge, verkle

#25831 eth: fix a rare datarace on CHT challenge reply / shutdown
  eth/handler.go
Labels: status:triage

#25183 core/vm: return copy of input slice in identity precompile. don't deep copy return data slice upon call completion
  core/vm/contracts.go
  core/vm/instructions.go
Labels: status:triage

#22620 cmd/abigen: change --exc to exclude by type name
  cmd/abigen/main.go
  cmd/abigen/namefilter.go
  cmd/abigen/namefilter_test.go
Labels: pr:merge

#24370 cmd/puppeth, cmd/utils: finalize removal of gasTarget flag
  cmd/geth/main.go
  cmd/puppeth/module_node.go
  cmd/puppeth/wizard_node.go
  cmd/utils/flags.go
  cmd/utils/flags_legacy.go
Labels: pr:merge, status:backlog

#25213 eth/tracers: pad memory slice on OOB case
  eth/tracers/js/goja.go
  eth/tracers/js/tracer_test.go
Labels: area:tracer

#25131 core/vm: correct logic for eip check of NewEVMInterpreter
  core/vm/interpreter.go
Labels: status:triage

#25225 accounts/abi/bind/backends: fix AdjustTime to respect Fork
  accounts/abi/bind/backends/simulated.go
  accounts/abi/bind/backends/simulated_test.go
Labels: pr:merge, area:simulated-backend

#25565 accounts/abi: return toGoType error immediately
  accounts/abi/argument.go
  accounts/abi/unpack.go
Labels: pr:merge, status:triage

#25508 eth/tracers: remove revertReasonTracer, add revert reason to callTracer
  eth/tracers/internal/tracetest/calltrace_test.go
  eth/tracers/internal/tracetest/testdata/call_tracer/revert_reason.json
  eth/tracers/native/call.go
  eth/tracers/native/gen_callframe_json.go
  eth/tracers/native/revertreason.go
Labels: status:triage

#25574 accounts/abi/bind: parse ABI once on bind
  accounts/abi/bind/template.go
Labels: need:more-information
