Repository ethereum/go-ethereum, pull requests merged in 2022-06, with the labels that each got.

#24871 eth/tracers: add support for block overrides in debug_traceCall
  core/evm.go
  eth/tracers/api.go
  eth/tracers/api_test.go
  internal/ethapi/api.go
Labels: status:triage

#24958 consensus/misc: reduce allocations and improve comments in CalcBaseFee
  consensus/misc/eip1559.go
Labels: status:triage

#24926 go.mod: set go version to 1.17
  go.mod
Labels: pr:merge

#24750 all: introduce trie owner notion
  cmd/geth/dbcmd.go
  cmd/geth/snapshot.go
  core/blockchain.go
  core/state/database.go
  core/state/pruner/pruner.go
  core/state/snapshot/conversion.go
  core/state/snapshot/generate.go
  core/state/snapshot/generate_test.go
  core/state/state_object.go
  core/state/statedb.go
  core/state/sync_test.go
  core/state/trie_prefetcher.go
  core/state/trie_prefetcher_test.go
  core/types/hashing_test.go
  eth/api.go
  eth/protocols/snap/handler.go
  eth/protocols/snap/sync.go
  eth/protocols/snap/sync_test.go
  les/downloader/downloader_test.go
  les/handler_test.go
  les/server_handler.go
  light/odr_test.go
  light/postprocess.go
  light/trie.go
  tests/fuzzers/les/les-fuzzer.go
  tests/fuzzers/rangeproof/rangeproof-fuzzer.go
  tests/fuzzers/stacktrie/trie_fuzzer.go
  tests/fuzzers/trie/trie-fuzzer.go
  trie/errors.go
  trie/iterator_test.go
  trie/proof_test.go
  trie/secure_trie.go
  trie/secure_trie_test.go
  trie/stacktrie.go
  trie/stacktrie_test.go
  trie/sync_test.go
  trie/trie.go
  trie/trie_test.go
  trie/util_test.go
  trie/utils.go
Labels: status:triage

#24949 eth/filters: fix pending for getLogs
  accounts/abi/bind/backends/simulated.go
  eth/filters/filter.go
  eth/filters/filter_system_test.go
  internal/ethapi/backend.go
Labels: status:triage

#25007 trie: fix size accounting in cleaner
  trie/database.go
Labels: status:triage

#25000 cmd/geth: drop geth js command
  cmd/geth/accountcmd_test.go
  cmd/geth/consolecmd.go
  cmd/utils/flags.go
  console/console.go
  console/console_test.go
  console/testdata/exec.js
Labels: status:triage

#25139 miner: retrieve mining state from live database
  eth/catalyst/api.go
  miner/miner.go
  miner/worker.go
Labels: status:triage

#25168 internal/ethapi: add note about eth_chainId compatibility with EIP-695
  internal/ethapi/api.go
Labels: area:rpc

#25059 all: remove `public` field from `rpc.API`
  cmd/clef/main.go
  consensus/clique/clique.go
  consensus/ethash/ethash.go
  eth/backend.go
  eth/catalyst/api.go
  eth/tracers/api.go
  internal/ethapi/backend.go
  les/catalyst/api.go
  les/client.go
  les/server.go
  node/api.go
  node/rpcstack.go
  node/utils_test.go
  rpc/types.go
Labels: status:triage

#25179 params: set TTD for sepolia testnet
  params/config.go
Labels: status:triage

#25155 internal/ethapi: explicitly return chain id for EIP-155 legacy txs
  internal/ethapi/api.go
Labels: area:rpc
