Repository ethereum/go-ethereum, pull requests merged in 2023-01, with the labels that each got.

#26436 [website]: add info on `cache.preimages` to docs
  docs/faq.md
  docs/interacting-with-geth/rpc/ns-debug.md
Labels: area:website

#26432 [website] chore: Remove url list
  url-list.csv
Labels: area:website

#26438 Website: update ethstats.net to ethstats.dev
  docs/monitoring/ethstats.md
Labels: area:website

#26475 core/vm: enable EIP-3855 (PUSH0) in Shanghai
  core/vm/jump_table.go
Labels: status:triage

#26443 [website]: update go installation instructions
  docs/getting-started/installing-geth.md
Labels: area:docs, area:website

#26481 params: define cancun and prague as timestamp based forks
  core/forkid/forkid_test.go
  params/config.go
Labels: status:triage

#26484 all: implement withdrawals (EIP-4895)
  cmd/evm/internal/t8ntool/block.go
  cmd/evm/internal/t8ntool/execution.go
  cmd/evm/internal/t8ntool/flags.go
  cmd/evm/internal/t8ntool/gen_header.go
  cmd/evm/internal/t8ntool/gen_stenv.go
  cmd/evm/internal/t8ntool/transition.go
  cmd/evm/main.go
  cmd/evm/t8n_test.go
  cmd/evm/testdata/26/alloc.json
  cmd/evm/testdata/26/env.json
  cmd/evm/testdata/26/exp.json
  cmd/evm/testdata/26/txs.json
  cmd/evm/testdata/27/exp.json
  cmd/evm/testdata/27/header.json
  cmd/evm/testdata/27/ommers.json
  cmd/evm/testdata/27/txs.rlp
  cmd/evm/testdata/27/withdrawals.json
  consensus/beacon/consensus.go
  consensus/beacon/faker.go
  consensus/clique/clique.go
  consensus/consensus.go
  consensus/ethash/consensus.go
  core/beacon/gen_blockparams.go
  core/beacon/gen_ed.go
  core/beacon/gen_epe.go
  core/beacon/types.go
  core/block_validator.go
  core/blockchain_test.go
  core/chain_makers.go
  core/genesis.go
  core/rawdb/accessors_chain.go
  core/state_processor.go
  core/state_processor_test.go
  core/types/block.go
  core/types/gen_header_json.go
  core/types/gen_header_rlp.go
  core/types/gen_withdrawal_json.go
  core/types/gen_withdrawal_rlp.go
  core/types/withdrawal.go
  core/vm/runtime/runtime.go
  eth/catalyst/api.go
  eth/catalyst/api_test.go
  eth/catalyst/queue.go
  eth/downloader/downloader.go
  eth/downloader/downloader_test.go
  eth/downloader/fetchers_concurrent_bodies.go
  eth/downloader/queue.go
  eth/downloader/queue_test.go
  eth/fetcher/block_fetcher.go
  eth/protocols/eth/handler_test.go
  eth/protocols/eth/handlers.go
  eth/protocols/eth/protocol.go
  internal/ethapi/api.go
  les/catalyst/api.go
  les/catalyst/api_test.go
  miner/payload_building.go
  miner/payload_building_test.go
  miner/stress/beacon/main.go
  miner/worker.go
  miner/worker_test.go
Labels: maybe shanghai

#26526 cmd/evm: add blocktest subcommand to evm
  cmd/evm/blockrunner.go
  cmd/evm/main.go
Labels: pr:merge
