Repository ethereum/go-ethereum, pull requests merged in 2023-08, with the labels that each got.

#27853 core/state: move UpdateContractCode before the trie hash is computed
  core/state/statedb.go
Labels: status:triage

#27841 core/types: support for optional blob sidecar in BlobTx
  core/block_validator.go
  core/blockchain.go
  core/txpool/blobpool/blobpool.go
  core/txpool/blobpool/blobpool_test.go
  core/txpool/blobpool/limbo.go
  core/txpool/legacypool/legacypool.go
  core/txpool/subpool.go
  core/txpool/txpool.go
  core/txpool/validation.go
  core/types/transaction.go
  core/types/tx_access_list.go
  core/types/tx_blob.go
  core/types/tx_blob_test.go
  core/types/tx_dynamic_fee.go
  core/types/tx_legacy.go
  eth/api_backend.go
  eth/catalyst/api_test.go
  eth/downloader/queue.go
  eth/fetcher/tx_fetcher.go
  eth/fetcher/tx_fetcher_test.go
  eth/handler.go
  eth/handler_eth_test.go
  eth/handler_test.go
  eth/protocols/eth/broadcast.go
  eth/protocols/eth/handler.go
  eth/protocols/eth/handlers.go
  les/server_requests.go
  miner/ordering_test.go
  miner/stress/clique/main.go
  miner/worker.go
  miner/worker_test.go
  tests/fuzzers/txfetcher/txfetcher_fuzzer.go
Labels: cancun

#27886 eth/catalyst: set finalized block hash properly in dev mode
  eth/catalyst/simulated_beacon.go
Labels: status:triage

#27875 core,miner: add ability to build block with blobs
  beacon/engine/types.go
  consensus/misc/eip4844/eip4844.go
  core/txpool/blobpool/blobpool.go
  core/txpool/validation.go
  eth/catalyst/api_test.go
  miner/payload_building.go
  miner/worker.go
  miner/worker_test.go
  params/protocol_params.go
Labels: status:triage, EIP-4844, cancun

#27872 beacon/engine, eth/catalyst, miner: 4788 CL/EL protocol updates
  beacon/engine/errors.go
  beacon/engine/gen_blockparams.go
  beacon/engine/types.go
  consensus/beacon/consensus.go
  core/chain_makers.go
  core/genesis.go
  core/state_processor.go
  core/state_processor_test.go
  core/types/block.go
  core/types/gen_header_json.go
  core/types/gen_header_rlp.go
  eth/catalyst/api.go
  eth/catalyst/api_test.go
  internal/ethapi/api.go
  miner/payload_building.go
  miner/worker.go
  miner/worker_test.go
Labels: cancun

#28027 core/txpool/blobpool: fix missing reference
  core/txpool/blobpool/blobpool.go
Labels: cancun

#24877 metrics, cmd/geth: informational metrics (prometheus, influxdb, opentsb)
  cmd/geth/config.go
  core/blockchain.go
  metrics/exp/exp.go
  metrics/gauge_info.go
  metrics/gauge_info_test.go
  metrics/graphite.go
  metrics/influxdb/influxdb.go
  metrics/influxdb/influxdb_test.go
  metrics/influxdb/influxdbv1.go
  metrics/influxdb/influxdbv2.go
  metrics/influxdb/testdata/influxdbv1.want
  metrics/influxdb/testdata/influxdbv2.want
  metrics/internal/sampledata.go
  metrics/librato/librato.go
  metrics/log.go
  metrics/meter.go
  metrics/opentsdb.go
  metrics/opentsdb_test.go
  metrics/prometheus/collector.go
  metrics/prometheus/collector_test.go
  metrics/prometheus/prometheus.go
  metrics/prometheus/testdata/prometheus.want
  metrics/registry.go
  metrics/syslog.go
  metrics/testdata/opentsb.want
  metrics/writer.go
Labels: status:triage
