Repository ethereum/go-ethereum, pull requests merged in 2023-02, with the labels that each got.

#26602 [website]: update page on mobile development
  docs/developers/dapp-developer/mobile.md
  docs/tools/abigen.md
Labels: area:website, area:website:active

#26583 [website]: remove docs pages on puppeth
  docs/getting-started/installing-geth.md
  docs/tools/puppeth.md
  src/data/documentation-links.yaml
Labels: area:website, area:website:active

#26562 [website]: add databases page to docs
  docs/fundamentals/databases.md
  src/data/documentation-links.yaml
Labels: area:website, area:website:enhancement, area:website:active

#26568 accounts/abi: fix ReadInteger
  accounts/abi/error_handling.go
  accounts/abi/unpack.go
  accounts/abi/unpack_test.go
Labels: status:triage

#26554 eth/catalyst,miner: include withdrawals in payload id calculation
  eth/catalyst/api_test.go
  miner/payload_building.go
  miner/payload_building_test.go
Labels: pr:merge

#26624 eth/catalyst: make getPayloadBodiesByRange take hex inputs
  eth/catalyst/api.go
  eth/catalyst/api_test.go
Labels: pr:merge

#26517 ethdb: pebble backend (64bit platforms only)
  cmd/geth/genesis_test.go
  cmd/utils/flags.go
  core/blockchain_repair_test.go
  core/blockchain_sethead_test.go
  core/blockchain_snapshot_test.go
  core/rawdb/database.go
  core/rawdb/databases_64bit.go
  core/rawdb/databases_non64bit.go
  ethdb/leveldb/leveldb.go
  ethdb/pebble/pebble.go
  ethdb/pebble/pebble_test.go
  go.mod
  go.sum
  node/config.go
  node/defaults.go
  node/node.go
Labels: status:triage

#26651 [website]: fix missing method in ns_debug
  docs/interacting-with-geth/rpc/ns-debug.md
Labels: area:website, area:website:bug, area:website:active

#26460 [website] Highlight active docs section
  src/components/UI/docs/DocsLinks.tsx
Labels: area:website, area:website:enhancement

#25199 eth/filters: avoid block body retrieval when no matching logs
  accounts/abi/bind/backends/simulated.go
  core/rawdb/accessors_chain.go
  core/rawdb/accessors_chain_test.go
  eth/api_backend.go
  eth/filters/filter.go
  eth/filters/filter_system.go
  eth/filters/filter_system_test.go
  internal/ethapi/backend.go
  internal/ethapi/transaction_args_test.go
  les/api_backend.go
  light/odr_util.go
Labels: area:rpc

#26617 [website]: Adds page on understanding grafana dashboards
  docs/monitoring/understanding-dashboards.md
  public/images/docs/grafana/block-processing.png
  public/images/docs/grafana/chain-head.png
  public/images/docs/grafana/cpu.png
  public/images/docs/grafana/dashboard.png
  public/images/docs/grafana/disk.png
  public/images/docs/grafana/eth-egress-rate.png
  public/images/docs/grafana/eth-egress-traffic.png
  public/images/docs/grafana/eth-ingress-rate.png
  public/images/docs/grafana/eth-ingress-traffic.png
  public/images/docs/grafana/goroutines.png
  public/images/docs/grafana/memory.png
  public/images/docs/grafana/peers.png
  public/images/docs/grafana/traffic.png
  public/images/docs/grafana/tx-pool.png
  public/images/docs/grafana/tx-processing.png
  public/images/docs/grafana/tx-propagation.png
  src/data/documentation-links.yaml
Labels: area:website, area:website:enhancement

#26664 update personal namespace notes
  docs/interacting-with-geth/rpc/ns-personal-deprecation.md
  docs/interacting-with-geth/rpc/ns-personal.md
Labels: area:website, area:website:active

#26642 [website]: add page on config files
  docs/fundamentals/config-files.md
  src/data/documentation-links.yaml
Labels: area:website, area:website:enhancement, area:website:active

#26705 [website]: improve rpc navbar layout
  docs/interacting-with-geth/rpc/batch.md
  docs/interacting-with-geth/rpc/ns-personal-deprecation.md
  docs/interacting-with-geth/rpc/ns-personal.md
  docs/interacting-with-geth/rpc/pubsub.md
  redirects.js
  src/data/documentation-links.yaml
Labels: area:website, area:website:enhancement, area:website:active

#26736 [website]: add note on pebble to databases page
  docs/fundamentals/databases.md
Labels: area:website, area:website:active
