Repository ethereum/go-ethereum, pull requests merged in 2023-03, with the labels that each got.

#26817 ethclient: fix panic when requesting missing blocks
  ethclient/ethclient.go
Labels: status:triage

#26799 core, miner: revert block gas counter in case of invalid transaction
  cmd/evm/internal/t8ntool/execution.go
  core/gaspool.go
  miner/worker.go
Labels: status:triage

#26833 feat: Add Do-not-Track link
  .env.local.example
  docs/fundamentals/config-files.md
  docs/fundamentals/databases.md
  docs/interacting-with-geth/rpc/batch.md
  docs/interacting-with-geth/rpc/ns-personal.md
  docs/interacting-with-geth/rpc/pubsub.md
  docs/monitoring/understanding-dashboards.md
  src/components/layouts/Footer.tsx
Labels: area:website, area:website:active

#26699 p2p/discover: pass invalid discv5 packets to Unhandled channel
  p2p/discover/v5_udp.go
  p2p/discover/v5wire/encoding.go
Labels: status:triage

#26909 fix: keep footer element at the bottom of the page
  docs/interacting-with-geth/rpc/ns-debug.md
  src/components/layouts/Layout.tsx
  src/data/documentation-links.yaml
  src/theme/search.css
Labels: area:website, area:website:bug, area:website:active

#26959 [website]: rm duplicated note, fix typo
  docs/fundamentals/les.md
  docs/interacting-with-geth/rpc/index.md
Labels: area:website, area:website:active

#26991 [Fix] [website] redirects not working
  netlify.toml
  redirects.js
Labels: area:website, area:website:bug

#26970 internal/debug: Add log.logfmt flag to set logging to use logfmt
  internal/debug/flags.go
Labels: status:triage
