Repository ethereum/go-ethereum, pull requests merged in 2023-07, with the labels that each got.

#27525 cmd, core, eth, graphql, trie: no persisted clean trie cache file
  cmd/devp2p/internal/ethtest/suite_test.go
  cmd/geth/config.go
  cmd/geth/snapshot.go
  cmd/utils/flags.go
  cmd/utils/flags_legacy.go
  core/blockchain.go
  core/state/pruner/pruner.go
  eth/backend.go
  eth/ethconfig/config.go
  eth/ethconfig/gen_config.go
  graphql/graphql_test.go
  tests/fuzzers/snap/fuzz_handler.go
  trie/database.go
Labels: status:triage

#27327 cmd/geth: implement dev mode for post-merge
  cmd/geth/config.go
  cmd/geth/main.go
  cmd/utils/flags.go
  console/console_test.go
  core/genesis.go
  eth/catalyst/api.go
  eth/catalyst/queue.go
  eth/catalyst/simulated_beacon.go
  eth/catalyst/simulated_beacon_api.go
  eth/catalyst/simulated_beacon_test.go
  internal/web3ext/web3ext.go
  miner/miner_test.go
  miner/payload_building.go
  params/config.go
Labels: status:triage

#27612 [website]: remove some ethash info from docs
  docs/fundamentals/command-line-options.md
  docs/fundamentals/mining.md
  docs/interacting-with-geth/rpc/ns-miner.md
Labels: area:website

#27663 core/vm: define cancun + enable 1153 (tstore/tload) in cancun
  core/vm/jump_table.go
  core/vm/jump_table_export.go
  tests/init.go
Labels: cancun

#26181 core/vm: implement EIP-5656, mcopy instruction
  core/vm/eips.go
  core/vm/gas_table.go
  core/vm/instructions_test.go
  core/vm/jump_table.go
  core/vm/memory.go
  core/vm/memory_table.go
  core/vm/memory_test.go
  core/vm/opcodes.go
Labels: cancun

#27189 core/state, core/vm: implement EIP 6780
  core/state/state_object.go
  core/state/statedb.go
  core/vm/eips.go
  core/vm/instructions.go
  core/vm/interface.go
  core/vm/jump_table.go
Labels: cancun

#26940 core/txpool/blobpool: 4844 blob transaction pool
  cmd/geth/main.go
  cmd/utils/flags.go
  core/txpool/blobpool/blobpool.go
  core/txpool/blobpool/blobpool_test.go
  core/txpool/blobpool/config.go
  core/txpool/blobpool/evictheap.go
  core/txpool/blobpool/evictheap_test.go
  core/txpool/blobpool/interface.go
  core/txpool/blobpool/limbo.go
  core/txpool/blobpool/metrics.go
  core/txpool/blobpool/priority.go
  core/txpool/blobpool/priority_test.go
  core/txpool/blobpool/slotter.go
  core/txpool/blobpool/slotter_test.go
  core/txpool/errors.go
  core/txpool/legacypool/legacypool.go
  core/txpool/legacypool/legacypool2_test.go
  core/txpool/legacypool/legacypool_test.go
  core/txpool/subpool.go
  core/txpool/txpool.go
  core/txpool/validation.go
  core/types/transaction.go
  core/types/transaction_test.go
  eth/api_backend.go
  eth/backend.go
  eth/ethconfig/config.go
  eth/ethconfig/gen_config.go
  eth/handler.go
  eth/handler_test.go
  eth/sync.go
  go.mod
  go.sum
  miner/ordering.go
  miner/ordering_test.go
  miner/worker.go
Labels: EIP-4844, cancun

#27743 core/types: add data gas fields in Receipt
  consensus/beacon/consensus.go
  consensus/misc/eip4844/eip4844.go
  consensus/misc/eip4844/eip4844_test.go
  core/blockchain.go
  core/rawdb/accessors_chain.go
  core/state_processor_test.go
  core/state_transition.go
  core/types/gen_receipt_json.go
  core/types/receipt.go
  core/types/receipt_test.go
  light/odr_util.go
Labels: EIP-4844
