Repository ethereum/go-ethereum, pull requests merged in 2024-11, with the labels that each got.

#30672 core, trie: import remaining verkle state processor tests
  consensus/beacon/consensus.go
  core/state/access_events.go
  core/state/statedb.go
  core/state_processor_test.go
  core/verkle_witness_test.go
  trie/utils/verkle.go
  trie/verkle.go
Labels: status:triage

#30450 Update installing-geth.md: Include Gentoo installation instructions
  docs/getting-started/installing-geth.md
Labels: status:triage

#30296 all: remove kilic dependency from bls12381 fuzzers
  go.mod
  oss-fuzz.sh
  tests/fuzzers/bls12381/bls12381_fuzz.go
  tests/fuzzers/bls12381/bls12381_test.go
Labels: status:triage

#30670 all: exclude empty outputs in requests commitment
  beacon/engine/types.go
  cmd/evm/internal/t8ntool/execution.go
  core/chain_makers.go
  core/genesis.go
  core/state_processor.go
  core/types/hashes.go
  eth/tracers/internal/tracetest/supply_test.go
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-blob-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-contract-create-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-dynamic-fee-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-legacy-contract-call-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-legacy-transfer-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-tag-latest.json
  internal/ethapi/testdata/eth_getTransactionReceipt-blob-tx.json
  internal/ethapi/testdata/eth_getTransactionReceipt-create-contract-tx.json
  internal/ethapi/testdata/eth_getTransactionReceipt-create-contract-with-access-list.json
  internal/ethapi/testdata/eth_getTransactionReceipt-dynamic-tx-with-logs.json
  internal/ethapi/testdata/eth_getTransactionReceipt-normal-transfer-tx.json
  internal/ethapi/testdata/eth_getTransactionReceipt-with-logs.json
  miner/worker.go
Labels: prague

#30829 core/types: add length check in CalcRequestsHash
  core/types/block.go
Labels: prague

#30643 triedb/pathdb: track flat state changes in pathdb (snapshot integration pt 2)
  triedb/database.go
  triedb/hashdb/database.go
  triedb/pathdb/buffer.go
  triedb/pathdb/database.go
  triedb/pathdb/database_test.go
  triedb/pathdb/difflayer.go
  triedb/pathdb/difflayer_test.go
  triedb/pathdb/disklayer.go
  triedb/pathdb/journal.go
  triedb/pathdb/metrics.go
  triedb/pathdb/nodes.go
  triedb/pathdb/reader.go
  triedb/pathdb/states.go
  triedb/pathdb/states_test.go
  triedb/states.go
Labels: pbss-archive
