Repository ethereum/go-ethereum, pull requests merged in 2024-02, with the labels that each got.

#26621 cmd,internal/era: implement `export-history` subcommand
  cmd/era/main.go
  cmd/geth/chaincmd.go
  cmd/geth/main.go
  cmd/utils/cmd.go
  cmd/utils/history_test.go
  core/blockchain_reader.go
  go.mod
  go.sum
  internal/era/accumulator.go
  internal/era/builder.go
  internal/era/e2store/e2store.go
  internal/era/e2store/e2store_test.go
  internal/era/era.go
  internal/era/era_test.go
  internal/era/iterator.go
Labels: status:marinating

#28903 core,params: add holesky to default genesis func when config not available
  core/genesis.go
  params/config.go
Labels: status:triage

#28839 internal/ethapi: add support for blobs in eth_fillTransaction
  core/types/transaction_marshalling.go
  crypto/kzg4844/kzg4844.go
  internal/ethapi/api.go
  internal/ethapi/api_test.go
  internal/ethapi/transaction_args.go
Labels: cancun

#28606 core/txpool/legacypool: use uint256.Int instead of big.Int
  core/txpool/blobpool/blobpool.go
  core/txpool/blobpool/blobpool_test.go
  core/txpool/legacypool/legacypool.go
  core/txpool/legacypool/legacypool2_test.go
  core/txpool/legacypool/legacypool_test.go
  core/txpool/legacypool/list.go
  core/txpool/legacypool/list_test.go
  core/txpool/subpool.go
  core/txpool/txpool.go
  eth/backend.go
  eth/protocols/eth/handler_test.go
  miner/miner_test.go
  miner/worker_test.go
Labels: status:triage

#28829 eth/catalyst: update simulated beacon for cancun
  eth/catalyst/simulated_beacon.go
  params/config.go
Labels: cancun
