Repository ethereum/go-ethereum, pull requests merged in 2024-08, with the labels that each got.

#30263 ethclient: support networkID in hex format
  ethclient/ethclient.go
Labels: status:triage

#30252 core/vm: use uint64 in Memory for indices everywhere
  core/vm/instructions.go
  core/vm/memory.go
Labels: status:triage

#30288 eth/fetcher: always expect transaction metadata in announcement
  eth/fetcher/tx_fetcher.go
  eth/fetcher/tx_fetcher_test.go
Labels: status:triage

#30286 core: remove withdrawal length check for state processor
  core/state_processor.go
Labels: status:triage

#30264 eth/catalyst: ensure period zero mode leaves no pending txs in pool
  eth/catalyst/api.go
  eth/catalyst/simulated_beacon.go
  eth/catalyst/simulated_beacon_api.go
  eth/catalyst/simulated_beacon_test.go
Labels: status:triage

#30242 trie: use go-verkle helper for speedier (*VerkleTrie).RollBackAccount
  go.mod
  go.sum
  trie/verkle.go
Labels: status:triage

#29465 core: implement EIP-2935
  cmd/evm/internal/t8ntool/execution.go
  core/genesis.go
  core/state_processor.go
  core/state_processor_test.go
  eth/state_accessor.go
  eth/tracers/api.go
  miner/worker.go
  params/protocol_params.go
Labels: status:triage, prague

#30357 trie, core/state: Nyota EIP-6800 & EIP-4762 spec updates
  core/genesis_test.go
  core/state/access_events.go
  core/state/access_events_test.go
  core/state/database.go
  core/state/statedb.go
  core/state_processor_test.go
  core/state_transition.go
  core/vm/operations_verkle.go
  trie/secure_trie.go
  trie/utils/verkle.go
  trie/utils/verkle_test.go
  trie/verkle.go
  trie/verkle_test.go
Labels: status:triage, verkle
