Repository ethereum/go-ethereum, pull requests merged in 2024-01, with the labels that each got.

#28786 internal/ethapi: handle blobs in API methods
  core/error.go
  core/state_transition.go
  internal/ethapi/api.go
  internal/ethapi/api_test.go
  internal/ethapi/testdata/eth_getBlockByHash-hash-1.json
  internal/ethapi/testdata/eth_getBlockByHash-hash-genesis.json
  internal/ethapi/testdata/eth_getBlockByHash-hash-latest-1-fullTx.json
  internal/ethapi/testdata/eth_getBlockByHash-hash-latest.json
  internal/ethapi/testdata/eth_getBlockByNumber-number-0.json
  internal/ethapi/testdata/eth_getBlockByNumber-number-1.json
  internal/ethapi/testdata/eth_getBlockByNumber-number-latest-1.json
  internal/ethapi/testdata/eth_getBlockByNumber-tag-latest.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-blob-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-contract-create-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-dynamic-fee-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-legacy-contract-call-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-legacy-transfer-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-tag-latest.json
  internal/ethapi/testdata/eth_getHeaderByHash-hash-0.json
  internal/ethapi/testdata/eth_getHeaderByHash-hash-1.json
  internal/ethapi/testdata/eth_getHeaderByHash-hash-latest-1.json
  internal/ethapi/testdata/eth_getHeaderByHash-hash-latest.json
  internal/ethapi/testdata/eth_getHeaderByNumber-number-0.json
  internal/ethapi/testdata/eth_getHeaderByNumber-number-1.json
  internal/ethapi/testdata/eth_getHeaderByNumber-number-latest-1.json
  internal/ethapi/testdata/eth_getHeaderByNumber-tag-latest.json
  internal/ethapi/testdata/eth_getTransactionReceipt-blob-tx.json
  internal/ethapi/testdata/eth_getTransactionReceipt-create-contract-tx.json
  internal/ethapi/testdata/eth_getTransactionReceipt-create-contract-with-access-list.json
  internal/ethapi/testdata/eth_getTransactionReceipt-dynamic-tx-with-logs.json
  internal/ethapi/testdata/eth_getTransactionReceipt-normal-transfer-tx.json
  internal/ethapi/testdata/eth_getTransactionReceipt-with-logs.json
  internal/ethapi/transaction_args.go
  internal/ethapi/transaction_args_test.go
  params/config.go
Labels: cancun

#28827 crypto/kzg4844: add helpers for versioned blob hashes
  core/state_transition.go
  core/txpool/blobpool/blobpool_test.go
  core/txpool/validation.go
  core/types/tx_blob.go
  crypto/kzg4844/kzg4844.go
  eth/downloader/queue.go
  params/protocol_params.go
Labels: cancun

#28598 all: use uint256 in state
  cmd/evm/internal/t8ntool/execution.go
  cmd/evm/internal/t8ntool/transition.go
  common/big.go
  consensus/beacon/consensus.go
  consensus/ethash/consensus.go
  consensus/misc/dao.go
  core/blockchain_test.go
  core/chain_makers.go
  core/evm.go
  core/genesis.go
  core/state/journal.go
  core/state/snapshot/generate_test.go
  core/state/snapshot/snapshot_test.go
  core/state/state_object.go
  core/state/state_test.go
  core/state/statedb.go
  core/state/statedb_fuzz_test.go
  core/state/statedb_test.go
  core/state/sync_test.go
  core/state/trie_prefetcher_test.go
  core/state_processor.go
  core/state_processor_test.go
  core/state_transition.go
  core/txpool/blobpool/blobpool.go
  core/txpool/blobpool/blobpool_test.go
  core/txpool/legacypool/legacypool.go
  core/txpool/legacypool/legacypool2_test.go
  core/txpool/legacypool/legacypool_test.go
  core/txpool/validation.go
  core/types/gen_account_rlp.go
  core/types/state_account.go
  core/vm/contract.go
  core/vm/contracts.go
  core/vm/eips.go
  core/vm/evm.go
  core/vm/gas_table_test.go
  core/vm/instructions.go
  core/vm/instructions_test.go
  core/vm/interface.go
  core/vm/interpreter_test.go
  core/vm/runtime/runtime.go
  core/vm/runtime/runtime_test.go
  eth/api_debug_test.go
  eth/gasestimator/gasestimator.go
  eth/protocols/snap/sync_test.go
  eth/tracers/js/tracer_test.go
  eth/tracers/logger/logger_test.go
  eth/tracers/native/prestate.go
  graphql/graphql.go
  internal/ethapi/api.go
  miner/worker_test.go
  tests/block_test_util.go
  tests/state_test.go
  tests/state_test_util.go
  trie/trie_test.go
  trie/triedb/pathdb/database_test.go
  trie/verkle.go
  trie/verkle_test.go
Labels: status:triage

#28230 eth/catalyst: add timestamp checks to fcu and new payload and improve param checks
  eth/catalyst/api.go
  eth/catalyst/api_test.go
  params/config.go
  params/forks/forks.go
Labels: status:triage, cancun

#28837 core/txpool, eth/catalyst: fix racey simulator due to txpool background reset
  core/txpool/txpool.go
  eth/catalyst/api.go
  eth/catalyst/simulated_beacon.go
Labels: status:triage

#28246 eth/catalyst: prefix payload id with version
  beacon/engine/types.go
  eth/catalyst/api.go
  eth/catalyst/api_test.go
  eth/catalyst/simulated_beacon.go
  miner/payload_building.go
Labels: status:triage
