Repository ethereum/go-ethereum, pull requests merged in 2024-09, with the labels that each got.

#29431 all: implement EIP-6110, execution layer triggered deposits
  beacon/engine/gen_ed.go
  beacon/engine/types.go
  cmd/evm/internal/t8ntool/execution.go
  core/block_validator.go
  core/blockchain.go
  core/blockchain_test.go
  core/chain_makers.go
  core/genesis.go
  core/state_processor.go
  core/stateless.go
  core/types.go
  core/types/block.go
  core/types/deposit.go
  core/types/deposit_test.go
  core/types/gen_deposit_json.go
  core/types/gen_header_json.go
  core/types/gen_header_rlp.go
  core/types/hashes.go
  core/types/request.go
  eth/catalyst/api.go
  eth/catalyst/api_test.go
  eth/catalyst/simulated_beacon.go
  eth/downloader/downloader_test.go
  eth/downloader/fetchers_concurrent_bodies.go
  eth/downloader/queue.go
  eth/downloader/queue_test.go
  eth/protocols/eth/handlers.go
  eth/protocols/eth/protocol.go
  eth/state_accessor.go
  eth/tracers/logger/logger.go
  ethclient/ethclient.go
  internal/ethapi/api.go
  miner/worker.go
  params/config.go
  tests/init.go
Labels: prague, status:merge-at-meeting

#29179 all: remove forkchoicer and reorgNeeded
  cmd/utils/cmd.go
  cmd/utils/flags.go
  cmd/utils/history_test.go
  consensus/clique/clique_test.go
  consensus/clique/snapshot_test.go
  core/bench_test.go
  core/block_validator_test.go
  core/blockchain.go
  core/blockchain_insert.go
  core/blockchain_repair_test.go
  core/blockchain_sethead_test.go
  core/blockchain_snapshot_test.go
  core/blockchain_test.go
  core/chain_makers_test.go
  core/dao_test.go
  core/forkchoice.go
  core/genesis_test.go
  core/headerchain.go
  core/headerchain_test.go
  core/state_processor_test.go
  eth/backend.go
  eth/downloader/downloader_test.go
  eth/downloader/testchain_test.go
  eth/filters/filter_test.go
  eth/gasprice/gasprice_test.go
  eth/handler_eth_test.go
  eth/handler_test.go
  eth/protocols/eth/handler_test.go
  eth/protocols/snap/handler_fuzzing_test.go
  eth/tracers/api_test.go
  eth/tracers/internal/tracetest/supply_test.go
  internal/ethapi/api_test.go
  miner/miner_test.go
  miner/payload_building_test.go
  tests/block_test.go
  tests/block_test_util.go
Labels: status:merge-at-meeting

#29761 core/state: state reader abstraction
  cmd/evm/internal/t8ntool/execution.go
  cmd/evm/runner.go
  cmd/evm/staterunner.go
  cmd/geth/chaincmd.go
  core/blockchain.go
  core/blockchain_reader.go
  core/blockchain_sethead_test.go
  core/blockchain_test.go
  core/chain_makers.go
  core/genesis.go
  core/state/database.go
  core/state/iterator_test.go
  core/state/reader.go
  core/state/state_object.go
  core/state/state_test.go
  core/state/statedb.go
  core/state/statedb_fuzz_test.go
  core/state/statedb_test.go
  core/state/sync_test.go
  core/state/trie_prefetcher_test.go
  core/state_processor_test.go
  core/stateless.go
  core/txpool/blobpool/blobpool_test.go
  core/txpool/legacypool/legacypool2_test.go
  core/txpool/legacypool/legacypool_test.go
  core/vm/gas_table_test.go
  core/vm/instructions_test.go
  core/vm/interpreter_test.go
  core/vm/runtime/runtime.go
  core/vm/runtime/runtime_test.go
  eth/api_debug_test.go
  eth/state_accessor.go
  miner/miner_test.go
  tests/state_test_util.go
  triedb/database.go
Labels: status:merge-at-meeting

#30125 eth/fetcher: fix blob transaction propagation
  cmd/devp2p/internal/ethtest/suite.go
  eth/fetcher/tx_fetcher.go
  eth/fetcher/tx_fetcher_test.go
Labels: status:merge-at-meeting

#30409 core/{state, vm}: Nyota contract create init simplification
  core/state/access_events.go
  core/state/access_events_test.go
  core/tracing/hooks.go
  core/vm/evm.go
Labels: verkle

#30367 ethdb/pebble: handle error in pebble module
  ethdb/pebble/pebble.go
Labels: status:triage

#30495 core/txpool, eth/catalyst: ensure gas tip retains current value upon rollback
  core/txpool/blobpool/blobpool.go
  core/txpool/legacypool/legacypool.go
  core/txpool/subpool.go
  core/txpool/txpool.go
  eth/catalyst/simulated_beacon.go
Labels: status:triage
