Repository ethereum/go-ethereum, pull requests merged in 2025-02, with the labels that each got.

#31125 params: start osaka fork
  core/genesis_test.go
  core/vm/jump_table_export.go
  eth/tracers/api.go
  params/config.go
  params/forks/forks.go
  tests/init.go
Labels: osaka

#31002 params,core: add max and target value to chain config
  cmd/devp2p/internal/ethtest/suite.go
  cmd/devp2p/internal/ethtest/testdata/genesis.json
  cmd/evm/internal/t8ntool/execution.go
  consensus/beacon/consensus.go
  consensus/misc/eip4844/eip4844.go
  consensus/misc/eip4844/eip4844_test.go
  core/blockchain.go
  core/chain_makers.go
  core/chain_makers_test.go
  core/evm.go
  core/genesis_test.go
  core/rawdb/accessors_chain.go
  core/state_processor_test.go
  core/txpool/blobpool/blobpool.go
  core/txpool/blobpool/blobpool_test.go
  core/txpool/blobpool/evictheap_test.go
  core/txpool/blobpool/limbo.go
  core/txpool/blobpool/priority_test.go
  core/txpool/blobpool/slotter.go
  core/txpool/blobpool/slotter_test.go
  core/txpool/validation.go
  core/verkle_witness_test.go
  core/vm/runtime/runtime_test.go
  eth/api_backend.go
  eth/catalyst/api_test.go
  eth/fetcher/tx_fetcher_test.go
  eth/gasprice/feehistory.go
  eth/gasprice/gasprice_test.go
  eth/tracers/internal/tracetest/supply_test.go
  eth/tracers/internal/tracetest/testdata/call_tracer/blob_tx.json
  eth/tracers/internal/tracetest/testdata/prestate_tracer/blob_tx.json
  eth/tracers/internal/tracetest/testdata/prestate_tracer/setcode_tx.json
  eth/tracers/internal/tracetest/util.go
  eth/tracers/live/supply.go
  ethclient/ethclient_test.go
  internal/ethapi/api.go
  internal/ethapi/simulate.go
  internal/ethapi/transaction_args.go
  internal/ethapi/transaction_args_test.go
  miner/worker.go
  params/config.go
  params/protocol_params.go
  tests/init.go
  tests/state_test.go
  tests/state_test_util.go
Labels: prague

#30559 core/txpool: remove locals-tracking from pools (part 2)
  core/txpool/blobpool/blobpool.go
  core/txpool/legacypool/legacypool.go
  core/txpool/legacypool/legacypool_test.go
  core/txpool/legacypool/list.go
  core/txpool/locals/journal.go
  core/txpool/locals/tx_tracker.go
  core/txpool/subpool.go
  core/txpool/txpool.go
  eth/api_backend.go
  eth/backend.go
  eth/catalyst/api_test.go
  eth/catalyst/simulated_beacon_test.go
  eth/handler.go
  eth/handler_eth_test.go
  eth/handler_test.go
  miner/miner.go
  miner/payload_building_test.go
  miner/worker.go
Labels: status:triage

#31101 consensus/misc/eip4844: use head's target blobs, not parent
  cmd/evm/internal/t8ntool/execution.go
  consensus/misc/eip4844/eip4844.go
  consensus/misc/eip4844/eip4844_test.go
  core/chain_makers.go
  core/state_processor_test.go
  eth/gasprice/feehistory.go
  eth/tracers/internal/tracetest/util.go
  internal/ethapi/simulate.go
  miner/worker.go
Labels: prague

#31088 build: update EEST fixtures to prague devnet-6
  build/checksums.txt
  build/ci.go
  tests/init_test.go
  tests/transaction_test.go
  tests/transaction_test_util.go
Labels: prague

#31139 params,core/forkid: enable prague on holesky and sepolia
  core/forkid/forkid_test.go
  params/config.go
Labels: prague

#31084 eth/catalyst: support earlier forks in SimulatedBeacon
  eth/catalyst/simulated_beacon.go
Labels: status:triage

#31209 core/txpool: move setcode tx validation into legacyPool
  core/txpool/errors.go
  core/txpool/legacypool/legacypool.go
  core/txpool/legacypool/legacypool_test.go
  core/txpool/validation.go
Labels: status:triage
