Repository ethereum/go-ethereum, pull requests merged in 2025-09, with the labels that each got.

#32507 core/stateless: only report leaf depth in witness stats
  core/stateless/stats.go
  core/stateless/stats_test.go
Labels: bloatnet

#32365 trie/bintrie: add eip7864 binary trees and run its tests
  core/types/hashes.go
  trie/bintrie/binary_node.go
  trie/bintrie/binary_node_test.go
  trie/bintrie/empty.go
  trie/bintrie/empty_test.go
  trie/bintrie/hashed_node.go
  trie/bintrie/hashed_node_test.go
  trie/bintrie/internal_node.go
  trie/bintrie/internal_node_test.go
  trie/bintrie/iterator.go
  trie/bintrie/iterator_test.go
  trie/bintrie/key_encoding.go
  trie/bintrie/stem_node.go
  trie/bintrie/stem_node_test.go
  trie/bintrie/trie.go
  trie/bintrie/trie_test.go
  trie/committer.go
  trie/iterator.go
  trie/proof.go
  trie/tracer.go
  trie/trie.go
  trie/trie_reader.go
  trie/verkle.go
Labels: status:triage, verkle

#32557 triedb/pathdb: sync ancient store before journal
  triedb/pathdb/journal.go
Labels: status:triage

#32577 core/txpool/blobpool: Do not use blobs with wrong sidecar version while building block after Osaka
  core/txpool/blobpool/blobpool.go
  core/txpool/legacypool/legacypool.go
  core/txpool/subpool.go
  eth/sync.go
  miner/worker.go
Labels: osaka

#32619 core/stateless: add vmwitnessstats cli flag to report leaf stats + log to console
  cmd/geth/main.go
  cmd/utils/flags.go
  core/blockchain.go
  core/stateless/stats.go
  core/stateless/stats_test.go
  eth/backend.go
  eth/ethconfig/config.go
  eth/ethconfig/gen_config.go
Labels: bloatnet

#32623 core: fix fork readiness log
  core/blockchain.go
  params/forks/forks.go
Labels: osaka

#32592 build: update to execution-spec-tests v5.0.0
  build/checksums.txt
  build/ci.go
  core/genesis.go
  params/config.go
  tests/block_test.go
  tests/init.go
  tests/transaction_test.go
Labels: osaka

#32636 eth/catalyst, beacon/engine: enable BPO and Osaka on stateless APIs
  beacon/engine/gen_epe.go
  beacon/engine/types.go
  eth/catalyst/api.go
  eth/catalyst/witness.go
Labels: osaka

#32641 internal/ethapi: skip tx gas limit check for calls
  core/state_transition.go
  eth/tracers/api.go
  internal/ethapi/api.go
  internal/ethapi/simulate.go
  internal/ethapi/transaction_args.go
Labels: osaka

#32578 core/txpool/blobpool: remove conversion in GetBlobs
  core/txpool/blobpool/blobpool.go
  core/txpool/blobpool/blobpool_test.go
  eth/catalyst/api.go
Labels: osaka

#32656 core/txpool/blobpool: introduce sidecar conversion for legacy blob transactions
  core/txpool/blobpool/blobpool.go
  core/txpool/blobpool/blobpool_test.go
  core/txpool/blobpool/conversion.go
  core/txpool/blobpool/conversion_test.go
  core/txpool/validation.go
Labels: osaka

#32718 core/txpool/blobpool: convert and add one-by-one
  core/txpool/blobpool/blobpool.go
Labels: osaka

#32731 eth/catalyst: check osaka in engine_getBlobsV1
  eth/catalyst/api.go
  eth/catalyst/api_test.go
Labels: osaka
