Repository ethereum/go-ethereum, pull requests merged in 2025-08, with the labels that each got.

#32366 trie, core/state: add the transition tree (verkle transition part 2)
  core/state/reader.go
  trie/transition.go
Labels: status:triage, verkle

#32444 cmd/evm: use PathScheme in blockrunner
  cmd/evm/blockrunner.go
Labels: verkle

#32424 consensus/misc/eip4844: use blob parameters of current header
  consensus/misc/eip4844/eip4844.go
  consensus/misc/eip4844/eip4844_test.go
Labels: osaka

#32300 eth/catalyst: return methods by reflect
  eth/catalyst/api.go
Labels: status:triage

#32494 rpc: refactor read limit test
  rpc/websocket_test.go
Labels: status:triage
