Repository ethereum/go-ethereum, pull requests merged in 2025-01, with the labels that each got.

#31008 triedb/pathdb: configure different node hasher in pathdb
  core/genesis.go
  core/state/stateupdate.go
  core/types/hashes.go
  internal/ethapi/override/override_test.go
  trie/trie_reader.go
  triedb/pathdb/database.go
  triedb/pathdb/database_test.go
  triedb/pathdb/journal.go
  triedb/pathdb/layertree.go
Labels: verkle

#30907 cmd, core, miner: rework genesis setup
  cmd/geth/chaincmd.go
  cmd/utils/history_test.go
  core/blockchain.go
  core/genesis.go
  core/genesis_test.go
  core/verkle_witness_test.go
  miner/miner_test.go
  params/config.go
  triedb/database.go
  triedb/hashdb/database.go
  triedb/pathdb/database.go
Labels: verkle

#30982 core/types: change SetCodeTx.ChainID to uint256
  core/blockchain_test.go
  core/state_transition.go
  core/types/gen_authorization.go
  core/types/transaction_marshalling.go
  core/types/transaction_signing.go
  core/types/tx_blob.go
  core/types/tx_dynamic_fee.go
  core/types/tx_setcode.go
  internal/ethapi/transaction_args.go
  tests/gen_stauthorization.go
  tests/state_test_util.go
Labels: prague

#31010 beacon/engine: check for empty requests
  eth/catalyst/api.go
Labels: prague

#30107 all: implement state history v2
  cmd/evm/internal/t8ntool/execution.go
  cmd/evm/runner.go
  cmd/geth/dbcmd.go
  core/blockchain.go
  core/blockchain_test.go
  core/chain_makers.go
  core/genesis.go
  core/state/state_object.go
  core/state/state_test.go
  core/state/statedb.go
  core/state/statedb_fuzz_test.go
  core/state/statedb_hooked_test.go
  core/state/statedb_test.go
  core/state/stateupdate.go
  core/state/sync_test.go
  core/state/trie_prefetcher_test.go
  core/txpool/blobpool/blobpool_test.go
  eth/api_debug_test.go
  eth/state_accessor.go
  tests/state_test_util.go
  triedb/pathdb/buffer.go
  triedb/pathdb/database_test.go
  triedb/pathdb/difflayer_test.go
  triedb/pathdb/disklayer.go
  triedb/pathdb/execute.go
  triedb/pathdb/history.go
  triedb/pathdb/history_inspect.go
  triedb/pathdb/history_test.go
  triedb/pathdb/iterator_test.go
  triedb/pathdb/journal.go
  triedb/pathdb/states.go
  triedb/pathdb/states_test.go
  triedb/states.go
Labels: verkle

#31037 build: upgrade -dlgo version to Go 1.23.5
  build/checksums.txt
Labels: status:triage

#31071 eth/catalyst: fail on duplicate request types
  eth/catalyst/api.go
Labels: prague

#30978 core/vm: implement EIP-2537 spec updates
  core/vm/contracts.go
  core/vm/contracts_test.go
  core/vm/testdata/precompiles/blsG1Add.json
  core/vm/testdata/precompiles/blsG1Mul.json
  core/vm/testdata/precompiles/blsG1MultiExp.json
  core/vm/testdata/precompiles/blsG2Add.json
  core/vm/testdata/precompiles/blsG2Mul.json
  core/vm/testdata/precompiles/blsG2MultiExp.json
  core/vm/testdata/precompiles/blsMapG1.json
  core/vm/testdata/precompiles/blsMapG2.json
  core/vm/testdata/precompiles/blsPairing.json
  core/vm/testdata/precompiles/fail-blsG1Mul.json
  core/vm/testdata/precompiles/fail-blsG1MultiExp.json
  core/vm/testdata/precompiles/fail-blsG2Mul.json
  core/vm/testdata/precompiles/fail-blsG2MultiExp.json
  core/vm/testdata/precompiles/fail-blsMapG1.json
  core/vm/testdata/precompiles/fail-blsMapG2.json
  core/vm/testdata/precompiles/fail-blsPairing.json
  params/protocol_params.go
  tests/fuzzers/bls12381/bls12381_fuzz.go
  tests/fuzzers/bls12381/bls12381_test.go
  tests/fuzzers/bls12381/precompile_fuzzer.go
  tests/fuzzers/bls12381/testdata/fuzz_g1_mul_seed_corpus.zip
  tests/fuzzers/bls12381/testdata/fuzz_g2_mul_seed_corpus.zip
  tests/state_test.go
Labels: prague

#31036 core/{.,state,vm},miner,eth/tracers,tests: implement 7709 with a syscall flag
  core/chain_makers.go
  core/state/statedb_hooked.go
  core/state_processor.go
  core/verkle_witness_test.go
  core/vm/contract.go
  core/vm/eips.go
  core/vm/evm.go
  core/vm/gas_table.go
  core/vm/interface.go
  core/vm/interpreter.go
  core/vm/operations_verkle.go
Labels: verkle

#30946 core: implement EIP-7623 increase calldata cost
  cmd/evm/internal/t8ntool/transaction.go
  core/error.go
  core/state_processor_test.go
  core/state_transition.go
  core/tracing/hooks.go
  core/txpool/validation.go
  core/verkle_witness_test.go
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-blob-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-dynamic-fee-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-tag-latest.json
  internal/ethapi/testdata/eth_getTransactionReceipt-blob-tx.json
  internal/ethapi/testdata/eth_getTransactionReceipt-create-contract-with-access-list.json
  internal/ethapi/testdata/eth_getTransactionReceipt-dynamic-tx-with-logs.json
  params/protocol_params.go
Labels: prague

#31089 core/vm: EXTCODE* return delegation designator for 7702
  core/vm/eips.go
Labels: prague

#31102 params: update system contract addresses for devnet-6
  params/protocol_params.go
Labels: prague

#31103 eth/catalyst: fix validation of type 0 request
  eth/catalyst/api.go
  eth/catalyst/api_test.go
Labels: prague
