Repository ethereum/go-ethereum, pull requests merged in 2025-03, with the labels that each got.

#31202 eth: do not add failed tx to localTxTracker
  core/txpool/blobpool/blobpool.go
  core/txpool/legacypool/legacypool.go
  core/txpool/locals/tx_tracker.go
  core/txpool/subpool.go
  core/txpool/txpool.go
  eth/api_backend.go
Labels: type:bug, status:triage

#31365 eth/ethconfig: add HistoryMode
  cmd/geth/main.go
  cmd/utils/flags.go
  core/blockchain.go
  core/genesis.go
  eth/backend.go
  eth/ethconfig/config.go
  eth/ethconfig/gen_config.go
  eth/ethconfig/historymode.go
Labels: history-expiry

#31362 core/rawdb: allow for truncation in the freezer
  core/rawdb/ancient_scheme.go
  core/rawdb/ancient_utils.go
  core/rawdb/chain_freezer.go
  core/rawdb/freezer.go
  core/rawdb/freezer_batch.go
  core/rawdb/freezer_memory.go
  core/rawdb/freezer_memory_test.go
  core/rawdb/freezer_resettable.go
  core/rawdb/freezer_table.go
  core/rawdb/freezer_table_test.go
  core/rawdb/freezer_test.go
  ethdb/database.go
Labels: history-expiry

#31356 p2p/discover: repeat WHOAREYOU challenge when handshake in progress
  p2p/discover/v5_udp.go
  p2p/discover/v5_udp_test.go
  p2p/discover/v5wire/encoding.go
Labels: shisui

#31393 core: respect history cutoff in txindexer
  core/rawdb/accessors_chain.go
  core/rawdb/accessors_indexes.go
  core/txindexer.go
  core/txindexer_test.go
Labels: history-expiry

#31175 core: fix GenerateVerkleChain not processing EL requests
  core/chain_makers.go
Labels: verkle
