Repository ethereum/go-ethereum, pull requests merged in 2025-04, with the labels that each got.

#31361 eth, eth/filters: implement API error code for pruned blocks
  core/blockchain_reader.go
  eth/api_backend.go
  eth/ethconfig/historymode.go
  eth/filters/api.go
  eth/filters/filter.go
  eth/filters/filter_system.go
  eth/filters/filter_system_test.go
  internal/ethapi/api.go
  internal/ethapi/api_test.go
  internal/ethapi/backend.go
  internal/ethapi/transaction_args_test.go
  rpc/types.go
Labels: history-expiry

#31075 p2p/discover: pass node instead of node ID to TALKREQ handler
  p2p/discover/v5_talk.go
  p2p/discover/v5_udp.go
  p2p/discover/v5_udp_test.go
  p2p/discover/v5wire/encoding.go
  p2p/discover/v5wire/encoding_test.go
  p2p/discover/v5wire/session.go
Labels: shisui

#31414 core, eth/downloader: implement pruning mode sync
  cmd/geth/chaincmd.go
  cmd/utils/cmd.go
  cmd/utils/history_test.go
  core/blockchain.go
  core/blockchain_reader.go
  core/blockchain_test.go
  core/error.go
  core/headerchain.go
  core/rawdb/accessors_chain.go
  core/rawdb/accessors_chain_test.go
  core/txindexer.go
  eth/backend.go
  eth/downloader/beaconsync.go
  eth/downloader/downloader.go
  eth/downloader/metrics.go
  eth/downloader/queue.go
  eth/downloader/resultstore.go
Labels: history-expiry

#31636 core: initialize history pruning in BlockChain
  cmd/geth/chaincmd.go
  cmd/workload/testsuite.go
  core/block_validator_test.go
  core/blockchain.go
  core/blockchain_reader.go
  core/blockchain_test.go
  core/history/historymode.go
  eth/api_backend.go
  eth/backend.go
  eth/ethconfig/config.go
  eth/ethconfig/gen_config.go
  eth/filters/api.go
  eth/filters/filter.go
  eth/filters/filter_system.go
Labels: history-expiry

#31535 params: add prague timestamp for mainnet
  core/forkid/forkid_test.go
  params/config.go
Labels: prague

#31618 eth: add tx to locals only if it has a chance of acceptance
  core/txpool/blobpool/blobpool.go
  core/txpool/blobpool/blobpool_test.go
  core/txpool/errors.go
  core/txpool/legacypool/legacypool2_test.go
  core/txpool/legacypool/legacypool_test.go
  core/txpool/locals/errors.go
  core/txpool/locals/tx_tracker.go
  core/txpool/locals/tx_tracker_test.go
  core/txpool/txpool.go
  core/txpool/validation.go
  eth/api_backend.go
  eth/api_backend_test.go
  eth/fetcher/tx_fetcher.go
  eth/fetcher/tx_fetcher_test.go
  ethclient/simulated/backend_test.go
Labels: status:triage

#31715 core/txpool/legacypool: refactor truncatePending
  core/txpool/legacypool/legacypool.go
Labels: performance
